{#
/* baseReport.tmpl -
 * Copyright (c) 2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}

{#
/* 
 * Wurde überhaupt eine XML Nachricht übergeben?
 */
#}
{% if message_xml %}
  {# /* Kampfberichte */ #}
  {% if message_report == 2 or message_report == 20 %}
    {% if message_xml.isAttacker == 'true' %}
      {% include "xml/battleAttacker.tmpl" %}
    {% else %}
      {% include "xml/battleDefender.tmpl" %}
    {% endif %}


  {# /* Handelsbericht? */ #}
  {% elseif message_report == 6 %}
    {% if message_xml.isSender == 'true' %}
      {% include "xml/tradeSender.tmpl" %}
    {% else %}
      {% include "xml/tradeReceived.tmpl" %}
    {% endif %}

  {# /* Rückkehr? */ #}
  {% elseif message_report == 7 %}
    {% include "xml/return.tmpl" %}

  {# /* Wunder? */ #}
  {% elseif message_report == 9 %}
    {% if message_xml.wonderType == 'new' %}
      {% include "xml/wonderNew.tmpl" %}
    {% elseif message_xml.wonderType == 'caster' %}
      {% include "xml/wonderCaster.tmpl" %}
    {% elseif message_xml.wonderType == 'target' %}
      {% include "xml/wonderTarget.tmpl" %}
    {% elseif message_xml.wonderType == 'extend' %}
      {% include "xml/wonderExtend.tmpl" %}
    {% elseif message_xml.wonderType == 'end' %}
      {% include "xml/wonderEnd.tmpl" %}
    {% endif %}

  {# /* Spionage? */ #}
  {% elseif message_report == 11 %}
    {% if message_xml.isAttacker == 'true' %}
      {% include "xml/spyAttacker.tmpl" %}
    {% else %}
      {% include "xml/spyDefender.tmpl" %}
    {% endif %}

  {# /* Heldenhaft? */ #}
  {% elseif message_report == 28 %}
    {% include "xml/hero.tmpl" %}

  {# /* Missionierung? */ #}
  {% elseif message_report == 29 %}
    {% include "xml/takeover.tmpl" %}

  {# /* Es wurde kein passendes template gefunden. */ #}
  {% else %}
    Es wurde kein XML Template gefunden.
  {% endif %}
{% else %}
    {{ message }}
{% endif %}