{#
/* spyAttacker.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}

Spionagebericht von Höhle {{ message_xml.target.caveName }} ({{ message_xml.target.xCoord }}/{{ message_xml.target.yCoord }})

<p>
  Deine Spione berichten von

  {% if message_xml.target.caveID in list_cave_id %}
    deiner Höhle  {{ message_xml.source.caveName }}
  {% else %}
    der Höhle {{ message_xml.target.caveName }} des Spielers {{ message_xml.target.playerName }}
  {% endif %}
</p>

{% if message_xml.resources.resource %}
<table style="width: auto; margin-top: 10px;">
  <thead>
    <th colspan="2">Rohstoffe</th>
  </thead>
  <tbody>
    {% for resource in message_xml.resources.resource %}
      <tr>
        <td>{{ defenseSystem.name }}</td>
        <td>
          {% if resource.value < 257 %}fast gar nichts
          {% elseif resource.value < 1025 %}ein winziger Haufen
          {% elseif resource.value < 4097 %}ein kleiner Haufen
          {% elseif resource.value < 16385 %}ein beachtlicher Haufen
          {% elseif resource.value < 32769 %}eine Menge
          {% elseif resource.value < 65537 %}eine große Menge
          {% elseif resource.value < 131074 %}ein Berg
          {% elseif resource.value < 262148 %}ein großer Berg
          {% elseif resource.value < 524296 %}ein riesiger Berg
          {% else %}unglaublicher Überfluss
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if message_xml.defenseSystems.defenseSystem %}
<table style="width: auto; margin-top: 10px;">
  <thead>
    <th colspan="2">Verteidigungsanlagen</th>
  </thead>
  <tbody>
    {% for defenseSystem in message_xml.defenseSystems.defenseSystem %}
      <tr>
        <td>{{ defenseSystem.name }}</td>
        <td>
          {% if defenseSystem.value < 5 %}ein kümmerlicher Haufen
          {% elseif defenseSystem.value < 9 %}eine Handvoll
          {% elseif defenseSystem.value < 17 %}ein Dutzend
          {% elseif defenseSystem.value < 33 %}ein Trupp
          {% elseif defenseSystem.value < 65 %}eine Schar
          {% else %}eine Menge
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if message_xml.units.unit %}
<table style="width: auto; margin-top: 10px;">
  <thead>
    <th colspan="2">Einheiten</th>
  </thead>
  <tbody>
    {% for unit in message_xml.units.unit %}
      <tr>
        <td>{{ unit.name }}</td>
        <td>
          {% if unit.value < 9 %}eine Handvoll
          {% elseif unit.value < 17 %}ein Dutzend
          {% elseif unit.value < 65 %}eine Schar
          {% elseif unit.value < 257 %}eine Kompanie
          {% elseif unit.value < 513 %}etliche
          {% elseif unit.value < 1025 %}ein Bataillon 
          {% elseif unit.value < 2049 %}viele
          {% elseif unit.value < 4097 %}eine Menge
          {% elseif unit.value < 6145 %}eine Legion
          {% elseif unit.value < 8193 %}ein Haufen
          {% elseif unit.value < 12289 %}ein großer Haufen
          {% elseif unit.value < 16385 %}verdammt viele
          {% elseif unit.value < 20481 %}Unmengen
          {% elseif unit.value < 32769 %}eine Streitmacht 
          {% elseif unit.value < 49153 %}eine Armee
          {% elseif unit.value < 65537 %}Heerscharen
          {% elseif unit.value < 98305 %}eine haltlose Horde 
          {% else %}eine endlose wogende Masse
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if message_xml.buildings.building %}
<table style="width: auto; margin-top: 10px;">
  <thead>
    <th colspan="2">Erweiterungen</th>
  </thead>
  <tbody>
    {% for building in message_xml.buildings.building %}
      <tr>
        <td>{{ building.name }}</td>
        <td>
          {% if building.value < 5 %}ein kümmerlicher Haufen
          {% elseif building.value < 9 %}eine Handvoll
          {% elseif building.value < 17 %}ein Dutzend
          {% elseif building.value < 33 %}ein Trupp
          {% elseif building.value < 65 %}eine Schar
          {% else %}eine Menge
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if message_xml.sciences.science %}
<table style="width: auto; margin-top: 10px;">
  <thead>
    <th colspan="2">Forschungen</th>
  </thead>
  <tbody>
    {% for science in message_xml.sciences.science %}
      <tr>
        <td>{{ science.name }}</td>
        <td>{{ science.value }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
