{#
/* spyAttacker.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}

Spionagebericht von Höhle {{ message_xml.target.caveName }} ({{ message_xml.target.xCoord }}/{{ message_xml.target.yCoord }})

<p>
  Deine Spione berichten von der Höhle {{ message_xml.target.caveName }} ({{ message_xml.target.xCoord }}/{{ message_xml.target.yCoord }}) {% if message_xml.target.playerName != '' %}des Spielers {{ message_xml.target.playerName }}{% endif %}.
</p>

{% if message_xml.status = 'death' %}
  <p>Leider waren deine Kundschafter etwas zu ungeschickt, so daß sie von den gegnerischen Wachen bemerkt worden sind und ein Teil von ihnen einen schnellen Tod gefunden hat. Es beschleicht dich das Gefühl, daß du vielleicht doch etwas mehr Wert auf eine gute Ausbildung hättest legen sollen.</p>
  <p>Du verlierst folgende Einheiten:</p>

  <table style="width: auto">
    <thead><th colspan="2">Verlorene Einheiten</th></thead>
    <tbody>{% for unit in message_xml.deadUnits.deadUnit %}<tr><td>{{ unit.name }}:</td><td class="text-right">{{ unit.value }}</td></tr>{% endfor %}</tbody>
  </table>

{% else if message_xml.status = 'escape' %}
  <p>Leider waren deine Kundschafter etwas zu ungeschickt, so daß sie von den gegnerischen Wachen bemerkt worden sind, bevor sie Informationen über die Höhle sammeln konnten. Zum Glück konnten sie sich aber durch eine schnelle Flucht der Gefangennahme entziehen.</p>

  {% else if message_xml.artefactLost %}
    <p>Das transportierte Artefakt "{{ message_xml.artefactLost.name }}" ist verloren!</p>
  {% endif %}

{% else if message_xml.status = 'success' %}
   {% if message_xml.resources.resource %}
  <table style="width: auto; margin-top: 10px;">
    <thead>
      <th colspan="2">Rohstoffe</th>
    </thead>
    <tbody>
      {% for resource in message_xml.resources.resource %}
        <tr>
          <td>{{ resource.name }}</td>
          <td>{{ resource.value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if message_xml.defenseSystems.defenseSystem %}
  <table style="width: auto; margin-top: 10px;">
    <thead>
      <th colspan="2">Verteidigungsanlagen</th>
    </thead>
    <tbody>
      {% for defenseSystem in message_xml.defenseSystems.defenseSystem %}
        <tr>
          <td>{{ defenseSystem.name }}</td>
          <td>{{ defenseSystem.value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if message_xml.units.unit %}
  <table style="width: auto; margin-top: 10px;">
    <thead>
      <th colspan="2">Einheiten</th>
    </thead>
    <tbody>
      {% for unit in message_xml.units.unit %}
        <tr>
          <td>{{ unit.name }}</td>
          <td>{{ unit.value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if message_xml.buildings.building %}
  <table style="width: auto; margin-top: 10px;">
    <thead>
      <th colspan="2">Erweiterungen</th>
    </thead>
    <tbody>
      {% for building in message_xml.buildings.building %}
        <tr>
          <td>{{ building.name }}</td>
          <td>{{ building.value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if message_xml.sciences.science %}
  <table style="width: auto; margin-top: 10px;">
    <thead>
      <th colspan="2">Forschungen</th>
    </thead>
    <tbody>
      {% for science in message_xml.sciences.science %}
        <tr>
          <td>{{ science.name }}</td>
          <td>{{ science.value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% else if message_xml.artefactStolen %}
    <p>
      Bei der Spionage der Höhle bist du auf ein Artefakt "{{ message_xml.artefactStolen.name }}" gestoßen!<br />
      {% if message_xml.artefactStolen.lost %}Bei dem Kampf ist das Artefakt "{{ message_xml.artefactStolen.name }}" verloren gegangen! Es muß irgendwo in der Nachbarschaft der Höhle liegen.{% endif %}
    </p>
  {% endif %}
{% endif %}


