{#
/* spyDefender.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}

<!-- TODO -->

{% if message_xml.artefact %}
  <p>Du mußtest soeben erschreckend feststellen, das deine Schamanen so besoffen waren, das sie nicht bemerkten wie fast unsichtbare Gestallten dein  Artefakt "{{ message_xml.stolenArtefact }}" mitgenommen haben!</p>
  {% if message_xml.artefact.lost %}
    <p>Du schaust dich um und mußt erstaunt feststellen das die Gestallten das Artefakt "{{ message_xml.artefact.name }}" irgendwo in einer der Nachbarschaftshöhle hat fallen lassen.</p>
  {% endif %}
{% endif %}