{#
/* spyDefender.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}


{% if message_xml.status = 'death' %}
  <p>Deine Wachen haben eine Gruppe äußerst zwielichtiger Gestalten aufgestöbert, die sich auffällig für deine Höhle interessiert haben.</p>

{% else if message_xml.status = 'escape' %}
  <p>Deine Wachen haben eine Gruppe äußerst zwielichtiger Gestalten gesichtet, die sich an deine Höhle heranschleichen wollten. Sie hatten zwar noch keine Gelegenheit, etwas in Erfahrung zu bringen, konnten aber bedauerlicherweise den Wachen entkommen.</p>
{% endif %}

{% if message_xml.units.unit %}
  <table style="width: auto">
    <thead><th colspan="2">Einheiten</th></thead>
    <tbody>{% for unit in message_xml.units.unit %}<tr><td>{{ unit.name }}:</td><td class="text-right">{{ unit.value }}</td></tr>{% endfor %}</tbody>
  </table>
{% endif %}

{% if message_xml.deadUnits.deadUnit %}
  <p>Es ist Deinen aufmerksamen Wachen gelungen, einen Teil der Eindringlinge zu stellen:</p>
  <table style="width: auto">
    <thead><th colspan="2">Einheiten</th></thead>
    <tbody>{% for unit in message_xml.units.unit %}<tr><td>{{ unit.name }}:</td><td class="text-right">{{ unit.value }}</td></tr>{% endfor %}</tbody>
  </table>
  <p>Da die Wachen es aber gewohnt sind, erst zuzuschlagen und dann Fragen zu stellen, ist niemand davon mehr am Leben, der dir berichten könnte, woher sie kamen.</p>
{% endif %}

{% if message_xml.artefactStolen %}
  <p>Du mußtest soeben erschreckend feststellen, das deine Schamanen so besoffen waren, das sie nicht bemerkten wie fast unsichtbare Gestallten dein  Artefakt "{{ message_xml.stolenArtefact }}" mitgenommen haben!</p>
  {% if message_xml.artefactStolen.lost %}
    <p>Du schaust dich um und mußt erstaunt feststellen, das die Gestallten das Artefakt "{{ message_xml.artefact.name }}" irgendwo in einer der Nachbarschaftshöhle fallen gelassen haben.</p>
  {% endif %}
{% endif %}

{% if message_xml.artefactLost %}
  <p>Du konntest den Spionen des Feindes das Artefakt "{{ message_xml.artefactLost.name }}" abnehmen!</p>
{% endif %}