{#
/* tradeReceived.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% spaceless %}

Handelsbericht in Höhle {{ message_xml.target.caveName }} ({{ message_xml.target.xCoord }}/{{ message_xml.target.yCoord }})

<p>
  Aus

  {% if message_xml.source.caveID in list_cave_id %}
    deiner Höhle  {{ message_xml.source.caveName }} ({{ message_xml.source.xCoord }}/{{ message_xml.source.yCoord }})
  {% else %}
    der Höhle {{ message_xml.source.caveName }} ({{ message_xml.source.xCoord }}/{{ message_xml.source.yCoord }}) des Spielers {{ message_xml.source.playerName }}
  {% endif %}

  ist ein Transport eingetroffen.
</p>

{% if message_xml.units.unit %}
<table style="width: auto; margin-top: 10px;">
  <thead>
    <th colspan="2">Einheiten</th>
  </thead>
  <tbody>
    {% for unit in message_xml.units.unit %}
      <tr>
        <td>{{ unit.name }}</td>
        <td>{{ unit.value }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if message_xml.resources.resource %}
<table style="width: auto; margin-top: 10px;">
  <thead>
    <th colspan="2">Ressourcen</th>
  </thead>
  <tbody>
    {% for resource in message_xml.resources.resource %}
      <tr>
        <td>{{ resource.name }}</td>
        <td>{{ resource.value }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if message_xml.artefact %}
  <p>Du hast das Artefakt "{{ message_xml.artefact.name }}" bekommen!</p>
{% endif %}

{% if message_xml.hero.send == 'true' %}
  {% if message_xml.hero.send == 'true' %}
    <p>Dein Held ist in der Höhle eingetroffen.</p>
  {% endif %}

  {% if message_xml.hero.death == 'true' %}
    <p>Die Schmach die dein Held ertragen musste, da du ihn aus deinen Höhlen weggeschickt hast, war unerträglich.</p>
    <p>Dein Held hat sich daher zu den Göttern begeben.</p>
  {% endif %}
{% endif %}

{% endspaceless %}