src/Makefile
src/admintools/config.inc.php
src/admintools/dbconfig.inc.php
src/config/*.xml
src/config/*.tmp
src/dbs/db-util
src/dbs/game_rules.sql
src/game/include/config.inc.php
src/game/include/effect_list.php
src/game/include/game_rules.php
src/game/include/hero.rules.php
src/game/include/government.rules.php
src/game/include/relation_list.php
src/game/include/startvalues.php
src/game/include/trade.rules.php
src/game/include/wonder.rules.php
src/game/templates/de_DE/uga/extendsFooter.tmpl
src/phpext/*
src/ticker/check_config
src/ticker/game_rules.c
src/ticker/game_rules.h
src/ticker/ticker
src/ticker/ticker.conf
src/ticker/*.o
src/utilities/crontab
src/utilities/db_backup.cron
src/utilities/terrain
src/utilities/terrain.o
src/utilities/util.inc.php
src/www/simulator/simul
src/www/config.inc.php
config.log
config.status
ugaagga.conf