FONT		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 11px; COLOR: White;}
TH		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 11px; COLOR: White; WEIGHT: Bold;}
TD		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 11px; COLOR: White;}
BODY		{SCROLLBAR-FACE-COLOR: #229944; SCROLLBAR-HIGHLIGHT-COLOR: #44BB66; SCROLLBAR-SHADOW-COLOR: #117722; SCROLLBAR-3DLIGHT-COLOR: #55CC77;  SCROLLBAR-ARROW-COLOR: #006699; SCROLLBAR-TRACK-COLOR: #004400; SCROLLBAR-DARKSHADOW-COLOR: #98aab1; BACKGROUND-COLOR: #000000}
P		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 11px; }
DIV		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 11px; }
INPUT		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 11px; COLOR: Black;}
TEXTAREA	{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 11px}
FORM 		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 11px}
SELECT 		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 11px}
.selcom		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 8px}
A:link          {BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
A:active        {BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
A:visited       {BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
A:hover         {BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
