{#
/* wonder.tmpl -
 * Copyright (c) 2011 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Wunder Information{% endblock %}
{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="1">
  <tr>
    <td colspan="2" valign="top" class="title"><strong>{{ name }}</strong><br />&nbsp; <i>{{ offensiveness }}</i></td>
  </tr>
  
  <tr>
    <td valign="top">
      <fieldset>
        <legend>Beschreibung</legend>
        <table border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td>{{ description|raw }}&nbsp;</td>
          </tr>
        </table>
      </fieldset>
      
      <br />
      <fieldset>
        <legend>Basiswahrscheinlichkeit</legend>
        <table border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td>{{ chance }}&nbsp;</td>
          </tr>
        </table>
      </fieldset>
      <br />

      
      <fieldset>
        <legend>Zielhöhle</legend>
        <table border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td>{{ target }}&nbsp;</td>
          </tr>
        </table>
      </fieldset>
      <br />     
 
      <fieldset>
        <legend>Kosten</legend>
        <table border="0" cellspacing="0" cellpadding="5">
        <tr>
          {% for item in resource_cost %}
           <tr><td><img src="{{ gfx }}/resources/{{ item.dbFieldName }}_icon.gif" alt="{{ item.name }}" width="20" height="20" title="{{ item.name }}" /> {{ item.amount }} </td></tr>
          {% endfor %}
        </tr>
        </table>

        <br />

        {% if more_cost %}
          <table border="0" cellspacing="0" cellpadding="5">
            {% for item in more_cost %}
              <tr><td>{{ item.name }}</td><td>{{ item.amount }}</td></tr>
            {% endfor %}
          </table>
        <br />
        {% endif %}

        <br />

      </fieldset>

      <br />
      
      <fieldset>
        <legend>Vorraussetzungen</legend>
        <table border="0" cellspacing="0" cellpadding="3">
          {% for item in dependencies %}
          <tr>
            <td><a href="index.php?modus={{ item.category }}&amp;{{ item.category }}ID={{ item.id }}">{{ item.name }}</a></td>
            <td>{{ item.level|raw }}</td>
          </tr>
          {% endfor %}
        </table>
        &nbsp;
      </fieldset>
    </td>
  </tr>
</table>

{% endblock %}