/* Übschreiben der yaml settings */
table { margin: 0; }
table.narrow { margin: 4px 4px 0 0; }
tbody tr:hover th { background: transparent; }
th, td { padding: 0.4em 0.5em; }

.bordertable thead th { background: #C2CF90; }

a { color: #000000; }
a:hover, a:focus { background-color: transparent; color: #000000; text-decoration: underline; }

dl { margin: 1.5em 0 0 0em; }

h4 { margin: 0; }

.ym-form { margin: 0; border: none; background:#E6EFC2; }
.ym-form div.ym-fbox-button { background: #DDE5BC; }

.jquery_tabs { margin: 0; }
.jquery_tabs .content { clear: none; }
.jquery_tabs ul.tabs-list li.current a, .jquery_tabs ul.tabs-list li.current a:focus, .jquery_tabs ul.tabs-list li.current a:hover, .jquery_tabs ul.tabs-list li.current a:active { background:#C2CF90; }
.jquery_tabs ul.tabs-list li a { background: transparent; color: #000000; }

/* css von UgaAgga */
body { background: #FFFFFF; font-family: sans-serif; font-size: 12px; }

ul { list-style-type: none; margin: 0; padding: 0; }
ul.list-menu li { display: inline; margin: 0; padding: 0; width: 1px; }
ul.list-space li { padding-bottom: 10px; }
ul.movement li { margin: 0; list-style-type: none; }

dd { margin: 0; }

.small { width: 660px; margin: 20px auto; }
.box { padding: 10px 0; }
.bold { font-weight: bold; }
.space { padding: 10px; }
.bg0 { background-color: #eee; }
.bg1 { background-color: #E6EFC2 }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; margin: 0; }
.text-small { font-size: x-small; }

.ym-wrapper { width: 100%; min-width: 980px; position: absolute; top: 0px; }
.ym-col-head1 { min-width: 454px; width: 454px; height: 192px; text-align: left; background-image: url(http://gfx.uga-agga.de//de_DE/t_uga/header_left.png); background-repeat: no-repeat; } /* left column */
.ym-col-head2 { min-width: 446px; width: 446px; height: 192px; text-align: right; background-image: url(http://gfx.uga-agga.de//de_DE/t_uga/header_right.png); background-repeat: no-repeat; } /* right column */

.ua-header-menu { z-index: 1; position: relative; width: 100%; min-width: 980px;  text-align: center; } /* center column */
  .ua-head-menu { width: 500px; height: 54px; margin: 0 auto; background-image: url(http://gfx.uga-agga.de//de_DE/t_uga/menu/header/background.png); background-repeat: no-repeat; }
    #ua-head-menu-item { padding: 10px; }
    #ua-head-menu-item div.jqDockWrap { margin: 0 auto; }
    #ua-head-menu-item div.jqDock { cursor:pointer; }
      div.jqDockLabel { bottom: -12px !important; padding: 0; white-space: nowrap; font-weight: bold; color: #000000; cursor: pointer; }

.ym-col-con1 { width: 133px; text-align: left; } /* left column */
.ym-col-con2 { width: 133px; text-align: right; } /* right column */
.ym-col-con3 { margin-left: 133px; margin-right: 133px; text-align: center; } /* center column */

.ym-col-footer1 { text-align: left; }
.ym-col-footer2 { text-align: center; }
.ym-col-footer3 { text-align: right; }

.ua-box { background-image: url(http://gfx.uga-agga.de//de_DE/t_uga/grass.png); behavior: url(http://gfx.uga-agga.de//de_DE/t_uga/PIE.htc); background-repeat: repeat; -webkit-border-radius: 10px; -khtml-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 0px 5px 8px; margin-bottom: 10px !important;}
.ua-box-header { color: #FFFFFF; line-height: 20px; text-align: center; font-weight: bold; }
.ua-box-content { margin: 0 auto; text-align: left; background: #E6EFC2; }
.ua-box-center { display: inline-block; margin-left: auto; margin-right: auto; }

.ua-td-build { width: 47px; text-align: right; padding-right: 4px; }
.ua-td-count { width: 90px; text-align: right; }
.ua-td-input { width: 150px; text-align: right; padding-right: 4px; }
.ua-td-level { width: 105px; text-align: center; }
.ua-td-name { padding-left: 4px; }
.ua-td-smallicon { width: 34px; text-align: center; }
.ua-td-time { width: 100px; text-align: right; }
.ua-td-timer { width: 75px; text-align: right; padding-right: 4px; }
.ua-td-open { width: 16px; text-align: center; }
.ua-td-padding { padding-left: 4px; padding-right: 4px; }

/* farben fuer den terminkalender */
.ua-digest-building { background-color: #CCFFCC; }
.ua-digest-defense { background-color: #FFFFFF; }
.ua-digest-science { background-color: #FFCC99; }
.ua-digest-unit { background-color: #CCFF99; }
.ua-digest-artefact { background-color: #9cf; }

.ua-digest-mov-1 {background-color: #CCFF99; }
.ua-digest-mov-2 {background-color: #CCFF99; }
.ua-digest-mov-3 {background-color: #FFCC99; }
.ua-digest-mov-4 {background-color: #FFCC99; }
.ua-digest-mov-5 {background-color: #FFFFFF; }
.ua-digest-mov-6 {background-color: #FFCC99; }

/* farben für die Nachrichten */
.msg_0 { background-color: #fff; } /* Information */
.msg_2 { background-color: #fc9; } /* Sieg */
.msg_6 { background-color: #cf9; } /* Handelsbericht */
.msg_7 { background-color: #ff9; } /* RÃ¼ckkehr */
.msg_8 { background-color: #cfc; } /* Stammesnachricht */
.msg_9 { background-color: #9cf; } /* Wunder */
.msg_10 { background-color: #FFFFFF; } /* Benutzernachricht */
.msg_11 { background-color: #fc9; } /* Spionage */
.msg_12 { background-color: #9cf; } /* Artefakt */
.msg_20 { background-color: #fc9; } /* Niederlage */
.msg_99 { background-color: #ccc; } /* Uga-Agga Team */
.msg_1001 { background-color: #fff; } /* ANKÜNDIGUNG */
.msg_read0 a { background-repeat: no-repeat; font-weight: bold; }

.msg-body { padding: 10px; border-top: 2px solid #ddd; }

a.text-msg-next:link { color: #FFFFFF; text-decoration: none; }
a.text-msg-next:visited { color: #FFFFFF; text-decoration: none; }
a.text-msg-next:active { color: #FFFFFF; text-decoration: none; }
a.text-msg-next:hover { color: #FFFFFF; text-decoration: underline; }
a.text-msg-previous:link { color: #FFFFFF; text-decoration: none; }
a.text-msg-previous:visited { color: #FFFFFF; text-decoration: none; }
a.text-msg-previous:active { color: #FFFFFF; text-decoration: none; }
a.text-msg-previous:hover { color: #FFFFFF; text-decoration: underline; }

.dt-msg {display: block; float: left; text-align: left; width: 13%;}
.dd-msg {margin-left: 14%;}

/* Höhlenliste */
.secureCavebold, .secureCave-bold:visited { font-weight: bold;color: #000; }
.secureCave-bold1, .secureCave-1:visited, .secureCave-bold1:visited, .secureCave-1 { font-weight: bold; color: #b8860b; }
.unsecureCave-bold, .unsecureCave-bold:visited { font-weight: bold; color: #FF00FF; }
.secureCave- { color: #080; }
.unsecureCave-, .unsecureCave-:visited { color: #FF00FF; }

/* Simple 684.gs port for YAML 4 */
.ym-g684-1 { width: 57px; }
.ym-g684-2 { width: 114px; }
.ym-g684-3 { width: 171px; }
.ym-g684-4 { width: 228px; }
.ym-g684-5 { width: 285px; }
.ym-g684-6 { width: 342px; }
.ym-g684-7 { width: 399px; }
.ym-g684-8 { width: 456px; }
.ym-g684-9 { width: 513px; }
.ym-g684-10 { width: 570px; }
.ym-g684-11 { width: 627px; }
.ym-g684-12 { width: 684px; }

/* message boxen */
.error, .alert, .notice, .success, .info, .tooltip {padding:0.8em; margin-bottom:1em; border: 2px solid #ddd; -webkit-border-radius: 10px; -khtml-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info { background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color:#8a1f11; }
.notice a { color:#514721; }
.success a { color:#264409; }
.info a { color:#205791; }
.less-small { color:#ff0000; }
.tooltip { padding: 0px; margin-bottom: 0px; position: absolute; display: none ; width: 150px; text-align: center; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }

/* tutroial */
.ua-tutorial { position: absolute; top: 0px; z-index: 2; }
.ua-tutorial-box { z-index: 2; width: 420px; background-image: url(http://gfx.uga-agga.de//de_DE/t_uga/grass.png); behavior: url(http://gfx.uga-agga.de//de_DE/t_uga/PIE.htc); background-repeat: repeat; -webkit-border-radius: 10px; -khtml-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 0px 5px 8px;}
.ua-tutorial-button { z-index: 2; }

/* linearization for grid module */
.linearize-level-1,
.linearize-level-1 > [class*="ym-g"] {
  display: table;
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: 100% !important;
}

/* Profile */
li.clr {clear: left; width: 1px; height: 1px;  margin: 0;}
li.player_detail_left {float: left; width: 160px; font-weight: bold; margin: 0 5px 5px 0;}
li.player_detail_right {float: left; width: 115px; padding: 0; margin: 0 0 5px 0;}

/* Tribe */
li.clr {clear: left; width: 1px; height: 1px;  margin: 0;}
li.tribe_detail_left {float: left; width: 100px; font-weight: bold; margin: 0 5px 5px 0;}
li.tribe_detail_right {float: left; width: 180px; padding: 0; margin: 0 0 5px 0;}

/* Karte */
.terrain {text-align: center; vertical-align: top; min-width: 60px; background-size: 100% 100% !important; -moz-background-size: 100% 100%; -o-background-size: 100% 100%; -webkit-background-size: 100% 100%; padding: 0px;}

.detail-row:hover td {background: transparent;}