{#
/* artefactDetail.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>, Georg Pitterle
 * Copyright (c) 2011-2013 David Unger <unger-dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %} 
{% block title %}Artefakt Details{% endblock %} 
{% block content %} 

{% if status_msg %}<div id="status-msg"><div class="alert alert-block alert-{{ status_msg.type }}"><p>{{ status_msg.message|raw }}</p></div><hr></div>{% endif %}

<p><a href="main.php?modus={{ artefact_list_link }}">Zur Artefaktliste</a></p>
{% if show_artefact %}
<div class="ua-box">
  <div class="ua-box-header">{{ artefact.name }}</div>
  <div class="ua-box-content ua-box-space">
    <div class="row-fluid">
      <div class="span12">
        <img class="pull-left" src="images/artefacts/{{ artefact.img }}" width="100px" height="100px" alt="{{ artefact.name }}" title="{{ artefact.name }}" />

        <h5 class="text-center">Beschreibung</h5>
        {% if artefact.description_initiated %}
          {{ artefact.description_initiated|raw }}
          {% if showStatus %}<p><small>Status: eingeweiht!</small></p>{% endif %}
        {% else %}
          {{ artefact.description|raw }}
          {% if showStatus %}<p><small>Status: <span class="bold">nicht</span> eingeweiht!</small></p>{% endif %}
        {% endif %}
      </div>
    </div>

    {% if showRitual>0 %}
      <hr>
      <h5 class="text-center">Einweihung</h5>
      {{ artefact.initiation.description|raw }}
      <hr>
      <h5 class="text-center">Kosten</h5>
      {% for item in artefact.initiation.cost %}
        {{ item.object }}:
        <span class="{{ item.class }}small">{{ item.amount }}</span>
      {% endfor %}
      <div class="text-center">
        <form id="formArtefactInitiate" class="form-horizontal" action="main.php?modus={{ artefact_detail_link }}&amp;artefactID={{ artefact.artefactID }}" method="post">
          <input type="hidden" name="artefactID" value="{{ artefact.artefactID }}"/>
          <input type="hidden" name="initiate" value="{{ artefact.initiation.initiate }}"/>
          <button class="btn" type="button" id="formArtefactInitiateSubmit" name="formArtefactInitiateSubmit">Ritual durchführen</button>
        </form>
      </div>
    {% elseif showRitual==0 %}
    {% else %}
      <h5 class="text-center">In dieser Höhle wird bereits ein Artefakt eingeweiht!</h5>
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}