{#
/* caveBookmarks.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>, Georg Pitterle
 * Copyright (c) 2011-2012 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Artefakte - Übersicht{% endblock %}
{% block content %}

<div class="ua-box small">
  <div class="ua-box-header">{{ award.title }}</div>
    <div class="ua-box-content space">
      <div class="ym-grid">
         <div class="ym-gl" style="width: 135px;"><img src="images/awards/{{ award.tag }}_large.png" width="128" height="128" title="{{ award.title }}" alt="{{ award.title }}" /></div>
         <div class="ym-gl text-center" style="width: 505px;">{{ award.description }}</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}