{#
/* caveBookmarks.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 David Unger, Sascha Lange <salange@uos.de>, Georg Pitterle
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Artefakte - Übersicht{% endblock %}
{% block content %}

<div class="box small">
  <div class="box-header">{{ award.title }}</div>
  <div class="box-content success inner text-center">
    <div style="float: left; width: 130px;"><img src="images/awards/{{ award.tag }}_large.png" width="128px" height="128px" title="{{ award.title }}" alt="{{ award.title }}" /></div>
    <div class="text-center" style="float: left; width: 525px;">{{ award.description }}</div>
    <div style="clear: both;"></div>
  </div>
</div>

{% endblock %}