{#
/* base.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2013 David Unger <unger-dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */
#}
<!DOCTYPE html>
<html dir="ltr" lang="de">
<head>
  {% block head %}
    <title>Uga Agga Online Game - {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

    <!-- mobile viewport optimisation -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap -->
    <link href="{{ gfx }}/de_DE/t_uga/css/jquery.ui.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ gfx }}/de_DE/t_uga/css/styles.css" rel="stylesheet" media="screen">

    <!-- javascript -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/jquery.jqdock.min.js"></script>
    <script type="text/javascript" src="js/jquery.ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="js/jquery.plugin.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/jquery.url.js"></script>
    <script type="text/javascript" src="js/jquery.notification.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jappixmini.js"></script>
    <script type="text/javascript" src="js/ua.js"></script>

    <script type="text/javascript">
      function serverTime() {
        var time = null;
        time = new Date("{{ countdown_time }}");
        return time;
      }

      MAP_MIN_X = {{ map_size.min_x }};
      MAP_MAX_X = {{ map_size.max_x }};
      MAP_MIN_Y = {{ map_size.min_y }};
      MAP_MAX_Y = -{{ map_size.max_y }};

      {% if jabber.server and jabber.user and jabber.passwd %}
        jQuery(document).ready(function() {
          DEVELOPER = 'on';

          HOST_MAIN      = '{{ jabber.server }}';
          HOST_MUC       = "conference.{{ jabber.server }}";
          HOST_PUBSUB    = "pubsub.{{ jabber.server }}";
          HOST_VJUD      = "vjud.{{ jabber.server }}";
          HOST_ANONYMOUS = "anonymous.{{ jabber.server }}";
          HOST_BOSH      = "{{ jabber.bosh }}";

          JAPPIX_STATIC = ''

          // Define groupchats here
          MINI_GROUPCHATS = [{{ jabber.groupchats|raw }}];
          MINI_SUGGEST_GROUPCHATS = [{{ jabber.groupchats_suggest|raw }}];
          MINI_PASSWORDS = [];
          MINI_5D_NON_CLOSEABLE_GROUPCHATS = [{{ jabber.noClose|raw }}];

          // Define chats here
          MINI_CHATS = [];

          // Add an animation
          MINI_ANIMATE = false;

          // Define the user nickname
          MINI_NICKNAME = "{{ jabber.user }}";

          // Random user nickname (if no nickname)
          MINI_RANDNICK = false;

          // Override the default session resource
          MINI_RESOURCE = "UA-Game"+ Math.floor(Math.random()*100000);

          // Connect the user (autoconnect, show_pane, domain, username, password)
          // Notice: put true/false to autoconnect and show_pane
          // Notice: exclude "user" and "password" if using anonymous login
          launchMini(true, true, "{{ jabber.server }}", "{{ jabber.jabber_name }}", "{{ jabber.passwd }}");
        });
      {% endif %}
    </script>
  {% endblock %}

  <style type="text/css">
    .header-middle { background-image: url("{{ gfx }}/de_DE/t_uga/menu/header/background.png"); }

    .span-header-left { background-image: url("{{ gfx }}/de_DE/t_uga/header_left.png"); }
    .span-header-right {  background-image: url("{{ gfx }}/de_DE/t_uga/header_right.png"); }

    .ua-box { background-image: url("{{ gfx }}/de_DE/t_uga/grass.png"); }

    .abort { background-image: url("{{ gfx }}/de_DE/t_uga/abort.png"); }
    .arrow_max { background-image: url("{{ gfx }}/de_DE/t_uga/arrow_up_max.png"); }
    .arrow_up { background-image: url("{{ gfx }}/de_DE/t_uga/arrow_up.png"); }
    .flash { background-image: url("{{ gfx }}/de_DE/t_uga/flash.png"); }

    .tutorial { list-style: none; margin: 0; }
    .tutorial li { display: inline-block; padding-right: 10px; }
  </style>

</head>
<body>

<div class="container">
  <div class="row">
    <div class="span-header-left">
      <div class="tooltip-show change_mouseover" id="warpoints_info" style="width: 200px; margin-left: 10px ;margin-top: 154px" rel="tooltip" data-placement="bottom" data-original-title="Oben stehen die aktuellen Kriegspunkte die du in einem Krieg, bei einem Angriff auf diese Höhle, verlieren könntest. Das verlieren der Kriegspunkte ist möglich, sobald bei einem Angriff Einheiten gestorben sind oder mehr als 11 Verteidgungsanlagen zerstört wurden. Unten sind alle Kriegspunkte aufgeführt! Einheiten: {{ war_points.warpointsUnits }} Verteidigungsanlagen: {{ war_points.warpointsDefense }}"><b>Kriegspunkte der Höhle: {{ war_points.warpoints }}</b></div>
    </div>
    <div class="span-header-right pull-right text-right" id="region-info">
      <a href="main.php?modus=logout"><img class="right" style="width: 35px; height: 30px;" src="{{ gfx }}/de_DE/t_uga/menu/icon_logout.png" alt="logout" /></a><br />
      <img class="right" style="margin-right: 100px; margin-top:-30px;" src="{{ gfx }}/de_DE/t_uga/menu/terrain/terrain_{{ cave_terrain }}.png" alt="terrain_{{ cave_terrain }}" title="{{ cave_terrain_desc }}" /><br />
      <img class="right" style="margin-right: 120px;" src="{{ gfx }}/de_DE/t_uga/menu/month/month_{{ ua_time_month }}.png" alt="month_{{ ua_time_month }}" title="{{ ua_time_day }}. Tag des {{ ua_time_time_month_name }}-Monats im Jahre {{ ua_time_year }} um {{ ua_time_hour }} Uhr." /><br />
      <img class="right" style="margin-right: 100px;" src="{{ gfx }}/de_DE/t_uga/menu/weather/weather_{{ weather_id }}.png" alt="{{ weather_name }}" title="{{ weather_name }}" /><br />
      <div style="margin-right: 10px; margin-top: 12px"><b>Farmpunkte: {{ player_fame }}</b></div>
    </div>
    <div class="header-middle text-center">
      <div class="header-middle-menu">
        <div id="header-middle-menu-item">
          <a class="ajax" href="main.php?modus=hero_detail"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_hero.png' width="30" height="30" title='Held' alt='' /></a>
          <a href="main.php?modus={{ cave_detail_link }}"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_cave.png' width="30" height="30" title='Diese Höhle' alt='' /></a>
          <a href="main.php?modus={{ cave_bookmarks_link }}"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_cave_bookmarks.png' width="30" height="30" title='Höhlenliste' alt='' /></a>
          <a href="main.php?modus={{ questionaire_link }}"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_questionnaire.png' width="30" height="30" title='Fragebogen' alt='' /></a>
          <!--<a href="main.php?modus={{ donations_link }}"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_donations.png' width="30" height="30" title='Spenden' alt='' /></a>-->
          <a href="main.php?modus={{ tribe_link }}"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_tribe.png' width="30" height="30" title='Mein Stamm' alt='' /></a>
          <a href="main.php?modus={{ contact_bookmarks_link }}"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_contacts.png' width="30" height="30" title='Adressbuch' alt='' /></a>
          <a href="main.php?modus={{ effectwonder_detail_link }}"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_effectwonder_detail.png' width="30" height="30" title='Aktive Effekte und Wunder' alt='' /></a>
          <a href="main.php?modus={{ user_profile_link }}"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_profile.png' width="30" height="30" title='Profil' alt='' /></a>
          <a href="main.php?modus={{ artefact_list_link }}"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_artefact.png' width="30" height="30" title='Artefaktliste' alt='' /></a>
          <a href="main.php?modus={{ news_link }}"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_news.png' title='News' width="30" height="30" alt='' /></a>
          <a href="{{ help_path }}" class="new-window"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_faq.png' width="30" height="30" title='FAQ' alt='' /></a>
        </div>
        <div style="height: 51px; width: 315px; margin: 0 auto; top: 86px; position: relative; background-image: url(./images/round_name.png); background-repeat: no-repeat;">&nbsp;</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span-content-left">
      <ul class="nav-ua">
        <li><a href="main.php?modus={{ easy_digest_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_easy_digest.jpg" alt="Terminkalender" /></a></li>
        <li><a href="main.php?modus={{ unit_movement_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_unit_movement.jpg" alt="Bewegungen" /></a></li>
        <li><a href="main.php?modus={{ messages_list_link }}"><img id="message_icon" style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_messages{{ new_mail_link }}.jpg" alt="Nachrichten" /></a></li>
        <li><a href="main.php?modus=all_cave_detail"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_all_cave_detail.jpg" alt="Alle Höhlen" /></a></li>
        <li><a href="main.php?modus={{ ranking_player_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_ranking.jpg" alt="Ranking" /></a></li>
        <li><a href="main.php?modus={{ map_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_map.jpg" alt="Karte" /></a></li>
        <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_left_2.jpg" alt="" /></li>
        <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_left_3.jpg" alt="" /></li>
        <li><a href="main.php?modus={{ wonder_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_wonder.jpg" alt="Wunder" /></a></li>
        <li><a href="main.php?modus={{ takeover_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_takeover.jpg" alt="Missionieren" /></a></li>
        <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_left_4.jpg" alt="" /></li>
      </ul>
    </div>
    <div class="span-content-middle text-center">
      <div id="loader" class="notice hide">Bitte warten. Seite wird geladen...<br /><img src="images/ajax-loader.gif" title="" alt="" /></div>
      <div id="dialog" class="hide"></div>

      <div id="content">
        {% for item in resources %}
          <span class="nobr tooltip-show change_mouseover" rel="tooltip" data-placement="top" data-original-title="{{ item.name }} (max. {{ item.max_level }}, gesichert {{ item.safe_storage }})"><img src="{{ gfx }}/resources/{{ item.dbFieldName }}_icon.gif" alt="{{ item.name }}" title="" style="width:15px; height:15px; vertical-align:middle" />&nbsp;:
          {{ item.amount }} ({{ item.delta }})&nbsp;</span>
        {% endfor %}
        <hr>
        <!--<div class="alert alert-block alert-success"><a style="text-decoration: underline;" href="/main.php?modus=news">Neue News</a></div>-->
        <div id="caves">
          |&nbsp;{% for item in navigateCave %}
            <a href="main.php?{{ query_string|raw }}&amp;caveID={{ item.caveID }}" class="{{ item.secure_cave }}-{{ item.class }}{{ item.starting_position }}{% if item.active %} menu_active_cave_size{% endif %}" onmouseover="document.getElementById('cave-details-cave').innerHTML='Höhle {{ item.name }} in ({{ item.x_coord }}|{{ item.y_coord }}).'" onmouseout="document.getElementById('cave-details-cave').innerHTML='Höhle {{ item.active_name }} in ({{ item.active_x_coord }}|{{ item.active_y_coord }}).'">({{ item.x_coord }}/{{ item.y_coord }})</a>&nbsp;|&nbsp;
          {% endfor %}
          <div class="block" id="cave-details-cave">Höhle {{ cave_name }} in ({{ cave_x_coord }}|{{ cave_y_coord }}).</div>
        </div>
        <hr>
        {% block content %}{% endblock %}
      </div>
    </div>
    <div class="span-content-right">
      <ul class="nav-ua">
        <li><a href="main.php?modus={{ improvement_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_improvement_detail.jpg" alt="Erweiterungen" /></a></li>
        <li><a href="main.php?modus={{ science_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_science.jpg" alt="Forschungen" /></a></li>
        <li><a class="navigation" href="main.php?modus={{ defense_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_external_builder.jpg" alt="Verteidigung" /></a></li>
        <li><a class="navigation" href="main.php?modus={{ unit_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_unit_builder.jpg" alt="Einheiten" /></a></li>
        <li><a class="navigation" href="main.php?modus={{ merchant_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_merchant.jpg" alt="Händler" /></a></li>
        <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_right_2.jpg" alt="" /></li>
        <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_right_3.jpg" alt="" /></li>
        <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_right_4.jpg" alt="" /></li>
        <li><a href="http://forum.uga-agga.de" class="new-window"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_forum.jpg" alt="UA Forum" /></a></li>
        <li><a href="main.php?modus={{ suggestions_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_mail.jpg" alt="Mail an UA" /></a></li>
        <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_right_5.jpg" alt="" /></li>
      </ul>
    </div>
  </div>
  {% block footer %}
  <footer>
    <div class="row-fluid">
      <div class="span4 text-left">
          <a href="main.php?modus={{ statistic_link }}">Statistik</a> &amp;
          <a href="{{ help_path }}" class="new-window">Hilfe</a> &amp;
          <a href="{{ rules_path }}" class="new-window">Regeln</a>&nbsp;
      </div>
      <div class="span4 text-center"><strong class="show-tutorial change_mouseover">Tutorial Einblenden</strong></div>
      <div class="span4 text-right"><div id="servertime">Serverzeit: {{ time }}</div></div>
    </div>
    <div class="span12 nospace" style="width: 100%;"><div id="pageSilder"></div></div>
  </footer>
  {% endblock %}
</div>
<div id="modal" class="modal ua-box hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="ua-box-header"><button type="button" id="modalLabelClose" class="close hide" style="opacity: 0.8; color: #FFFFFF;" data-dismiss="modal" aria-hidden="true">&times;</button><span id="modalLabel">&nbsp;</span></div>
  <div class="modal-body ua-box-content ua-box-space" id="modalBody">
    <p id="messageModalMsg">&nbsp;</p>
  </div>
  <div id="modalFooter" class="modal-footer hide">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Schließen</button>
    <a href="false" class="btn btn-primary" id="modalFooterHref" aria-hidden="true" data-post="true">Bestätigen</a>
  </div>
</div>

{% if tutorial.show %}
<div id="tutorialData" style="display: none;">
  <div id="tutorialDataOpen">{% if tutorial.open == 'true' or tutorial.content.showAlways == 'true' %}true{% else %}false{% endif %}</div>
  <div id="tutorialDataFinish">{% if tutorial.finish %}true{% else %}false{% endif %}</div>
  <div id="tutorialDataUrl">main.php?{{ query_string|raw }}&caveID={{ cave_id }}&tutorial=finish</div>
  <div id="tutorialDataHeader">{{ tutorial.content.header }}</div>
  <div id="tutorialDataBody">{% for tab in tutorial.content.tabs %}<h5>{{ tab.header|raw }}:</h5>{{ tab.msg|raw }}{% if not loop.last  %}<hr>{% endif %}{% endfor %}</div>
</div>
{% endif %}

{% include "extendsFooter.tmpl" %}
<noscript>
  <div id="modalNoscript" class="modal ua-box fade in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="ua-box-header">Javascript</div>
    <div class="modal-body ua-box-content ua-box-space text-center">
      <p>Du mußt Javascript aktiviert haben um Uga-Agga Spielen zu können!</p>
    </div>
  </div>
  <div class="modal-backdrop fade in"></div>
</noscript>
</body>
</html>