{#
/* base.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger,
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="de" xml:lang="de">
<head>
  {% block head %}
    <title>Uga Agga Online Game - {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

    <!-- mobile viewport optimisation -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="yaml/core/base.min.css" type="text/css"/>
    <!--[if lte IE 7]><link rel="stylesheet" href="yaml/core/iehacks.min.css" type="text/css"/><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link rel="stylesheet" href="yaml/screen/typography.css" type="text/css"/>
    <link rel="stylesheet" href="yaml/forms/gray-theme.css" type="text/css"/>
    <link rel="stylesheet" href="yaml/add-ons/accessible-tabs/tabs.css" type="text/css"/>
    <link rel="stylesheet" href="{{ gfx }}/de_DE/t_uga/css/jquery-ui-1.8.18.custom.css" type="text/css" />
    <link rel="stylesheet" href="{{ gfx }}/de_DE/t_uga/css/styles.css" type="text/css"/>
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ gfx }}/de_DE/t_uga/css/ie.css" type="text/css"/><![endif]-->

    <!-- javascript -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.jqdock.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="yaml/add-ons/accessible-tabs/jquery.tabs.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="js/ua.js"></script>

    <style type="text/css">
      .ua-box {background-image: url({{ gfx }}/de_DE/t_uga/grass.png); behavior: url({{ gfx }}/de_DE/t_uga/PIE.htc);}
      .error, .alert, .notice, .success, .info, .tooltip { behavior: url({{ gfx }}/de_DE/t_uga/PIE.htc);}
      .msg_read0 a {background-image: url('http://game.uga-agga.de/gfx/de_DE/t_uga/messages/mail.gif');}

      .ua-tutorial-box { background-image: url({{ gfx }}//de_DE/t_uga/grass.png); behavior: url({{ gfx }}//de_DE/t_uga/PIE.htc); }
      .ua-tutorial-button { background-image: url({{ gfx }}/de_DE/t_uga/grass.png); behavior: url({{ gfx }}/de_DE/t_uga/PIE.htc); }

      .ym-col-head1 { background-image: url({{ gfx }}/de_DE/t_uga/header_left.png); }
      .ym-col-head2 { background-image: url({{ gfx }}/de_DE/t_uga/header_right.png); }
      
      .ua-head-menu { background-image: url({{ gfx }}/de_DE/t_uga/menu/header/background.png); }

      #footerSlideButton { background: url(http://return-true.com/examples/sliderButton.png) {% if tutorial.open == 'true' %}bottom{% else %}top{% endif %} left no-repeat transparent;}
      {% if tutorial.open == 'true' %}#footerSlideContent { height: 200px; }{% endif %}
    </style>

    <script type="text/javascript">
      function serverTime() { 
        var time = null; 
        time = new Date("{{ countdown_time }}"); 
        return time; 
      }

      $(function() {
      var open = {% if tutorial.open == 'true' %}true{% else %}false{% endif %};
        $('#footerSlideButton').click(function() {
          if(open === false) {
            $('#footerSlideContent').animate({ height: '200px' });
            $(this).css('backgroundPosition', 'bottom left');
            $('#tutorialButton').show();
            open = true;
          } else {
            $('#footerSlideContent').animate({ height: '0px' });
            $(this).css('backgroundPosition', 'top left');
            $('#tutorialButton').hide();
            open = false;
          }
        });
      });

    </script>

  {% endblock %}
</head>
<body>
  <div class="ym-wrapper">
    <div class="ym-column">
      <div class="ym-col-head-middle">
        <div class="ua-head-menu">
          <div id="ua-head-menu-item">
            <a href="main.php?modus=hero_detail"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_hero.png' width="30" height="30" title='Held' alt='' /></a>
            <a href="main.php?modus=cave_detail"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_cave.png' width="30" height="30" title='Diese Höhle' alt='' /></a>
            <a href="main.php?modus=CaveBookmarks"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_cave_bookmarks.png' width="30" height="30" title='Höhlenliste' alt='' /></a>
            <a href="main.php?modus=questionnaire"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_questionnaire.png' width="30" height="30" title='Fragebogen' alt='' /></a>
            <a href="main.php?modus=Donations"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_donations.png' width="30" height="30" title='Spenden' alt='' /></a>
            <a href="main.php?modus=tribe"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_tribe.png' width="30" height="30" title='Mein Stamm' alt='' /></a>
            <a href="main.php?modus=Contacts"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_contacts.png' width="30" height="30" title='Adressbuch' alt='' /></a>
            <a href="main.php?modus=effectwonder_detail"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_effectwonder_detail.png' width="30" height="30" title='Aktive Effekte und Wunder' alt='' /></a>
            <a href="main.php?modus=user_profile"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_profile.png' width="30" height="30" title='Profil' alt='' /></a>
            <a href="main.php?modus=artefact_list"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_artefact.png' width="30" height="30" title='Artefaktliste' alt='' /></a>
            <a href="main.php?modus=news"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_news.png' title='News' width="30" height="30" alt='' /></a>
            <a href="http://faq.uga-agga.de" class="new-window"><img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_faq.png' width="30" height="30" title='FAQ' alt='' /></a>
          </div>
        </div>
        <img style="padding-top: 83px; position: relative; margin: 0 auto;" src="./images/round_name.png" alt="" />
      </div>
      <div class="ym-col1 ym-col-head1">&nbsp;</div>
      <div class="ym-col2 ym-col-head2">
         <a href="main.php?modus=logout"><img class="right" style="width: 35px; height: 30px;" src="{{ gfx }}/de_DE/t_uga/menu/icon_logout.png" alt="logout" /></a><br />
        <img class="right" style="margin-right: 100px; margin-top:-30px;" src="{{ gfx }}/de_DE/t_uga/menu/terrain/terrain_{{ cave_terrain }}.png" alt="terrain_{{ cave_terrain }}" title="{{ cave_terrain_desc }}" /><br />
        <img class="right" style="margin-right: 120px;" src="{{ gfx }}/de_DE/t_uga/menu/month/month_{{ ua_time_month }}.png" alt="month_{{ ua_time_month }}" title="{{ ua_time_day }}. Tag des {{ ua_time_time_month_name }}-Monats im Jahre {{ ua_time_year }} um {{ ua_time_hour }} Uhr." /><br /> 
        <img class="right" style="margin-right: 100px;" src="{{ gfx }}/de_DE/t_uga/menu/weather/weather_{{ weather_id }}.png" alt="{{ weather_name }}" title="{{ weather_name }}" /><br />
        <div class="bold" style="margin-right: 10px ;margin-top: 5px">Farmpunkte: {{ player_fame }}</div>
      </div>
    </div>

    <div id="main">
      <div class="ym-column">
        <div class="ym-col1 ym-col-con1">
          <ul class="list-menu">
            <li><a href="main.php?modus={{ easy_digest_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_easy_digest.jpg" alt="Terminkalender" /></a></li>
            <li><a href="main.php?modus={{ unit_movement_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_unit_movement.jpg" alt="Bewegungen" /></a></li>
            <li><a href="main.php?modus={{ messages_list_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_messages{{ new_mail_link }}.jpg" alt="Nachrichten" /></a></li>
            <li><a href="main.php?modus=all_cave_detail"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_all_cave_detail.jpg" alt="Alle Höhlen" /></a></li>
            <li><a href="main.php?modus={{ ranking_player_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_ranking.jpg" alt="Ranking" /></a></li>
            <li><a href="main.php?modus={{ map_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_map.jpg" alt="Karte" /></a></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_left_2.jpg" alt="" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_left_3.jpg" alt="" /></li>
            <li><a href="main.php?modus={{ wonder_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_wonder.jpg" alt="Wunder" /></a></li>
            <li><a href="main.php?modus={{ takeover_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_takeover.jpg" alt="Missionieren" /></a></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_left_4.jpg" alt="" /></li>
          </ul>
        </div>
        <div class="ym-col2 ym-col-con2">
          <ul class="list-menu">
            <li><a href="main.php?modus={{ improvement_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_improvement_detail.jpg" alt="Erweiterungen" /></a></li>
            <li><a href="main.php?modus={{ science_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_science.jpg" alt="Forschungen" /></a></li>
            <li><a href="main.php?modus={{ defense_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_external_builder.jpg" alt="Verteidigung" /></a></li>
            <li><a href="main.php?modus={{ unit_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_unit_builder.jpg" alt="Einheiten" /></a></li>
            <li><a href="main.php?modus={{ merchant_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_merchant.jpg" alt="Händler" /></a></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_right_2.jpg" alt="" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_right_3.jpg" alt="" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_right_4.jpg" alt="" /></li>
            <li><a href="http://forum.uga-agga.de" class="new-window"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_forum.jpg" alt="UA Forum" /></a></li>
            <li><a href="main.php?modus={{ suggestions_link }}"><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_mail.jpg" alt="Mail an UA" /></a></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_right_5.jpg" alt="" /></li>
          </ul>
        </div>
        <div class="ym-col3 ym-col-con3">
          <div class="ym-cbox">
            <ul class="list-space">
              <li>
              {% for item in resources %}
                <span class="nobr"><img src="{{ gfx }}/resources/{{ item.dbFieldName }}_icon.gif" alt="{{ item.name }}" title="{{ item.name }} (max. {{ item.max_level }}, gesichert {{ item.safe_storage }})" style="width:15px; height:15px; vertical-align:middle" />&nbsp;:
                {{ item.amount }} ({{ item.delta }})&nbsp;</span>
              {% endfor %}
              </li>
              <li>
                <div class="block" id="cave-details-list">
                  |&nbsp;{% for item in navigateCave %}
                    <a href="main.php?{{ query_string|raw }}&amp;caveID={{ item.caveID }}" class="{{ item.secure_cave }}-{{ item.class }}{{ item.starting_position }}{% if item.active %} menu_active_cave_size{% endif %}" onmouseover="document.getElementById('cave-details-cave').innerHTML='Höhle {{ item.name }} in ({{ item.x_coord }}|{{ item.y_coord }}).'" onmouseout="document.getElementById('cave-details-cave').innerHTML='Höhle {{ item.active_name }} in ({{ item.active_x_coord }}|{{ item.active_y_coord }}).'">({{ item.x_coord }}/{{ item.y_coord }})</a>&nbsp;|&nbsp;
                  {% endfor %}
                </div>
              </li>
              <li>
                <div class="block" id="cave-details-cave">Höhle {{ cave_name }} in ({{ cave_x_coord }}|{{ cave_y_coord }}).</div>
              </li>
            </ul>
            <div class="notice small">Fehler bitte im Spiel an den Spieler <a href="http://game.uga-agga.com/main.php?modus=message_new&recipient=Support">"Support"</a> melden.</div>
            {% block content %}{% endblock %}
          </div>
        </div>
        <div class="ym-ie-clearing">&nbsp;</div>
      </div>
    </div>

    {% block footer %}
      <div class="ym-grid" style="padding-top: 10px;">
        <div class="ym-g33 ym-gl ym-col-footer1">
          Serverzeit: {{ time }}
        </div>
        <div class="ym-g33 ym-gl ym-col-footer2">
          {% include 'vote.tmpl' %}
        </div>
        <div class="ym-g33 ym-gr ym-col-footer3">
          <a href="main.php?modus=statistic">Statistik</a> &amp;
          <a href="{{ help_path }}" class="new-window">Hilfe</a> &amp;
          <a href="{{ rules_path }}" class="new-window">Regeln</a>&nbsp;
          <a href="#top"><img src="{{ gfx }}/de_DE/t_uga/arrow_up.png" alt="nach oben" style="width:15px; height:15px;" /></a>
        </div>
      </div>
    {% endblock %}
  </div>

  {% if tutorial.show %}
    <div id="footerSlideContainer">
      <div id="footerSlideButton"></div>
      <div id="footerSlideContent">
        <div id="footerSlideText">
          <h2 class="text-center" style="color: #FFFFFF;">{{ tutorial.content.header }}</h2>

          <div class="ym-grid">
            {% for item in tutorial.content.tabs %}
              <div class="ym-{{ item.width }} ym-gl">
                <div class="ym-gbox">
                  <h3 style="color: #FFFFFF;">{{ item.header }}</h3><br />{{ item.txt|raw }}
                </div>
              </div>
            {% endfor %}
          </div>

          {% if tutorial.finish %}
          <div id="tutorialButton" class="text-center" style="bottom: 0px; position: absolute; width: 100%;">
            <form method="post" action="main.php?{{ query_string|raw }}&amp;caveID={{ cave_id }}">
              <input type="hidden" name="nextTutorial" value="next" />
              <input type="submit" value="zum nächstes Tutorial" class="submit" id="submit" name="submit" />
            </form>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% include "extendsFooter.tmpl" %}
</body>
</html>