{#
/* boxConfirmation.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger <unger-dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}

<div class="ua-box small">
  <div class="ua-box-header">Bestätigen</div>
  <div class="ua-box-content">
    <div class="text-center space">{{ confirm_msg|raw }}</div>
    <div class="ym-grid">
      <div class="ym-g50 ym-gl">
        <form class="ym-form" id="boxConfirmOkForm" method="post" action="main.php?modus={{ confirm_mode }}&amp;action={{ confirm_action }}&amp;id={{ confirm_id }}&amp;caveID={{ cave_id }}">
          <div class="ym-fbox-button text-right">
            <input type="hidden" name="cancelOrderConfirm" value="1" />
            <input type="submit" class="ym-button" value="Ok" />
          </div>
        </form>
      </div>
      <div class="ym-g50 ym-gl">
        <form class="ym-form" id="boxConfirmCancelForm" method="post" action="main.php?modus={{ confirm_mode }}&amp;caveID={{ cave_id }}">
          <div class="ym-fbox-button text-left">
            <input type="submit" class="ym-button" value="Abbrechen" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>