{#
/* cave.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger <unger-dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Höhlendetails{% endblock %}
{% block content %}

{% if status_msg %}<div id="status-msg"><div class="alert alert-block alert-{{ status_msg.type }}"><p>{{ status_msg.message|raw }}</p></div><hr></div>{% endif %}

<a class="export-link" href="export.php?modus=thisCave&amp;caveID={{ cave_id }}&amp;format=xml"><img src="{{ gfx }}/de_DE/t_uga/icon_export_xml.png" class="noborder" width="30" height="30" alt="Export als XML" title="Export als XML" /></a><div id="export-dialog"></div>

<div class="ua-box">
  <div class="ua-box-header">Höhle {{ cave_data.name }} in ({{ cave_data.xCoord }}; {{ cave_data.yCoord }}). Region {{ cave_data.region_name }}. {% if cave_data.properties %}{% for item in cave_data.properties %}<em>({{ item.text }})</em>{% endfor %}{% endif %}</div>
  <div class="ua-box-content">
    <table>
      <tbody>
        {% if resource %}
        <tr>
          <td>
            <ul class="clean">
              {% for item in resource %}
              <li style="float: left; padding: 0 5px; text-align: center; font-size: x-small;"><img src="{{ gfx }}/resources/{{ item.dbFieldName }}_icon.gif" alt="{{ item.name }}" title="{{ item.name }}" /><br />{{ item.value }}</li>
              {% endfor %}
            </ul>
            <div style="clear: both;"></div>
          </td>
        </tr>
        {% endif %}
        {% if units %}
        <tr>
          <td>
            <ul class="clean">
              {% for item in units %}
              <li style="float: left; padding: 0 5px; text-align: center; font-size: x-small;"><img src="{{ gfx }}/units/{{ item.dbFieldName }}_small.gif" width="40px" height="50px" alt="{{ item.name }}" title="{{ item.name }}" /><br/>{{ item.value }}</li>
              {% endfor %}
            </ul>
            <div style="clear: both;"></div>
          </td>
        </tr>
        {% endif %}
        {% if buildings %}
        <tr>
          <td>
            <ul class="clean">
              {% for item in buildings %}
              <li style="float: left; padding: 0 5px; text-align: center; font-size: x-small;"><img src="{{ gfx }}/buildings/{{ item.dbFieldName }}_small.gif" width="40px" height="50px" alt="{{ item.name }}" title="{{ item.name }}" /><br />{{ item.value }}</li>
              {% endfor %}
            </ul>
            <div style="clear: both;"></div>
          </td>
        </tr>
        {% endif %}
        {% if defenses %}
        <tr>
          <td>
            <ul class="clean">
              {% for item in defenses %}
              <li style="float: left; padding: 0 5px; text-align: center; font-size: x-small;"><img src="{{ gfx }}/externals/{{ item.dbFieldName }}_small.gif" width="40px" height="50px" alt="{{ item.name }}" title="{{ item.name }}" /><br />{{ item.value }}</li>
              {% endfor %}
            </ul>
            <div style="clear: both;"></div>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% if give_up %}
<p>
  <form id="formCaveGiveUp" class="form-inline" action="main.php?modus={{ cave_detail_link }}&amp;action=caveGiveUp" method="post" data-reask="true"  data-reask-header="Höhle aufgeben" data-reask-msg="Möchtest du diese Höhle wirklich aufgeben? Dies kann nicht mehr rückgängig gemacht werden!">
    <input type="hidden" name="giveUpCaveID" value="{{ cave_data.caveID }}" />
    <button class="btn" type="button" id="formCaveGiveUpSubmit" name="formCaveGiveUpSubmit">Höhle {{ cave_data.name }} aufgeben</button>
  </form>
</p>
{% endif %}
{% if unprotected %}
<p>
  <form id="formCaveProtection" class="form-inline" action="main.php?modus={{ cave_detail_link }}&amp;action=endProtection" method="post" data-reask="true"  data-reask-header="Anfängerschutz beenden" data-reask-msg="Möchtest du den Anfängerschutz wirklich beenden? Dies kann nicht mehr rückgängig gemacht werden!">
    <input type="hidden" name="giveUpCaveID" value="{{ cave_data.caveID }}" />
    <button class="btn" type="button" id="formCaveProtectionSubmit" name="formCaveProtectionSubmit">Anfängerschutz beenden</button>
  </form>
</p>
{% endif %}

{% endblock %}