{#
/* caves.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 David Unger, Sascha Lange <salange@uos.de>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Höhlen-Übersicht{% endblock %}
{% block content %}

<div id="export_button"><a class="export-link" href="export.php?modus=allCaves&amp;format=xml"><img src="{{ gfx }}/de_DE/t_uga/icon_export_xml.png" class="noborder" width="30" height="30" alt="Export als XML" title="Export als XML" /></a></div>
<div id="export-dialog"></div>

<div class="box" style="float: left;">
  <div class="box-header">Rohstoffe</div>
  <div class="box-content success inner">
    <table cellpadding="3" cellspacing="0" rules="all">
      <tr>
        <th>&nbsp;</th>
        {% for item in caves %}
          <th class="text-center"><a href="main.php?modus={{ cave_detail_link }}&amp;caveID={{ item.cave_id }}"><img src="images/stringup.png.php?cave_id={{ item.cave_id }}" alt="{{ item.cave_name }}" title="{{ item.cave_name }}" /></a></th>
        {% endfor %}
        <th class="text-center">&sum;</th>
      </tr>
      {% for item in resource %}
        <tr>
          <td><img src="{{ gfx }}/resources/{{ item.dbFieldName }}_icon.gif" width="20" height="20" alt="{{ item.name }}" title="{{ item.name }} (max. {{ item.sum_max }})" /></td>
          {% for cave_data in item.cave %}
            <td>
              <div class="text-left" style="float: left;">{{ cave_data.amount }}&nbsp;</div>
              <div class="text-right" style="float: right;">({{ cave_data.delta }})</div>
              <div style="clear: both;"></div>
            </td>
          {% endfor %}
            <td>
              <div class="text-left" style="float: left;">{{ item.sum }}</div>
              <div class="text-right" style="float: right;">({{ item.sum_delta }})</div>
              <div style="clear: both;"></div>
            </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div style="clear: both;"></div>

<div class="box" style="float: left;">
  <div class="box-header">Einheiten</div>
  <div class="box-content success inner">
    <table cellpadding="3" cellspacing="0" rules="all">
      <tr>
        <th>&nbsp;</th>
        {% for item in caves %}<th class="text-center"><a href="main.php?modus={{ cave_detail_link }}&amp;caveID={{ item.cave_id }}"><img src="images/stringup.png.php?cave_id={{ item.cave_id }}" alt="{{ item.cave_name }}" title="{{ item.cave_name }}" /></a></th>{% endfor %}
        <th class="text-center">&sum;</th>
      </tr>
      {% for item in unit %}
        <tr>
          <td><img src="{{ gfx }}/units/{{ item.dbFieldName }}_small.gif" width="40px" height="50px" alt="{{ item.name }}" title="{{ item.name }}" /></td>
          {% for cave_data in item.cave %}<td>{{ cave_data.amount }}</td>{% endfor %}
          <td>{{ item.sum }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div style="clear: both;"></div>

<div class="box" style="float: left;">
  <div class="box-header">Erweiterungen</div>
  <div class="box-content success inner">
    <table cellpadding="3" cellspacing="0" rules="all">
      <tr>
        <th>&nbsp;</th>
        {% for item in caves %}<th class="text-center"><a href="main.php?modus){{ cave_detail_link }}&amp;caveID={{ item.cave_id }}"><img src="images/stringup.png.php?cave_id={{ item.cave_id }}" alt="{{ item.cave_name }}" title="{{ item.cave_name }}" /></a></th>{% endfor %}
        <th class="text-center">&sum;</th>
      </tr>
      {% for item in building %}
        <tr>
          <td><img src="{{ gfx }}/buildings/{{ item.dbFieldName }}_small.gif" width="40px" height="50px" alt="{{ item.name }}" title="{{ item.name }}" /></td>
          {% for cave_data in item.cave %}<td>{{ cave_data.amount }}</td>{% endfor %}
          <td>{{ item.sum }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div style="clear: both;"></div>

<div class="box" style="float: left;">
  <div class="box-header">Verteidigung</div>
  <div class="box-content success inner">
    <table cellpadding="3" cellspacing="0" rules="all">
      <tr>
        <th>&nbsp;</th>
        {% for item in caves %}<th class="text-center"><a href="main.php?modus={{ cave_detail_link }}&amp;caveID={{ item.cave_id }}"><img src="images/stringup.png.php?cave_id={{ item.cave_id }}" alt="{{ item.cave_name }}" title="{{ item.cave_name }}" /></a></th>{% endfor %}
        <th class="text-center">&sum;</th>
      </tr>
      {% for item in defenses %}
        <tr>
          <td><img src="{{ gfx }}/externals/{{ item.dbFieldName }}_small.gif" width="40px" height="50px" alt="{{ item.name }}" title="{{ item.name }}" /></td>
          {% for cave_data in item.cave %}<td>{{ cave_data.amount }}</td>{% endfor %}
          <td>{{ item.sum }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div style="clear: both;"></div>

{% endblock %}