{#
/* caveBookmarks.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Höhlen Adressbuch{% endblock %}
{% block content %}

{% if status_msg %}<div class="{{ status_msg.type }}">{{ status_msg.message|raw }}</div>{% endif %}

<div class="ua-box small">
  <div class="ua-box-header">Höhlenliste</div>
  <div class="ua-box-content">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Koords</th>
          <th>Region</th>
          <th>Besitzer</th>
          <th>Stamm</th>
          {% if cave_bookmarks %}<th style="width: 150px;">&nbsp;</th>{% endif %}
        </tr>
      </thead>
      <tbody>
        {% if cave_bookmarks %}
          {% for item in cave_bookmarks %}
          {% set bgID = (bgID+1)%2 %}
            <tr class="bg{{ bgID }}">
              <td><a href="?modus=map_detail&amp;targetCaveID={{ item.caveID }}">{{ item.name }}</a></td>
              <td>({{ item.xCoord }}|{{ item.yCoord }})</td>
              <td>{{ item.region }}</td>
              <td><a href="?modus=player_detail&amp;detailID={{ item.playerID }}">{{ item.playerName }}</a></td>
              <td><a href="?modus=tribe_detail&amp;tribe={{ item.tribe }}">{{ item.tribe }}</a></td>
            <td style="width: 190px;">
              <div style="float: left;">
                <form class="ym-form" method="post" action="main.php?modus={{ unit_movement_link }}">
                <div class="ym-fbox-button" style="padding: 0; margin: 0; background: transparent;">
                  <input type="hidden" name="targetXCoord" value="{{ item.xCoord }}" />
                  <input type="hidden" name="targetYCoord" value="{{ item.yCoord }}" />
                  <input type="hidden" name="targetCaveName" value="{{ item.name }}" />
                  <input type="submit" class="ym-button" style="margin: 0;" value="Bewegen" />
                </div>
                </form>
              </div>
              <div style="float: right;">
                <form class="ym-form" method="post" action="main.php?modus={{ cave_bookmarks_link }}">
                <div class="ym-fbox-button" style="padding: 0; margin: 0; background: transparent;">
                  <input type="hidden" name="modus" value="CaveBookmarks" />
                  <input type="hidden" name="task" value="Delete" />
                  <input type="hidden" name="bookmarkID" value="{{ item.bookmarkID }}" />
                  <input type="submit" class="ym-button" style="margin: 0;" value="löschen" />
                </div>
                </form>
              </div>
              <div style="clear: both;"></div>
            </td>
          </tr>
          {% endfor %}
        {% else %}
          <tr><td class="text-center" colspan="6">Bisher keine Höhlen eingetragen.</td></tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

<div class="ua-box small">
  <div class="ua-box-header">Höhle hinzufügen</div>
  <div class="ua-box-content">
    <form class="ym-form ym-columnar" id="newcavebookmarkbyname" method="post" action="main.php?modus={{ cave_bookmarks_link }}">
      <div class="ym-gbox ym-fbox-text">
        <label for="name" style="width: 50px;">Name:</label>
        <input style="width: 150px; type="text" name="name" id="name" size="40" maxlength="255" tabindex="1" />
      </div>

      <div class="ym-gbox ym-fbox-text">
        <label for="xCoord" style="width: 50px;">x:</label>
        <input style="width: 50px; type="text" name="xCoord" id="xCoord" size="4" maxlength="4" tabindex="2" />
      </div>
      <div class="ym-gbox ym-fbox-text">
        <label for="yCoord" style="width: 50px;">y:</label>
        <input style="width: 50px; type="text" name="yCoord" id="yCoord" size="4" maxlength="4" tabindex="3" />
      </div>

      <div class="ym-fbox-button">
        <input type="hidden" name="task" value="Add" /></p>
        <input type="submit" class="ym-button" value="Hinzufügen" id="add" name="add" tabindex="4" />
      </div>
   </form>
  </div>
</div>
{% endblock %}