{#
/* contactBookmarks.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2013 David Unger <unger-dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Spieler Adressbuch{% endblock %}
{% block content %}

{% if status_msg %}<div class="alert alert-block alert-{{ status_msg.type }}"><p>{{ status_msg.message|raw }}</p></div><hr>{% endif %}

<div class="ua-box">
  <div class="ua-box-header">Adressbuch</div>
  <div class="ua-box-content">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Stamm</th>
          {% if contacts %}<th style="width: 225px;">&nbsp;</th>{% endif %}
        </tr>
      </thead>
      <tbody>
        {% if contacts %}
          {% for item in contacts %}
          <tr>
            <td><a href="main.php?modus={{ player_detail_link }}&amp;detailID={{ item.contactplayerID }}">{{ item.contactname }}</a></td>
            <td>{{ item.contacttribe }}</td>
            <td style="width: 225px;">
              <div class="pull-left">
                <form id="contactsBookmarksMessage" class="form-inline" action="main.php?modus={{ messages_new_link }}" method="post">
                  <input type="hidden" name="recipient" value="{{ item.contactname }}">
                  <button class="btn" type="button" id="contactsBookmarksMessageSubmit" name="contactsBookmarksMessageSubmit">Nachricht senden</button>
                </form>
              </div>
              <div class="pull-right">
                <form id="contactsBookmarksDelete" class="form-inline" action="main.php?modus={{ contact_bookmarks_link }}" method="post">
                  <input type="hidden" name="task" value="Delete"><input type="hidden" name="contactID" value="{{ item.contactID }}">
                  <button class="btn" type="button" id="contactsBookmarksDeleteSubmit" name="contactsBookmarksDeleteSubmit">Löschen</button>
                </form>
              </div>
            </td>
          </tr>
          {% endfor %}
        {% else %}
          <tr><td class="text-center" colspan="6">Bisher keine Spieler eingetragen.</td></tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

<div class="ua-box small">
  <div class="ua-box-header">Kontakt hinzufügen</div>
  <div class="ua-box-content">
    <div class="text-center space">
      <form id="contactsBookmarksAdd" class="form-inline" action="main.php?modus={{ contact_bookmarks_link }}" method="post">
        <div class="input-append">
          <input class="autocomplete input-small" type="text" name="contact" id="contact" placeholder="Spielername" maxlength="32" data-source="player">
          <input type="hidden" name="task" value="Add"><button class="btn" type="button" id="contactsBookmarksAddSubmit" name="contactsBookmarksAddSubmit">Hinzufügen</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}