{% extends "base.tmpl" %}
{% block title %}Spieler Adressbuch{% endblock %}
{% block content %}

{% if status_msg %}<div class="{{ status_msg.type }}">{{ status_msg.message }}</div>{% endif %}

<div class="small box">
  <div class="box-header">Adressbuch</div>
  <div class="box-content success inner">
    <table class="table text-left" cellpadding="3" cellspacing="0" rules="rows">
      <tr class="bg2 nohover">
        <th class="bg2 nohover">Name</th>
        <th class="bg2 nohover">Stamm</th>
        <th class="bg2 nohover" style="width: 150px;">&nbsp;</th>
      </tr>
      {% if contacts %}
        {% for item in contacts %}
        {% set bgID = (bgID+1)%2 %}
        <tr class="bg{{ bgID }}">
          <td><a href="main.php?modus={{ player_detail_link }}&amp;detailID={{ item.contactplayerID }}">{{ item.contactname }}</a></td>
          <td>{{ item.contacttribe }}</td>
          <td style="width: 200px;">
            <div style="float: right;"><form method="post" action="main.php?modus={{ messages_new_link }}">
              <p><input type="hidden" name="empfaenger" value="{{ item.contactname }}" />
              <input type="submit" value="Nachricht senden" /></p>
            </form></div>

            <div style="float: right;"><form method="post" action="main.php?modus={{ contact_bookmarks_link }}">
              <p><input type="hidden" name="task" value="Delete" />
              <input type="hidden" name="contactID" value="{{ item.contactID }}" />
              <input type="submit" value="löschen" /></p>
            </form></div>
            <div style="clear: both;"></div>
          </td>
        </tr>
        {% endfor %}
      {% else %}
        <tr><td colspan="3">Bisher keine Kontakte eingetragen.</td></tr>
      {% endif %}
    </table>
  </div>
</div>

<br />

<div class="small success nohover">
  <form id="newcontactbookmarkbyname" method="post" action="main.php?modus={{ contact_bookmarks_link }}">
    <p>Name: <input name="contact" type="text" size="35" maxlength="90" />
    <input type="submit" name="add" value="Hinzufügen" />
    <input type="hidden" name="task" value="Add" /></p>
  </form>
</div>

{% endblock %}