{#
/* defenseDetail.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Verteidigungsanlage Details{% endblock %}
{% block content %}

<div class="ua-box">
  <div class="ua-box-header">{{ name }}</div>
  <div class="ua-box-content">
    <div style="padding: 10px;">
      <img class="float-left" src="{{ gfx }}/externals/{{ dbFieldName }}_large.gif" alt="{{ name }}" title="{{ name }}" width="250px" />
      {{ description|raw }}
      <p style="padding-top: 10px;"><span class="bold">Maximale Stufe:</span> {{ maxlevel }}</p>
      <p><span class="bold">Berechnung:</span> ({{ maxReadable }})</p>
    </div>

    <div style="padding-top: 10px;" class="ym-grid">
      <div class="ym-g684-4 ym-gl">
        <div class="ym-gbox">
          {% if dependencies %}
            <span class="bold">Abhängigkeiten:</span>
            {% for groups in dependencies %}
              <dl>
                <span class="bold">{{ groups.name }}:</span>
                <dt>
                  {% for dependency in groups.dep %}
                    <dd style="padding-left: 10px">{{ dependency.name }} {{ dependency.level|raw }}</dd>
                  {% endfor %}
                </dt>
              </dl>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="ym-g684-4 ym-gl">
        <div class="ym-gbox">
          <table class="borderable">
            <thead>
              <tr><th colspan="2">Eigenschaften:</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Fernangriffsschaden</td>
                <td>{{ rangeAttack }}</td>
              </tr>
              <tr>
                <td>Getümmelschaden</td>
                <td>{{ attackRate }}</td>
              </tr>
              <tr>
                <td>Widerstandspunkte</td>
                <td>{{ defenseRate }}</td>
              </tr>
              <tr>
                <td>Größe</td>
                <td>{{ size }}</td>
              </tr>
              <tr>
                <td>Knüppelpunkte</td>
                <td>{{ warPoints }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="ym-g684-4 ym-gl">
        <div class="ym-gbox">
          <table>
            <thead>
              <tr><th colspan="2">Spionage - Eigenschaften:</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Spionageabwehr</td>
                <td>{{ antiSpyChance }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div style="padding-top: 10px;" class="ym-grid">
      <div class="ym-g684-8 ym-gl">
        <div class="ym-gbox">
          {% if cost_time_lvl %}
            <table>
              <thead>
                <tr><th colspan="3">Baukosten und -zeiten bei {{ cost_time_lvl.population }} Einwohnern:</th></tr>
              </thead>
              <tbody>
                {% for level in cost_time_lvl.item %}
                <tr>
                  <td>Stufe {{ level.level }}:</td>
                  <td>
                    {% for resource in level.resource_cost %}
                      <img src="{{ gfx }}/resources/{{ resource.dbFieldName }}_icon.gif" style="width:15px; height:15px; border:none;" alt="{{ resource.name }}" title="{{ resource.name }}" />			
                      {{ resource.value }} &nbsp;
                    {% endfor %}
                    {% for unit in level.unit_cost %}
                      <br />
                      {{ unit.name }}: {{ unit.value }}
                    {% endfor %}
                    {% for building in level.building_cost %}
                      <br />
                      {{ building.name }}: {{ building.value }}
                    {% endfor %}
                    {% for defense in level.defense_cost %}
                      <br />
                      {{ defense.name }}: {{ defense.value }}
                    {% endfor %}
                  </td>
                  <td><img src="{{ gfx }}/de_DE/t_uga/clock.gif" width="15" height="15" border="0" alt="Dauer:" />{{ level.time }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
           {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="success"><a href="{{ rules_path }}?modus=misc&amp;miscID=5" class="new-window">weitere Informationen zu allen Erweiterungen</a></div>

{% endblock %}