{#
/* defenseDetail.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 David Unger, Sascha Lange <salange@uos.de>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Verteidigungsanlage{% endblock %}
{% block content %}

<div class="box"> 
  <div class="box-header"><strong>{{ name }}</strong></div>
  <div class="box-content success inner nohover">
  <table class="table nohover" >
   <tr>
    <td rowspan="4" ><img src="{{ gfx }}/externals/{{ dbFieldName }}_large.gif" alt="{name}" title="{name}" style="width:250px; border:none;"/></td>
    <td style="width: 550px" >{{ description|raw }}</td>
   </tr>
   <tr><td>&nbsp;</td></tr>
   <tr><td><strong>Maximale Stufe:</strong> {{ maxlevel }} (derzeit: {{ currentlevel}})</td></tr>
   <tr><td>&nbsp;</td></tr>
  <tr>
    <td colspan="2">
	  {% if LEVELS %}
      <strong>Kosten pro Stufe bei {{ LEVELS['population'] }} Leuten:</strong>
      <table>
	    <tr><td>&nbsp;</td></tr>
        <tr>
         <td><i>Stufe</i></td>
		 <td style="text-align:left; padding-left: 14px;"><i>Kosten</i></td>
        </tr>		 
        {% for level in LEVELS['LEVEL'] %}
        <tr>
          <td style="text-align: right;">{{ level.level }}</td>
          <td style="padding-left: 14px;">		  
        	{% for resource in level.RESOURCECOST %}
            <img src="{{ gfx }}/resources/{{ resource.dbFieldName }}_icon.gif" style="width:15px; height:15px; border:none;" alt="{{ resource.name }}" title="{{ resource.name }}" />			
            {{ resource.value }} &nbsp;
            {% endfor %}
        	{% for unit in level.UNITCOST %}
              <br />
              {{ unit.name }}: {{ unit.value }}
            {% endfor %}
        	{% for building in level.BUILDINGCOST %}
              <br />
              {{ building.name }}: {{ building.value }}
            {% endfor %}
			</td>
        	{% for defense in level.DEFENSECOST %}
              <br />
              {{ defense.name }}: {{ defense.value }}
            {% endfor %}
		  </td>
            <td><img src="{{ gfx }}/de_DE/t_uga/clock.gif" width="15" height="15" border="0" alt="Dauer:" />{{ level.time }}</td>
          
        </tr>
        {% endfor %}
       </table>
     {% endif %}
    </td>
   </tr>
   <tr><td>&nbsp;</td></tr>
   {% if DEPGROUP %}
   <tr>
    <td colspan="2">
     <strong>Abh&auml;ngigkeiten: </strong>
      <table>
	          
	  		{% for depGroup in DEPGROUP %}
                <tr><td>&nbsp;</td></tr>			  
                <tr>
                  <td colspan="2">Diese Verteidigungsanlage h&auml;ngt von folgenden {{ depGroup.name}} ab:</td>
                </tr>
                <tr>
                 <td><i>Name</i></td>
		         <td class="text-right"><i>Stufe</i></td>
                </tr>                
                {% for dependency in depGroup.DEP %}
                  <tr>				                    
                    <td>{{ dependency.name }}</td>					
                    <td class="text-right">{{ dependency.level|raw }}</td>
                  </tr>
                {% endfor %}				
	  		{% endfor %}
      </table>
    </td>
   </tr>
   {% endif %}
</table>
</div>
</div>
<br />
<div class="success"><a href="{rules_path}?modus=misc&amp;miscID=5" onclick="window.open(this.href); return false;">weitere Informationen zu allen Erweiterungen</a></div>


{% endblock %}