{#
/* defenseBuilder.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger <unger-dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}

{% extends "base.tmpl" %}
{% block title %}Verteidigungsanlagen{% endblock %}
{% block content %}

{% if status_msg %}<div id="status-msg"><div class="alert alert-block alert-{{ status_msg.type }}"><p>{{ status_msg.message|raw }}</p></div><hr></div>{% endif %}

{% if quene_show %}
  <div class="alert alert-block alert-success fade in text-left">
    <h4>Momentan im Gange:</h4>
    <p>Ausbau {{ quene_name }} auf Stufe {{ quene_nextlevel }} (fertig: {{ quene_finish }})</p>
    <p><a class="btn" href="main.php?modus={{ defense_link }}&amp;action=cancelOrder&amp;id={{ quene_event_id }}&amp;caveID={{ cave_id }}" data-post="true" data-reask="true" data-reask-header="Ausbau abbrechen!" data-reask-msg="Möchtest du den Ausbau von {{ quene_name }} auf Stufe {{ quene_nextlevel }} wirklich stoppen?">Abbrechen</a></p>
  </div>
{% endif %}

{% if quene_show or status_msg %}<hr>{% endif %}

<div class="ua-box">
  <div class="ua-box-header">Verteidigungsanlagen</div>
  <div class="ua-box-content">
    <div id="defenseBuilder">
      {% if defense_system %}
        <ul class="nav nav-tabs" id="mainTab">
          {% for category in defense_system %}
            <li{% if loop.first %} class="active"{% endif %}><a class="tab-switch" href="#buildable_{{ category.id }}" data-toggle="tab">{{ category.name }}</a></li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          {% for category in defense_system %}
            <div class="tab-pane{% if loop.first %} active{% endif %}" id="buildable_{{ category.id }}">
              {% if category.items %}
                <table class="table table-condensed">
                  <tbody>
                    {% for item in category.items %}
                    {% set bgID = (bgID+1)%2 %}
                      <tr class="bg{{ bgID }} object-row">
                        <td class="switch"><a class="object-detail-link" data-id="buildable_{{ item.defense_id }}" href="main.php?modus={{ defense_detail_link }}&amp;defenseID={{ item.defense_id }}&amp;caveID={{ item.cave_id }}"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png"  class="noborder" width="16" height="16" alt="Plus" title="Plus" /></a></td>
                        <td class="mini-img"><img src="{{ gfx }}/externals/{{ item.dbFieldName }}_small.gif" alt="" title="{{ item.name }}" /></td>
                        <td>
                          <dl>
                            <dt><a class="object-detail-link" data-id="buildable_{{ item.defense_id }}" href="main.php?modus={{ defense_detail_link }}&amp;defenseID={{ item.defense_id }}&amp;caveID={{ item.cave_id }}"><span class="bold">{{ item.name }}</span></a></dt>
                            <dd>{% include "boxCost.tmpl" %}</dd>
                          </dl>
                        </td>
                        <td class="build-single">
                          {% if item.build_link %}
                            <a href="main.php?modus={{ defense_link }}&amp;action=build&amp;defenseID={{ item.defense_id }}&amp;caveID={{ item.cave_id }}" data-post="true"><img src="{{ gfx }}/de_DE/t_uga/arrow_up.png" width="25" alt="Ausbauen" title="Ausbauen" /></a>
                          {% else %}
                            <img src="{{ gfx }}/de_DE/t_uga/arrow_up_false.png" width="25" alt="{{ item.no_build_msg }}" title="{{ item.no_build_msg }}" />
                          {% endif %}
                        </td>
                        <td class="time-lvl">
                          <ul class="clean">
                            <li><img src="{{ gfx }}/de_DE/t_uga/clock.gif"  width="15" height="15" alt="Dauer:" />{{ item.time }}</li>
                            <li>Stufe: ({{ item.currentlevel }}/{{ item.maxlevel }})</li>
                          </ul>
                        </td>
                        {% if item.breakdown_link %}
                        <td class="build-single">
                          <a class="action" href="main.php?modus={{ defense_link }}&amp;action=demolishing&amp;id={{ item.defense_id }}&amp;caveID={{ item.cave_id }}" data-reask="true" data-reask-header="Verteidigungsanlage abreißen!" data-reask-msg="Möchtest du <strong>{{ item.name }}</strong> wirklich abreißen?"><img src="{{ gfx }}/de_DE/t_uga/arrow_down.png" width="25" alt="Abreißen" title="Abreißen" /></a>
                        </td>
                        {% endif %}
                      </tr>
                      <tr class="bg{{ bgID }} hide"><td colspan="{% if item.breakdown_link %}6{% else %}5{% endif %}" id="buildable_{{ item.defense_id }}_details"></td></tr>
                    {% endfor %}
                    {% set bgID = 0 %}
                  </tbody>
                </table>
              {% else %}
                <div class="space text-center">Zur Zeit kannst du leider von dieser Kategorie noch keine Verteidigungsanlagen bauen.</div>
              {% endif %}
              {% set bgID = 0 %}
            </div>
          {% endfor %}
        </div>
      {% else %}
         <div class="space text-center">Zur Zeit kannst du leider noch keine Verteidigungsanlagen bauen.</div>
      {% endif %}
    </div>
  </div>
</div>

<hr><a href="{{ rules_path }}?modus=misc&amp;miscID=2" class="new-window">Übersicht zu allen Verteidigungsanlagen</a><hr>

{% if defense_system_unqualified %}
<div class="ua-box">
  <div class="ua-box-header">Verteidigungsanlagen, die noch nicht gebaut werden können.</div>
  <div id="defense_system_unqualified_content" class="ua-box-content">
    <div id="defenseBuilderUnqualified">
      <ul class="nav nav-tabs" id="defenseBuilderUnqualifiedTab">
        <li class="active"><a class="tab-switch" href="#unqualified" data-toggle="tab"><i class="icon-remove"></i></a></li>
        {% for category in defense_system_unqualified %}
          <li><a class="tab-switch" href="#unqualified_{{ category.id }}" data-toggle="tab">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="unqualified"></div>
        {% for category in defense_system_unqualified %}
          <div class="tab-pane" id="unqualified_{{ category.id }}">
            {% if category.items %}
              <table class="table table-striped table-condensed">
                <tbody>
                  {% for item in category.items %}
                  {% set bgID = (bgID+1)%2 %}
                    <tr class="bg{{ bgID }} object-row">
                      <td class="switch"><a class="object-detail-link" data-id="unqualified_{{ item.defense_id }}" href="main.php?modus={{ defense_detail_link }}&amp;defenseID={{ item.defense_id }}&amp;caveID={{ item.cave_id }}"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png"  class="noborder" width="16" height="16" alt="Plus" title="Plus" /></a></td>
                      <td class="mini-img"><img src="{{ gfx }}/externals/{{ item.dbFieldName }}_small.gif" alt="" title="{{ item.name }}" /></td>
                      <td>
                        <dl>
                          <dt><a class="object-detail-link" data-id="unqualified_{{ item.defense_id }}" href="main.php?modus={{ defense_detail_link }}&amp;defenseID={{ item.defense_id }}&amp;caveID={{ item.cave_id }}"><span class="bold">{{ item.name }}</span></a></dt>
                          <dd>{{ item.dependencies }}</dd>
                        </dl>
                      </td>
                    </tr>
                    <tr class="bg{{ bgID }} hide"><td colspan="3" id="unqualified_{{ item.defense_id }}_details"></td></tr>
                  {% endfor %}
                  {% set bgID = 0 %}
                </tbody>
              </table>
            {% else %}
              <div class="space text-center">Aus dieser Kategorie kannst du bereits alle Verteidigungsanlagen bauen.</div>
            {% endif %}
          </div>
        {% else %}
          <div class="space text-center">Du kannst bereits alle Verteidigungsanlagen bauen.</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if defense_system_relict %}
<div class="ua-box">
  <div class="ua-box-header">Relikte</div>
  <div id="defense_system_relict_content" class="ua-box-content">
    <div id="defenseBuilderRelict">
      <ul class="nav nav-tabs" id="defenseBuilderRelictTab">
      {% for category in defense_system_relict %}
        <li{% if loop.first %} class="active"{% endif %}><a class="tab-switch" href="#relict_{{ category.id }}" data-toggle="tab">{{ category.name }}</a></li>
      {% endfor %}
      </ul>
      <div class="tab-content">
        {% for category in defense_system_relict %}
          <div class="tab-pane{% if loop.first %} active{% endif %}" id="relict_{{ category.id }}">
            {% if category.items %}
              <table class="table table-condensed">
                <tbody>
                  {% for item in category.items %}
                  {% set bgID = (bgID+1)%2 %}
                    <tr class="bg{{ bgID }}">
                      <td class="switch"><a class="object-detail-link" data-id="relict_{{ item.defense_id }}" href="main.php?modus={{ defense_detail_link }}&amp;defenseID={{ item.defense_id }}&amp;caveID={{ item.cave_id }}"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png"  class="noborder" width="16" height="16" alt="Plus" title="Plus" /></a></td>
                      <td class="mini-img"><img src="{{ gfx }}/externals/{{ item.dbFieldName }}_small.gif" alt="" title="{{ item.name }}" /></td>
                      <td>
                        <dl>
                          <dt><a class="object-detail-link" data-id="relict_{{ item.defense_id }}" href="main.php?modus={{ defense_detail_link }}&amp;defenseID={{ item.defense_id }}&amp;caveID={{ item.cave_id }}"><span class="bold">{{ item.name }}</span></a></dt>
                          <dd>{{ item.dependencies }}</dd>
                        </dl>
                      </td>
                      <td class="time-lvl text-right">Stufe: {{ item.currentlevel }}</td>
                      <td class="build-single"><a class="action" href="main.php?modus={{ defense_link }}&amp;action=demolishing&amp;id={{ item.defense_id }}&amp;caveID={{ item.cave_id }}" data-reask="true" data-reask-header="Verteidigungsanlage abreißen!" data-reask-msg="Möchtest du <strong>{{ item.name }}</strong> wirklich abreißen?"><img src="{{ gfx }}/de_DE/t_uga/arrow_down.png" width="25" alt="Abreißen" title="Abreißen" /></a></td>
                    </tr>
                    <tr class="bg{{ bgID }} hide"><td colspan="5" id="relict_{{ item.defense_id }}_details"></td></tr>
                  {% endfor %}
                  {% set bgID = 0 %}
                </tbody>
              </table>
            {% else %}
              <div class="space text-center">In dieser Kategorie hast du keine Relikte.</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}