{% extends "base.tmpl" %}
{% block title %}Verteidigungsanlagen{% endblock %}
{% block content %}

{% if quene_show %}
  <div class="notice">
    <ul>
      <li> Momentan im Gange: Ausbau {{ quene_name }} auf Stufe {{ quene_nextlevel }} (fertig: {{ quene_finish }})</li>
      <li><a href="main.php?modus={{ defense_link }}&amp;action=cancelOrder&amp;id={{ quene_event_id }}&amp;caveID={{ cave_id }}">Abbrechen</a></li>
    </ul>
  </div>
{% endif %}

{% if cancelOrder_box %}{% include "boxConfirmation.tmpl" %}{% endif %}

{% if status_msg %}<div class="{{ status_msg.type }}">{{ status_msg.message }}</div>{% endif %}

<div class="box">
  <div class="box-header">Verteidigungsanlagen</div>
  <div class="box-content success inner">
    <table class="table" cellpadding="3" cellspacing="0" rules="rows">
      {% if defense_system %}
        {% for item in defense_system %}
          {% set bgID = (bgID+1)%2 %}
          <tr class="bg{{ bgID }}">
            <td class="td-mini-icon"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png"  class="noborder" width="16" height="16" alt="Plus" title="Plus" onclick="moreinfo('defense_{{ item.defense_id }}', this)" /></td>
            <td class="td-mini-icon"><img src="{{ gfx }}/externals/{{ item.dbFieldName }}_small.gif" class="noborder" width="20px" height="30px" alt="" title="{{ item.name }}" /></td>
            <td>
              <dl class="nodistance">
                <dt><a href="main.php?modus={{ defense_detail_link }}&amp;defenseID={{ item.defense_id }}&amp;caveID={{ cave_id }}"><span class="bold">{{ item.name }}</span></a></dt>
                <dd class="td_def_dd_2">{% include "boxCost.tmpl" %}</dd>
              </dl>
            </td>
            <td class="td-time"><img src="{{ gfx }}/de_DE/t_uga/clock.gif" class="noborder" width="15" height="15" alt="Dauer:" />{{ item.time }}</td>
            <td class="td-size">Stufe: {{ item.currentlevel }}</td>
            <td class="td-button-double text-right">
              {% if item.build_link %}
                <a href="main.php?modus={{ defense_link }}&amp;action=build&amp;defenseID={{ item.defense_id }}&amp;caveID={{ cave_id }}"><img src="{{ gfx }}/de_DE/t_uga/arrow_up.png" class="noborder" width="20" height="20" alt="Ausbauen" title="Ausbauen" /></a>
              {% else %}
                <img src="{{ gfx }}/de_DE/t_uga/arrow_up_false.png" class="noborder" width="20" height="20" alt="{{ item.no_build_msg }}" title="{{ item.no_build_msg }}" />
              {% endif %}
              {% if item.breakdown_link %}
                <a href="main.php?modus={{ defense_link }}&amp;action=demolishing&amp;id={{ item.defense_id }}&amp;caveID={{ cave_id }}"><img src="{{ gfx }}/de_DE/t_uga/arrow_down.png" class="noborder" width="20" height="20" alt="Abreißen" title="Abreißen" /></a>
              {% endif %}
            </td>
          </tr>
          <tr class="bg{{ bgID }}" id="defense_{{ item.defense_id }}" style="display:none"><td>&nbsp;</td>
            <td colspan="6">
              <div style="float: left; width: 39%; max-width: 256px;">
                <img src="{{ gfx }}/externals/{{ item.dbFieldName }}_large.gif" alt="{{ item.name }}" title="{{ item.name }}" width="250" height="250" />
              </div>
              <div style="float: left; width: 61%;">
                <span class="bold">Beschreibung:</span><br />{{ item.description|raw }}
                <br /><br />
                <img src="{{ gfx }}/de_DE/t_uga/clock.gif" class="noborder" width="15" height="15" alt="Dauer:" />{{ item.duration_formula }}
                <br /><br />
                <span class="bold">Maximale Stufe:</span> {{ item.maxlevel }} (derzeit: {{ item.currentlevel }})
                <br /><br />
                <table border="0">
                  <tr><th colspan="2" class="text-left"><span class="bold">Eigenschaften:</span></th></tr>
                  <tr><td>Fernangriffschaden:</td><td>{{ item.rangeAttack }}</td></tr>
                  <tr><td>Getümmelschaden:</td><td>{{ item.attackRate }}</td></tr>
                  <tr><td>Widerstandspunkte:</td><td>{{ item.defenseRate }}</td></tr>
                  <tr><td>Größe:</td><td>{{ item.size }}</td></tr>
                  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                  <tr><td colspan="2" class="text-left"><span class="bold">Spionagefertigkeiten:</span></td></tr>
                  <tr><td>Gegenspionagefertigkeit:</td><td>{{ item.antiSpyChance }}</td></tr>
                </table>
              </div>
              <div style="clear: both;"></div>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr class="bg1"><td>Zur Zeit kannst du leider keine Verteidigungsanlagen bauen.</td></tr>
      {% endif %}
      {% set bgID = 0 %}
    </table>
  </div>
</div>


<div class="success"><a href="{{ rules_path }}?modus=misc&amp;miscID=2" onclick="window.open(this.href); return false;">Übersicht zu allen Verteidigungsanlagen</a></div>


{% if defense_system_unqualified %}
<div class="box">
  <div class="box-header">Verteidigungsanlagen, die noch nicht gebaut werden können</div>
  <div class="box-content success inner">
    <table class="table" cellpadding="3" cellspacing="0" rules="rows">
      {% for item in defense_system_unqualified %}
        {% set bgID = (bgID+1)%2 %}
        <tr class="bg{{ bgID }}">
          <td class="td-mini-icon"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png"  class="noborder" width="16" height="16" alt="Plus" title="Plus" onclick="moreinfo('defense_{{ item.defense_id }}', this)" /></td>
          <td class="td-mini-icon"><img src="{{ gfx }}/externals/{{ item.dbFieldName }}_small.gif" class="noborder" width="20px" height="30px" alt="" title="{{ name }}" /></td>
          <td class="">
            <dl class="nodistance">
              <dt><a href="main.php?modus={{ defense_detail_link }}&amp;defenseID={{ item.defense_id }}"><span class="bold">{{ item.name }}</span></a></dt>
              <dd class="">{{ item.dependencies }}</dd>
            </dl>
          </td>
        </tr>
        <tr class="bg{{ bgID }}" id="defense_{{ item.defense_id }}" style="display:none"><td>&nbsp;</td>
          <td colspan="6">
            <div style="float: left; width: 39%; max-width: 256px;">
              <img src="{{ gfx }}/externals/{{ item.dbFieldName }}_large.gif" alt="{{ item.name }}" title="{{ item.name }}" width="250" height="250" />
            </div>
            <div style="float: left; width: 61%;">
              <span class="bold">Beschreibung:</span><br />{{ item.description|raw }}
              <br /><br />
              <img src="{{ gfx }}/de_DE/t_uga/clock.gif" class="noborder" width="15" height="15" alt="Dauer:" />{{ item.duration_formula }}
              <br /><br />
              <table border="0">
                <tr><th colspan="2" class="text-left"><span class="bold">Eigenschaften:</span></th></tr>
                <tr><td>Fernangriffschaden:</td><td>{{ item.rangeAttack }}</td></tr>
                <tr><td>Getümmelschaden:</td><td>{{ item.attackRate }}</td></tr>
                <tr><td>Widerstandspunkte:</td><td>{{ item.defenseRate }}</td></tr>
                <tr><td>Größe:</td><td>{{ item.size }}</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td colspan="2" class="text-left"><span class="bold">Spionagefertigkeiten:</span></td></tr>
                <tr><td>Gegenspionagefertigkeit:</td><td>{{ item.antiSpyChance }}</td></tr>
              </table>
            </div>
            <div style="clear: both;"></div>
          </td>
        </tr>
      {% endfor %}
      {% set bgID = 0 %}
    </table>
  </div>
</div>
{% endif %}

{% if defense_system_relict %}
<div class="box">
  <div class="box-header">Relikte</div>
  <div class="box-content success inner">
    <table class="table" cellpadding="3" cellspacing="0" rules="rows">
      {% for item in defense_system_relict %}
        {% set bgID = (bgID+1)%2 %}
        <tr class="bg{{ bgID }}">
          <td class="td-mini-icon"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png"  class="noborder" width="16" height="16" alt="Plus" title="Plus" onclick="moreinfo('defense_{{ item.defense_id }}', this)" /></td>
          <td class="td-mini-icon"><img src="{{ gfx }}/externals/{{ item.dbFieldName }}_small.gif" class="noborder" width="20px" height="30px" alt="" title="{{ name }}" /></td>
          <td class="">
            <dl class="nodistance">
              <dt><a href="main.php?modus={{ defense_detail_link }}&amp;defenseID={{ item.defense_id }}"><span class="bold">{{ item.name }}</span></a></dt>
              <dd class="">{{ item.dependencies }}</dd>
            </dl>
          </td>
          <td class="td-size">Stufe: {{ item.currentlevel }}</td>
          <td class="td-button-single text-right"><a href="main.php?modus=defense_demolish&amp;defenseID={{ item.defense_id }}&amp;caveID={{ cave_id }}"><img src="{{ gfx }}/de_DE/t_uga/arrow_down.png" class="noborder" width="20" height="20" alt="Abreißen" title="Abreißen" /></a></td>
        </tr>
        <tr class="bg{{ bgID }}" id="defense_{{ item.defense_id }}" style="display:none"><td>&nbsp;</td>
          <td colspan="6">
            <div style="float: left; width: 39%; max-width: 256px;">
              <img src="{{ gfx }}/externals/{{ item.dbFieldName }}_large.gif" alt="{{ item.name }}" title="{{ item.name }}" width="250" height="250" />
            </div>
            <div style="float: left; width: 61%;">
              <span class="bold">Beschreibung:</span><br />{{ item.description|raw }}
              <br /><br />
              <img src="{{ gfx }}/de_DE/t_uga/clock.gif" class="noborder" width="15" height="15" alt="Dauer:" />{{ item.duration_formula }}
              <br /><br />
              <span class="bold">Stufe:</span> {{ item.currentlevel }}
              <br /><br />
              <table border="0">
                <tr><th colspan="2" class="text-left"><span class="bold">Eigenschaften:</span></th></tr>
                <tr><td>Fernangriffschaden:</td><td>{{ item.rangeAttack }}</td></tr>
                <tr><td>Getümmelschaden:</td><td>{{ item.attackRate }}</td></tr>
                <tr><td>Widerstandspunkte:</td><td>{{ item.defenseRate }}</td></tr>
                <tr><td>Größe:</td><td>{{ item.size }}</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td colspan="2" class="text-left"><span class="bold">Spionagefertigkeiten:</span></td></tr>
                <tr><td>Gegenspionagefertigkeit:</td><td>{{ item.antiSpyChance }}</td></tr>
              </table>
            </div>
            <div style="clear: both;"></div>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}

{% endblock %}