{#
/* defenseDetailAjax.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 David Unger, Sascha Lange <salange@uos.de>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% spaceless %}

<div style="float: left; width: 39%; max-width: 256px;">
<img src="{{ gfx }}/externals/{{ dbFieldName }}_large.gif" alt="{{ name }}" title="{{ name }}" width="250" />
</div>
<div style="float: left; width: 61%;">
{{ description|raw }}
<br/>
<strong>Maximale Stufe:</strong> {{ maxlevel }}<br/>
<br/>
  
{% if DEPGROUP %}
  <strong>Abh&auml;ngigkeiten: </strong><br/>
	{% for depGroup in DEPGROUP %}
    <strong>{{ depGroup.name}}:</strong>
    {% for dependency in depGroup.DEP %}
      {{ dependency.name }} {{ dependency.level|raw }}
    {% endfor %}	
    <br/>			
	{% endfor %}
{% endif %}


  
	  {% if LEVELS %}
	  <br/><strong>Baukosten und -zeiten bei {{ LEVELS.population }} Einwohnern:</strong>
      <table>
        {% for level in LEVELS['LEVEL'] %}
        <tr>
          <td style="text-align: right;">Stufe {{ level.level }}:</td>
          <td style="padding-left: 6px;">		  
        	{% for resource in level.RESOURCECOST %}
            <img src="{{ gfx }}/resources/{{ resource.dbFieldName }}_icon.gif" style="width:15px; height:15px; border:none;" alt="{{ resource.name }}" title="{{ resource.name }}" />			
            {{ resource.value }} &nbsp;
            {% endfor %}
        	{% for unit in level.UNITCOST %}
              <br />
              {{ unit.name }}: {{ unit.value }}
            {% endfor %}
        	{% for building in level.BUILDINGCOST %}
              <br />
              {{ building.name }}: {{ building.value }}
            {% endfor %}
        	{% for defense in level.DEFENSECOST %}
              <br />
              {{ defense.name }}: {{ defense.value }}
            {% endfor %}
		  </td>
            <td><img src="{{ gfx }}/de_DE/t_uga/clock.gif" width="15" height="15" border="0" alt="Dauer:" />{{ level.time }}</td>
          
        </tr>
        {% endfor %}
       </table>
     {% endif %}

     


</div>
<div style="clear: both;"></div>

{% endspaceless %}