{% extends "base.tmpl" %}
{% block title %}Höhlenübersicht{% endblock %}
{% block content %}

<div class="box small">
  <div class="box-header">Aktive Auswirkungen der Wunder</div>
  <div class="box-content success inner text-center">
  {% if wonder %}
      <table class="table">
        {% for item in wonder %}
          <tr>
            <td style="valign: top; float: left;"><span class="bold">{{ item.name }}</span>, wirkt noch bis: {{ item.end }}</td>
          </tr>
        {% endfor %}
      </table>
  {% else %}
    <div class="success" style="margin-bottom: 0px">Derzeit wirken keinerlei Effekte auf Eure Höhle, Häuptling!</div>
  {% endif %}
  </div>
</div>

<div class="box small">
  <div class="box-header">In der Höhle wirkende Effekte</div>
  {% if effect %}
    <div class="box-content success inner">
      <table class="table nohover">
        {% for item in effect %}
          <tr>
            <td style="valign: top; float: left;">{{ item.name }}:</td>
            <td style="valign: top; float: left; width: 70px;">{{ item.value }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <div class="notice" style="margin-bottom: 0px">Derzeit wirken keinerlei Effekte auf Eure Höhle, Häuptling!</div>
  {% endif %}
</div>

<div class="box small">
  <div class="box-header">Aktuelle Farmpunkte</div>
  <div class="box-content success inner">
    <table class="table nohover">
      <tr>
        <td style="valign: top; float: left; width: 70px;">Anzahl:</td>
        <td style="valign: top; float: left; width: 70px;">{{ farmpoints }}</td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}