{#
/* effectWonderDetail.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 David Unger, Sascha Lange <salange@uos.de>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Höhlenübersicht{% endblock %}
{% block content %}

<div class="ua-box small">
  <div class="ua-box-header">Aktive Auswirkungen der Wunder</div>
  <div class="ua-box-content">
    {% if wonder %}
      <table>
        <thead>
          <tr>
            <th>Wunder</th>
            <th>Ende</th>
          </tr>
        </thead>
        <tbody>
          {% for item in effect %}
          {% set bgID = (bgID+1)%2 %}
          <tr class="bg{{ bgID }}">
            <td class="ym-g684-3">{{ item.name }}</td>
            <td class="ym-g684-9">{{ item.end }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="space center">Derzeit wirken keinerlei Effekte auf Eure Höhle, Häuptling!</div>
    {% endif %}
  </div>
</div>

<div class="ua-box small">
  <div class="ua-box-header">In der Höhle wirkende Effekte</div>
  <div class="ua-box-content">
    {% if effect %}
      <table>
        <thead>
          <tr>
            <th>Effekt</th>
            <th>Faktor</th>
          </tr>
        </thead>
        <tbody>
          {% for item in effect %}
          {% set bgID = (bgID+1)%2 %}
          <tr class="bg{{ bgID }}">
            <td class="ym-g684-3">{{ item.name }}</td>
            <td class="ym-g684-9">{{ item.value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="space center">Derzeit wirken keinerlei Effekte auf Eure Höhle, Häuptling!</div>
    {% endif %}
  </div>
</div>

{% if hero %}
<div class="ua-box small">
  <div class="ua-box-header">Effekte des Helden</div>
  <div class="ua-box-content">
    <div class="space center">Die Effekte wirken nur, wenn die Bedingungen erfüllt sind (Held am Leben, usw.)!</div>
    <div class="ym-grid space">
      <div class="ym-g684-12 ym-gl">
        {% for item in hero %}
        <div class="ym-grid">
          <div class="ym-g684-4 ym-gl">{{ item.name }}:</div>
          <div class="ym-g684-8 ym-gl">{{ item.value }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}

<!--
<div class="ua-box small">
  <div class="ua-box-header">Aktuelle Farmpunkte</div>
  <div class="ua-box-content">
    <table class="table">
      <tr>
        <td style="valign: top; float: left; width: 70px;">Anzahl:</td>
        <td style="valign: top; float: left; width: 70px;">{{ farmpoints }}</td>
      </tr>
    </table>
  </div>
</div>
-->

{% endblock %}