{#
/* effectWonderDetail.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011-2012 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Artefakte - Übersicht{% endblock %}
{% block content %}

{% if categories %}
  {% for category in categories %}
    <div class="ua-box ua-box-center">
      <div class="ua-box-header">{{ category.name }}</div>
      <div class="ua-box-content">
        <table cellpadding="3" cellspacing="0" rules="all">
          <thead>
            <tr style="padding-left: 4px; padding-right: 4px;">
              <th>Einheit:</th>
              {% for cave in category.cave %}<th><a href="main.php?caveID={{ cave.caveID }}" target="_top"><img src="images/stringup.png.php?cave_id={{ cave.caveID }}" alt="{{ cave.name }}" title="{{ cave.name }}" border="0"></a></th>{% endfor %}
              <th class="text-center">&sum;</th>
            </tr>
          </thead>
          <tbody>
            {% for unit in category.unit %}
              {% set bgID = (bgID+1)%2 %}
              <tr>
                <td><img src="{{ gfx }}/units/{{ unit.dbFieldName }}_small.gif" width="40" height="50" alt="{{ unit.name }}" title="{{ unit.name }}"></td>
                {% for cave in unit.cave %}
                  <td>{{ cave.amount }}</td>
                {% endfor %}
                <td>{{ unit.sum }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div style="clear: both;"></div>
  {% endfor %}
{% else %}
<div class="notice">Zur Zeit gibt es keine Bewegungen.</div>
{% endif %}

<div class="info">Zurück zum <a href="main.php?modus=easy_digest">Terminkalender</a></div>

{% endblock %}