{#
/* export.tmpl -
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2013 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
<script type="text/javascript">
  function selectElementContents(el) {
    if (window.getSelection && document.createRange) {
      // IE 9 and non-IE
      var range = document.createRange();
      range.selectNodeContents(el);
      var sel = window.getSelection();
      sel.removeAllRanges();
      sel.addRange(range);
    } else if (document.body.createTextRange) {
      // IE < 9
      var textRange = document.body.createTextRange();
      textRange.moveToElementText(el);
      textRange.select();
    }
  }
</script>
<input type="button" class="btn" onclick="selectElementContents(document.getElementById('export'))" unselectable="on" value="Markieren">
<pre id="export">{{ content }}</pre>