<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="de" xml:lang="de">
<head>
<title>UGA AGGA ONLINE GAME - Exporte</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
  <form>
  <p>Code zum Kopieren
    <input type="button" value="Markieren &amp; Kopieren" onclick="this.form.cparea.select(); this.form.cparea.focus(); document.execCommand('Copy')" />
    </p>
    <div style="width:100%; height:100%">
    <textarea rows="20" name ="cparea" style="width:100%; height:100%">{{content}}</textarea>
  </div>
  </form>
</body>
</html>