{#
/* error.tmpl -
 * Copyright (c) 2011-2012 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="de" xml:lang="de">
<head>
  {% block head %}
    <title>Uga Agga Online Game - {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="yaml/core/base.min.css" type="text/css"/>
    <!--[if lte IE 7]><link rel="stylesheet" href="yaml/core/iehacks.min.css" type="text/css"/><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="yaml/screen/typography.css" type="text/css"/>
    <link rel="stylesheet" href="yaml/forms/gray-theme.css" type="text/css"/>
    <link rel="stylesheet" href="{{ gfx }}/de_DE/t_uga/css/styles.css" type="text/css"/>
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ gfx }}/de_DE/t_uga/css/ie.css" type="text/css"/><![endif]-->

    <style type="text/css">
      #overlay { position: fixed; z-index:199; top: 0px; left: 0px; height:100%; width:100%; }
      .overlayBG { background-color:#FFFFFF; -ms-filter: "Alpha(Opacity=50)"; /* IE 8 */ filter:alpha(opacity=50); /* IE5-7 */ -moz-opacity: 0.5; /* Mozilla */ opacity: 0.5; }

      #lightBox { position:fixed; top: 200px; left: 14%; z-index: 200; width: 70%; text-align: center; -webkit-border-radius: 10px; -khtml-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; behavior: url({{ gfx }}/de_DE/t_uga/PIE.htc); background:#fbe3e4; color: #000000; border-color:#fbc2c4; padding: 0.8em; margin-bottom: 1em; border: 2px solid #fbc2c4; font-weight: bold; }
      #lightBox a, a.hover, a.visited { color: #000000; }

      .ym-col-head1 { background-image: url({{ gfx }}/de_DE/t_uga/header_left.png); }
      .ym-col-head2 { background-image: url({{ gfx }}/de_DE/t_uga/header_right.png); }
      
      .ua-head-menu { background-image: url({{ gfx }}/de_DE/t_uga/menu/header/background.png); }
    </style>

  {% endblock %}
</head>
<body>
  <div id="overlay" class="overlayBG">&nbsp;</div>

  <div id="lightBox">
    <div style="float: left; width: 25%;"><img src="{{ gfx }}/de_DE/t_uga/icon_error_page.png" alt ="" title="" width="150px" height="150px" /></div>
    <div style="float: left; width: 75%;">
      {{ status_msg.msg|raw }}
    </div>
    <div style="clear: both;"></div>
  </div>

  <div class="ym-wrapper">
    <div class="ym-column">
      <div class="ym-col-head-middle">
        <div class="ua-head-menu">
          <div id="ua-head-menu-item">
            <img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_hero.png' width="30" height="30" title='Held' alt='' />
            <img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_cave.png' width="30" height="30" title='Diese Höhle' alt='' />
            <img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_cave_bookmarks.png' width="30" height="30" title='Höhlenliste' alt='' />
            <img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_questionnaire.png' width="30" height="30" title='Fragebogen' alt='' />
            <img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_donations.png' width="30" height="30" title='Spenden' alt='' />
            <img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_tribe.png' width="30" height="30" title='Mein Stamm' alt='' />
            <img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_contacts.png' width="30" height="30" title='Adressbuch' alt='' />
            <img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_effectwonder_detail.png' width="30" height="30" title='Aktive Effekte und Wunder' alt='' />
            <img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_profile.png' width="30" height="30" title='Profil' alt='' />
            <img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_artefact.png' width="30" height="30" title='Artefaktliste' alt='' />
            <img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_news.png' title='News' width="30" height="30" alt='' />
            <img src='{{ gfx }}/de_DE/t_uga/menu/header/icon_faq.png' width="30" height="30" title='FAQ' alt='' />
          </div>
        </div>
        <img style="padding-top: 83px; position: relative; margin: 0 auto;" src="./images/round_name.png" alt="" />
      </div>
      <div class="ym-col1 ym-col-head1">&nbsp;</div>
      <div class="ym-col2 ym-col-head2">&nbsp;</div>
    </div>

    <div id="main">
      <div class="ym-column">
        <div class="ym-col1 ym-col-con1">
          <ul class="list-menu">
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_easy_digest.jpg" alt="Terminkalender" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_unit_movement.jpg" alt="Bewegungen" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_messages{{ new_mail_link }}.jpg" alt="Nachrichten" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_all_cave_detail.jpg" alt="Alle Höhlen" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_ranking.jpg" alt="Ranking" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_map.jpg" alt="Karte" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_left_2.jpg" alt="" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_left_3.jpg" alt="" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_wonder.jpg" alt="Wunder" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_takeover.jpg" alt="Missionieren" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_left_4.jpg" alt="" /></li>
          </ul>
        </div>
        <div class="ym-col2 ym-col-con2">
          <ul class="list-menu">
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_improvement_detail.jpg" alt="Erweiterungen" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_science.jpg" alt="Forschungen" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_external_builder.jpg" alt="Verteidigung" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_unit_builder.jpg" alt="Einheiten" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_merchant.jpg" alt="Händler" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_right_2.jpg" alt="" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_right_3.jpg" alt="" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_right_4.jpg" alt="" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_forum.jpg" alt="UA Forum" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_mail.jpg" alt="Mail an UA" /></li>
            <li><img style="display: block;" src="{{ gfx }}/de_DE/t_uga/menu/menu_right_5.jpg" alt="" /></li>
          </ul>
        </div>
        <div class="ym-col3 ym-col-con3">
          <div class="ym-cbox">&nbsp;</div>
        </div>
        <div class="ym-ie-clearing">&nbsp;</div>
      </div>
    </div>

    {% block footer %}
      <div class="ym-grid" style="padding-top: 10px;">
        <div class="ym-g33 ym-gl ym-col-footer1">
          Serverzeit: {{ time }}
        </div>
        <div class="ym-g33 ym-gl ym-col-footer2">&nbsp;</div>
        <div class="ym-g33 ym-gr ym-col-footer3">
          <a href="main.php?modus=statistic">Statistik</a> &amp;
          <a href="{{ help_path }}" class="new-window">Hilfe</a> &amp;
          <a href="{{ rules_path }}" class="new-window">Regeln</a>&nbsp;
          <a href="#top"><img src="{{ gfx }}/de_DE/t_uga/arrow_up.png" alt="nach oben" style="width:15px; height:15px;" /></a>
        </div>
      </div>
    {% endblock %}
  </div>
  {% include "extendsFooter.tmpl" %}
</body>
</html>