{#
/* hero.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 David Unger, Sascha Lange <salange@uos.de>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %} 
{% block title %}Helden{% endblock %} 
{% block content %} 

{% if status_msg %}<div class="{{ status_msg.type }} small">{{ status_msg.message|raw }}</div>{% endif %} 

{% if hero %}
<div class="box small">
  <div class="box-header">Held von {{ hero.name }}</div>
  <div class="box-content success inner">
    <div style="float: left; width: 260px;">
      <img src="{{ gfx }}/heroes/{{ hero.path }}" width="250px" height="250px" alt="Held" />
    </div>
    <div class="text-right" style="float: right;">
      <div class="notice" style="width: 320px;">
        <p class="text-center bold">Statuswerte</p>
        <br />
        <table class="table nohover text-left" style="width: 320px;">
          <tr>
            <td class="bold">Name:</td>
            <td class="text-right" colspan="3">{{ hero.name }}</td>
          </tr>
          <tr>
            <td class="bold">Typ:</td>
            <td class="text-right" colspan="3">{{ hero.typeName }}</td>
          </tr>
          <tr>
            <td class="bold">Level:</td>
            <td class="text-right" colspan="3">{{ hero.lvl }}</td>
          </tr>
          <tr>
            <td class="bold" style="vertical-align: top;">Erfahrung (Exp):</td>
            <td class="text-right" colspan="3">{{ hero.exp }}<div class="text-small">({{ hero.expLeft }} Exp bis Lvlup)</div></td>
          </tr>
          {% if showLevelUp and hero.isAlive>0 %}
            <tr>
              <td class="bold">Levelup:</td>
              <td class="text-right" colspan="3"><a href="main.php?modus={{ hero_link }}&amp;action=lvlUp"><img src="{{ gfx }}/de_DE/t_uga/arrow_up.png" class="noborder" width="20px" height="20px" alt="Level erhöhen" title="Level erhöhen" /></a></td>
            </tr>
          {% endif %}
          <tr>
            <td class="bold">Ort:</td>
            <td class="text-right" colspan="3">{{ hero.location }}</td>
          </tr>
          <tr>
            <td class="bold">Lebenspunkte (HP):</td>
            <td class="text-center" colspan="3"><div class="{{ hero.HPbar }} inner">{{ hero.healPoints }} / {{ hero.maxHealPoints }}</div></td>
          </tr>
          <tr><td>&nbsp;</td></tr>
          <tr>
            <td class="bold">freie Talentpunkte (TP):</td>
            <td class="text-right" colspan="3">{{ hero.tpFree }}</td>
          </tr>
          <tr>
            <td class="bold">Stärke der Fertigkeit:</td>
            <td class="text-right">{{ hero.force }}</td>
            <td class="text-right" style="width: 55px;">Level <span class="bold">{{ hero.forceLvl }}</span></td>
            <td class="text-right" style="width: 18px;">
              {% if hero.tpFree>0 and hero.isAlive>0 %}
                <a href="main.php?modus={{ hero_link }}&amp;action=skill&amp;skill=force"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png" width="16px" height="16px" style="vertical-align: middle;" alt="Erhöhen" /></a>
              {% else %}
                &nbsp;
              {% endif %}
            </td>
          </tr>
          <tr>
            <td class="bold">Maximale Lebenspunkte:</td>
            <td class="text-right">{{ hero.maxHealPoints }}</td>
            <td class="text-right" style="width: 55px;">Level <span class="bold">{{ hero.maxHpLvl }}</span></td>
            <td class="text-right" style="width: 18px;">
              {% if hero.tpFree>0 and hero.isAlive>0 %}
                <a href="main.php?modus={{ hero_link }}&amp;action=skill&amp;skill=maxHP"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png" width="16px" height="16px" style="vertical-align: middle;" alt="Erhöhen" /></a>
              {% else %}
                &nbsp;
              {% endif %}
            </td>
          </tr>
          <tr>
            <td class="bold">Lebenspunkte Regeneration:</td>
            <td class="text-right">{% if hero.regHP>0 %}+{% endif %}{{ hero.regHP }}</td>
            <td class="text-right" style="width: 55px;">Level <span class="bold">{{ hero.regHpLvl }}</span></td>
            <td class="text-right" style="width: 18px;">
              {% if hero.tpFree>0 and hero.isAlive>0 %}
                <a href="main.php?modus={{ hero_link }}&amp;action=skill&amp;skill=regHP"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png" width="16px" height="16px" style="vertical-align: middle;" alt="Erhöhen" /></a>
              {% else %}
                &nbsp;
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>

{% if hero.isAlive>0 and showImmolation %}
  <div class="box small">
    <div class="box-header">Rohstoffe opfern</div>
    <div class="boxcontent smallinner success inner">
      <div class="notice" style="text-align:center">
        Durch die Opferung von Rohstoffen kann dein Held Erfahrung sammeln. <br/><br />
        Die Rohstoffe werden nach der gleichen Grundlage wie beim Missionieren bewertet!
      </div>

      <table class="table nohover" rules="rows">
        <tr class="bg2">
          <th class="bg2">Rohstoff</th>
          <th class="bg2">Menge</th>
          <th class="bg2">&nbsp;</th>
        </tr>
        {% for resource in resourceTypeList %}
          {% if resource.takeoverValue > 0 %}
          {% set bgID = (bgID+1)%2 %}
          <tr class="bg{{ bgID }}">
            <td>{{ resource.name }}</td>
            <form action="main.php?modus={{ hero_link }}" method="post">
            <input type="hidden" name="action" value="immolateResources"/>
            <input type="hidden" name="resourceID" value="{{ resource.resourceID}}"/>
            <td><input name="value" type="text" size="10" /> x{{ resource.takeoverValue }}</td>
            <td><input name="submitImmolation" value="Ugh!" type="submit" /></td>
            </form>
          </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>

  {% if skills %}
  <div class="notice small" style="width: 660px;">
   <p style="text-align: left; margin-left: 10px; font-weight: bold;">Fähigkeiten ausbilden</p>
   <br />
   <table class="table" cellspacing="0" cellpadding="2"
    style="text-align: center">
    <tr class="bg2 nohover">
     <th class="bg2 nohover" style="text-align: left;">Name</th>
     <th class="bg2 nohover">Ben. Level</th>
     <th class="bg2 nohover">Kosten</th>
     <th class="bg2 nohover">Faktor</th>
     <th class="bg2 nohover">&nbsp;</th>
     <th class="bg2 nohover">&nbsp;</th>
    </tr>
    {% for skill in skills %} 
    {% set bgID = (bgID+1)%2 %}
    <tr class="bg{{ bgID }}">
     <td style="text-align: left;"><a href="" class="bold">{{ skill.name }}</a>
     <div class="text-small">{{ skill.description|raw }}</div>
     </td>
     <td>{{ skill.requiredLevel }}</td>
     <td>{{ skill.costTP }} TP</td>
     <td>{{ skill.skillFactor }}</td>
     <td style="text-align: right;"><img
      src="{{gfx }}/de_DE/t_uga/skills/{{ skill.id }}.jpg" width="20px" height="20px"
      style="vertical-align: middle;" />
     </td>
     <td>
      <form action="main.php?modus={{ hero_link }}" id="{{ skill.dbFieldName }}" method="post">
        <input type="hidden" name="action" value="skill_ability">
        <input type="hidden" name="skillID" value="{{ skill.id }}"/>
        <input name="value" value="Anwenden" type="submit" {% if skill.disableButton %} disabled="disabled" {% endif %}/>
      </form>
     </td>
    </tr>
    {% endfor %}
   </table>
  </div>
  {% endif %}

  {% if potions %}
  <div class="box small">
    <div class="box-header">Tränke</div>
    <div class="boxcontent smallinner success inner">
      <table class="table nohover" rules="rows">
        <tr class="bg2">
          <th class="bg2">Trank</th>
          <th class="bg2">Name</th>
          <th class="bg2 text-center">Bestand</th>
          <th class="bg2 text-center">Benötigtes Level</th>
          <th class="bg2">&nbsp;</th>
          <th class="bg2">&nbsp;</th>
        </tr>
        {% for potion in potions %} 
        {% set bgID = (bgID+1)%2 %}
        <tr class="bg{{ bgID }}">
          <td><img src="{{ gfx }}/potions/{{ potion.dbFieldName }}.gif" class="td-mini-icon" alt="{{ potion.name }}" /></td>
          <td>
            <span class="bold">{{ potion.name }}</span><br />
            <div class="text-small">{{ potion.description|raw }}</div>
          </td>
          <td class="text-center">{{ potion.value }}</td>
          <td class="text-center">{{ potion.needed_level }}</td>
          <td>
            <form action="main.php?modus={{ hero_link }}" id="{{ potion.dbFieldName }}1" method="post">
              <input type="hidden" name="action" value="usePotion">
              <input type="hidden" name="potionID" value="{{ potion.potionID}}"/>
              <input name="value" value="1x" type="submit"/>
            </form>
          </td>
          <td>
            <form action="main.php?modus={{ hero_link }}" id="{{ potion.name }}5" method="post">
              <input type="hidden" name="action" value="usePotion" />
              <input type="hidden" name="potionID" value="{{ potion.potionID }}"/>
              <input name="value" value="5x" type="submit" />
            </form>
          </td>
        </tr>
        {% endfor %}
    </table>
   </div>
  </div>
  {% endif %}
{% endif %} {# end of hero.isAlive #}

{% if ritual %}
<div class="box small">
  <div class="box-header">{{ ritual.name }}</div>
  <div class="boxcontent smallinner success inner">

    {% if quene_show %}
    <div class="notice" style="width: 600px; margin: 5px auto; text-align: center">
      <ul>
        <li>Momentan im Gange: Wiederbelebung von {{ hero.name }} auf Level {{ hero.lvl }} (fertig: {{ quene_finish }})</li>
        <li><a href="main.php?modus=hero_detail&amp;action=cancelOrder&amp;caveID={{ cave_id }}">Abbrechen</a></li>
      </ul>
    </div>
    {% endif %}
    <table class="table nohover">
      <tr>
        <td><img src="{{ gfx }}/heroes/altar_large.gif" style="width: 225px; height: 140px;" alt="Altar der Auferstehung" /></td>
        <td>
          <p style="text-align: justify; margin-left: 5px; margin-bottom: 15px;">{{ ritual.description }}</p>
          <p style="text-align: justify; margin-left: 5px; margin-bottom: 15px;"><strong>Kosten für Held auf Lvl {{ ritual.ritualID }}:</strong><br />&nbsp;&nbsp;
          <table>
            <tr>
              <td>
                {% for item in resource %} 
                  {% if item.value %} <img src="{{ gfx }}/resources/{{ item.dbFieldName }}_icon.gif" class="noborder" width="15px" height="15px" alt="{{ item.name }}" title="{{ item.name }}" /> 
                    {% if item.enough %} 
                      <span class="enough">{{ item.value }}</span> 
                    {% else %} 
                      <span class="less-small" onmouseover="showWMTT('missing_{{ item.dbFieldName }}')" onmouseout="hideWMTT()">{{ item.value }}</span>
                      <div id="missing_{{ item.dbFieldName }}" class="tooltip">Es fehlen noch: {{ item.missing }} {{ item.name }}</div> 
                    {% endif %} &nbsp; 
                  {% endif %} 
                {% endfor %}
              </td>
              <td><img src="{{ gfx }}/de_DE/t_uga/clock.gif" style="width: 16px; height: 16px; vertical-align: bottom" />{{ delay }}</td>
            </tr>
          </table>
          <br /><br />
          <form action="main.php?modus={{ hero_link }}" id="newhero" method="post">
            <input type="hidden" name="action" value="reincarnate" />
            <input type="submit" value="Wiederbeleben"{% if hero.isAlive %} disabled="disabled"{% endif %} />
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endif %}

<div class="success small"><a href="http://faq.uga-agga.de/content/1/41/de/neu-in-hr12-%7C-heldentum.html" onclick="window.open(this.href); return false;">weitere Informationen zu den Helden</a></div>
{% endif %}
{% if changeType %}
<div class="box">
  <div class="box-header">Neue Art des Helden wählen:</div>
  <div class="box-content success inner">
    <table class="table nohover" rules="rows">
      {% for item in heroTypesList %} 
      {% set bgID = (bgID+1)%2 %}
      <tr class="bg{{ bgID }}">
        <td>
          <span class="bold">{{ item.name }}</span><br />
          {{ item.description|raw }}
        </td>
        <td style="text-align: right;">
          <a href="main.php?modus={{ hero_link }}&amp;action=changeType&amp;typeID={{ item.heroTypeID }}"><img src="{{ gfx }}/de_DE/t_uga/arrow_up.png" /></a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %} 
{% if newhero %}
<div class="box">
  <div class="box-header">Art des Helden wählen:</div>
  <div class="box-content success inner">
    <table class="table nohover" rules="rows">
      {% for item in heroTypesList %} 
      {% set bgID = (bgID+1)%2 %}
      <tr class="bg{{ bgID }}">
        <td>
          <span class="bold">{{ item.name }}</span><br />
          {{ item.description|raw }}
        </td>
        <td style="text-align: right;">
          <a href="main.php?modus={{ hero_link }}&amp;action=createHero&amp;id={{ item.heroTypeID }}"><img src="{{ gfx }}/de_DE/t_uga/arrow_up.png" /></a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %} 
{% endblock %}
