{#
/* hero.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 David Unger, Sascha Lange <salange@uos.de>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %} 
{% block title %}Helden{% endblock %} 
{% block content %} 

{% if status_msg %}<div class="{{ status_msg.type }}" style="width: 800px; margin: 15px auto;">{{ status_msg.message|raw }}</div>{% endif %} 

{% if hero %}
<div class="box" style="width: 800px; margin: 15px auto;">
 <div class="box-header">Held von {{ hero.name }}</div>
 <div class="box-content success inner">
  <table class="table nohover">
   <tr>
    <td>&nbsp;</td>
    <td style="width: 300px"><img
     src="{{ gfx }}/heroes/{{ hero.path }}"
     style="width: 250px; height: 250px; border: none" alt="Held" />
    </td>
    <td style="width: 320px;"><br />
     <div class="notice" style="width: 320px;">
      <p style="text-align: left; margin-left: 10px; font-weight: bold;">Statuswerte</p>
      <br />
      <table class="table">
       <tr>
        <td><strong>Name: </strong>
        </td>
        <td class="text-right">{{ hero.name }}</td>
       </tr>
       <tr>
        <td><strong>Typ:</strong></td>
        <td class="text-right">{{ hero.typeName }}</td>
       </tr>
       <tr>
        <td><strong>Level: </strong>
        </td>
        <td class="text-right">{{ hero.lvl }}</td>
       </tr>
       <tr>
        <td style="vertical-align: top;"><strong>Erfahrung (Exp): </strong>
        </td>
        <td class="text-right">{{ hero.exp }}
         <div style="font-size: x-small;">({{ hero.expLeft }} Exp bis Lvlup)</div>
        </td>
       </tr>
       {% if showLevelUp %}
       <tr>
        <td><strong>Levelup: </strong></td>
        <td class="text-right">
           <a href="main.php?modus=hero_detail&amp;action=lvlUp">
           <img src="{{ gfx }}/de_DE/t_uga/icon_open.png"
             style="width: 16px; height: 16px; vertical-align: middle; border: none"
             alt="Plus" />
           </a>
           </td>
       </tr>
       {% endif %}
       <tr></tr>
       <tr>
        <td><strong>Ort: </strong>
        </td>
        <td class="text-right">{{ hero.location }}
       </tr>
       <tr>
        <td><strong>Lebenspunkte (HP): </strong>
        </td>
        <td style="text-align: center;"><div
          class="{{ hero.HPbar }} inner">{{ hero.healPoints }} / {{ hero.maxHealPoints }}</div>
        </td>
       </tr>
       <tr>
        <td>&nbsp;</td>
       </tr>
       <tr>
        <td colspan="2">
         <table class="table">
          <tr>
           <td><strong>freie Talentpunkte: </strong>
           </td>
           <td class="text-right" colspan="3">{{ hero.tpFree }}</td>
          </tr>
          <tr>
           <td><strong>Stärke der Fertigkeit: </strong>
           </td>
           <td class="text-right">{{ hero.force }}</td>
           <td class="text-right">Level <strong>{{ hero.forceLvl }}</strong>
           </td>
           <td class="text-right">
           {% if hero.tpFree>0 %}
            <a href="main.php?modus=hero_detail&amp;action=skill&amp;skill=force">
             <img src="{{ gfx }}/de_DE/t_uga/icon_open.png"
              style="width: 16px; height: 16px; vertical-align: middle; border: none"
              alt="Erhöhen" />
            </a>
           {% else %}
             &nbsp;
           {% endif %}
           </td>
          </tr>
          <tr>
           <td><strong>Maximale Lebenspunkte: </strong>
           </td>
           <td class="text-right">{{ hero.maxHealPoints }}</td>
           <td class="text-right">Level <strong>{{ hero.maxHpLvl }}</strong>
           </td>
           <td class="text-right">
           {% if hero.tpFree>0 %}
            <a href="main.php?modus=hero_detail&amp;action=skill&amp;skill=maxHP">
             <img src="{{ gfx }}/de_DE/t_uga/icon_open.png"
              style="width: 16px; height: 16px; vertical-align: middle; border: none"
              alt="Erhöhen" />
            </a>
           {% else %}
             &nbsp;
           {% endif %}
           </td>
          </tr>
          <tr>
           <td><strong>Lebenspunkte Regeneration: </strong>
           </td>
           <td class="text-right">{% if hero.regHP>0 %}+{% endif %}{{ hero.regHP }}</td>
           <td class="text-right">Lvl <strong>{{ hero.regHpLvl }}</strong>
           </td>
           <td class="text-right">
           {% if hero.tpFree>0 %}
            <a href="main.php?modus=hero_detail&amp;action=skill&amp;skill=regHP">
            <img src="{{ gfx }}/de_DE/t_uga/icon_open.png"
              style="width: 16px; height: 16px; vertical-align: middle; border: none"
              alt="Erhöhen" />
            </a>
           {% else %}
             &nbsp;
           {% endif %}
           </td>
          </tr>
         </table></td>
       </tr>
      </table>
     </div>
     </td>
    <td>&nbsp;</td>
   </tr>
  </table>
  <br /> 
  <div class="box small">
    <div class="box-header">Rohstoffe opfern</div>
    <div class="boxcontent smallinner success inner">
     <table class="table" rules="rows">
       <tr class="bg2 nohover">
        <td colspan="3"><div class="notice" style="text-align:center">
        Durch die Opferung von Rohstoffen kann dein Held Erfahrung sammeln. <br/><br />
        
        Die Rohstoffe werden nach der gleichen Grundlage wie beim Missionieren bewertet!</div>
       </tr>
       <tr class="bg2 nohover">
         <th class="bg2 nohover">Rohstoff</th>
         <th class="bg2 nohover">Menge</th>
         <th class="bg2 nohover">&nbsp;</th>
       </tr>
       {% for resource in resourceTypeList %}
       {% if resource.takeoverValue > 0 %}
       {% set bgID = (bgID+1)%2 %}
       <tr class="bg{{ bgID }}">
        <td>{{ resource.name }}</td>
        <form action="main.php?modus=hero_detail"
        id="immolation" method="post">
        <input type="hidden" name="action" value="immolateResources"/>
        <input type="hidden" name="resourceID" value="{{ resource.resourceID}}"/>
        <td><input name="value" type="text" size="10" /> x{{ resource.takeoverValue }}</td>
        <td><input name="submitImmolation" value="Ugh!" type="submit" /></td>
        </form>
       </tr>
       {% endif %}
       {% endfor %}
     </table>
    </div>
  </div>
  {% if skills %}
  <div class="notice small" style="width: 660px;">
   <p style="text-align: left; margin-left: 10px; font-weight: bold;">Spezielle Fähigkeiten</p>
   <br />
   <table class="table" cellspacing="0" cellpadding="2"
    style="text-align: center">
    <tr class="bg2 nohover">
     <th class="bg2 nohover" style="text-align: left;">Name</th>
     <th class="bg2 nohover">Ben. Level</th>
     <th class="bg2 nohover">Kosten</th>
     <th class="bg2 nohover">&nbsp;</th>
    </tr>
    {% for skill in skills %} 
    {% set bgID = (bgID+1)%2 %}
    <tr class="bg{{ bgID }}">
     <td style="text-align: left;"><a href="" class="bold">{{ skill.name }}</a>
     <div style="font-size: x-small;">{{ skill.description|raw }}</div>
     </td>
     <td>{{ skill.requiredLevel }}</td>
     <td>{{ skill.costTP }}</td>
     <td style="text-align: right;"><img
      src="{{gfx }}/de_DE/t_uga/skills/{{ skill.id }}.jpg" width="20" height="20"
      style="vertical-align: middle;" />
     </td>
    </tr>
    {% endfor %}
   </table>
  </div>
  {% endif %} <br />
  {% if potions %}
  <div class="box small">
   <div class="box-header">Tränke</div>
   <div class="boxcontent smallinner success inner">
    <table class="table" rules="rows">
     <tr class="bg2 nohover">
      <th class="bg2 nohover">Trank</th>
      <th class="bg2 nohover">Name</th>
      <th class="bg2 nohover" style="text-align: center;">Bestand</th>
      <th class="bg2 nohover" style="text-align: center;">Benötigtes Level</th>
      <th class="bg2 nohover">&nbsp;</th>
      <th class="bg2 nohover">&nbsp;</th>
     </tr>
     {% for potion in potions %} 
     {% set bgID = (bgID+1)%2 %}
     <tr class="bg{{ bgID }}">
      <td><img src="{{ gfx }}/potions/{{ potion.dbFieldName }}.gif"
       class="td-mini-icon" alt="{{ potion.name }}" />
      </td>
      <td><a href="#" class="bold">{{ potion.name }}</a><br />
      <div style="font-size: x-small;">{{ potion.description|raw }}</div>
      </td>
      <td style="text-align:center;">{{ potion.value }}</td>
      <td style="text-align:center;">{{ potion.needed_level }}</td>
      <td><form action="main.php?modus=hero_detail"
        id="{{ potion.dbFieldName }}1" method="post">
        <input type="hidden" name="action" value="usePotion">
        <input type="hidden" name="potionID" value="{{ potion.potionID}}"/>
        <input name="value" value="1x" type="submit"/>
       </form>
      </td>
      <td><form action="main.php?modus=hero_detail"
        id="{{ potion.name }}5" method="post">
        <input type="hidden" name="action" value="usePotion" />
        <input type="hidden" name="potionID" value="{{ potion.potionID }}"/>
        <input name="value" value="5x" type="submit" />
       </form>
      </td>
     </tr>
     {% endfor %}
    </table>
   </div>
  </div>
  {% endif %}
  <br />
  <div class="info" style="width: 660px; margin: 0 auto;">
   {% if quene_show %}
   <div class="notice"
    style="width: 600px; margin: 5px auto; text-align: center">
    <ul>
     <li>Momentan im Gange: Wiederbelebung von {{ hero.name }} auf
      Level {{ hero.lvl }} (fertig: {{ quene_finish }})</li>
     <li><a
      href="main.php?modus=hero_detail&amp;action=cancelOrder&amp;caveID={{ cave_id }}">Abbrechen</a>
     </li>
    </ul>
   </div>
   <br /> {% endif %}
   <p style="text-align: left; margin-left: 10px; font-weight: bold;">
    <a name="tot"></a>{{ ritual.name }}
   </p>
   <br />
   <table class="table nohover">
    <tr>
     <td><img src="{{ gfx }}/heroes/altar_large.gif"
      style="width: 225px; height: 140px;" alt="Altar der Auferstehung" />
     </td>
     <td>
      <p
       style="text-align: justify; margin-left: 5px; margin-bottom: 15px;">{{
       ritual.description }}</p>
      <p
       style="text-align: justify; margin-left: 5px; margin-bottom: 15px;">
       <strong>Kosten für Held auf Lvl {{ ritual.ritualID }}:</strong><br />&nbsp;&nbsp;
      
      <table>
       <tr>
        <td>{% for item in resource %} 
        {% if item.value %} <img
         src="{{ gfx }}/resources/{{ item.dbFieldName }}_icon.gif"
         class="noborder" width="15" height="15" alt="{{ item.name }}"
         title="{{ item.name }}" /> 
         {% if item.enough %} 
         <span class="enough small">{{ item.value }}</span> 
         {% else %} 
         <span
         class="less-small"
         onmouseover="showWMTT('missing_{{ item.dbFieldName }}')"
         onmouseout="hideWMTT()">{{ item.value }}</span>
         <div id="missing_{{ item.dbFieldName }}" class="tooltip">
         Es fehlen noch: {{ item.missing }} {{ item.name }}</div> 
         {% endif %} &nbsp; 
         {% endif %} 
         {% endfor %}</td>
        <td><img src="{{ gfx }}/de_DE/t_uga/clock.gif"
         style="width: 16px; height: 16px; vertical-align: bottom" />{{ delay }}</td>
       </tr>
      </table>
      <br />
     <br />
      <form action="main.php?modus=hero_detail" id="newhero"
       method="post">
       <input type="submit" name="action" value="Wiederbeleben" {{ disabled }} />
      </form></td>
    </tr>
   </table>
  </div>
  <br />
 </div>
</div>
{% endif %} 
{% if newhero %}
<div class="box small">
 <div class="box-header">Art des Helden wählen:</div>
 <div class="box-content success small inner">
  <table class="table" rules="rows">
   {% for item in heroTypesList %} 
   {% set bgID = (bgID+1)%2 %}
   <tr class="bg{{ bgID }}">
    <td><strong>{{ item.name }}</strong><br />
     <div style="font-size: x-small;">{{ item.description|raw }}</div>
    </td>
    <td style="text-align: right;"><a
     href="main.php?modus=hero_detail&amp;action=createHero&amp;ID={{ item.heroTypeID }}">
     <img src="{{ gfx }}/de_DE/t_uga/arrow_up.png" />
    </a>
    </td>
   </tr>
   {% endfor %}
  </table>
 </div>
</div>
{% endif %} 
{% endblock %}
