{#
/* map.tmpl -
 * Copyright (c) 2003  OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2013 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */
#}

{% extends "base.tmpl" %}
{% block title %}Karte{% endblock %}
{% block content %}

<div class="alert alert-block alert-{{ status_msg.type }} ua-box-fix{% if not message %} hide{% endif %}" id="messageDisplay"><p>{{ message|raw }}</p></div>

<div class="alert alert-info">Über den Link "Minimap" kommt ihr nun zu einer Übersicht des Tals. Da die Seite von der Datenmenge etwas größer ist, gebt bitte Rückmeldung im <a class="new-window" href="http://forum.uga-agga.de/verbesserungsvorschlage-f45/verbesserungsvorschlage-und-feedback-t38021.html">Forum</a> ob die Karte auch unterwegs mit dem Handy gut aufrufbar ist.</a></div>

<div class="ua-box ua-box-fix">
  <div class="ua-box-header">Karte</div>
  <div class="ua-box-content">
    <div style="padding: 5px;">
    <form id="formMapCaveSearch" class="form-horizontal" action="main.php?modus={{ map_link }}" method="post">
      <div class="row-fluid">
        <div class="span4 text-left"><input class="autocomplete input-medium" style="margin-right: 10px;" type="text" name="caveName" id="caveName" placeholder="Höhlenname" maxlength="32" data-source="caves"></div>
        <div class="span4 text-center">
          <input class="input-wonder-xy" type="text" pattern="\d*" name="xCoord" id="xCoord" placeholder="X" maxlength="2">
          <input class="input-wonder-xy" type="text" pattern="\d*" name="yCoord" id="yCoord" placeholder="Y" maxlength="2">
        </div>
        <div class="span4 text-right">
          <select class="input-medium" name="targetCaveID" id="targetCaveID">
          <option value="-1">Bitte wählen</option>
          {% for bookmark in caveBookmarks %}<option value="{{ bookmark.caveID }}">{{ bookmark.name }} ({{ bookmark.xCoord }}|{{ bookmark.yCoord }})</option>{% endfor %}
          </select>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 text-center"><button class="btn btn-map" type="button" id="formMapCaveSearchSubmit" name="formMapCaveSearchSubmit">Höhle anzeigen</button></div>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="ua-box ua-box-fix">
  <div class="ua-box-header"><a style="color: #FFFFFF;" href="main.php?modus={{ map_link }}">Karte</a><a style="right: 10px; float: right; color: #FFFFFF;" href="main.php?modus={{ map_link }}&amp;type=minimap">Minimap</a></div>
  <div class="ua-box-content">
    {% if miniMap %}
      <div id="minimap" class="text-center">
        <img id="minimapImg" src="/images/minimap.php" alt="" />
        <div id="minimapData" style="display: none;">{{ mapregion|raw }}</div>
        <div id="minimapInfo" class="text-left" style="display: none; position: absolute; border: 1px solid; background-color: #FFFFFF; padding: 5px;"></div>
      </div>
    {% else %}
      <div class="text-center" style="width: 584px; margin: 0 auto;"><div id="mapSliderHori"></div></div>
        <div class="clearfix">
          <div class="pull-left" style="width: 12px;"><div style="height: 545px; margin-top: 30px;"id="mapSliderVerti"></div></div>
          <div class="pull-left" style="width: 584px;" id="map-view">{% include "mapRegion.tmpl" %}</div>
          <div class="pull-right" style="width: 12px;"><div style="height: 545px; margin-top: 30px;" id="mapSliderVerti2"></div></div>
        </div>
        <div class="text-center" style="width: 584px; margin: 0 auto;"><div id="mapSliderHori2"></div>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}