{#
/* map.tmpl -
 * Copyright (c) 2003  OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */
#}

{% extends "base.tmpl" %}
{% block title %}Karte{% endblock %}
{% block content %}

<div class="alert alert-block alert-{{ status_msg.type }} ua-box-fix{% if not message %} hide{% endif %}" id="messageDisplay"><p>{{ message|raw }}</p></div>

<div class="alert alert-info">Über den Link "Minimap" kommt ihr nun zu einer Übersicht des Tals. Da die Seite von der Datenmenge etwas größer ist, gebt bitte Rückmeldung im <a class="new-window" href="http://forum.uga-agga.de/verbesserungsvorschlage-f45/verbesserungsvorschlage-und-feedback-t38021.html">Forum</a> ob die Karte auch unterwegs mit dem Handy gut aufrufbar ist.</a></div>

<div class="ua-box ua-box-fix">
  <div class="ua-box-header">Karte</div>
  <div class="ua-box-content">
    <div style="padding: 5px;">
    <form id="formMapCaveSearch" class="form-horizontal" action="main.php?modus={{ map_region_link }}" method="post">
      <div class="row-fluid">
        <div class="span4 text-left"><input class="autocomplete input-medium" style="margin-right: 10px;" type="text" name="caveName" id="caveName" placeholder="Höhlenname" maxlength="32" data-source="caves"></div>
        <div class="span4 text-center">
          <input class="input-wonder-xy" type="text" pattern="\d*" name="xCoord" id="xCoord" placeholder="X" maxlength="2">
          <input class="input-wonder-xy" type="text" pattern="\d*" name="yCoord" id="yCoord" placeholder="Y" maxlength="2">
        </div>
        <div class="span4 text-right">
          <select class="input-medium" name="targetCaveID" id="targetCaveID">
          <option value="-1">Bitte wählen</option>
          {% for bookmark in caveBookmarks %}<option value="{{ bookmark.caveID }}">{{ bookmark.name }} ({{ bookmark.xCoord }}|{{ bookmark.yCoord }})</option>{% endfor %}
          </select>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 text-center"><button class="btn btn-map" type="button" id="formMapCaveSearchSubmit" name="formMapCaveSearchSubmit">Höhle anzeigen</button></div>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="ua-box ua-box-fix">
  <div class="ua-box-header"><a style="color: #FFFFFF;" href="main.php?modus={{ map_link }}">Karte</a><a style="right: 10px; float: right; color: #FFFFFF;" href="main.php?modus={{ map_link }}&amp;type=minimap">Minimap</a></div>
  <div class="ua-box-content">
    {% include "mapRegion.tmpl" %}
  </div>
</div>

{% endblock %}