{#
/* mapDetailAjax.tmpl -
 * Copyright (c) 2003  OGP Team  (for original version mapDetail.tmpl)
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2013 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}

<div class="text-center" style="width: 100%">
  <img src="{{ gfx }}/de_DE/t_uga/map/{{ cave_details.terrain_img }}" alt="{{ cave_details.terrain_name }}" title="{{ cave_details.terrain_name }}" />
  {% if cave_details.terrain_tribe_cave %}
    <h5>Aktueller Besitzer: {% if cave_details.tribe_cave_tag %}{{ cave_details.tribe_cave_tag }}{% else %}Unerobert{% endif %}</h5>
    {{ cave_details.terrain_description|raw }}
  {% else %}
    <p style="margin: 0;"><a href="main.php?modus={{ unit_movement_link }}&amp;targetXCoord={{ cave_details.xCoord }}&amp;targetYCoord={{ cave_details.yCoord }}&amp;targetCaveName={{ cave_details.name }}">dorthin bewegen!</a></p>
    <p><a href="main.php?modus={{ cave_bookmarks_link }}&amp;task=Add&amp;xCoord={{ cave_details.xCoord }}&amp;yCoord={{ cave_details.yCoord }}">zur Höhlenliste hinzufügen!</a></p>
    {% if cave_details.playerID %}
      <p style="margin: 0;">Diese Höhle gehört dem Häuptling <a href="main.php?modus={{ player_detail_link }}&amp;detailID={{ player_details.playerID }}"><span class="bold">{{ player_details.name }}</span></a>{% if player_details.tribe %} vom Stamme <a href="main.php?modus={{ tribe_detail_link }}&amp;tribe={{ player_details.tribe|url_encode }}"><span class="bold">{{ player_details.tribe }}</span></a>{% endif %}.</p>
      {% if cave_details.protected %}<p style="margin: 0;"><em>Anfängerschutz aktiv!</em></p>{% endif %}
      <p style="margin: 0;"><a href="main.php?modus=Contacts&amp;task=Add&amp;contact={{ player_details.name|url_encode }}">Spieler zum Adressbuch hinzufügen</a></p>
      {% if cave_details.artefact %}<p style="margin: 0;"><strong>In dieser Höhle wird <a href="main.php?modus={{ artefact_list_link }}">ein seltenes Artefakt</a> aufbewahrt.</strong></p>{% endif %}
    {% else %}
      {% if takeoverable %}<p style="margin: 0;">Dieser Landstrich ist bewohnbar und kann <a class="bold" href="main.php?modus={{ takeover_link }}&amp;caveID={{ caveID }}&amp;targetXCoord={{ cave_details.xCoord }}&amp;targetYCoord={{ cave_details.yCoord }}">missioniert</a> werden!</p>{% endif %}
    {% endif %}

    {% if cave_details.playerID %}
      <table class="table table-striped table-condensed" style="margin-top: 10px;">
        <thead>
          <tr>
            <th>Höhle</th>
            <th>Terrain</th>
            <th>Größe</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        {% for item in player_caves %}
          <tr>
            <td class="ua-td-name left"><p class="nospace">{{ item.caveName }} ({{ item.xCoord }} | {{ item.yCoord }}){% if item.secureCave == false %}</p><p class="nospace"><small>(Übernehmbar)</small></p>{% endif %}</td>
            <td>{{ item.terrain }}</td>
            <td>{{ item.caveSize }}</td>
            <td>
              {% if item.protected %}Anfängerschutz aktiv{% endif %}&nbsp;
              {% if item.artefact %}<a href="main.php?modus={{ artefact_list_link }}">Artefakte!!</a>{% endif %}
            </td>
            <td><a href="main.php?modus={{ unit_movement_link }}&amp;targetXCoord={{ item.xCoord }}&amp;targetYCoord={{ item.yCoord }}">dorthin bewegen!</a></td>
            <td><a href="main.php?modus={{ cave_bookmarks_link }}&amp;task=Add&amp;xCoord={{ item.xCoord }}&amp;yCoord={{ item.yCoord }}">zur Höhlenliste hinzufügen!</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endif %}
</div>
