{% extends "base.tmpl" %}

{% block title %}Spieler Ranking{% endblock %}
{% block content %}

<div class="box small">
  <div class="box-header">Dies ist der Landstrich {{ cave_details.name }} ({{ cave_details.xCoord }}|{{ cave_details.yCoord }}) - {{ cave_details.terrain_name }}</div>
  <div class="box-content success inner text-center">
    <ul>
      <li><img src="{{ gfx }}/de_DE/t_uga/map/{{ cave_details.terrain_img }}" alt="{{ cave_details.terrain_name }}" title="{{ cave_details.terrain_name }}" /></li>
      <li><a href="main.php?modus={{ unit_movement_link }}&amp;targetXCoord={{ cave_details.xCoord }}&amp;targetYCoord={{ cave_details.yCoord }}&amp;targetCaveName={{ cave_details.name }}">dorthin bewegen!</a></li>
      <li><a href="main.php?modus={{ cave_bookmarks_link }}&amp;task=Add&amp;xCoord={{ cave_details.xCoord }}&amp;yCoord={{ cave_details.yCoord }}">zur Höhlenliste hinzufügen!</a></li>
      <li>&nbsp;</li>
      {% if cave_details.playerID %}
        <li>Diese Höhle gehört dem Häuptling <a href="main.php?modus={{ player_detail_link }}&amp;detailID={{ player_details.playerID }}"><span class="bold">{{ player_details.name }}</span></a>{% if player_details.tribe %} vom Stamme <a href="main.php?modus={{ tribe_detail_link }}&amp;tribe={{ player_details.tribe|url_encode }}"><span class="bold">{{ player_details.tribe }}</span></a>{% endif %}.</li>
        <li><a href="main.php?modus=Contacts&amp;task=Add&amp;contact={{ player_details.name|url_encode }}">Spieler zum Adressbuch hinzufügen</a></li>
        {% if artefacts %}<li>&nbsp;</li><li><span class="bold">In dieser Hö;hle wird <a href="main.php?modus={{ artefact_list_link }}">ein seltenes Artefakt</a> aufbewahrt.</span></li>{% endif %}
      {% else %}
        {% if takeoverable %}<li>Dieser Landstrich ist bewohnbar und kann <a class="bold" href="main.php?modus={{ takeover_link }}&amp;caveID={{ caveID }}&amp;targetXCoord={{ cave_details.xCoord }}&amp;targetYCoord={{ cave_details.yCoord }}">missioniert</a> werden!</li><li>&nbsp;</li>{% endif %}
      {% endif %}
      <li></li>
    </ul>
  </div>
</div>

{% if cave_details.playerID %}
<div class="box small">
  <div class="box-header"><p>Alle Höhlen dieses Häuptlings</p></div>
  <div class="box-content success inner text-center">
    <table class="table nohover" rules="rows">
      <tr>
        <th class="bg2 nohover">Höhle</th>
        <th class="bg2 nohover">Terrain</th>
        <th class="bg2 nohover">Größe</th>
        <th class="bg2 nohover">&nbsp;</th>
        <th class="bg2 nohover">&nbsp;</th>
        <th class="bg2 nohover">&nbsp;</th>
      </tr>
      {% for item in player_caves %}
      {% set bgID = (bgID+1)%2 %}
        <tr class="bg{{ bgID }}">
          <td>{{ item.caveName }} ({{ item.xCoord }} | {{ item.yCoord }})</td>
          <td>{{ item.terrain }}</td>
          <td>{{ item.caveSize }}</td>
          <td>
            {% if item.protected %}Anfängerschutz aktiv{% endif %}&nbsp;
            {% if item.secureCave %}Übernehmbar{% endif %}&nbsp;
            {% if item.artefact %}<a href="main.php{{ artefact_list_link }}">Artefakte!!</a>{% endif %}
          </td>
          <td><a href="main.php?modus={{ unit_movement_link }}&amp;targetXCoord={{ item.xCoord }}&amp;targetYCoord={{ item.yCoord }}">dorthin bewegen!</a></td>
          <td><a href="main.php?modus=CaveBookmarks&amp;task=Add&amp;xCoord={{ item.xCoord }}&amp;yCoord={{ item.yCoord }}">zur Höhlenliste hinzufügen!</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}

{% endblock %}