{#
/* mapRegion.tmpl -
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}

<div style="display: none;" id="map-centerX">{{ centerXCoord }}</div>
<div style="display: none;" id="map-centerY">{{ centerYCoord }}</div>
<div style="display: none;" id="map-queryX">{{ queryXCoord }}</div>
<div style="display: none;" id="map-queryY">{{ queryYCoord }}</div>
{% if message %}
<div style="display: none;" id="message">{{ message|raw }}</div>
{% endif %}

<table id="map" cellpadding="0" cellspacing="0" style="padding: 0px; border: none; width: 100%;">
  <thead>
  {% for row in mapregion.rows %}
    <tr>
      {% for cell in row %}
        {% if cell.header %}<td class="text-center" style="vertical-align: middle; padding: 4px;">{{ cell.header.text|raw }}</td>{% endif %}
        {% if cell.empty %}<td class="empty_cell">&nbsp;</td>{% endif %}
        {% if cell.corner %}<td class="corner_cell">&nbsp;</td>{% endif %}
        {% if cell.mapcell %}
          <td style="height: 70px; background: url({{ gfx }}/de_DE/t_uga/map/{{ cell.mapcell.imgMap }}) no-repeat; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ gfx }}/de_DE/t_uga/map/{{ cell.mapcell.imgMap }}', sizingMethod='scale');" class="terrain {{ cell.mapcell.terrain }} t_{{ cell.mapcell.text_tribe }}">
            <div style="height: 70px; position: relative; width: 100%;">
              <img src="{{ gfx }}/de_DE/t_uga/map/{{ cell.mapcell.file }}.gif" width="70px" height="20px" alt="{{ cell.mapcell.alt }}" />
              {% if (cell.mapcell.link or cell.mapcell.link) and not cell.mapcell.barren %}
                <div style="position: absolute; bottom:0px; width: 100%;">
                  {% if cell.mapcell.link_tribe and not cell.mapcell.barren %}
                   <a href="main.php?{{ cell.mapcell.link_tribe|raw }}" title="{{ cell.mapcell.alt }}" class="t_{{ cell.mapcell.text_tribe }} text-center"><small>{{ cell.mapcell.text_tribe }}</small></a><br />
                  {% endif %}
                  {% if cell.mapcell.link and not cell.mapcell.barren %}
                    <a href="main.php?{{ cell.mapcell.link|raw }}" title="{{ cell.mapcell.alt }}" {% if cell.mapcell.unsecure %}{{ cell.mapcell.unsecure.dummy }}{% endif %} class="map-detail-link{% if cell.mapcell.unsecure %} unsecure{% endif %} text-center"><small>{{ cell.mapcell.text|raw }}</small></a>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </td>
        {% endif %}
     {% endfor %} 
    </tr>
  {% endfor %}
  </thead>
  <tbody><tr style="display: none;"><td></td></tr></tbody>
</table>