{% extends "base.tmpl" %}
{% block title %}Nachrichten{% endblock %}
{% block content %}

<div class="box">
  <div class="box-header">&nbsp;</div>
  <div class="box-content inner success">

    <div style="width: 33%; float: left; text-align: left; margin: 5px 0;"><a href="main.php?modus={{ messages_list_link }}&amp;box=1"><img src="{{ gfx }}/de_DE/t_uga/messages/inbox.png" style="padding-left: 5px;" class="noborder" alt="Posteingang" title="Posteingang" /></a></div>
    <div style="width: 34%; float: left; text-align: center; margin: 5px 0;"><a href="main.php?modus={{ messages_list_link }}&amp;box=2"><img src="{{ gfx }}/de_DE/t_uga/messages/outbox.png" class="noborder" alt="Postausgang" title="Postausgang" /></a></div>
    <div style="width: 33%; float: right; text-align: right; margin: 5px 0;"><a href="main.php?modus={{ messages_new_link }}"><img src="{{ gfx }}/de_DE/t_uga/messages/new.png" style="padding-right: 5px;" class="noborder" alt="Neue Nachricht" title="Neue Nachricht" /></a></div>
    <div style="clear: both;"></div>
  </div>
</div>

<div class="box">
  <div class="box-header">
    <div style="width: 50%; float: left; text-align: left;">&nbsp;{% if previous_msg_id %}<a href="main.php?modus={{ messages_read_link }}&amp;messageID={{ previous_msg_id }}&amp;box={{ box }}&amp;filter={{ message_class }}" class="text-msg-next">&lt;&lt;&lt; vorherige</a>{% endif %}</div>
    <div style="width: 50%; float: left; text-align: right;">{% if next_msg_id %}<a href="main.php?modus={{ messages_read_link }}&amp;messageID={{ next_msg_id }}&amp;box={{ box }}&amp;filter={{ message_class }}" class="text-msg-previous">nächste &gt;&gt;&gt;</a>{% endif %}&nbsp;</div>
    <div style="clear: both;"></div>
  </div>
  <div class="box-content inner success nohover">

    <div id="msg-header">
      <div style="float: left; width: 60%;">
        <dl>
          <dt class="dt-msg">Betreff:</dt><dd class="dd-msg">{{ message.betreff }}</dd>
          <dt class="dt-msg">Von:</dt><dd class="dd-msg">{{ message.sender }}</dd>
          <dt class="dt-msg">An:</dt><dd class="dd-msg">{{ message.empfaenger }}</dd>
          <dt class="dt-msg">Datum:</dt><dd class="dd-msg">{{ message.datum }}</dd>          
        </dl>
       <div style="margin-left:5px;">{% if xml_button %}<a href="export.php?modus=messages&amp;messageID={{ message_id }}&amp;format=xml" onclick="return exportPopup(this.href)"><img src="http://game.uga-agga.de/gfx//de_DE/t_uga/icon_export_xml.png" class="noborder" style="width:30px; height:30px;" alt="Export als XML" title="Export als XML" /></a>{% endif %}</div>
      </div>
      <div style="float: right; width: 40%;" class="text-right"><iframe src="http://rcm-de.amazon.de/e/cm?t=ugag-21&amp;o=3&amp;p=20&amp;l=ez&amp;f=ifr&amp;f=ifr" width="120" height="90" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none; margin: 5px;"></iframe></div>
      <div style="clear: both;"></div>
    </div>

    <div id="msg-body">
      {% if message_img %}<div style="float: right"><img src="{{ gfx }}/de_DE/t_uga/{{ message_img }}" alt="" title="" /></div>{% endif %}
      {% if message.nachrichtenart != 8 or message.nachrichtenart != 10 %}{{ message.nachricht|raw }}{% else %}{{ message.nachricht }}{% endif %}
    </div>
  </div>
</div>

<div id="buttons">
  {% if reply %}
    <div style="width: 80px; float: left; text-align: left; margin-right: 10px;">
      <form id="antworten" method="post" action="main.php?modus={{ messages_new_link }}&amp;caveID={{ cave_id }}">
        <p><input type="submit" name="antworten" value="Antworten" />
        {% for item in reply %}
          <input name="{{ item.arg }}" type="hidden" value="{{ item.value }}" />
        {% endfor %}
        </p>
      </form>
    </div>
  {% endif %}
  {% if delete %}
    <div style="width: 73px; float: left; text-align: left; margin-right: 10px;">
      <form id="loeschen" method="post" action="main.php?modus={{ messages_list_link }}&amp;caveID={{ cave_id }}">
        <p><input type="submit" name="delete" value="L&ouml;schen" />
        {% for item in delete %}
          <input name="{{ item.arg }}" type="hidden" value="{{ item.value }}" />
        {% endfor %}
        </p>
      </form>
    </div>
  {% endif %}
<!--
    <tmpl:CONTACTS>
      <div style="width: 119px; float: left; text-align: left;">
        <form id="newContact" method="post" action="main.php">
          <p><input type="submit" name="add" value="Ins Adressbuch" />
          <input type="hidden" name="contact" value="{contact}" />
          <input type="hidden" name="modus" value="Contacts" />
          <input type="hidden" name="task" value="Add" /></p>
        </form>
      </div>
    </tmpl:CONTACTS>
-->
    <div style="clear: both;"></div>
  </tmpl:OBEN>
</div>

<div class="text-right"><a href="main.php?modus={{ messages_list_link }}&amp;box={{ box }}">zurück zu den Nachrichten</a></div>

{% endblock %}