{#
/* messageDetail.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Nachricht lesen{% endblock %}
{% block content %}

<div class="ua-box">
  <div class="ua-box-header">&nbsp;</div>
  <div class="ua-box-content">
    <div class="ym-grid" style="padding-top: 5px; padding-bottom: 5px;">
      <div class="ym-g25 ym-gl">
        <div class="ym-gbox center">
          <a href="main.php?modus={{ messages_list_link }}&amp;box=1"><img src="{{ gfx }}/de_DE/t_uga/messages/inbox.png" style="padding-left: 5px;" class="noborder" alt="Posteingang" title="Posteingang" /></a>
        </div>
      </div>
      <div class="ym-g25 ym-gl">
        <div class="ym-gbox center">
          <a href="main.php?modus={{ messages_list_link }}&amp;box=2"><img src="{{ gfx }}/de_DE/t_uga/messages/outbox.png" class="noborder" alt="Postausgang" title="Postausgang" /></a>
        </div>
      </div>
      <div class="ym-g25 ym-gl">
        <div class="ym-gbox center">
          <a href="main.php?modus={{ messages_list_link }}&amp;box=3"><img src="{{ gfx }}/de_DE/t_uga/messages/trash.png" class="noborder" alt="Papierkorb" title="Papierkorb" /></a>
        </div>
      </div>
      <div class="ym-g25 ym-gl">
        <div class="ym-gbox center">
          <a href="main.php?modus={{ messages_new_link }}"><img src="{{ gfx }}/de_DE/t_uga/messages/new.png" style="padding-right: 5px;" class="noborder" alt="Neue Nachricht" title="Neue Nachricht" /></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ua-box">
  <div class="ua-box-header">
    <div class="ym-grid">
      <div class="ym-g50 ym-gl left">
        <div class="ym-gbox">
          &nbsp;{% if previous_msg_id %}<a href="main.php?modus={{ messages_read_link }}&amp;messageID={{ previous_msg_id }}&amp;box={{ box }}&amp;filter={{ message_class }}" class="text-msg-next">&lt;&lt;&lt; vorherige</a>{% endif %}
        </div>
      </div>
      <div class="ym-g50 ym-gl">
        <div class="ym-gbox right">
          {% if next_msg_id %}<a href="main.php?modus={{ messages_read_link }}&amp;messageID={{ next_msg_id }}&amp;box={{ box }}&amp;filter={{ message_class }}" class="text-msg-previous">nächste &gt;&gt;&gt;</a>{% endif %}&nbsp;
        </div>
      </div>
    </div>
  </div>
  <div class="ua-box-content">
    <div class="ym-grid" style="padding-top: 10px;">
      <div class="ym-g50 ym-gl">
        <div class="ym-gbox">
          <dl>
            <dt class="dt-msg">Betreff:</dt><dd class="dd-msg">{{ message.subject|raw }}</dd>
            <dt class="dt-msg">Von:</dt><dd class="dd-msg">{{ message.sender }}</dd>
            <dt class="dt-msg">An:</dt><dd class="dd-msg">{{ message.empfaenger }}</dd>
            <dt class="dt-msg">Datum:</dt><dd class="dd-msg">{{ message.datum }}</dd>
          </dl>
          <div style="margin-left:5px;">{% if xml_button %}<a class="export-link" href="export.php?modus=messages&amp;messageID={{ message_id }}&amp;format=xml"><img src="{{ gfx }}/de_DE/t_uga/icon_export_xml.png" class="noborder" style="width:30px; height:30px;" alt="Export als XML" title="Export als XML" /></a>{% endif %}</div>
          <div id="export-dialog"></div>
        </div>
      </div>
      <div class="ym-g50 ym-gl">
        <div class="ym-gbox right">
          <iframe src="http://rcm-de.amazon.de/e/cm?t=ugag-21&amp;o=3&amp;p=20&amp;l=ez&amp;f=ifr&amp;f=ifr" width="120" height="90" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none; margin: 5px;"></iframe>
        </div>
      </div>
    </div>

    <div class="msg-body">
      {% if message_img %}<div style="float: right"><img src="{{ gfx }}/de_DE/t_uga/{{ message_img }}" alt="" title="" /></div>{% endif %}
      {{ message.nachricht|raw }}
    </div>

    {% if reply or delete %}
      <div style="float: left;">
        {% if reply %}
          <form class="ym-form" method="post" action="main.php?modus={{ messages_new_link }}&amp;caveID={{ cave_id }}">
            <div class="ym-fbox-button">
                {% for item in reply %}
                  <input name="{{ item.arg }}" type="hidden" value="{{ item.value }}" />
                {% endfor %}
                <input type="submit" class="ym-button" value="Antworten" id="Antworten" name="Antworten" />
            </div>
          </form>
        {% endif %}
      </div>
      <div>
        {% if delete %}
          <form class="ym-form" method="post" action="main.php?modus={{ messages_list_link }}&amp;caveID={{ cave_id }}">
            <div class="ym-fbox-button">
              {% for item in delete.item %}
                <input name="{{ item.arg }}" type="hidden" value="{{ item.value }}" />
              {% endfor %}
              <input type="submit" class="ym-button" value="{{ delete.name }}" id="mark_action" name="mark_action" />
            </div>
          </form>
        {% endif %}
      </div>
      <div style="clear: both;"></div>
    {% endif %}
  </div>
</div>

<div class="center"><a href="main.php?modus={{ messages_list_link }}&amp;box={{ box }}">zurück zu den Nachrichten</a></div>

{% endblock %}