{#
/* messageDialogue.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2013 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Nachricht schreiben{% endblock %}
{% block content %}

<script type="text/javascript">
  $(function() {
    $('#contactID').change(function () {
      if ($(this).val() == -1) {
        $('#recipient').removeAttr('disabled');
        $('#recipient').val('');
      } else {
        $('#recipient').attr('disabled', true);
        $('#recipient').val($('#contactID option:selected').text());
      }
    })
  });
</script>

{% if status_msg %}<div id="status-msg"><div class="alert alert-block alert-{{ status_msg.type }}"><p>{{ status_msg.message|raw }}</p></div><hr></div>{% endif %}

<div class="ua-box">
  <div class="ua-box-header">Nachricht verfassen</div>
  <div class="ua-box-content">
    <div class="navbar navbar-static">
      <div class="container" style="width: auto;">
        <ul class="nav nav-tabs" id="mainTab">
          <li><a href="main.php?modus={{ messages_list_link }}&amp;box=1#incomming">Posteingang</a></li>
          <li><a href="main.php?modus={{ messages_list_link }}&amp;box=2#outgoing">Postausgang</a></li>
          <li><a href="main.php?modus={{ messages_list_link }}&amp;box=3#trash">Papierkorb</a></li>
          <li class="active"><a href="main.php?modus={{ messages_new_link }}#new">Neue Nachricht</a></li>
        </ul>
      </div>
    </div>

    <form id="formMessageNew" class="form-horizontal" method="post" action="main.php?modus={{ messages_new_link }}&amp;caveID={{ cave_id }}">
      <div style="padding: 5px;">
        <div class="control-group">
          <label class="control-label message-label" for="inputRecipient">An:</label>
          <div class="controls message">
            <input class="autocomplete" type="text" id="inputRecipient" name="recipient" placeholder="Spielername" value="{{ recipient }}" data-source="player">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label message-label" for="inputSubject">Betreff:</label>
          <div class="controls message">
            <input type="text" id="inputSubject" name="subject" value="{{ subject }}">
          </div>
        </div>
        <div class="control-group">
          <div class="controls message">
            <textarea class="input-block-level" id="nachricht" name="nachricht" style="height: 125px;" rows="3"></textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls message">
            <input type="hidden" name="action" value="{{ tribe_action_update }}" />
            <button class="btn" type="button" id="formMessageNewSubmit" name="formMessageNewSubmit">Absenden</button>
          </div>
        </div>
        {% for item in hidden %}<input type="hidden" name="{{ item.arg }}" value="{{ item.value }}" />{% endfor %}
      </div>
    </form>
  </div>
</div>

{% endblock %}