{#
/* messageList.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Nachrichten{% endblock %}
{% block content %}

<script type="text/javascript">
// <![CDATA[
function checkall(){
  if(document.getElementById("deletemessages").all) 
  var c = document.getElementById("deletemessages").all.checked;
  for (var i=0;i<document.getElementById("deletemessages").elements.length;i++){
    var e = document.getElementById("deletemessages").elements[i];
    if(e.name != 'all') e.checked = c;
  }
}

// ]]>
</script>

{% if status_msg %}<div class="{{ status_msg.type }}">{{ status_msg.message }}</div>{% endif %}

{% if trash %}<div class="info">Du befindest dich gerade im Papierkorb. Hier kannst du gelösche Nachrichten wiederherstellen.<br />Achtung: Die Nachrichten hier werden automatisch gelöscht!</div>{% endif %}

<form id="deletemessages" method="post" action="main.php?modus={{ messages_list_link }}&amp;caveID={{ cave_id }}&amp;box={{ message_box }}">

<div class="ua-box">
  <div class="ua-box-header">&nbsp;</div>
  <div class="ua-box-content">
    <div class="ym-grid" style="padding-top: 5px; padding-bottom: 5px;">
      <div class="ym-g25 ym-gl">
        <div class="ym-gbox text-center">
          <a href="main.php?modus={{ messages_list_link }}&amp;box=1"><img src="{{ gfx }}/de_DE/t_uga/messages/inbox.png" style="padding-left: 5px;" class="noborder" alt="Posteingang" title="Posteingang" /></a>
        </div>
      </div>
      <div class="ym-g25 ym-gl">
        <div class="ym-gbox text-center">
          <a href="main.php?modus={{ messages_list_link }}&amp;box=2"><img src="{{ gfx }}/de_DE/t_uga/messages/outbox.png" class="noborder" alt="Postausgang" title="Postausgang" /></a>
        </div>
      </div>
      <div class="ym-g25 ym-gl">
        <div class="ym-gbox text-center">
          <a href="main.php?modus={{ messages_list_link }}&amp;box=3"><img src="{{ gfx }}/de_DE/t_uga/messages/trash.png" class="noborder" alt="Papierkorb" title="Papierkorb" /></a>
        </div>
      </div>
      <div class="ym-g25 ym-gl">
        <div class="ym-gbox text-center">
          <a href="main.php?modus={{ messages_new_link }}"><img src="{{ gfx }}/de_DE/t_uga/messages/new.png" style="padding-right: 5px;" class="noborder" alt="Neue Nachricht" title="Neue Nachricht" /></a>
        </div>
      </div>
    </div>

    <div class="ym-grid" style="padding-top: 5px; padding-bottom: 5px;">
      {% if not trash %}
        <div class="ym-g50 ym-gl">
          <div class="ym-gbox">
            Markierte:
            <select name="mark_action_value">
              <option value="0">Bitte auswählen</option>
              <option value="mail_and_delete">E-mail &amp; löschen</option>
              <option value="delete">löschen</option>
              <option value="mark_as_read">Als gelesen markieren</option>
            </select>
            <input type="submit" name="mark_action" value="Go" />
          </div>
        </div>
        <div class="ym-g50 ym-gr text-right">
          <div class="ym-gbox">
            <select name="messageClass">
              <option value="-1">Alle</option>
              {% for item in message_classes %}
                <option value="{{ item.id }}" {{ item.selected }}>{{ item.text }}</option>
              {% endfor %}
            </select>
            <input type="submit" name="filter" value="Filtern" />
            <input type="submit" name="delete_all" value=" Alle Löschen" onclick="return confirm('Wollen Sie die Nachrichten wirklich löschen?');" />
          </div>
        </div>
      {% else %}
        <div class="ym-g50 ym-gl">
          <div class="ym-gbox">
            Markierte:
            <input type="hidden" name="mark_action_value" value="recover" />
            <input type="submit" name="mark_action" value="Wiederherstellen" />
          </div>
        </div>
    {% endif %}
    </div>
  </div>
</div>

<div class="ua-box">
  <div class="ua-box-header">Nachrichten</div>
  <div class="ua-box-content">
    <table>
      <thead>
        <tr>
          <th style="border-bottom: none;">&nbsp;</th>
          <th style="border-bottom: none;">{{ from_to }}</th>
          <th style="border-bottom: none;">Nachrichtenart</th>
          <th style="border-bottom: none;">Betreff</th>
          <th style="border-bottom: none;">Datum</th>
        </tr>
        <tr>
          <th class="ua-td-name"><input name="all" type="checkbox" value="check all" onclick="checkall();" /></th>
          <th colspan="2"><span class="bold">alle auswählen</span></th>
          <th colspan="2" class="text-right">
            Nachrichten {{ message_min }} - {{ message_max }} von {{ message_count }} &nbsp; 
            {% if message_prev %}
              <a href="main.php?offset={{ message_prev.offset }}&amp;modus={{ message_prev.modus }}&amp;box={{ message_prev.box }}&amp;messageClass={{ message_prev.message_class }}">&lt;&lt;&lt; zurück</a>
            {% else %}
              &lt;&lt;&lt; zurück
            {% endif %}
            &nbsp;|&nbsp;
            {% if message_next %}
             <a href="main.php?offset={{ message_next.offset }}&amp;modus={{ message_next.modus }}&amp;box={{ message_next.box }}&amp;messageClass={{ message_next.message_class }}">weiter &gt;&gt;&gt;</a>
            {% else %}
              weiter &gt;&gt;&gt;
            {% endif %}
          </th>
        </tr>
      </thead>
      <tbody>
        {% if messages %}
          {% for item in messages %}
            <tr class="msg_{{ item.messageClass }} msg_read{{ item.read }} nohover">
              <td class="ua-td-name"><input type="checkbox" name="deletebox[{{ item.messageID }}]" value="{{ item.messageID }}" /></td>
              <td>{{ item.absender_empfaenger }}</td>
              <td>{{ item.nachrichtenart }}</td>
              <td>
                {% if item.read == 0 %}<img src="{{ gfx }}/de_DE/t_uga/messages/mail.gif" width="12px" height="12px" alt="" />{% endif %}
                <a href="main.php{{ item.linkparams|raw }}">{{ item.subject|raw }}</a>
              </td>
              <td class="text-right">{{ item.datum }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr><td class="text-center" colspan="5">In diesem Postfach befinden sich zur Zeit keine Nachrichten.</td></tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
</form>

{% endblock %}