{#
/* messageList.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2013 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Nachrichten{% endblock %}
{% block content %}

<script type="text/javascript">
// <![CDATA[
function checkall(){
  if(document.getElementById("deletemessages").all) 
  var c = document.getElementById("deletemessages").all.checked;
  for (var i=0;i<document.getElementById("deletemessages").elements.length;i++){
    var e = document.getElementById("deletemessages").elements[i];
    if(e.name != 'all') e.checked = c;
  }
}

// ]]>
</script>

{% if status_msg %}<div id="status-msg"><div class="alert alert-block alert-{{ status_msg.type }}"><p>{{ status_msg.message|raw }}</p></div><hr></div>{% endif %}

{% if trash %}<div class="alert alert-info">Du befindest dich gerade im Papierkorb. Hier kannst du gelösche Nachrichten wiederherstellen.<br />Achtung: Die Nachrichten hier werden automatisch gelöscht!</div><hr>{% endif %}

<div class="ua-box">
  <div class="ua-box-header">Nachrichten{% if message_class_name %} ({{ message_class_name }}){% endif %}{{ messageClass }}</div>
  <div class="ua-box-content">
    <div class="navbar navbar-static">
      <div class="container" style="width: auto;">
        <ul class="nav nav-tabs" id="mainTab">
          <li{% if message_box == 1 %} class="active"{% endif %}><a href="main.php?modus={{ messages_list_link }}&amp;box=1#incomming">Posteingang</a></li>
          <li{% if message_box == 2 %} class="active"{% endif %}><a href="main.php?modus={{ messages_list_link }}&amp;box=2#outgoing">Postausgang</a></li>
          <li{% if message_box == 3 %} class="active"{% endif %}><a href="main.php?modus={{ messages_list_link }}&amp;box=3#trash">Papierkorb</a></li>
          <li><a href="main.php?modus={{ messages_new_link }}#new">Neue Nachricht</a></li>
        </ul>
        <ul class="nav pull-right">
          <li id="fat-menu" class="dropdown">
            <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Filter <b class="caret"></b></a>
            <ul class="dropdown-menu" aria-labelledby="drop3">
              <li{% if message_class_id == 0 %} class="active"{% endif %}><a tabindex="-1" href="main.php?modus={{ messages_list_link }}&amp;box={{ message_box }}">Alle</a></li>
              {% for item in message_classes %}<li{% if item.selected %} class="active"{% endif %}><a tabindex="-1" href="main.php?modus={{ messages_list_link }}&amp;box={{ message_box }}&amp;messageClass={{ item.id }}">{{ item.text }}</a></li>{% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <form id="formMessage" class="form-inline" method="post" action="main.php?modus={{ messages_list_link }}&amp;caveID={{ cave_id }}&amp;box={{ message_box }}">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th style="border-bottom: none;">&nbsp;</th>
          <th style="border-bottom: none;">{{ from_to }}</th>
          <th style="border-bottom: none;">Nachrichtenart</th>
          <th style="border-bottom: none;">Betreff</th>
          <th style="border-bottom: none;">Datum</th>
          <th style="border-bottom: none;">&nbsp;</th>
        </tr>
        <tr>
          <th colspan="3">
            <input class="check-all" type="checkbox" style="margin-right: 5px;">
            {% if not trash %}
              <button type="button" id="mark_delete" name="mark_delete" class="btn-transparent btn-icon tooltip-show" rel="tooltip" data-placement="top" data-original-title="makierte Nachrichten löschen"><i class="icon-trash"></i></button>
              <button type="button" id="mark_read" name="mark_read" class="btn-transparent btn-icon tooltip-show" rel="tooltip" data-placement="top" data-original-title="makierte Nachrichten als gelesen makieren"><i class="icon-eye-open"></i></button>
              <button type="button" id="mark_mail" name="mark_mail" class="btn-transparent btn-icon tooltip-show" rel="tooltip" data-placement="top" data-original-title="makierte Nachrichten per E-Mail schicken"><i class="icon-print"></i></button>
            {% else %}
              <button type="button" id="mark_recover" name="mark_recover" class="btn-transparent btn-icon tooltip-show" rel="tooltip" data-placement="top" data-original-title="Nachricht in den Posteingang verschieben"><i class="icon-repeat"></i></button>
            {% endif %}
          </th>
          <th colspan="3" class="text-right">
            Nachrichten {{ message_min }} - {{ message_max }} von {{ message_count }} &nbsp; 
            {% if message_prev %}
              <a href="main.php?offset={{ message_prev.offset }}&amp;modus={{ message_prev.modus }}&amp;box={{ message_prev.box }}&amp;messageClass={{ message_prev.message_class }}"><i class="icon-step-backward"></i></a>
            {% else %}
              <i class="icon-step-backward"></i>
            {% endif %}
            &nbsp;|&nbsp;
            {% if message_next %}
              <a href="main.php?offset={{ message_next.offset }}&amp;modus={{ message_next.modus }}&amp;box={{ message_next.box }}&amp;messageClass={{ message_next.message_class }}"><i class="icon-step-forward"></i></a>
            {% else %}
              <i class="icon-step-forward"></i>
            {% endif %}
          </th>
        </tr>
      </thead>
      <tbody>
        {% if messages %}
          {% for item in messages %}
            <tr class="msg_{{ item.messageClass }} msg_read{{ item.read }}">
              <td class="ua-td-name"><input type="checkbox" name="deletebox[{{ item.messageID }}]" value="{{ item.messageID }}" /></td>
              <td>{% if item.playerID %}<a href="main.php?modus={{ player_detail_link }}&amp;detailID={{ item.playerID }}">{{ item.player }}</a>{% else %}{{ item.player }}{% endif %}</td>
              <td>{{ item.nachrichtenart }}</td>
              <td>
                {% if item.read < 1 and item.read != '' %}<img src="{{ gfx }}/de_DE/t_uga/messages/mail.gif" width="12" height="12" alt="" />{% endif %}
                <a href="main.php?modus={{ messages_read_link }}&amp;messageID={{ item.messageID }}&amp;box={{ message_box }}&amp;filter={{ message_class_id }}">{{ item.subject|raw }}</a>
              </td>
              <td class="text-right">{{ item.datum }}</td>
              {% if not trash %}
                <td class="message-icons">
                  <a class="change_mouseover tooltip-show" href="main.php?modus={{ messages_list_link }}&amp;action=mark_delete&amp;caveID={{ cave_id }}&amp;box={{ message_box }}&amp;messageID={{ item.messageID }}" rel="tooltip" data-placement="top" data-original-title="Nachricht in den Papierkorb verschieben" data-post="true"><i class="icon-trash"></i></a>
                  <a class="change_mouseover tooltip-show" href="main.php?modus={{ messages_list_link }}&amp;action=mark_read&amp;caveID={{ cave_id }}&amp;box={{ message_box }}&amp;messageID={{ item.messageID }}" rel="tooltip" data-placement="top" data-original-title="Nachricht als gelesen makieren" data-post="true"><i class="icon-eye-open"></i></a>
                  <a class="change_mouseover tooltip-show" href="main.php?modus={{ messages_list_link }}&amp;action=mark_mail&amp;caveID={{ cave_id }}&amp;box={{ message_box }}&amp;messageID={{ item.messageID }}" rel="tooltip" data-placement="top" data-original-title="Nachricht per E-Mail schicken" data-post="true"><i class="icon-print"></i></a>
                </td>
              {% else %}
                <td class="message-icon">
                  <a class="change_mouseover tooltip-show" href="main.php?modus={{ messages_list_link }}&amp;action=mark_recover&amp;caveID={{ cave_id }}&amp;box={{ message_box }}&amp;messageID={{ item.messageID }}" rel="tooltip" data-placement="top" data-original-title="Nachricht in den Posteingang verschiebenn" data-post="true"><i class="icon-repeat"></i></a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        {% else %}
          <tr><td class="text-center" colspan="6">In diesem Postfach befinden sich zur Zeit keine Nachrichten.</td></tr>
        {% endif %}
      </tbody>
    </table>
    </form>
  </div>
</div>

{% endblock %}