{#
/* messageDetail.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2013 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Nachricht lesen{% endblock %}
{% block content %}

<div class="ua-box">
  <div class="ua-box-header">
    <div class="row-fluid">
      <div class="span4 text-left" style="padding-left: 5px; min-height: 20px;">{% if previous_msg_id %}<a style="color: #ffffff;" href="main.php?modus={{ messages_read_link }}&amp;messageID={{ previous_msg_id }}&amp;box={{ box }}&amp;filter={{ message_class }}" class="text-msg-next">&lt;&lt;&lt; vorherige</a>{% endif %}</div>
      <div class="span4" style="padding-right: 5px; min-height: 20px;">Nachricht lesen</div>
      <div class="span4 text-right" style="padding-right: 5px; min-height: 20px;">{% if next_msg_id %}<a style="color: #ffffff;" href="main.php?modus={{ messages_read_link }}&amp;messageID={{ next_msg_id }}&amp;box={{ box }}&amp;filter={{ message_class }}" class="text-msg-previous">nächste &gt;&gt;&gt;</a>{% endif %}</div>
    </div>
  </div>
  <div class="ua-box-content">
    <div class="navbar navbar-static">
      <div class="container" style="width: auto;">
        <ul class="nav nav-tabs" id="mainTab">
          <li><a href="main.php?modus={{ messages_list_link }}&amp;box=1#incomming">Posteingang</a></li>
          <li><a href="main.php?modus={{ messages_list_link }}&amp;box=2#outgoing">Postausgang</a></li>
          <li><a href="main.php?modus={{ messages_list_link }}&amp;box=3#trash">Papierkorb</a></li>
          <li><a href="main.php?modus={{ messages_new_link }}#new">Neue Nachricht</a></li>
          <li class="active"><a href="#">Nachricht lesen</a></li>
        </ul>
      </div>
    </div>

    <div style="padding: 5px">
      <div class="row"><div class="span1">Betreff:</div><div class="span4">{{ message.subject|raw }}</div></div>
      <div class="row"><div class="span1">Von:</div><div class="span4">{{ message.sender }}</div></div>
      <div class="row"><div class="span1">An:</div><div class="span4">{{ message.empfaenger }}</div></div>
      <div class="row"><div class="span1">Datum:</div><div class="span4">{{ message.datum }}</div></div>
      <div class="row"><div class="span5">{% if xml_button %}<a class="export-link" href="export.php?modus=messages&amp;messageID={{ message_id }}&amp;format=xml"><img src="{{ gfx }}/de_DE/t_uga/icon_export_xml.png" class="noborder" style="width:30px; height:30px;" alt="Export als XML" title="Export als XML" /></a>{% endif %}</div></div>
      {% if reply or delete %}
        <form id="formMessageNewAnswer" class="form-inline" action="main.php?modus={{ messages_new_link }}&amp;caveID={{ cave_id }}" method="post">
        {% if reply %}
          {% for item in reply %}<input name="{{ item.arg }}" type="hidden" value="{{ item.value }}" />{% endfor %}
          <button class="btn" type="button" id="formMessageNewAnswerSubmit" name="formMessageNewAnswerSubmit">Antworten</button>
        {% endif %}
        {% if delete %}
          <a class="btn change_mouseover" href="main.php?modus={{ messages_list_link }}&amp;action=mark_delete&amp;caveID={{ cave_id }}&amp;box={{ box }}&amp;messageID={{ message_id }}" data-post="true">Löschen</a> 
        {% endif %}
        </form>
      {% endif %}
      <hr>
      {% if message_xml %}<div>{% include "xml/baseReport.tmpl" %}</div>{% else %}{{ message.nachricht|raw }}{% endif %}
    </div>
  </div>
</div>

{% endblock %}