{#
/* news.tmpl -
 * Copyright (c) 2016 David Unger <david@edv-unger.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}News{% endblock %}
{% block content %}


{% for item in news %}
  <div class="alert alert-info text-left" style="padding: 5px;">
    <h4>{{ item.subject }}</h4>
    <span class="text-left">{{ item.time }}</span>
    <hr>
    {{ item.message|raw }}
  </div>
{% else %}
  <div class="alert-error">Zur Zeit gibt es leider keine News.</div>
{% endfor %}
{% endblock %}