    </div>
    <div id="content-right">
      <ul id="ul-menu-right">
        <li><a href="main.php?modus={{ improvement_link }}"><img src="{{ gfx }}/de_DE/t_uga/menu/menu_improvement_detail.jpg" alt="Erweiterungen" /></a></li>
        <li><a href="main.php?modus={{ science_link }}"><img src="{{ gfx }}/de_DE/t_uga/menu/menu_science.jpg" alt="Forschungen" /></a></li>
        <li><a href="main.php?modus={{ defense_link }}"><img src="{{ gfx }}/de_DE/t_uga/menu/menu_external_builder.jpg" alt="Verteidigung" /></a></li>
        <li><a href="main.php?modus=unit_builder"><img src="{{ gfx }}/de_DE/t_uga/menu/menu_unit_builder.jpg" alt="Einheiten" /></a></li>
        <li><a href="main.php?modus=merchant"><img src="{{ gfx }}/de_DE/t_uga/menu/menu_merchant.jpg" alt="H&auml;ndler" /></a></li>
        <li><img src="{{ gfx }}/de_DE/t_uga/menu/menu_right_2.jpg" alt="" /></li>
        <li><img src="{{ gfx }}/de_DE/t_uga/menu/menu_right_3.jpg" alt="" /></li>
        <li><img src="{{ gfx }}/de_DE/t_uga/menu/menu_right_4.jpg" alt="" /></li>
        <li><a href="http://forum.uga-agga.de" onclick="open_page(this.href, 1); return false;"><img src="{{ gfx }}/de_DE/t_uga/menu/menu_forum.jpg" alt="UA Forum" /></a></li>
        <li><a href="main.php?modus=mail"><img src="{{ gfx }}/de_DE/t_uga/menu/menu_mail.jpg" alt="Mail an UA" /></a></li>
        <li><img src="{{ gfx }}/de_DE/t_uga/menu/menu_right_5.jpg" alt="" /></li>
      </ul>
      <br />
      <br />
    </div>
    <div style="clear: both;"></div>

    <div id="bottom-left"><p>Serverzeit: {{ time }}</p></div>
    <div id="bottom-middle"><p>{% include 'vote.tmpl' %}</p></div>
    <div id="bottom-right"><p>
      <a href="main.php?modus=statistic">Statistik</a> &amp;
      <a href="{{ help_path }}" onclick="open_page(this.href, 1); return false;">Hilfe</a> &amp;
      <a href="{{ rules_path }}" onclick="open_page(this.href, 1); return false;">Regeln</a>&nbsp;
      <a href="#top"><img src="{{ gfx }}/de_DE/t_uga/arrow_up.png" alt="nach oben" style="width:15px; height:15px;" /></a>
    </p></div>
    <div style="clear: both;"></div>
  </div>
</body>
</html>