{#
/* playerDetail.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 David Unger, Sascha Lange <salange@uos.de>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Spielerbeschreibung{% endblock %}
{% block content %}

<div class="ua-box small">
  <div class="ua-box-header">Spieler: {{ player_details.name }}</div>
  <div class="ua-box-content">
    {% if player_avatar %}
      <div class="notice" style="padding-top: 10px;">
        <img src="{{ player_avatar }}" width="{{ player_avatar_width }}" height="{{ player_avatar_height }}" alt="Spielerbanner" />
      </div>
    {% endif %}

    <div class="notice" style="width: 290px; float: left; margin-left: 10px; margin-top: 10px;">
      <ul>
        <li class="bold" style="padding-bottom: 10px; text-align: center;">Stammesdaten</li>

        <li class="player_detail_left">Name:</li>
        <li class="player_detail_right">{{ player_details.name }}</li>
        <li class="clr"><br class="clr" /></li>

        <li class="player_detail_left">Stamm:</li>
        <li class="player_detail_right"><a href="main.php?modus={{ tribe_detail_link }}&amp;tribe={{ player_details.tribe }}">{{ player_details.tribe }}</a></li>
        <li class="clr"><br class="clr" /></li>

        <li class="player_detail_left">Awards:</li>
        <li class="player_detail_right">{% if player_details.award %}<a href="main.php?modus={award_modus}&amp;award={tag}"><img src="images/awards/{tag}.png" width="15" height="15" border="0" hspace="1"></a>{% endif %}</li>
        <li class="clr"><br class="clr" /></li>

        <li class="player_detail_left">Geschlecht:</li>
        <li class="player_detail_right">{{ player_details.sex }}</li>
        <li class="clr"><br class="clr" /></li>

        <li class="player_detail_left">Herkunft:</li>
        <li class="player_detail_right">{{ player_details.origin }}</li>
        <li class="clr"><br class="clr" /></li>

        <li class="player_detail_left">Uga-Agga-Alter:</li>
        <li class="player_detail_right">{{ player_details.age }}</li>
        <li class="clr"><br class="clr" /></li>

        <li class="player_detail_left">ICQ:</li>
        <li class="player_detail_right">{{ player_details.icq }}</li>
        <li class="clr"><br class="clr" /></li>

        <li class="player_detail_left">Knüppelpunkte gewonnen:</li>
        <li class="player_detail_right">{{ player_details.warpoints_pos }}</li>
        <li class="clr"><br class="clr" /></li>

        <li class="player_detail_left">Knüppelpunkte verloren:</li>
        <li class="player_detail_right">{{ player_details.warpoints_neg }}</li>
        <li class="clr"><br class="clr" /></li>

        <li class="player_detail_left">geknüppelte Gegner:</li>
        <li class="player_detail_right">{{ player_details.body_count }}</li>
        <li class="clr"><br class="clr" /></li>

        <li class="player_detail_left"><a href="main.php?modus={{ ranking_player_link }}&amp;offset={{ player_details.rank }}">Aktuelles Ranking:</a></li>
        <li class="player_detail_right">{{ player_details.rank }}</li>
        <li class="clr"><br class="clr" /></li>
        
        <li style="padding-bottom: 10px; text-align: center;"><a href="main.php?modus={{ contact_bookmarks_link }}&amp;task=Add&amp;contact={{ player_details.name }}">Zum Adressbuch hinzufügen</a></li>
        <li style="padding-bottom: 10px; text-align: center;"><a href="main.php?modus={{ messages_new_link }}&amp;recipient={{ player_details.mail_receiver }}">Nachricht senden</a></li>
      </ul>
    </div>

    <div class="notice" style="width: 290px; float: right; margin-right: 10px; margin-top: 10px;">
      <ul>
        <li class="bold" style="padding-bottom: 10px; text-align: center;">Beschreibung:</li>
        <li style="padding-bottom: 10px;">{{ player_details.description|raw }}</li>
      </ul>
    </div>
    <div style="clear: both;"></div>

    <div style="margin: 0 10px 10px;">
      <table>
        <tbody>
          <thead>
            <tr><th class="text-center" colspan="4">Spieler-Geschichte</th></tr>
          </thead>
          <tbody>
          {% for item in player_history %}
          {% set bgID = (bgID+1)%2 %}
          <tr class="bg{{ bgID }}">
            <td class="left" style="width: 160px;">{{ item.timestamp }}</td>
            <td class="left">{{ item.entry|raw }}</td>
          </tr>
          {% else %}
            <tr><td>Dieser Spieler hat noch keine Geschichte</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div style="margin: 0 10px 10px;">
      <table>
        <tbody>
          <thead>
            <tr><th class="text-center" colspan="4">Höhlenliste</th></tr>
          </thead>
          <tbody>
          {% for item in player_caves %}
          {% set bgID = (bgID+1)%2 %}
          <tr class="bg{{ bgID }}">
            <td class="left"><a href="main.php?modus={{ map_link }}&amp;xCoord={{ item.xCoord }}&amp;yCoord={{ item.yCoord }}">{{ item.name }} ({{ item.xCoord }}|{{ item.yCoord }})</a></td>
            <td class="left">{% if item.secureCave == false %} (Übernehmbar){% else %}&nbsp;{% endif %}</td>
            <td class="right">
              <a href="main.php?modus={{ unit_movement_link }}&amp;targetXCoord={{ item.xCoord }}&amp;targetYCoord={{ item.yCoord }}&amp;targetCaveName={{ item.name }}">Marsch!</a>
              <a href="main.php?modus={{ cave_bookmarks_link }}&amp;task=Add&amp;xCoord={{ item.xCoord }}&amp;yCoord={{ item.yCoord }}">Höhlenliste+</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}