{#
/* profile.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Profil{% endblock %}
{% block content %}

{% if status_msg %}<div class="{{ status_msg.type }} small">{{ status_msg.message|raw }}</div>{% endif %}

{% if cancelOrder_box %}{% include "boxConfirmation.tmpl" %}{% endif %}

<div class="ua-box small">
  <div class="ua-box-header">Profil</div>
  <div class="ua-box-content">
    <form class="ym-form ym-columnar" id="profileupdate" method="post" action="main.php?modus={{ user_profile_link }}">
      <div class="jquery_tabs nav1">
        {% for item in profile_data %}
          <h4>{{ item.heading }}</h4>
          <div class="tabbody">
            {% if item.entry_info %}
              {% for item_info in item.entry_info %}
                <div class="ym-fbox-text">
                  <label for="">{{ item_info.name|raw }}</label>
                  <div>{{ item_info.value }}</div>
                </div>
              {% endfor %}
            {% endif %}
            {% if item.entry_input %}
              {% for item_input in item.entry_input %}
                <div class="ym-fbox-text">
                  <label for="{{ item_input.dataarray }}[{{ item_input.dataentry }}]">{{ item_input.name|raw }}</label>
                  <input type="text" name="{{ item_input.dataarray }}[{{ item_input.dataentry }}]" id="{{ item_input.dataarray }}[{{ item_input.dataentry }}]" value="{{ item_input.value }}" size="{{ item_input.size }}" maxlength="{{ item_input.maxlength }}" />
                </div>
              {% endfor %}
            {% endif %}
            {% if item.entry_memo %}
              {% for item_memo in item.entry_memo %}
                <div class="ym-fbox-text">
                  <label for="{{ item_memo.dataarray }}[{{ item_memo.dataentry }}]">{{ item_memo.name|raw }}</label>
                  <textarea name="{{ item_memo.dataarray }}[{{ item_memo.dataentry }}]" id="{{ item_memo.dataarray }}[{{ item_memo.dataentry }}]" cols="{{ item_memo.cols }}" rows="{{ item_memo.rows }}">{{ item_memo.value|raw }}</textarea>
                </div>
              {% endfor %}
            {% endif %}
            {% if item.entry_input_pwd %}
              {% for item_input_pwd in item.entry_input_pwd %}
                <div class="ym-fbox-text">
                  <label for="{{ item_input_pwd.dataarray }}[{{ item_input.dataentry }}]">{{ item_input_pwd.name|raw }}</label>
                  <input type="password" name="{{ item_input_pwd.dataarray }}[{{ item_input_pwd.dataentry }}]" id="{{ item_input_pwd.dataarray }}[{{ item_input_pwd.dataentry }}]" size="{{ item_input_pwd.size }}" maxlength="{{ item_input_pwd.maxlength }}" />
                </div>
              {% endfor %}
            {% endif %}
            {% if item.entry_selection %}
              {% for item_selection in item.entry_selection %}
                <div class="ym-fbox-select">
                  <label for="{{ item_selection.dataarray }}[{{ item_selection.dataentry }}]">{{ item_selection.name|raw }}</label>
                  <select name="{{ item_selection.dataarray }}[{{ item_selection.dataentry }}]" id="{{ item_selection.dataarray }}[{{ item_selection.dataentry }}]" size="1">
                    <option value="0" disabled="disabled">Please choose</option>
                    {% for selector in item_selection.selector %}
                      <option value="{{ selector.key }}" {% if selector.selector %}selected="selected"{% endif %}>{{ selector.text }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
            {% endif %}
            {% if item.entry_checkbox %}
              {% for item_checkbox in item.entry_checkbox %}
                <div class="ym-fbox-check">
                  <input type="checkbox" name="{{ item_checkbox.dataarray }}[{{ item_checkbox.dataentry }}]" id="{{ item_checkbox.dataarray }}[{{ item_checkbox.dataentry }}]" value="{{ item_checkbox.value }}" {% if item_checkbox.checked %}checked="checked"{% endif %} />
                  <label for="{{ item_checkbox.dataarray }}[{{ item_checkbox.dataentry }}]">{{ item_checkbox.name|raw }}</label>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <div class="ym-fbox-button text-center">
        <input type="hidden" name="action" value="change" />
        <input type="submit" class="ym-button" value="Speichern" id="safe" name="safe"/>
        <input type="reset" class="ym-button" value="Reset" id="reset" name="reset" />
      </div>
    </form>
  </div>
</div>

<div class="ua-box small">
  <div class="ua-box-header">Account Löschen</div>
  <div class="ua-box-content">
    <form class="ym-form ym-columnar" id="accountdelete" method="post" action="main.php?modus={{ user_profile_link }}">
      <div class="space text-center bold">Ich habe keine Lust mehr!</div>
      <div class="ym-fbox-button text-center">
        <input type="hidden" name="action" value="delete" />
        <input type="submit" class="ym-button" value="Den Account löschen!" id="delete" name="delete"/>
      </div>
    </form>
  </div>
</div>

{% endblock %}