{#
/* profile.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Profil{% endblock %}
{% block content %}

{% if status_msg %}<div id="status-msg"><div class="alert alert-block alert-{{ status_msg.type }}"><p>{{ status_msg.message|raw }}</p></div><hr></div>{% endif %}

<div class="ua-box">
  <div class="ua-box-header">Profil</div>
  <div class="ua-box-content">
    <div id="profile">
      <ul class="nav nav-tabs" id="mainTab">
        <li><a class="tab-switch active" href="#profile_info" data-toggle="tab">Benutzerdaten</a></li>
        <li><a class="tab-switch" href="#profile_locale" data-toggle="tab">Lokalisierung</a></li>
        <li><a class="tab-switch" href="#profile_template" data-toggle="tab">Template auswählen</a></li>
        <li><a class="tab-switch" href="#profile_gfx" data-toggle="tab">Grafikpack</a></li>
        <li><a class="tab-switch" href="#profile_passwd" data-toggle="tab">Passwort-Änderung</a></li>
      </ul>
      <form id="formTribeProfile" class="form-horizontal" action="main.php?modus={{ user_profile_link }}" method="post">
      <div class="tab-content space">
        <div class="tab-pane active" id="profile_info">
          <div class="control-group">
            <label class="control-label profile-label" for="inputPlayerName">Name</label>
            <div class="controls profile">
              <input type="text" id="inputPlayerName" name="inputPlayerName" placeholder="Name" value="{{ player.name }}" disabled>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label profile-label" for="inputName">Geschlecht</label>
            <div class="controls profile">
              <input type="text" id="inputName" name="inputName" placeholder="Geschlecht" value="{{ player.sex }}" disabled>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label profile-label" for="inputPlayerEmail">Email</label>
            <div class="controls profile">
              <input type="text" id="inputPlayerEmail" name="inputPlayerEmail" placeholder="Email" value="{{ player.email }}" disabled>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label profile-label" for="inputPlayerEmail2">Email2</label>
            <div class="controls profile">
              <input type="email" id="inputPlayerEmail2" name="inputPlayerEmail2" placeholder="Nachrichten E-Mail" value="{{ player.email2 }}" required>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label profile-label" for="inputPlayerOrigin">Herkunft</label>
            <div class="controls profile">
              <input type="text" id="inputPlayerOrigin" name="inputPlayerOrigin" placeholder="Herkunft" value="{{ player.origin }}">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label profile-label" for="inputPlayerICQ">ICQ</label>
            <div class="controls profile">
              <input type="number" id="inputPlayerICQ" name="inputPlayerICQ" placeholder="ICQ" value="{{ player.icq }}" pattern="\d*">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label profile-label" for="inputPlayerAvatar">Avatar Url</label>
            <div class="controls profile">
              <input type="url" id="inputPlayerAvatar" name="inputPlayerAvatar" placeholder="Avatar Url" value="{{ player.avatar }}">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label profile-label" for="inputPlayerDescription">Beschreibung</label>
            <div class="controls profile">
              <textarea id="inputPlayerDescription" name="inputPlayerDescription" style="width: 495px; height: 125px;" rows="3">{{ player.description| raw }}</textarea>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile_locale">
          <div class="control-group">
            <label class="control-label profile-label" for="inputPlayerLang">Sprache</label>
            <div class="controls profile">
              <select name="inputPlayerLang" style="width: 165px; height: 20px; padding: 0;">
                {% for key, lang in language %}<option value="{{ key }}"{% if player.language == key %} selected="selected"{% endif %}>{{ lang }}</option>{% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile_template">
          <div class="control-group">
            <label class="control-label profile-label" for="inputPlayerTemplate">Template</label>
            <div class="controls profile">
              <select name="inputPlayerTemplate" style="width: 165px; height: 20px; padding: 0;">
                {% for key, temp in template %}<option value="{{ key }}"{% if player.template == key %} selected="selected"{% endif %}>{{ temp }}</option>{% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile_gfx">
          <div class="control-group">
            <label class="control-label profile-label" for="inputPlayerGFX">Grafikpack URL</label>
            <div class="controls profile">
              <input type="url" id="inputPlayerGFX" name="inputPlayerGFX" placeholder="GFX Adresse" value="{{ player.gfxpath }}" required>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile_passwd">
          <div class="control-group">
            <label class="control-label profile-label" for="inputPlayerPasswordNew">Neues Passwort</label>
            <div class="controls profile">
              <input type="text" id="inputPlayerPasswordNew" name="inputPlayerPasswordNew" placeholder="Neues Passwort" value="">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label profile-label" for="inputPlayerPasswordRe">Wiederholung</label>
            <div class="controls profile">
              <input type="text" id="inputPlayerPasswordRe" name="inputPlayerPasswordRe" placeholder="Neues Passwort - Wiederholung" value="">
            </div>
          </div>
        </div>
      </div>
      <div class="text-center space">
        <input type="hidden" name="action" value="change">
        <button class="btn" type="button" id="formTribeProfileSubmit" name="formTribeProfileSubmit">Absenden</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="ua-box">
  <div class="ua-box-header">Account Löschen</div>
  <div class="ua-box-content">
    <div class="text-center space">
    <h4>Ich habe keine Lust mehr!</h4>
    <a class="action btn" href="main.php?modus={{ user_profile_link }}&amp;action=delete" data-reask="true" data-reask-header="Account löschen!" data-reask-msg="Möchtest du deinen Account wirklich löschen?">Den Account löschen!</a>
    </div>
  </div>
</div>

{% endblock %}