{% extends "base.tmpl" %}
{% block title %}Umfrage{% endblock %}
{% block content %}

{% if account %}
<div class="success small nohover bottom_space">
   <span class="bold">Bisher erhaltene Schnecken:</span>
    <br />
    {{account.copper}}x
    <img src="{{ gfx }}/questionnaire/copper.gif" alt="Kupfer" title="Kupfer" style="vertical-align:middle" />
    {% if account.silver %}
      {{account.silver}}x
      <img src="{{ gfx }}/questionnaire/silver.gif" alt="Silber" title="Silber" style="vertical-align:middle" />
    {% endif %}
    {% if account.gold %}
      {{account.gold}}x
      <img src="{{ gfx }}/questionnaire/gold.gif" alt="Gold" title="Gold" style="vertical-align:middle" />
    {% endif %}
    
</div>
{% endif %}

{% if status_msg %}<div class="{{ status_msg.type }} small bottom_space">{{ status_msg.message|raw }}</div>{% endif %}

{% if questions %}
<br />
<div class="box small">
<form method="post" action="main.php">

  <div class="box-header nohover">Fragebogen</div>
  <div class="box-content success inner nohover">
  <table>
  {% for question in questions.question %}
  <tr>
    <td>Nr. {{ question.questionID }}:&nbsp;{{ question.questionText }}</td>
    <td>{{ question.message }}</td>
    <td>
      <select name="question[{{question.questionID}}]">
          <option value="-1" selected="selected">Wähle eine Antwort</option>
          <option value="-1">-----------------------</option>
          {% for choice in question.CHOICE %}
            <option value="{{ choice.choiceID }}">{{ choice.choiceText }}</option>
          {% endfor %}
      </select>
    </td>
    <td>{{question.credits}}</td>
    <td><img src="{{ gfx }}/questionnaire/copper.gif" alt="Kupfer" title="Kupfer" /></td>
  </tr>
  {% endfor %}
  <tr>
    <td style="width:100%"><p><input type="submit" value="und los geht's. UGH?" /></p></td>
  </tr>
  </table>
  </div>
{% for param in questions.params %}
  <p><input type="hidden" name="{{ param.name }}" value="{{ param.value }}" /></p>
{% endfor %}
</form>
</div>
{% endif %}
<br />

<div class="small success nohover"><a href="main.php?modus={{ questionaire_present_link }}">zu den Geschenken</a></div>
 
{% endblock %}