{#
/* questionairePresents.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Geschenke{% endblock %}
{% block content %}

{% if credits.credits %}
<div class="success small bottom_space">
   <span class="bold">Bisher erhaltene Schnecken:</span>
    <br />
    {{ credits.copper }}x
    <img src="{{ gfx }}/questionnaire/copper.gif" alt="Kupfer" title="Kupfer" style="vertical-align:middle" />
    {% if credits.silver %}
      {{ credits.silver }}x
      <img src="{{ gfx }}/questionnaire/silver.gif" alt="Silber" title="Silber" style="vertical-align:middle" />
    {% endif %}
    {% if credits.gold %}
      {{ credits.gold }}x
      <img src="{{ gfx }}/questionnaire/gold.gif" alt="Gold" title="Gold" style="vertical-align:middle" />
    {% endif %}

    <div class="text-small" style="padding-top: 5px;"><a href="main.php?modus={{ questionaire_present_link }}">Schnecken einlösen</a></div>
</div>
{% endif %}

{% if status_msg %}<div class="{{ status_msg.type }} small">{{ status_msg.message|raw }}</div>{% endif %}

<div class="ua-box small">
  <div class="ua-box-header">Geschenke</div>
  <div class="ua-box-content">
      <div class="notice text-center">
        Ihr unterhaltet euch kurz mit der Weisen Alten Frau eures Stammes. Sie erklärt euch, dass ihr eure wertvollen Schnecken gegen interessante Kostbarkeiten eintauschen könnt.
        Allerdings geb ich euch nicht mehr, als in eure Höhle passt. (Die Schnecken behalt' ich aber trotzdem.)
      </div>
      
      <table>
        <thead>
          <tr>
            <th>Geschenk</th>
            <th class="text-right">Kosten</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {% for present in presents %}
          {% set bgID = (bgID+1)%2 %}
            <tr class="bg{{ bgID }}">
              <td>
                {{present.name}}
                <ul style="padding-left: 10px" class="text-small">
                  {% if present.defenseSystem or present.resource or present.unit %}
                    {% for external in present.defenseSystem %}
                      <li>{{external.amount}}x {{external.name}}</li>
                    {% endfor %}
                    {% for resource in present.resource %}
                      <li>{{resource.amount}}x {{resource.name}}</li>
                    {% endfor %}
                    {% for unit in present.unit %}
                      <li>{{unit.amount}}x {{unit.name}}</li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </td>
              <td class="text-right">
                {% if present.copper %}
                <label for="presentID{{present.presentID}}">{{present.copper}}x</label>
                <img src="{{ gfx }}/questionnaire/copper.gif" alt="Kupfer" title="Kupfer" />
                {% endif %}

                {% if present.silver %}
                <label for="presentID{{present.presentID}}">{{present.silver}}x</label>
                <img src="{{ gfx }}/questionnaire/silver.gif" alt="Silber" title="Silber" />
                {% endif %}

                {% if present.gold %}
                <label for="presentID{{present.presentID}}">{{present.gold}}x</label>
                <img src="{{ gfx }}/questionnaire/gold.gif" alt="Gold" title="Gold" />
                {% endif %}
              </td>
              <td style="width: 25px;" class="text-right">
                <form action="main.php?modus={{ questionaire_present_link }}" method="post">
                  <div id="wonder">
                    <input type="hidden" name="action" value="present" />
                    <input type="hidden" name="presentID" value="{{ present.presentID }}" />
                    <input type="hidden" name="caveID" value="{{ cave_id }}" />
                    <input type="image" src="{{ gfx }}/de_DE/t_uga/flash.png" value="Eintauschen" alt="Eintauschen" title="Eintauschen" />
                  </div>
                </form>
              </td>
            </tr>
          {% else %}
            <tr class="bg0"><td class="text-center" colspan="2">Zur Zeit habe ich leider nichts für euch im Angebot.</td></tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>

<div class="small success"><a href="main.php?modus={{ questionaire_link }}">zu den Fragen</a></div>

{% endblock %}