{#
/* questionaire.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Umfrage{% endblock %}
{% block content %}

{% if credits.credits %}
<div class="success small bottom_space">
   <span class="bold">Bisher erhaltene Schnecken:</span>
    <br />
    {{ credits.copper }}x
    <img src="{{ gfx }}/questionnaire/copper.gif" alt="Kupfer" title="Kupfer" style="vertical-align:middle" />
    {% if credits.silver %}
      {{ credits.silver }}x
      <img src="{{ gfx }}/questionnaire/silver.gif" alt="Silber" title="Silber" style="vertical-align:middle" />
    {% endif %}
    {% if credits.gold %}
      {{ credits.gold }}x
      <img src="{{ gfx }}/questionnaire/gold.gif" alt="Gold" title="Gold" style="vertical-align:middle" />
    {% endif %}

    <div class="text-small" style="padding-top: 5px;"><a href="main.php?modus={{ questionaire_present_link }}">Schnecken einlösen</a></div>
</div>
{% endif %}

{% if status_msg %}<div class="{{ status_msg.type }} small">{{ status_msg.message|raw }}</div>{% endif %}

<div class="ua-box small">
  <div class="ua-box-header">Fragebogen</div>
  <div class="ua-box-content">
    {% if questions %}
    <form class="ym-form" id="unitMoving" method="post" action="main.php?modus={{ questionaire_link }}">
      <table>
        <thead>
          <tr><th>Frage</th><th>Antwort</th></tr>
        </thead>
        <tbody>
          {% for question in questions %}
          {% set bgID = (bgID+1)%2 %}
            <tr class="bg{{ bgID }}">
              <td>Nr. {{ question.questionID }}:&nbsp;{{ question.questionText }}</td>
              <td>
                <select name="question[{{question.questionID}}]">
                  <option value="-1" selected="selected" disabled="disabled">Wähle eine Antwort</option>
                  {% for choice in question.choice %}<option value="{{ choice.choiceID }}">{{ choice.choiceText }}</option>{% endfor %}
                </select>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="ym-fbox-button">
        <input type="hidden" name="action" value="answers" />
        <input type="hidden" name="caveID" value="{{ cave_id }}" />
        <input type="submit" class="ym-button" value="UGH?" id="submit" name="submit"/>
      </div>
    </form>
    {% else %}
      <div class="space text-center">Derzeit liegen keine neuen Fragen vor.</div>
    {% endif %}
  </div>
</div>

<div class="small success"><a href="main.php?modus={{ questionaire_present_link }}">zu den Geschenken</a></div>
 
{% endblock %}