{#
/* rankingTribe.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2013 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Stammesranking{% endblock %}
{% block content %}

<a href="main.php?modus={{ ranking_player_link }}&amp;caveID={{ cave_id }}">Zum Spielerranking</a><hr>

<div class="ua-box small">
  <div class="ua-box-header">Stammesranking</div>
  <div class="ua-box-content">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Ruhm</th>
          <th>Macht</th>
          <th>Durchschnitt</th>
          <th>Knüppelp.</th>
          <th>Mitglieder</th>
          <th>Höhlen</th>
          <th>Gew./Verl.</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for item in row %}
          <tr>
            <td style="padding-left: 4px">{{ item.rank }}</td>
            <td><a href="main.php?modus={{ tribe_detail_link }}&amp;tribe={{ item.tribe|url_encode }}">{{ item.tribe }}</a></td>
            <td>{{ item.glory }}</td>
            <td>{{ item.points_rank }}</td>
            <td>{{ item.average }}</td>
            <td>{{ item.warpoints }}</td>
            <td>{{ item.members }}</td>
            <td>{{ item.caves }}</td>
            <td>{{ item.war_won }} / {{ item.war_lost }}</td>
            <td>&nbsp;{% for award in item.award %}<a href="main.php?modus={{ award_detail_link }}&amp;award={{ award.tag }}"><img src="images/awards/{{ award.tag }}.png" class="noborder" width="15" height="15" hspace="1" /></a>{% endfor %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% if max_pages > 1 %}
{% set extremePagesLimit = 2 %}
{% set nearbyPagesLimit = 2 %}
<div class="pagination pagination-small pagination-centered">
  <ul>
    <li{% if page <= 1 %} class="disabled"{% endif %}><a{% if page <= 1 %} class="nolink"{% endif %} href="main.php?modus={{ ranking_tribe_link }}&amp;page={{ page-1 }}">«</a></li>

    {% for i in range(1, extremePagesLimit) if ( i < page-nearbyPagesLimit ) %}
      <li><a href="main.php?modus={{ ranking_tribe_link }}&amp;page={{ i }}">{{ i }}</a></li>
    {% endfor %}

    {% if extremePagesLimit + 1 < page - nearbyPagesLimit %}
      <li class="disabled"><a class="nolink" href="#">...</a></li>
    {% endif %}

    {% for i in range(page-nearbyPagesLimit, page-1) if ( i > 0 ) %}
      <li><a href="main.php?modus={{ ranking_tribe_link }}&amp;page={{ i }}">{{ i }}</a></li>
    {% endfor %}
    <li class="active"><a href="main.php?modus={{ ranking_tribe_link }}&amp;page={{ page }}">{{ page }}</a></li>

    {% if page < max_pages %}
      {% for i in range(page+1, max_pages) if ( loop.index <= nearbyPagesLimit and i <= max_pages ) %}
        <li><a href="main.php?modus={{ ranking_tribe_link }}&amp;page={{ i }}">{{ i }}</a></li>
      {% endfor %}
      
      {% if  (max_pages - extremePagesLimit) > (page + nearbyPagesLimit ) %}
        <li class="disabled"><a class="nolink" href="#">...</a></li>
      {% endif %}
      
      {% for i in range(max_pages-extremePagesLimit+1, max_pages) if ( i > page+nearbyPagesLimit ) %}
        <li><a href="main.php?modus={{ ranking_tribe_link }}&amp;page={{ i }}">{{ i }}</a></li>
      {% endfor %}
    {% endif %}

    <li{% if page >= max_pages %} class="disabled"{% endif %}><a{% if page >= max_pages %} class="nolink"{% endif %} href="main.php?modus={{ ranking_tribe_link }}&amp;page={{ page+1 }}">»</a></li>
  </ul>
</div>
{% endif %}

<form id="formSearchTribe" class="form-horizontal" action="main.php?modus={{ ranking_tribe_link }}" method="post">
  <div class="input-append">
    <input class="autocomplete" name="search" id="search" type="text" class="input-medium search-query" data-source="tribe">
    <button class="btn" type="button" id="formSearchTribeSubmit" name="formSearchTribeSubmit">Suchen</button>
  </div>
</form>

{% endblock %}