{#
/* rankingTribe.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 David Unger, Sascha Lange <salange@uos.de>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Stammesranking{% endblock %}
{% block content %}

<script language="JavaScript" type="text/JavaScript">
<!--
function swapImgRestore() {
  var i, x, a = document.sr;
  for(i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++)
    x.src = x.oSrc;
}

function findObj(n, d) {
  var p,i,x;
  if(!d)
    d = document;
  if((p = n.indexOf("?")) > 0 && parent.frames.length){
    d = parent.frames[n.substring(p + 1)].document;
    n = n.substring(0, p);
  }
  if(!(x = d[n]) && d.all)
    x = d.all[n];
  for(i = 0; !x && i < d.forms.length; i++)
    x = d.forms[i][n];
  for(i = 0; !x && d.layers && i < d.layers.length; i++)
    x = findObj(n, d.layers[i].document);
  if(!x && d.getElementById)
    x = d.getElementById(n);
  return x;
}

function swapImage(){
  var i, j = 0, x, a = swapImage.arguments;
  document.sr = new Array;
  for(i = 0; i < (a.length - 2); i += 3)
    if((x = findObj(a[i]))!=null){
      document.sr[j++] = x;
      if(!x.oSrc)
        x.oSrc = x.src;
      x.src = a[i + 2];
    }
}
//-->
</script>

<p><a href="main.php?modus={{ ranking_player_link }}&amp;caveID={{ cave_id }}">Zum Spielerranking</a></p>

<div id="ranking-Tribe" class="box">
  <div class="box-header">Spielerranking</div>
  <div class="box-content success inner">
    <table class="table text-left" cellpadding="3" cellspacing="0" rules="rows">
      <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Ruhm</th>
      <th>Macht</th>
      <th>Durchschnitt</th>
      <th>Knüppelp.</th>
      <th>Mitglieder</th>
      <th>Höhlen</th>
      <th>Gew./Verl.</th>
      <th>&nbsp;</th>
      </tr>
      {% for item in row %}
        {% set bgID = (bgID+1)%2 %}
        <tr class="bg{{ bgID }}">
          <td>{{ item.rank }}</td>
          <td><a href="main.php?modus={{ tribe_detail_link }}&amp;tribe={{ item.tribe|url_encode }}">{{ item.tribe }}</a></td>
          <td>{{ item.glory }}</td>
          <td>{{ item.points_rank }}</td>
          <td>{{ item.average }}</td>
          <td>{{ item.warpoints }}</td>
          <td>{{ item.members }}</td>
          <td>{{ item.caves }}</td>
          <td>{{ item.war_won }} / {{ item.war_lost }}</td>
          <td>&nbsp;{% for award in item.award %}<a href="main.php?modus={{ award_detail_link }}&amp;award={{ award.tag }}"><img src="images/awards/{{ award.tag }}.png" class="noborder" width="15" height="15" hspace="1" /></a>{% endfor %}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="text-center">
  <a href="main.php?modus={{ ranking_tribe_link }}&amp;offset={{ offset_up }}" onmouseover="swapImage('up','','{{ gfx }}/de_DE/t_uga/ranking/up.png',1)" onmouseout="swapImgRestore()"><img src="{{ gfx }}/de_DE/t_uga/ranking/up.png" alt="up" width="20" height="20" class="noborder" id="up" title="up" /></a>&nbsp;
  <a href="main.php?modus={{ ranking_tribe_link }}&amp;offset={{ offset_down }}" onmouseover="swapImage('down','','{{ gfx }}/de_DE/t_uga/ranking/down.png',1)" onmouseout="swapImgRestore()"><img src="{{ gfx }}/de_DE/t_uga/ranking/down.png" alt="down" width="20" height="20" class="noborder" id="down" title="down" /></a>&nbsp;
</div>

<form method="post" action="main.php?modus={{ ranking_tribe_link }}">
  <div style="align: center;">Springe zu:
    <input name="offset" type="text" id="offset" size="15" maxlength="30" />
    &nbsp;
    <input name="submit" type="submit" id="submit" value="uggh!" />
  </div>
</form>

{% endblock %}