{#
/* rssFeedNews.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 David Unger <unger.dave@gmail.com>, Sascha Lange <salange@uos.de>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}News{% endblock %}
{% block content %}

{% for item in rssFeeds %}
  <div class="alert-info text-left" style="padding: 5px;">
    <h4><a href="{{ item.link }}">{{ item.title }}</a></h4>
    {{ item.description|raw }}
  </div>
{% else %}
  <div class="alert-error">Zur Zeit gibt es leider keine News.</div>
{% endfor %}
{% endblock %}