{#
/* scienceDetail.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 David Unger, Sascha Lange <salange@uos.de>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Forschungen Details{% endblock %}
{% block content %}

<div class="box"> 
  <div class="box-header"><span class="bold">{{ name }}</span></div>
  <div class="box-content success inner nohover">
    <ul>
      <li style="padding-bottom: 10px;">{{ description|raw }}</li>
      <li><span class="bold">Maximale Stufe:</span> {{ maxlevel }}</li>
      <li style="padding-bottom: 10px;"><span class="bold">Berechnung:</span> {{ maxReadable }}</li>

      {% if dependencies %}
        <span class="bold">Abhängigkeiten:</span>
        <ul>
        {% for groups in dependencies %}
          <li style="padding-left: 5px">
            <span class="bold">{{ groups.name}}:</span>
            <table>
            {% for dependency in groups.dep %}
            <tr>
            <td>{{ dependency.name }}</td><td>{{ dependency.level|raw }}</td>
            </tr>
            {% endfor %}
            </table>
          </li>
        {% endfor %}
        </ul>
      {% endif %}

      {% if cost_time_lvl %}
        <li class="bold">Baukosten und -zeiten bei {{ cost_time_lvl.population }} Einwohnern:</li>
        <li>
          <table>
            {% for level in cost_time_lvl.item %}
            <tr>
              <td style="text-align: right;">Stufe {{ level.level }}:</td>
              <td style="padding-left: 6px;">
                {% for resource in level.resource_cost %}
                  <img src="{{ gfx }}/resources/{{ resource.dbFieldName }}_icon.gif" style="width:15px; height:15px; border:none;" alt="{{ resource.name }}" title="{{ resource.name }}" />			
                  {{ resource.value }} &nbsp;
                {% endfor %}
                {% for unit in level.unit_cost %}
                  <br />
                  {{ unit.name }}: {{ unit.value }}
                {% endfor %}
                {% for building in level.building_cost %}
                  <br />
                  {{ building.name }}: {{ building.value }}
                {% endfor %}
                {% for defense in level.defense_cost %}
                  <br />
                  {{ defense.name }}: {{ defense.value }}
                {% endfor %}
              </td>
              <td><img src="{{ gfx }}/de_DE/t_uga/clock.gif" width="15" height="15" border="0" alt="Dauer:" />{{ level.time }}</td>
            </tr>
            {% endfor %}
          </table>
        </li>
      {% endif %}
    </ul>
  </div>
</div>

{% endblock %}