{#
/* sugestions.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2013 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Verbesserungsvorschläge{% endblock %}
{% block content %}

{% if status_msg %}<div class="alert alert-block alert-{{ status_msg.type }}"><p>{{ status_msg.message|raw }}</p></div><hr>{% endif %}

<div class="alert alert-info"><p>Hier kannst du Verbesserungsvorschläge einbringen. Um Mißbrauch zu vermeiden, wird die Anzahl der möglichen Vorschläge auf {{ max_count }} pro Spieler beschränkt. Ebenso wird ein Vorschlag sicher nicht bevorzugt behandelt, wenn man ihn dreimal anbringt.</p></div>

<hr>

{% if max_suggestions %}
  <div class="alert alert-block alert-error"><p>Du hast schon die Maximalzahl an möglichen Vorschlägen erreicht.</p></div>
{% else %}
  <div class="ua-box small">
    <div class="ua-box-header">Verbesserungsvorschläge</div>
    <div class="ua-box-content" style="padding: 5px;">
      <form id="formSuggestions" class="form-horizontal" method="post" action="main.php?modus={{ suggestions_link }}&amp;caveID={{ cave_id }}">
        <textarea class="input-block-level" id="inputMessage" name="inputMessage" style="height: 200px;" rows="3"></textarea>
        <input type="hidden" name="action" value="add">
        <button class="btn" type="button" id="formSuggestionsSubmit" name="formSuggestionsSubmit">Absenden</button>
      </form>
    </div>
  </div>
{% endif %}

{% endblock %}