{#
/* takeover.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Missionieren{% endblock %}
{% block content %}

<div class="small">

{% if withdrawal_check %}
  <div class="info">
    Entscheidest du dich wirklich dafür, dein Angebot zurückzuziehen? Sobald du 
    dies getan hast, wird der Häuptling der bebotenen Höhle deine Zuwendungen 
    vergessen haben und deine Bemühungen zunichte machen ...
    <br /><br />
    <form id="confirm" method="post" action="main.php?modus={{ takeover_link }}">
      <div><input type="hidden" name="action" value="withdrawal" />
      <input type="hidden" name="withdrawal_check" value="{{ withdrawal_check }}" />
      <input type="submit" name="confirm_withdrawal" value="'Überzeugungsarbeit' beenden" />
      <input type="submit" name="abort_withdrawal" value="Lieber nicht ..." /></div>
    </form>
  </div>
{% endif %}

{% if change_check %}
  <div class="info">
    Willst du die Höhle in ({{ xCoord }}/{{ yCoord }}) wirklich missionieren?
    <br /><br />
    <form id="confirm" method="post" action="main.php?modus={{ takeover_link }}">
      <div><input type="hidden" name="action" value="change" />
      <input type="hidden" name="change_check" value="{{ change_check }}" />
      <input type="hidden" name="xCoord" value="{{ xCoord }}" />
      <input type="hidden" name="yCoord" value="{{ yCoord }}" />
      <input type="submit" name="confirm_change" value="Höhle Missionieren!" />
      <input type="submit" name="abort_change" value="Lieber nicht ..." /></div>
    </form>
  </div>
{% endif %}


{% if status_msg %}<div class="{{ status_msg.type }}">{{ status_msg.message }}</div>{% endif %}

{% if show_page %}
  <div class="info">Höhlen sind die Basis der Macht eines jeden Stammeshäuptlings. Je mehr er davon kontrolliert, umso mächtiger und gefährlicher kann er werden. Jede zusätzlich errungene Höhle dient als Ausbildungsstätte für Truppen und als Quelle göttlicher Wunder.</div>

  {% if chosen %}
    <div class="success">
      <p class="bold">Du leistest derzeit "Überzeugungsarbeit" in Höhle {{ current_name }} ({{ current_x_coord }}|{{ current_y_Coord }}).</p>
      <br />
      <div style="width: 550px; margin: 0 auto;">
        <div style="width: 250px; float: left;">
          <div class="box">
            <div class="box-header">Derzeitige Wertpunkte:</div>
            <div class="box-content">
              <table>
                {% if bidding.resource %}
                  <tr>
                    <th align="text-left" style="width: 125px;">Rohstoff</th>
                    <th align="text-left" style="width: 125px;">Punkte</th>
                  </tr>
                  {% for item in bidding.resource %}
                  <tr>
                    <td align="text-left" style="width: 125px;">{{ item.name }}</td>
                    <td align="text-left" style="width: 125px;">{{ item.value }}</td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td align="text-left" style="width: 125px;"><span class="bold">Punkte:</span></td>
                    <td align="text-left" style="width: 125px;"><span class="bold">{{ bidding.sum }}</span></td>
                  </tr>
                  <tr>
                    <td align="text-left" style="width: 125px;"><span class="bold">Verhältnis:</span></td>
                    <td align="text-left" style="width: 125px;"><span class="bold">{{ bidding.proportion }}</span></td>
                  </tr>
                {% else %}
                  <tr>
                    <td align="text-left" colspan="2" style="width: 250px;">Du hast noch keine Rohstoffe in die Höhle gebracht.</td>
                  </tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>

        <div style="float: right; width: 250px;">
          <div class="box">
            <div class="box-header">Mitstreiter:</div>
            <div class="box-content success inner">
              <table>
                  <tr>
                    <th align="text-left" style="width: 125px;">Spieler</th>
                    <th align="text-left" style="width: 125px;">Sterne</th>
                  </tr>
                  <tr>
                    <td align="text-left" style="width: 125px;">Eigene:</td>
                    <td align="text-left" style="width: 125px;"><img src="{{ gfx }}/de_DE/t_uga/takeover/star00{{ bidding.status_txt }}.gif" alt="{{ bidding.status_img }}" /></td>
                  </tr>
                {% if bidding.bidder %}
                  {% for item in bidding.bidder %}
                  <tr>
                    <td align="text-left" style="width: 125px;"><a href="main.php?modus={{ player_detail_link }}&amp;detailID={{ item.playerID }}">{{ item.playername }}:</a></td>
                    <td align="text-left" style="width: 125px;"><img src="{{ gfx }}/de_DE/t_uga/takeover/star00{{ item.status_txt }}.gif" alt="{{ item.status_img }}" /></td>
                  </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="2" class="text-center" style="width: 250px;">Niemand ist dumm genug, gegen euch anzutreten.</td>
                  </tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
        <div style="clear:both;"></div>

        <div style="width: 550px; margin: 0 auto;">
          <div style="width: 250px; float: left;">
            <form id="unit_movement" method="post" action="main.php?modus={{ unit_movement_link }}">
              <div><input name="targetXCoord" type="hidden" value="{{ current_x_coord }}" />
              <input name="targetYCoord" type="hidden" value="{{ current_y_Coord }}" />
              <input name="targetCaveName" type="hidden" value="{{ uh_caveName }}" />
              <input type="submit" name="submit" value="Dorthin bewegen!" /></div>
            </form>
          </div>

          <div style="float: right; width: 250px;">
            <form id="confirm_withdrawal" method="post" action="main.php?modus={{ takeover_link }}">
              <div><input name="action" type="hidden" value="withdrawal" />
              <input type="submit" name="submit" value="'Überzeugungsarbeit' beenden" /></div>
            </form>
          </div>
          <div style="clear:both;"></div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="ua-box">
    <div class="ua-box-header">Höhlenauswahl</div>
    <div class="ua-box-content">
      <form id="confirm_change" method="post" action="main.php?modus={{ takeover_link }}">
        <div class="text-center space">
          Wähle eine Höhle, die du übernehmen möchtest:
          <br />
          x/y-Koordinate:
          <input name="xCoord" type="text" size="4" maxlength="4" value="{{ target_x_coord }}" />
          &nbsp;
          <input name="yCoord" type="text" size="4" maxlength="4" value="{{ target_y_coord }}" />
          <input name="action" type="hidden" value="change" />
          <input type="submit" name="submit" value="die will ich, Ughh!" />
        </div>
      </form>
    </div>
  </div>

  <div class="ua-box" style="width: 150px; margin-right: auto; margin-left: auto;">
    <div class="ua-box-header">Rohstoffwerte</div>
    <div class="ua-box-content">
      <table>
        <thead>
          <tr>
            <th class="text-center">Rohstoff</th>
            <th class="text-center">Punkte</th>
          </tr>
        </thead>
        <tbody>
          {% for item in resource_ratings %}
          <tr>
            <td class="text-center">{{ item.name }}</td>
            <td class="text-center">{{ item.value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="notice text-left">
    <div class="bold text-center">Hinweise</div>
    Alles über das Missionieren von Höhlen kann bequem in der <a href="http://faq.uga-agga.de/content/3/5/de/10-fragen-zum-missionieren.html">Online-Hilfe</a> nachgelesen werden.

    <br /><br />

    Ein Weg, Höhlen zu erobern, ist sie zu missionieren. Dabei gelten jedoch folgende Einschränkungen:

    <ul>
      <li>
        Jeder Häuptling kann nur über maximal {{ maxcaves }} Höhlen gebieten.
      </li>
      <li>
        Nur maximal 4 Höhlen können feste Höhlen sein. Alle Anderen können von 
        Feinden übernommen werden.
      </li>
      <li>
        Die Höhle muss frei und <span class="bold">auf der Karte als bewohnbar gekennzeichnet 
        sein.</span>
      </li>
    </ul>

    <br />

    Die Missionierung einer Höhle geht nun wie folgt von statten:
    <ul>
      <li>Suche auf der Karte eine Höhle die als "frei" markiert ist!</li>
      <li>Wähle sie als Missionierungshöhle! Von Höhlen mit vielen Mitbewerbern ist meist abzuraten.</li>
      <li>Transportiere Ressourcen in die Höhle, um den dortigen Häuptling dir gewogen zu stimmen!</li>
      <li>überbiete alle Mitbewerber an {{ popularity }} - nicht zwingend aufeinander folgenden - Missionierungen!<br />Die Zeiten für die Berechnung findest du im Forum oder der FAQ.</li>
    </ul>

    <br />

    Dabei muss man jedoch darauf achten, dass pro Tag eine gewisse 
    Mindestmenge an Ressourcen nötig ist um einen Stern zu erhalten. Diese 
    Menge ist von der Anzahl der Höhlen abhängig die du schon besitzt. 
    Solltest du an einem Tag weniger als diese Mindestmenge in eine Höhle 
    tragen, so sind die Ressourcen verschwendet. Allerdings sind die 
    Häuptlinge eher von den Gaben schwächerer Stammesführer beeindruckt, so 
    dass diese deutlich weniger Ressourcen benötigen als ein stärkerer 
    Mitbieter. Das Verhältnis zwischen Mindestwert und eingesetzten 
    Ressourcen ist entscheidend.

    <br /><br />

    <div class="ua-box" style="width: 240px; float: left;">
      <div class="ua-box-header">Berechnung</div>
      <div class="ua-box-content">
        <table>
          <thead>
            <tr>
              <th colspan="2" class="text-center">Anzahl deiner Höhlen Mindestwertpunkte</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"> 1 </td>
              <td class="text-center"> 200 </td>
            </tr>
            <tr>
              <td class="text-center"> 2 </td>
              <td class="text-center">200 * 2<sup>2</sup> = 800</td>
            </tr>
            <tr>
              <td class="text-center"> 3 </td>
              <td class="text-center">200 * 3<sup>2</sup> = 1800</td>
            </tr>
            <tr>
              <td class="text-center"> 4 </td>
              <td class="text-center">200 * 4<sup>2</sup> = 3200</td>
            </tr>
            <tr>
              <td class="text-center"> 5 </td>
              <td class="text-center">200 * 5<sup>2</sup> = 5000</td>
            </tr>
            <tr>
              <td class="text-center"> 6 </td>
              <td class="text-center"> 200 * 6<sup>2</sup> = 7200</td>
            </tr>
            <tr>
              <td class="text-center"> 7 </td>
              <td class="text-center"> 200 * 7<sup>2</sup> = 9800</td>
            </tr>
            <tr>
              <td class="text-center"> 8 </td>
              <td class="text-center"> --- </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="ua-box" style="width: 365px; float: right;">
      <div class="ua-box-header">Beispiel</div>
      <div class="ua-box-content">
        <table class="bordertable">
          <thead>
            <tr>
              <th class="text-center">Höhlen</th>
              <th class="text-center">Berechnungswert</th>
              <th class="text-center">Eingesetzte Ressourcen</th>
              <th class="text-center">Verhältnis</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center bold">1</td>
              <td class="text-center bold">200</td>
              <td class="text-center bold">600</td>
              <td class="text-center bold">3.0</td>
            </tr>
            <tr>
              <td class="text-center">5</td>
              <td class="text-center">5000</td>
              <td class="text-center">7500</td>
              <td class="text-center">1.5</td>
            </tr>
            <tr>
              <td class="text-center">3</td>
              <td class="text-center">1800</td>
              <td class="text-center">1800</td>
              <td class="text-center">1.0</td>
            </tr>
            <tr>
              <td class="text-center">4</td>
              <td class="text-center">3200</td>
              <td class="text-center">8000</td>
              <td class="text-center">2.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="float: right; width: 365px;" class="text-left">Sieger ist der Stammesführer mit 1 Höhle.</div>
    <div style="clear: both;"></div>

    Die geschenkten Ressourcen verbleiben übrigens (nach Abzug eines 25%-Opfers an die Götter) 
    in der freien Höhle, soweit deren Lager sie zu fassen vermag. Kluge Häuptlinge schicken daher 
    öfter Truppen in die freien Höhlen der Umgebung und sorgen dafür dass wertvolle Ressourcen 
    nicht ungenutzt bleiben. Besonders erfolgreich sind sie dabei wenn sie Informationen über Menge und 
    Ankunftszeit der Geschenke von den Missionierern erhalten.
    <br />
    Sollte allerdings ein Missionierer selbst angreifen, reagieren die Bewohner der freien Höhle sehr 
    sauer und entfernen alle bisher vergebenen Sterne!
  </div>
  {% endif %}

</div>
{% endblock %}