{#
/* tribeAdmin.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger
 * Copyright (c) 2012 Georg Pitterle
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Stammesverwaltung{% endblock %}
{% block content %}

{% if status_msg %}<div class="{{ status_msg.type }} small bottom_space">{{ status_msg.message }}</div>{% endif %}

{% if show_page %}
<div class="ua-box small">
  <div class="ua-box-header">Stammesverwaltung</div>
  <div class="ua-box-content">
    {% if is_auth_change_settings %}
      <div class="jquery_tabs">
        <h6>Allgemeines</h6>
        <div class="tabbody">
          <form class="ym-form ym-columnar" id="tribeSettingsUpdate" method="post" action="main.php?modus={{ tribe_admin_link }}">
            <div class="ym-fbox-text">
              <label for="tribe_tag">Tag</label>
              <div id="tribe_tag">{{ tribe_data.tag }}</div>
            </div>
            <div class="ym-fbox-text">
              <label for="tribe_name">Name</label>
              <input type="text" name="tribe_name" id="tribe_name" value="{{ tribe_data.name }}" maxlength="20" />
            </div>
            <div class="ym-fbox-text">
              <label for="tribe_password">Password</label>
              <input type="password" name="tribe_password" id="tribe_password" value="" maxlength="15" />
            </div>
            <div class="ym-fbox-text">
              <label for="tribe_avatar">Avatar URL</label>
              <input type="text" name="tribe_avatar" id="tribe_avatar" value="{{ tribe_data.avatar }}" maxlength="90" />
            </div>
            <div class="ym-fbox-text">
              <label for="tribe_description">Beschreibung</label>
              <textarea name="tribe_description" id="tribe_description" cols="25" rows="8">{{ tribe_data.description| raw }}</textarea>
            </div>

            <div class="ym-fbox-button center">
              <input type="hidden" name="action" value="update" />
              <input type="submit" class="ym-button" value="Speichern" id="submit1" name="submit"/>
              <input type="reset" class="ym-button" value="Reset" id="reset1" name="reset" />
            </div>
          </form>
        </div>

        <h6>Regierung</h6>
        <div class="tabbody">
          <form class="ym-form ym-columnar" style="padding-top: 10px;" id="tribeGovernmentUpdate" method="post" action="main.php?modus={{ tribe_admin_link }}">
            {% if government_select %}
              <div class="ym-fbox-select">
                <label for="governmentData">Regierungsform:</label>
                <select name="governmentData[governmentID]" id="governmentData" size="1">
                  {% for item in government_select %}<option value="{{ item.value }}" {{ item.selected|raw }}>{{ item.name }}</option>{% endfor %}
                </select>
              </div>
            {% else %}
              <div class="ym-fbox-text">
                <label for="">Regierungsform</label>
                <div>{{ government_data.name }} bis mindestens {{ government_data.duration }}</div>
              </div>
            {% endif %}

            <div class="ym-fbox-button center">
              <input type="hidden" name="action" value="changeGoverment" />
              <input type="submit" class="ym-button" value="Aktualisieren" id="submit2" name="submit"/>
              <input type="reset" class="ym-button" value="Reset" id="reset2" name="reset" />
            </div>
          </form>
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% if is_auth_kick_player %}
<div class="ua-box small">
  <div class="ua-box-header">Spielerverwaltung</div>
  <div class="ua-box-content">
    <table>
      <thead>
      <tr>
        <th class="text-left" style="padding-left: 4px;">Name</th>
        <th>zuletzt gesehen am:</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
        {% for item in tribe_members %}
        {% set bgID = (bgID+1)%2 %}
          <tr class="bg{{ bgID }}">
            <td class="left" style="padding-left: 4px;">
              <a href="main.php?modus={{ player_detail_link}}&amp;detailID={{ item.playerID }}">{{ item.name }}</a></td>
            <td>{{ item.lastAction }}</td>
            <td class="right" style="padding-right: 4px;">{% if is_leader %}<span id="player_{{ item.playerID }}" class="box_show_hide change_mouseover" style="padding-right: 5px">Berechtigungen anzeigen</span>{% endif %}{% if is_auth_kick_player %}<a href="main.php?modus={{ tribe_admin_link }}&amp;action=kick&amp;playerID={{ item.playerID }}">Rauswerfen</a>{% endif %}</td>
          </tr>
          {% if is_leader %}
          <tr id="player_{{ item.playerID }}_content" style="display: none;">
            <td colspan="3" class="left">
              <form class="ym-form ym-columnar" id="authupdate" method="post" action="main.php?modus={{ tribe_admin_link }}">
                <div class="ym-fbox-check">
                  <input type="checkbox" name="msg_tribe" id="msg_tribe" style="margin-left: 0;" value="1" {% if item.tribeAuth.msg_tribe %}checked="checked"{% endif %} />
                  <label for="msg_tribe">Stammesnachrichten schreiben</label>
                </div>
                <div class="ym-fbox-check">
                  <input type="checkbox" name="msg_public" id="msg_public" style="margin-left: 0;"  value="2" {% if item.tribeAuth.msg_public %}checked="checked"{% endif %} />
                  <label for="msg_public">Stammesnachrichten per Privater Nachricht schreiben</label>
                </div>
                <div class="ym-fbox-check">
                  <input type="checkbox" name="change_relation" id="change_relation" style="margin-left: 0;"  value="4" {% if item.tribeAuth.change_relation %}checked="checked"{% endif %} />
                  <label for="change_relation">Beziehungen ändern</label>
                </div>
                <div class="ym-fbox-check">
                  <input type="checkbox" name="kick_player" id="kick_player" style="margin-left: 0;"  value="8" {% if item.tribeAuth.kick_player %}checked="checked"{% endif %} />
                  <label for="kick_player">Spieler kicken</label>
                </div>
                <div class="ym-fbox-check">
                  <input type="checkbox" name="change_settings" id="change_settings" style="margin-left: 0;"  value="16" {% if item.tribeAuth.change_settings %}checked="checked"{% endif %} />
                  <label for="change_settings">Gilden Informationen bearbeiten</label>
                </div>

                <div class="ym-fbox-button center">
                  <input type="hidden" name="action" value="changeAuth" />
                  <input type="hidden" name="player_id" value="{{ item.playerID }}" />
                  <input type="submit" class="ym-button" value="Speichern" id="submit4" name="submit"/>
                  <input type="reset" class="ym-button" value="Reset" id="reset4" name="reset" />
                </div>
              </form>
            </td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% if is_auth_change_relation %}
<div class="ua-box small">
  <div class="ua-box-header">Stammesbeziehungen</div>
  <div class="ua-box-content">
    <div class="jquery_tabs">
      <h6>Aktuelle</h6>
      <div class="tabbody">
        {% if relations_info or relations  %}
          <table>
            <thead>
            <tr>
              <th class="left ua-td-name">Stamm</th>
              <th class="left">Beziehungen</th>
              <th>Sonstiges</th>
            </tr>
            </thead>
            <tbody>
              {% for item in relations_info %}
              <tr>
                <td class="ua-td-name">{{ item.tag }}</td>
                <td>
                  Eigene: <span class="bold">{{ item.relation }}</span><br />
                  Ihre: <span class="bold">{{ item.their_relation }}</span><br />
                  Bis: <span class="bold">{{ item.duration }}</span>
                </td>
                <td class="right" style="padding-right: 4px;">
                  {% if item.war %}
                    Knüppelpunkte: Unsere: {{ item.fame_own }}. Ihre: {{ item.fame_target }}<br />
                    Kriegsanteil: {{ item.percent_actual }}&nbsp;%<br />
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              {% for item in relations %}
              <tr>
                <td class="text-left">{{ item.tag }}</td>
                <td class="text-left">
                  Ihre: <span class="bold">{{ item.their_relation }}</span><br />
                  {% if item.duration %}Bis: <span class="bold">{{ item.duration }}</span>{% endif %}
                </td>
                <td class="text-right">
                  {% if item.war %}
                    Knüppelpunkte: Unsere: {{ item.fame_own }}. Ihre: {{ item.fame_target }}<br />
                    Kriegsanteil: {{ item.percent_actual }}&nbsp;%<br />
                  {% endif %}
                  <form method="post" action="main.php?modus={{ tribe_admin_link }}">
                    <p><select name="relationData[relationID]">
                      {% for item2 in relation_list %}<option value="{{ item2.relationID }}" {% if item2.relationID == item.relation_type %}selected="selected"{% endif %}>{{ item2.name }}</option>{% endfor %}
                    </select>
                    <input type="hidden" name="relationData[tag]" value="{{ item.tag }}" /><input type="hidden" name="action" value="updateRelation" /><input type="submit" value="Go" /></p>
                    {% if item.isForcePossible %}
                      <p><input type="submit" name="forceSurrender" value="Kapitulation erzwingen" /></p>
                    {% endif %}
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="space center">Dein Stamm führt zur Zeit keine Beziehungen.</div>
        {% endif %}
      </div>

      <h6>Neue</h6>
      <div class="tabbody">
        <form class="ym-form ym-columnar" id="tribeNewRelation" method="post" action="main.php?modus={{ tribe_admin_link }}">
          <div class="ym-grid" style="padding-top: 0.8em;" >
            <div class="ym-g50 ym-gl">
              <div class="ym-fbox-text">
                <label for="relationData_tag">Stammestag:</label>
                <input type="text" name="relationData[tag]" id="relationData_tag" value="" maxlength="8" />
              </div>
            </div>

            <div class="ym-g50 ym-gl">
              <div class="ym-fbox-select">
                <label for="relationData_id">Beziehung:</label>
                <select name="relationData[relationID]" id="relationData_id" size="1">
                  {% for item in relation_list %}<option value="{{ item.relationID }}">{{ item.name }}</option>{% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="ym-fbox-button center">
            <input type="hidden" name="action" value="updateRelation" />
            <input type="submit" class="ym-button" value="Beziehung eingehen" id="submit5" name="submit"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="ua-box small">
  <div class="ua-box-header">Stammeswunder & Lager</div>
  <div class="ua-box-content">
    <div class="jquery_tabs">
      {% if tribeStorage %}
      <h6>Lager</h6>
      <div class="tabbody">
        <table>
          <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Rohstoff</th>
            <th>Guthaben</th>
          </tr>
          </thead>
          {% for item in tribeStorage %}
          <tr>
            <td class="ua-td-name"><img src="{{ gfx }}/resources/{{ item.dbFieldName }}_icon.gif" class="noborder" width="15" height="15" alt="{{ item.name }}" title="{{ item.name }}" /></td>
            <td>{{ item.name }}</td>
            <td>{{ item.value }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% endif %}

      <h6>Wunder</h6>
      <div class="tabbody">
        <table>
          <tbody>
            {% if tribeWonders %}
              {% for item in tribeWonders %}
                {% set bgID = (bgID+1)%2 %}
                <tr class="bg{{ bgID }} object-row">
                  <td class="ua-td-name"><a class="object-detail-link" href="main.php?modus={{ wonder_detail_link }}&amp;wonderID={{ item.wonder_id }}&amp;caveID={{ item.cave_id }}"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png"  class="noborder" width="16" height="16" alt="Plus" title="Plus" /></a></td>
                  <td>
                    <dl>
                      <dt><a class="object-detail-link" href="main.php?modus={{ wonder_detail_link }}&amp;wonderID={{ item.wonder_id }}&amp;caveID={{ item.cave_id }}"><span class="bold">{{ item.name }}</span></a></dt>
                      <dd>{% include "boxCost.tmpl" %} bei {{ memberNumber }} Mitgliedern</dd>
                    </dl>
                  </td>
                  <td class="right" style="vertical-align:center;">
                    {% if item.build_link %}
                    <form action="main.php?modus={{ tribe_admin_link }}" method="post">
                      <div id="wonder">
                        <input type="hidden" name="action" value="tribeWonder" />
                        <input type="hidden" name="wonderID" value="{{ item.wonder_id }}" />
                        <input type="hidden" name="caveID" value="{{ cave_id }}" />
                        <ul>
                          <li style="float: right; width: 22px;"><input type="image" src="{{ gfx }}/de_DE/t_uga/flash.png" value="Beten" alt="Beten" title="Beten" /></li>
                          <li style="float: right; text-align: left;">
                            <ul class="clean_list" style="width: 300px;">
                              <li>Name des Stammes: <input type="text" name="TribeName" size="10" maxlength="32" /></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </form>
                    {% else %}
                      <span style="text-align: right;"><img src="{{ gfx }}/de_DE/t_uga/flash_false.png" class="noborder" width="20" height="20" alt="{message}" title="{{ item.no_build_msg }}" /></span>
                    {% endif %}
                  </td>
                </tr>
                <tr class="detail-row" style="display: none">
                  <td class="object-details" colspan="3">
                  </td>
                </tr>  
              {% endfor %}
            {% else %}
              <tr class="bg1"><td class="center">Euer Glaube reicht bisher leider nicht aus um ein Wunder erbitten zu können.</td></tr>
            {% endif %}
            {% set bgID = 0 %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}