{#
/* tribePlayerList.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 David Unger, Sascha Lange <salange@uos.de>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Stamesmitglieder{% endblock %}
{% block content %}

{% if status_msg %}<div class="{{ status_msg.type }} small bottom_space">{{ status_msg.message|raw }}</div>{% endif %}

{% if show_page %}
<div class="box small">
  <div class="box-header">Spieler aus dem Stamm {{ tribe_name }}</div>
  <div class="box-content success inner text-center">

  <table class="table" cellpadding="3" cellspacing="0" rules="rows">
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>&nbsp;</th>
      <th>Punktzahl</th>
      <th>Knüppelpunkte</th>
      <th>Höhlen</th>
      <th>&nbsp;</th>
    </tr>
    {% if tribe_player_list %}
      {% for item in tribe_player_list %}
        <tr>
          <td><a href="main.php?modus={{ ranking_player_link }}&amp;offset={{ item.rank }}">{{ item.rank }}</a></td>
          <td><a href="main.php?modus={{ player_detail_link }}&amp;detailID={{ item.playerID }}">{{ item.name }}</a></td>
          <td>{% if item.religion %}<img src="%gfx%/de_DE/t_slimfast/ranking/{{ item.religion }}.gif" alt="{{ item.religion }}" width="15" height="15" border="0" title="{{ item.religion }}" />{% else %}&nbsp;{% endif %}</td>
          <td>{{ item.points }}</td>
          <td>{{ item.kp }}</td>
          <td>{{ item.caves }}</td>
          <td>
            {% if item.award %}
              {% for item2 in item.award %}
                <a href="main.php?modus={{ award_detail_link }}&amp;award={{ item2.tag }}"><img src="images/awards/{{ item2.tag }}.png" width="15" height="15" border="0" hspace="1" /></a>
              {% endfor %}
            {% else %}&nbsp;{% endif %}
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <li>Dieser Stamm hat keine Mitglieder mehr.</li>
    {% endif %}
  </table>

  </div>
</div>
{% endif %}

{% endblock %}