{#
/* tribeDetail.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2013 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Stammesbeschreibung{% endblock %}
{% block content %}

<div class="ua-box small">
  <div class="ua-box-header">Stamm: {{ tribe_details.name }} [{{ tribe_details.tag }}]</div>
  <div class="ua-box-content">
    <ul class="nav nav-tabs" id="mainTab">
      <li class="active"><a class="tab-switch" href="#tribe_info" data-toggle="tab">Stammesübersicht</a></li>
      <li><a class="tab-switch" href="#tribe_member" data-toggle="tab">Mitgliederliste</a></li>
      <li><a class="tab-switch" href="#tribe_history" data-toggle="tab">Stammes-Geschichte</a></li>
      <li><a class="tab-switch" href="#tribe_relations" data-toggle="tab">Beziehungen</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tribe_info">
        <div class="row-fluid">
          <div class="span12">
            {% if tribe_details.avatar %}
              <p class="text-center"><img src="{{ tribe_details.avatar.path }}" width="{{ tribe_details.avatar.width }}" height="{{ tribe_details.avatar.height }}" alt="Stammesbanner" /></p>
            {% endif %}
            <div class="row-fluid">
              <div class="span6">
                <h5 class="text-center">Spielderdaten</h5>
                <div class="row"><div class="span2 span-tribesmall-row1">Stammestag:</div><div class="span4 span-tribesmall-row2">{{ tribe_details.tag }}</div></div>
                <div class="row"><div class="span2 span-tribesmall-row1">Stammesname:</div><div class="span4 span-tribesmall-row2">{{ tribe_details.name }}</div></div>
                <div class="row"><div class="span2 span-tribesmall-row1">Anführer:</div><div class="span4 span-tribesmall-row2">{% if tribe_details.leader_name != 'k.A.' %}<a href="main.php?modus={{ player_detail_link }}&amp;detailID={{ tribe_details.leaderID }}">{{ tribe_details.leader_name }}</a>{% else %}{{ tribe_details.leader_name }}{% endif %}</div></div>
                <div class="row"><div class="span2 span-tribesmall-row1"><a href="main.php?modus={{ ranking_tribe_link }}&amp;search={{ tribe_details.tag|url_encode }}">Ranking:</a></div><div class="span4 span-tribesmall-row2">{% if tribe_details.rank %}{{ tribe_details.rank }}{% else %}&nbsp;{% endif %}</div></div>
              </div>
              <div class="span6">
                <h5 class="text-center">Beschreibung</h5>
                <div class="row"><div class="span2 span-tribe-row1">Knüppelpunkte gewonnen:</div><div class="span4 span-tribe-row2">{{ tribe_details.warpoints_pos }}</div></div>
                <div class="row"><div class="span2 span-tribe-row1">Knüppelpunkte verloren:</div><div class="span4 span-tribe-row2">{{ tribe_details.warpoints_neg }}</div></div>
                {% if tribe_details.award_tag %}<p><a href="main.php?modus={{ award_details_link }}&amp;award={{ tribe_details.award_tag }}"><img src="images/awards/{{ tribe_details.award_tag }}_large.png" width="128" height="128" border="0" hspace="8" /></a></p>{% endif %}
              </div>
            </div>
            <h5 class="text-center">Stammesbeschreibung</h5>
            <p>{{ tribe_details.description|raw }}</p>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tribe_member">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>&nbsp;</th>
              <th>Punktzahl</th>
              <th style="width: 90px;">Knüppelpunkte</th>
              <th>&nbsp;</th>
              <th class="text-center" style="width: 235px;">Höhlen</th>
            </tr>
          </thead>
          <tbody>
            {% for item in tribe_player_list %}
              <tr>
                <td><a href="main.php?modus={{ ranking_player_link }}&amp;offset={{ item.rank }}">{{ item.rank }}</a></td>
                <td><a href="main.php?modus={{ player_detail_link }}&amp;detailID={{ item.playerID }}">{{ item.name }}</a></td>
                <td>{% if item.religion %}<img src="{{ gfx }}/de_DE/t_uga/ranking/{{ item.religion }}.gif" alt="{{ item.religion }}" width="15" height="15" border="0" title="{{ item.religion }}" />{% else %}&nbsp;{% endif %}</td>
                <td style="width: 90px;">{{ item.points }}</td>
                <td>{{ item.kp }}</td>
                <td>{% for item2 in item.award %}<a href="main.php?modus={{ award_detail_link }}&amp;award={{ item2.tag }}"><img src="images/awards/{{ item2.tag }}.png" width="15" height="15" border="0" hspace="1" /></a>{% else %}&nbsp;{% endfor %}</td>

                <td class="text-right" style="width: 235px; white-space: nowrap;">
                  {% if item.caves %}
                    <div class="pull-left">[{{ item.caves|length }}]&nbsp;</div>
                    <div class="pull-right">
                      <form id="formTribeMemberCaves" action="main.php?modus={{ unit_movement_link }}" method="post">
                        <div class="input-append">
                          <select name="targetCaveID" style="width: 165px;">
                            {% for item in item.caves %}<option value="{{ item.caveID }}">{{ item.name }} ({{ item.xCoord }}/{{ item.yCoord }})</option>{% endfor %}
                          </select>
                          <button class="btn" type="button" id="tribeUnitMovement" name="tribeUnitMovement">Go</button>
                        </div>
                      </form>
                    </div>
                  {% else %}
                    Keine Höhle
                  {% endif %}
                </td>
              </tr>
            {% else %}
              <tr class="bg0"><td class="last text-center" colspan="7">Dieser Stamm hat keine Mitglieder mehr.</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="tribe_history">
        {% for item in tribe_history %}
          <div class="alert-info text-left" style="padding: 5px;">
            <h5>{{ item.ingameTime }}</h5>
            <p>{{ item.message }}</p>
          </div>
          {% if not loop.last %}<hr>{% endif %}
        {% else %}
          <p class="text-center">Dieser Stamm hat noch keine Geschichte.</p>
        {% endfor %}
      </div>
      <div class="tab-pane" id="tribe_relations">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th class="text-left">Stamm</th>
              <th>Haltung von {{ tribe_name }}</th>
              <th>Haltung gegenüber {{ tribe_name }}</th>
            </tr>
          </thead>
          <tbody>
            {% for item in relations_data %}
              <tr>
                <td class="text-left"><a href="main.php?modus={{ tribe_detail_link }}&tribe={{ item.tribeID_target }}">{{ item.tribe }}</a></td>
                <td>{{ item.relation_to }}</td>
                <td>{{ item.relation_from }}</td>
              </tr>
            {% else %}
              <tr class="bg0"><td class="last text-center" colspan="3">Zur Zeit hat dieser Stamm keine Beziehungen zu einem anderen Stamm.</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}