{#
/* tribeChooseLeader.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 David Unger, Sascha Lange <salange@uos.de>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Stämmes{% endblock %}
{% block content %}

{% if status_msg %}<div class="{{ status_msg.type }} small bottom_space">{{ status_msg.message }}</div>{% endif %}

{% if no_choose %}
<div class="info small bottom_space">
  <ul>
    <li class="bold text-center">{{ no_choose.name }}</li>
    <li>&nbsp;</li>
    <li>{{ no_choose.message }}</li>
    <li>{{ no_choose.description|raw }}</li>
    <li>&nbsp;</li>
    <li style="font-size: 11px;"><a href="main.php?modus={{ tribe_link }}">zurück zum Stamm.</a></li>
  </ul>
</div>
{% else %}
<div class="info small bottom_space">
  <ul>
    <li class="bold text-center">{{ choose.name }}</li>
    <li>&nbsp;</li>
    <li>{{ choose.message }}</li>
    <li>{{ choose.description|raw }}</li>
    <li>&nbsp;</li>
    <li style="font-size: 11px;"><a href="main.php?modus={{ tribe_link }}">zurück zum Stamm.</a></li>
  </ul>
</div>

<div class="box small">
  <div class="box-header">Anführer wählen</div>
  <div class="box-content success inner text-left">
    <ul>
      <li class="bold text-center">Demokratie: Wahl des Anführers</li>
      <li>&nbsp;</li>
      <li>
        <form method="post" action="main.php?modus={{ tribe_choose_leader_link }}">
        <div class="text-center">
          <span class="bold">Deine Stimme für:</span>&nbsp;
          <select name="data[playerID]">
            {% for item in possible_choices %}<option value="{{ item.playerID }}" {{ item.selected|raw }}>{{ item.name }}</option>{% endfor %}
          </select>&nbsp;
          <input type="submit" value="Wählen" />
        </div>
        </form>
      </li>
      <li>&nbsp;</li>
      <li class="bold text-center">Stimmen bisher</li>
      {% for item in leader_choose %}<li class="text-center">{{ item.name }} ({{ item.votes }})</li>{% endfor %}
  </div>
</div>
{% endif %}

{% endblock %}