{#
/* tribeMember.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Nachrichten{% endblock %}
{% block content %}

{% if status_msg %}<div class="{{ status_msg.type }} small bottom_space status_msg">{{ status_msg.message|raw }}</div>{% endif %}

{% if confirm_box %}{% include "boxConfirmation.tmpl" %}{% endif %}

<div class="ua-box small">
  <div class="ua-box-header">Mein Stamm: {{ tribe_name }} [{{ tribe_tag }}]</div>
  <div class="ua-box-content">
    <div id="tribeAll" class="jquery_tabs nav1">
      <h4 class="hide_status_msg tipps" title="mal testen">Mein Stamm</h4>
      <div class="tabbody">
        <div id="tribeAllSub" class="jquery_tabs nav2">
          <h5 class="hide_status_msg">Allgemeines</h5>
          <div class="tabbody2">
            {% if tribe_avatar %}
              <div style="text-align: center; padding: 10px;">
                <img src="{{ tribe_avatar.path }}" width="{{ tribe_avatar.width }}" height="{{ tribe_avatar.height }}" alt="Stammesbanner" />
              </div>
            {% endif %}

            <div class="notice text-left" style="width: 290px; float: left; margin-left: 10px; margin-top: 10px;">
              <ul>
                <li class="bold text-center" style="padding-bottom: 10px;">Informationen:</li>

                <li class="tribe_detail_left">Anführer:</li>
                <li class="tribe_detail_right">{% if tribe_leader_name %}<a href="main.php?modus={{ player_detail_link }}&amp;detailID={{ tribe_leader_id }}">{{ tribe_leader_name }}</a>{% else %}Zur Zeit keinen Anführer.{% endif %}</li>
                <li class="clr"></li>

                <li class="tribe_detail_left">Regierung:</li>
                <li class="tribe_detail_right"><a href="http://game.uga-agga.de/rules/?modus=governments" class="new-window">{{ government_name }}</a></li>
                <li class="clr"></li>
              </ul>
            </div>

            <div class="notice text-left" style="width: 290px; float: right; margin-right: 10px; margin-top: 10px;">
              <ul>
                <li class="text-center bold" style="padding-bottom: 10px;">Verbündete Stämme:</li>
                {% if relations_ally %}
                  {% for item in relations_ally %}
                    <li>[<a href="main.php?modus={{ tribe_detail_link }}&amp;tribe={{ item.tribe_target|url_encode }}">{{ item.tribe_target }}</a>], seit {{ item.time }}</li>
                  {% endfor %}
                {% else %}
                  <li>Zur Zeit seid ihr mit keinem Stamm verbündet.</li>
                {% endif %}
                <li>&nbsp;</li>
                <li class="text-center" style="font-size: 11px;"><a href="main.php?modus={{ tribe_relation_link }}&amp;tag={{ tribe_tag|url_encode }}">Alle Beziehungen anzeigen.</a></li>
              </ul>
            </div>
            <div style="clear: both;"></div>

            <table>
              <thead>
              <tr>
                <th class="text-left">Stamm</th>
                <th class="text-left">Beziehungen</th>
                <th>Sonstiges</th>
              </tr>
              </thead>
              <tbody>
                {% if relations_war %}
                  {% for item in relations_info %}
                    {% if item.war %}
                    {% set bgID = (bgID+1)%2 %}
                      <tr class="bg{{ bgID }}">
                      <td class="text-left">{{ item.tag }}</td>
                      <td class="text-left">
                        Ihre: <span class="bold">{{ item.their_relation }}</span><br />
                        {% if item.duration %}Bis: <span class="bold">{{ item.duration }}</span>{% endif %}
                      </td>
                      <td class="text-right">
                        {% if item.war %}
                          Knüppelpunkte: Unsere: {{ item.fame_own }}. Ihre: {{ item.fame_target }}<br />
                          {% if percent_estimated %}Kriegsanteil: {{ item.percent_actual }}&nbsp;%<br />{% endif %}
                        {% endif %}
                      </td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                  {% for item in relations %}
                    {% if item.war %}
                    {% set bgID = (bgID+1)%2 %}
                    <tr class="bg{{ bgID }}">
                      <td class="text-left">{{ item.tag }}</td>
                      <td class="text-left">
                        Ihre: <span class="bold">{{ item.their_relation }}</span><br />
                        {% if item.duration %}Bis: <span class="bold">{{ item.duration }}</span>{% endif %}
                      </td>
                      <td class="text-right">
                        {% if item.war %}
                          Knüppelpunkte: Unsere: {{ item.fame_own }}. Ihre: {{ item.fame_target }}<br />
                          Kriegsanteil: {{ item.percent_actual }}&nbsp;%<br />
                        {% endif %}
                      </td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                  {% set bgID = 0 %}
                {% else %}
                  <tr class="bg0"><td class="last text-center" colspan="3">Ihr befindet euch zur Zeit in keinem Krieg</td></tr>
                {% endif %}
              </tbody>
            </table>
          </div>

          <h5 class="hide_status_msg">Mitgliederliste</h5>
          <div class="tabbody2">
            <table>
              <thead>
              <tr>
                <th class="text-left">Name</th>
                <th>Gott</th>
                <th>Halbgott</th>
                <th class="text-center" style="width: 65px; white-space: nowrap;">Höhlenliste</th>
              </tr>
              </thead>
              <tbody>
                {% for item in tribe_members_all %}
                {% set bgID = (bgID+1)%2 %}
                  <tr class="bg{{ bgID }}">
                    <td class="text-left"><a href="main.php?modus={{ player_detail_link}}&amp;detailID={{ item.playerID }}">{{ item.name }}</a></td>
                    <td>{{ item.god }}</td>
                    <td>{{ item.halfgod }}</td>
                    <td class="text-center" style="width: 65px;">
                      <form method="post" action="main.php?modus={{ unit_movement_link }}">
                        <div style="white-space: nowrap;">
                        <select name="targetCaveID">
                          {% for item in item.caves %}<option value="{{ item.caveID }}">{{ item.name }} ({{ item.xCoord }}/{{ item.yCoord }})</option>{% endfor %}
                        </select>

                        <input type="submit" value="Go" name="tribeUnitMovement" />
                        </div>
                      </form>
                    </td>
                  </tr>
                {% else %}
                  <tr class="bg0"><td class="last text-center" colspan="4">Im Stamm befinden sich irgendwie keine Spieler Oo. (sollte nicht vorkommen xD)</td></tr>
                {% endfor %}
                {% set bgID = 0 %}
              </tbody>
            </table>
          </div>

          <h5 class="hide_status_msg">Bye...</h5>
          <div class="tabbody2">
            <form class="ym-form" id="tribeLeaveForm" method="post" action="main.php?modus={{ tribe_link }}">
              <div class="ym-fbox-button text-center">
                <input type="hidden" name="action" value="{{ tribe_action_leave }}" />
                <input type="submit" class="ym-button" value="Diesen Stamm verlassen!" id="tribeLeave" name="tribeLeave"/>
              </div>
            </form>
          </div>
        </div>
      </div>

      {% if is_auth.change_settings or is_auth.kick_member or is_auth.isLeader %}
      <h4 class="hide_status_msg">Verwaltung</h4>
      <div class="tabbody">
        <div id="tribeProfile" class="jquery_tabs nav2">
          {% if is_auth.change_settings or is_auth.isLeader %}
          <h5 class="hide_status_msg">Stammesprofil</h5>
          <div class="tabbody2">
            <form class="ym-form ym-columnar" id="tribeSettingsUpdate" method="post" action="main.php?modus={{ tribe_link }}">
              <div class="ym-fbox-text">
                <label for="tribe_name">Name</label>
                <input type="text" name="tribe_name" id="tribe_name" value="{{tribe_name }}" maxlength="20" />
              </div>
              <div class="ym-fbox-text">
                <label for="tribe_password">Password</label>
                <input type="password" name="tribe_password" id="tribe_password" value="" maxlength="15" />
              </div>
              <div class="ym-fbox-text">
                <label for="tribe_avatar">Avatar URL</label>
                <input type="text" name="tribe_avatar" id="tribe_avatar" value="{{ tribe_avatar.path }}" maxlength="90" />
              </div>
              <div class="ym-fbox-text">
                <label for="tribe_description">Beschreibung</label>
                <textarea name="tribe_description" id="tribe_description" cols="25" rows="8">{{ tribe_description| raw }}</textarea>
              </div>

              <div class="ym-fbox-button text-center">
                <input type="hidden" name="action" value="{{ tribe_action_update }}" />
                <input type="submit" class="ym-button" value="Speichern" id="submit1" name="submit"/>
                <input type="reset" class="ym-button" value="Reset" id="reset1" name="reset" />
              </div>
            </form>
          </div>
          {% endif %}

          {% if is_auth.kick_member or is_auth.isLeader %}
          <h5 id="changeAuth" class="hide_status_msg">Spielerverwaltung</h5>
          <div class="tabbody2">
            <table>
              <thead>
              <tr>
                <th class="text-left">Name</th>
                <th>zuletzt gesehen am:</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
                {% for item in tribe_members %}
                {% set bgID = (bgID+1)%2 %}
                  <tr class="bg{{ bgID }}">
                    <td class="text-left"><a href="main.php?modus={{ player_detail_link}}&amp;detailID={{ item.playerID }}">{{ item.name }}</a></td>
                    <td>{{ item.lastAction }}</td>
                    <td class="text-right" style="padding-right: 4px;">{% if is_auth.isLeader %}<span id="player_{{ item.playerID }}" class="box_show_hide change_mouseover" style="padding-right: 5px">Berechtigungen anzeigen</span>{% endif %}{% if is_auth.kick_member or is_auth.isLeader %}<a href="main.php?modus={{ tribe_admin_link }}&amp;action=kick&amp;playerID={{ item.playerID }}">Rauswerfen</a>{% endif %}</td>
                  </tr>
                  {% if is_auth.isLeader %}
                  <tr id="player_{{ item.playerID }}_content" class="nohover" style="display: none;">
                    <td colspan="3" class="text-left">
                      <form class="ym-form ym-columnar" id="authupdate" method="post" action="main.php?modus={{ tribe_link }}#changeAuth">
                        <div class="ym-fbox-check">
                          <input type="checkbox" name="msg_tribe" id="msg_tribe" style="margin-left: 0;" value="1" {% if item.tribeAuth.msg_tribe %}checked="checked"{% endif %} />
                          <label for="msg_tribe">Stammesnachrichten schreiben</label>
                        </div>
                        <div class="ym-fbox-check">
                          <input type="checkbox" name="msg_public" id="msg_public" style="margin-left: 0;"  value="2" {% if item.tribeAuth.msg_public %}checked="checked"{% endif %} />
                          <label for="msg_public">Stammesnachrichten per Privater Nachricht schreiben</label>
                        </div>
                        <div class="ym-fbox-check">
                          <input type="checkbox" name="change_relation" id="change_relation" style="margin-left: 0;"  value="4" {% if item.tribeAuth.change_relation %}checked="checked"{% endif %} />
                          <label for="change_relation">Beziehungen ändern</label>
                        </div>
                        <div class="ym-fbox-check">
                          <input type="checkbox" name="kick_member" id="kick_member" style="margin-left: 0;"  value="8" {% if item.tribeAuth.kick_member %}checked="checked"{% endif %} />
                          <label for="kick_member">Spieler kicken</label>
                        </div>
                        <div class="ym-fbox-check">
                          <input type="checkbox" name="change_settings" id="change_settings" style="margin-left: 0;"  value="16" {% if item.tribeAuth.change_settings %}checked="checked"{% endif %} />
                          <label for="change_settings">Gilden Informationen bearbeiten</label>
                        </div>

                        <div class="ym-fbox-button text-center">
                          <input type="hidden" name="action" value="{{ tribe_action_auth }}" />
                          <input type="hidden" name="player_id" value="{{ item.playerID }}" />
                          <input type="submit" class="ym-button" value="Speichern" id="submit4" name="submit"/>
                          <input type="reset" class="ym-button" value="Reset" id="reset4" name="reset" />
                        </div>
                      </form>
                    </td>
                  </tr>
                  {% endif %}
                {% endfor %}
                {% set bgID = 0 %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}

      <h4 class="hide_status_msg">Regierung</h4>
      <div class="tabbody">
        <div id="tribeRelation" class="jquery_tabs nav2">
          <h5 class="hide_status_msg">Beziehungen</h5>
          <div class="tabbody2">
            {% if relations_info or relations %}
              <table>
                <thead>
                <tr>
                  <th class="text-left">Stamm</th>
                  <th class="text-left">Beziehungen</th>
                  <th>Sonstiges</th>
                </tr>
                </thead>
                <tbody>
                  {% for item in relations_info %}
                    {% set bgID = (bgID+1)%2 %}
                    <tr class="bg{{ bgID }}">
                      <td>{{ item.tag }}</td>
                      <td>
                        Eigene: <span class="bold">{{ item.relation }}</span><br />
                        Ihre: <span class="bold">{{ item.their_relation }}</span><br />
                        Bis: <span class="bold">{{ item.duration }}</span>
                      </td>
                      <td class="text-right" style="padding-right: 4px;">
                        {% if item.war %}
                          Knüppelpunkte: Unsere: {{ item.fame_own }}. Ihre: {{ item.fame_target }}<br />
                          {% if percent_estimated %}Kriegsanteil: {{ item.percent_actual }}&nbsp;%<br />{% endif %}
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  {% for item in relations %}
                    {% set bgID = (bgID+1)%2 %}
                    <tr class="bg{{ bgID }}">
                      <td class="text-left">{{ item.tag }}</td>
                      <td class="text-left">
                        Ihre: <span class="bold">{{ item.their_relation }}</span><br />
                        {% if item.duration %}Bis: <span class="bold">{{ item.duration }}</span>{% endif %}
                      </td>
                      <td class="text-right">
                        {% if item.war %}
                          Knüppelpunkte: Unsere: {{ item.fame_own }}. Ihre: {{ item.fame_target }}<br />
                          Kriegsanteil: {{ item.percent_actual }}&nbsp;%<br />
                        {% endif %}
                        {% if is_auth.change_relation or is_auth.isLeader %}
                        <form method="post" action="main.php?modus={{ tribe_link }}">
                          <p><select name="relationData[relationID]">
                            {% for item2 in relations_list %}<option value="{{ item2.relationID }}" {% if item2.relationID == item.relation_type %}selected="selected"{% endif %}>{{ item2.name }}</option>{% endfor %}
                          </select>
                          <input type="hidden" name="relationData[tag]" value="{{ item.tag }}" /><input type="hidden" name="action" value="{{ tribe_action_relation }}" /><input type="submit" value="Go" /></p>
                          {% if item.isForcePossible %}
                            <p><input type="submit" name="forceSurrender" value="Kapitulation erzwingen" /></p>
                          {% endif %}
                        </form>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  {% set bgID = 0 %}
                </tbody>
              </table>
            {% else %}
              <div class="space text-center">Dein Stamm führt zur Zeit keine Beziehungen.</div>
            {% endif %}
          </div>

          {% if is_auth.change_relation or is_auth.isLeader %}
          <h5 id="newRelation" class="hide_status_msg">Neue Beziehungen</h5>
          <div class="tabbody2">
            <form class="ym-form ym-columnar" id="tribeNewRelationForm" method="post" action="main.php?modus={{ tribe_link }}#newRelation">
              <div class="ym-grid" style="padding-top: 0.8em;" >
                <div class="ym-g50 ym-gl">
                  <div class="ym-fbox-text">
                    <label for="relationData_tag">Stammestag:</label>
                    <input type="text" name="relationData[tag]" id="relationData_tag" value="" maxlength="8" />
                  </div>
                </div>

                <div class="ym-g50 ym-gl">
                  <div class="ym-fbox-select">
                    <label for="relationData_id">Beziehung:</label>
                    <select name="relationData[relationID]" id="relationData_id" size="1">
                      {% for item in relations_list %}<option value="{{ item.relationID }}">{{ item.name }}</option>{% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              <div class="ym-fbox-button text-center">
                <input type="hidden" name="action" value="{{ tribe_action_relation }}" />
                <input type="submit" class="ym-button" value="Beziehung eingehen" id="submit5" name="submit"/>
              </div>
            </form>
          </div>
          {% endif %}

          <h5 class="hide_status_msg">Stammesregierung</h5>
          <div class="tabbody2">
            {% if government_select %}
              <form class="ym-form ym-columnar" style="padding-top: 10px;" id="tribeGovernmentUpdateForm" method="post" action="main.php?modus={{ tribe_link }}">
                <div class="ym-fbox-select">
                  <label for="governmentData">Regierungsform:</label>
                  <select name="governmentData[governmentID]" id="governmentData" size="1">
                    {% for item in government_select %}<option value="{{ item.value }}" {{ item.selected|raw }}>{{ item.name }}</option>{% endfor %}
                  </select>
                </div>

                <div class="ym-fbox-button text-center">
                  <input type="hidden" name="action" value="{{ tribe_action_goverment }}" />
                  <input type="submit" class="ym-button" value="Aktualisieren" id="submit2" name="submit"/>
                  <input type="reset" class="ym-button" value="Reset" id="reset2" name="reset" />
                </div>
              </form>
            {% else %}
              <div class="space text-center">
                <h3 style="margin: 0;">Regierungsform</h3>
                <div style="padding-top: 10px">{{ government_data.name }} {% if government_data.duration %}bis mindestens {{ government_data.duration }}{% endif %}</div>
              </div>
            {% endif %}
          </div>

          <h5 class="hide_status_msg" id="voteLeader">Anführer wählen</h5>
          <div class="tabbody2">
            {% if goverment_choice_list %}
              <div class="space text-center">
                <h3 style="margin: 0;">{{ goverment_choice_name }}</h3>
                {{ goverment_choice_description|raw }}
              </div>

              <form class="ym-form ym-columnar" id="tribeChooseLeaderForm" method="post" action="main.php?modus={{ tribe_link }}#voteLeader">
                <div class="ym-fbox-select">
                  <label for="relationData_id">Anführer:</label>
                  <select name="chooseLeaderID" id="chooseLeader_id" size="1">
                    {% for item in goverment_choice_list %}<option value="{{ item.playerID }}" {{ item.selected|raw }}>{{ item.name }}</option>{% endfor %}
                  </select>
                </div>

                <table>
                  <thead>
                    <tr>
                      <th class="text-left">Spieler</th>
                      <th>Stimmen</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in goverment_votes_list %}
                      {% set bgID = (bgID+1)%2 %}
                      <tr class="bg{{ bgID }}">
                        <td class="text-left">{{ item.name }}</td>
                        <td>{{ item.votes }}</td>
                      </tr>
                    {% else %}
                      <tr class="bg0"><td class="last text-center" colspan="2">Bisher hat noch keine einen Anführer gewählt.</td></tr>
                    {% endfor %}
                  </tbody>
                </table>

                <div class="ym-fbox-button text-center">
                  <input type="hidden" name="action" value="{{ tribe_action_choose_leader }}" />
                  <input type="submit" class="ym-button" value="Anführer wählen" id="submit5" name="submit"/>
                </div>
              </form>
            {% else %}
              <div class="space text-center">
                <h3 style="margin: 0;">{{ goverment_choice_name }}</h3>
                {{ goverment_choice_description|raw }}
                <div class="info" style="margin: 10px 10px 0;">{{ goverment_choice_message }}</div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <h4 class="hide_status_msg">Nachrichten</h4>
      <div class="tabbody">
        <div id="tibeMessage" class="jquery_tabs nav2">
          <h5 class="hide_status_msg">Aktuelle Nachrichten</h5>
          <div class="tabbody2">
            <ul class="space">
              {% for item in tribe_messages %}
                <li>
                  <div class="info text-left">
                    <h3 class="loud">{{ item.time }}&nbsp;&nbsp;{{ item.subject }}</h3>
                    {{ item.message|raw }}
                  </div>
                </li>
              {% else %}
                <li>
                  <div class="info text-left">Zur Zeit gibt es keine Stammesnachrichten.</div>
                </li>
              {% endfor %}
            </ul>
          </div>

          {% if is_auth.msg_tribe or is_auth.msg_public or is_auth.isLeader %}
          <h5 id="sendMessage" class="hide_status_msg">Neue Nachricht</h5>
          <div class="tabbody2">
            <form class="ym-form" id="tribeSendMsg" method="post" action="main.php?modus={{ tribe_link }}#sendMessage">
              <div class="ym-fbox-text">
                <label for="messageText">Nachricht an alle Mitglieder</label>
                <textarea name="messageText" id="messageText" cols="60" rows="8"></textarea>
              </div>
              
              <div class="ym-fbox-button text-center">
                <input type="hidden" name="action" value="{{ tribe_action_message }}" />
                {% if is_auth.msg_tribe or is_auth.isLeader %}<input type="submit" class="ym-button" value="Stammesnachricht" id="tribemsg" name="tribemsg"/>{% endif %}
                {% if is_auth.msg_public or is_auth.isLeader %}<input type="submit" class="ym-button" value="Private Nachricht" id="ingame" name="ingame"/>{% endif %}
              </div>
            </form>
          </div>
          {% endif %}
        </div>
      </div>

      <h4 class="hide_status_msg">Wunder</h4>
      <div class="tabbody">
        <div id="tribeStorageWonder" class="jquery_tabs nav2">
          <h5 class="hide_status_msg">Lager</h5>
          <div class="tabbody2">
            <div class="notice text-center space_margin">
              Hier können Einzahlungen ins Stammeslager getätigt werden. <br />
              Die Rohstoffe werden für Stammeswunder benötigt.<br />
              Es kann alle {{ donationInterval }} Stunden EINE Einzahlung vorgenommen werden.<br />
              {% if nextDonation %}Nächste mögliche Einzahlung am {{ nextDonation }}. <br />{% endif %}
            </div>
            <form class="ym-form ym-columnar" id="tribeStoreForm" method="post" action="main.php?modus={{ tribe_link }}">
              <table>
                <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Rohstoff</th>
                  <th>Vorhanden</th>
                  {% if showTribeStorageDonations %}
                    <th>Einzahlungsmenge</th>
                    <th>Maximale Menge pro Einzahlung</th>
                  {% endif %}
                </tr>
                </thead>
                <tbody>
                  {% for resource in tribeStorageValues %}
                    {% set bgID = (bgID+1)%2 %}
                    <tr class="bg{{ bgID }}">
                      <td><img src="{{ gfx }}/resources/{{ resource.dbFieldName }}_icon.gif" class="noborder" width="15" height="15" alt="{{ resource.name }}" title="{{ resource.name }}" /></td>
                      <td>{{ resource.name }}</td>
                      <td>{{ resource.value }}</td>
                      {% if showTribeStorageDonations %}
                      <td><input name="value[{{ resource.resourceID }}]" type="text" size="10" /></td>
                      <td>{{ resource.maxTribeDonation }}</td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                  {% set bgID = 0 %}
                </tbody>
              </table>
              {% if showTribeStorageDonations %}
                <div class="ym-fbox-button text-left">
                  <input type="hidden" name="action" value="{{ tribe_action_donate }}" />
                  <input type="submit" class="ym-button" value="Ugh!" id="submitDonation" name="submitDonation"/>
                </div>
              {% endif %}
            </form>
          </div>

          <h5 class="hide_status_msg">Einzahlungen</h5>
          <div class="tabbody2">
            {% if donations %}
              <table>
                <thead>
                  <tr>
                    <th>Spieler</th>
                    {% for item in tribeStorageValues %}
                    <th><img src="{{ gfx }}/resources/{{ item.dbFieldName }}_icon.gif" class="noborder" width="15" height="15" alt="{{ item.name }}" title="{{ item.name }}" /></th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for donation in donations %}
                  {% set bgID = (bgID+1)%2 %}
                  <tr class="bg{{ bgID }}">
                    {% for item in donation %}
                    <td>{{ item }}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                  {% set bgID = 0 %}
                </tbody>
              </table>
            {% else %}
              <div class="space text-center">Bisher hat noch kein Spieler etwas ins Lager eingezahlt.</div>
            {% endif %}
          </div>

          {% if is_auth.isLeader %}
          <h5 id="tribeWonder" class="hide_status_msg">Wunder</h5>
          <div class="tabbody2">
            {% if wonders %}
              <table>
                <tbody>
                  {% for item in wonders %}
                  {% set bgID = (bgID+1)%2 %}
                    <tr class="bg{{ bgID }} object-row">
                      <td><a class="object-detail-link" href="main.php?modus={{ wonder_detail_link }}&amp;wonderID={{ item.wonder_id }}&amp;caveID={{ item.cave_id }}"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png"  class="noborder" width="16" height="16" alt="Plus" title="Plus" /></a></td>
                      <td>
                        <dl>
                          <dt><a class="object-detail-link" href="main.php?modus={{ wonder_detail_link }}&amp;wonderID={{ item.wonder_id }}&amp;caveID={{ item.cave_id }}"><span class="bold">{{ item.name }}</span></a></dt>
                          <dd>{% include "boxCost.tmpl" %} bei {{ tribe_members_count }} Mitgliedern</dd>
                        </dl>
                      </td>
                      <td class="text-right" style="vertical-align: center;">
                        {% if item.build_link %}
                        <form id="tribeWonderForm" method="post" action="main.php?modus={{ tribe_link }}#tribeWonder">
                          <div>
                            <input type="hidden" name="action" value="{{ tribe_action_wonder }}" />
                            <input type="hidden" name="wonderID" value="{{ item.wonder_id }}" />
                            <input type="hidden" name="caveID" value="{{ cave_id }}" />
                            <ul>
                              <li style="float: right; width: 22px;"><input type="image" src="{{ gfx }}/de_DE/t_uga/flash.png" value="Beten" alt="Beten" title="Beten" /></li>
                              {% if not item.ownTribe %}
                              <li style="float: right; text-align: left;">
                                <ul class="clean_list" style="width: 100px;">
                                  <li>Stammesname:</li>
                                  <li><input type="text" name="tribeName" size="10" maxlength="32" /></li>
                                </ul>
                              </li>
                              {% else %}
                              <input type="hidden" name="tribeName" value="{{ tribe_tag }}" />
                              {% endif %}
                            </ul>
                          </div>
                        </form>
                        {% else %}
                          <span class="text-right"><img src="{{ gfx }}/de_DE/t_uga/flash_false.png" class="noborder" width="20" height="20" alt="{message}" title="{{ item.no_build_msg }}" /></span>
                        {% endif %}
                      </td>
                    </tr>
                    <tr class="detail-row" style="display: none">
                      <td class="object-details" colspan="3">
                      </td>
                    </tr>  
                  {% endfor %}
                  {% set bgID = 0 %}
                </tbody>
              </table>
            {% else %}
              <div class="space text-center">Euer Glaube reicht bisher leider nicht aus um ein Wunder erbitten zu können.</div>
            {% endif %}
            {% set bgID = 0 %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}