{#
/* tribeMember.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2013 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Nachrichten{% endblock %}
{% block content %}

{% if status_msg %}<div id="status-msg"><div class="alert alert-block alert-{{ status_msg.type }}"><p>{{ status_msg.message|raw }}</p></div><hr></div>{% endif %}

<div class="ua-box small">
  <div class="ua-box-header">Mein Stamm: {{ tribe_name }} [{{ tribe_tag }}]</div>
  <div class="ua-box-content">
    <ul class="nav nav-tabs"  id="mainTab">
      <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mein Stamm <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="active"><a class="tab-switch" href="#tribe_generally" data-toggle="tab">Allgemeines</a></li>
          <li><a class="tab-switch" href="#tribe_memberlist" data-toggle="tab">Mitgliederliste</a></li>
          <li><a class="tab-switch" href="#tribe_leave" data-toggle="tab">Bye...</a></li>
        </ul>
      </li>

      {% if is_auth.change_settings or is_auth.kick_member or is_auth.see_online or is_auth.isLeader %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stammesverwaltung <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {% if is_auth.change_settings or is_auth.isLeader %}<li><a class="tab-switch" href="#tribe_profile" data-toggle="tab">Stammesprofil</a></li>{% endif %}
          {% if is_auth.kick_memberr or is_auth.see_online or is_auth.isLeader %}<li><a class="tab-switch" href="#tribe_member" data-toggle="tab">Spielerverwaltung</a></li>{% endif %}
          {% if is_auth.manage_chat or is_auth.isLeader %}
            <li class="divider"></li>
            <li><a class="tab-switch" href="#tribe_chat1" data-toggle="tab">Chat Raum 1</a></li>
            <li><a class="tab-switch" href="#tribe_chat2" data-toggle="tab">Chat Raum 2</a></li>
            <li><a class="tab-switch" href="#tribe_chat3" data-toggle="tab">Chat Raum 3</a></li>
          {% endif %}
        </ul>
      </li>
      {% endif %}

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Regierung <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a class="tab-switch" href="#tribe_relationship" data-toggle="tab">Beziehung</a></li>
          {% if is_auth.change_relation or is_auth.isLeader %}<li><a class="tab-switch" href="#tribe_newrelationship" data-toggle="tab">Neue Beziehung</a></li>{% endif %}
          <li><a class="tab-switch" href="#tribe_goverment" data-toggle="tab">Stammesregierung</a></li>
          <li><a class="tab-switch" href="#tribe_leader" data-toggle="tab">Anführer wählen</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nachrichten <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a class="tab-switch" href="#tribe_message" data-toggle="tab">Aktuelle Nachrichten</a></li>
          {% if is_auth.msg_tribe or is_auth.msg_public or is_auth.isLeader %}<li><a class="tab-switch" href="#tribe_newmessage" data-toggle="tab">Neue Nachricht</a></li>{% endif %}
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stammeswunder <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a class="tab-switch" href="#tribe_store" data-toggle="tab">Stammeslager</a></li>
          <li><a class="tab-switch" href="#tribe_donation" data-toggle="tab">Einzahlungen</a></li>
          {% if is_auth.isLeader or is_auth.wonder %}<li><a class="tab-switch" href="#tribe_wonder" data-toggle="tab">Stammeswunder</a></li>{% endif %}
        </ul>
      </li>
    </ul>

    <div class="tab-content">
{#/* Mein Stamm / Allgemeines */ #}
      <div class="tab-pane active" id="tribe_generally">
        <div class="row-fluid">
          <div class="span12">
            {% if tribe_avatar %}
              <p class="text-center"><img src="{{ tribe_avatar.path }}" width="{{ tribe_avatar.width }}" height="{{ tribe_avatar.height }}" alt="Stammesbanner" /></p>
            {% endif %}
            <div class="row-fluid">
              <div class="span6">
                <h5 class="text-center">Informationen</h5>
                <div class="row"><div class="span2 span-tribesmall-row1">Anführer:</div><div class="span4 span-tribesmall-row2">{% if tribe_leader_name %}<a href="main.php?modus={{ player_detail_link }}&amp;detailID={{ tribe_leader_id }}">{{ tribe_leader_name }}</a>{% else %}Zur Zeit keinen Anführer.{% endif %}</div></div>
                <div class="row"><div class="span2 span-tribesmall-row1">Regierung:</div><div class="span4 span-tribesmall-row2"><a href="http://game.uga-agga.de/rules/?modus=governments" class="new-window">{{ government_name }}</a></div></div>
              </div>
              <div class="span6">
                <h5 class="text-center">Verbündete Stämme</h5>
                {% for item in relations_ally %}
                  <p>[<a href="main.php?modus={{ tribe_detail_link }}&amp;tribe={{ item.tribe_target|url_encode }}">{{ item.tribe_target }}</a>], seit {{ item.time }}</p>
                {% else %}
                  <p>Zur Zeit seid ihr mit keinem Stamm verbündet.</p>
                {% endfor %}
                <p><a class="tab-switch" href="#tribe_relationship" data-toggle="tab">Alle Beziehungen anzeigen.</a></p>
              </div>
            </div>
          </div>
        </div>

        <table class="table table-striped table-condensed">
          <thead>
          <tr>
            <th class="text-left">Stamm</th>
            <th class="text-left">Beziehungen</th>
            <th>Sonstiges</th>
          </tr>
          </thead>
          <tbody>
            {% if relations_war %}
              {% for item in relations_info %}
                {% if item.war %}
                  <tr>
                  <td class="text-left">{{ item.tag }}</td>
                  <td class="text-left">
                    Ihre: <span class="bold">{{ item.their_relation }}</span><br />
                    {% if item.duration %}Bis: <span class="bold">{{ item.duration }}</span>{% endif %}
                  </td>
                  <td class="text-right">
                    {% if item.war %}
                      Knüppelpunkte: Unsere: {{ item.fame_own }}. Ihre: {{ item.fame_target }}<br />
                      {% if percent_estimated %}Kriegsanteil: {{ item.percent_actual }}&nbsp;%<br />{% endif %}
                    {% endif %}
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
              {% for item in relations %}
                {% if item.war %}
                {% set bgID = (bgID+1)%2 %}
                <tr class="bg{{ bgID }}">
                  <td class="text-left">{{ item.tag }}</td>
                  <td class="text-left">
                    Ihre: <span class="bold">{{ item.their_relation }}</span><br />
                    {% if item.duration %}Bis: <span class="bold">{{ item.duration }}</span>{% endif %}
                  </td>
                  <td class="text-right">
                    {% if item.war %}
                      Knüppelpunkte: Unsere: {{ item.fame_own }}. Ihre: {{ item.fame_target }}<br />
                      Kriegsanteil: {{ item.percent_actual }}&nbsp;% ({{ item.percent_estimated }}&nbsp;% benötigt)<br />
                    {% endif %}
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
            {% else %}
              <tr class="bg0"><td class="last text-center" colspan="3">Ihr befindet euch zur Zeit in keinem Krieg</td></tr>
            {% endif %}
          </tbody>
        </table>
      </div>
{#/* Mein Stamm / Mitgliederliste */ #}
      <div class="tab-pane" id="tribe_memberlist">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th class="text-left">Name</th>
              <th>Gott</th>
              <th>Halbgott</th>
              <th class="text-center" style="width: 235px;">Höhlenliste</th>
            </tr>
          </thead>
          <tbody>
            {% for item in tribe_members %}
              <tr>
                <td class="text-left"><a href="main.php?modus={{ player_detail_link}}&amp;detailID={{ item.playerID }}">{{ item.name }}</a></td>
                <td>{{ item.god }}</td>
                <td>{{ item.halfgod }}</td>
                <td class="text-right" style="width: 235px; white-space: nowrap;">
                  {% if item.caves %}
                    <div class="pull-left">[{{ item.caves|length }}]&nbsp;</div>
                    <div class="pull-right">
                      <form id="formTribeMemberCaves" action="main.php?modus={{ unit_movement_link }}" method="post">
                        <div class="input-append">
                          <select name="targetCaveID" style="width: 165px;">
                            {% for item in item.caves %}<option value="{{ item.caveID }}">{{ item.name }} ({{ item.xCoord }}/{{ item.yCoord }})</option>{% endfor %}
                          </select>
                          <button class="btn" type="button" id="tribeUnitMovement" name="tribeUnitMovement">Go</button>
                        </div>
                      </form>
                    </div>
                  {% else %}
                    Keine Höhle
                  {% endif %}
                </td>
              </tr>
            {% else %}
              <tr class="bg0"><td class="last text-center" colspan="4">Die Mitgliederliste konnte nicht geladen werden. Warte bist zum nächsten Ranking.</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
{#/* Mein Stamm / Bye... */ #}
      <div class="tab-pane space" id="tribe_leave">
        <div class="text-center"><a class="action btn" href="main.php?modus={{ tribe_link }}&amp;action={{ tribe_action_leave }}" data-reask="true" data-reask-header="Stamm verlassen!" data-reask-msg="Möchtest du deinen Stann <strong> {{ tribe_name }} [{{ tribe_tag }}]</strong> wirklich Verlassen?">Stamm verlassen</a></div>
      </div>

{#/* Verwaltung / Stammesprofil */ #}
      {% if is_auth.change_settings or is_auth.isLeader %}
      <div class="tab-pane space" id="tribe_profile">
        <form id="formTribeProfile" class="form-horizontal" action="main.php?modus={{ tribe_link }}" method="post">
          <div class="control-group">
            <label class="control-label tribe-label" for="inputName">Name</label>
            <div class="controls tribe">
              <input type="text" id="inputName" name="inputName" placeholder="Name" value="{{ tribe_name }}" required>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label tribe-label" for="inputPassword">Password</label>
            <div class="controls tribe">
              <input type="password" id="inputPassword" name="inputPassword" placeholder="Password">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label tribe-label" for="inputAvatar">Avatar URL</label>
            <div class="controls tribe">
              <input type="url" id="inputAvatar" name="inputAvatar" placeholder="Avatar URL" value="{{ tribe_avatar.path }}">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label tribe-label" for="inputDescription">Beschreibung</label>
            <div class="controls tribe">
              <textarea id="inputDescription" name="inputDescription" style="width: 495px; height: 125px;" rows="3">{{ tribe_description| raw }}</textarea>
            </div>
          </div>
          <div class="control-group">
            <div class="controls tribe">
              <input type="hidden" name="action" value="{{ tribe_action_update }}" />
              <button class="btn" type="button" id="tribeProfileSubmit" name="tribeProfileSubmit">Absenden</button>
            </div>
          </div>
        </form>
        <div id="output2"></div>
      </div>
      {% endif %}
{#/* Verwaltung / Spielerverwaltung */ #}
      {% if is_auth.kick_memberr or is_auth.see_online or is_auth.isLeader %}
      <div class="tab-pane" id="tribe_member">
        <table class="table table-condensed">
          <thead>
          <tr>
            <th class="text-left">Name</th>
            <th>zuletzt gesehen am:</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
            {% for item in tribe_members %}
            {% set bgID = (bgID+1)%2 %}
              <tr class="bg{{ bgID }}">
                <td><a href="main.php?modus={{ player_detail_link}}&amp;detailID={{ item.playerID }}">{{ item.name }}</a></td>
                <td>{% if is_auth.see_online or is_auth.isLeader %}{{ item.lastAction }}{% endif %}</td>
                <td class="text-right" style="padding-right: 4px;">{% if is_auth.isLeader %}<span id="player_{{ item.playerID }}" class="show_hide change_mouseover" style="padding-right: 10px">Berechtigungen anzeigen</span>{% endif %}{% if is_auth.kick_member or is_auth.isLeader %}<a href="main.php?modus={{ tribe_link }}&amp;action={{ tribe_action_kick }}&amp;playerID={{ item.playerID }}" data-reask="true" data-reask-header="Spieler kicken" data-reask-msg="Möchtest du {{ item.name }} wirklich aus dem Stamm kicken?">Rauswerfen</a>{% endif %}</td>
              </tr>
              {% if is_auth.isLeader %}
              <tr id="player_{{ item.playerID }}_content" class="bg{{ bgID }} hide">
                <td colspan="3" class="text-left">
                  <form id="formTribeMeberAuth" action="main.php?modus={{ tribe_link }}#tribe_member" method="post">
                    <label class="checkbox">
                      <input type="checkbox" id="msg_tribe" name="msg_tribe" value="1" {% if item.tribeAuth.msg_tribe %}checked="checked"{% endif %}>Stammesnachrichten schreiben
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" id="msg_public" name="msg_public" value="2" {% if item.tribeAuth.msg_public %}checked="checked"{% endif %}>Stammesnachrichten per Privater Nachricht schreiben
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" id="change_relation" name="change_relation" value="4" {% if item.tribeAuth.change_relation %}checked="checked"{% endif %}>Beziehungen ändern
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" id="kick_member" name="kick_member" value="8" {% if item.tribeAuth.kick_member %}checked="checked"{% endif %}>Spieler kicken
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" id="change_settings" name="change_settings" value="16" {% if item.tribeAuth.change_settings %}checked="checked"{% endif %}>Stammes-Informationen bearbeiten
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" id="tribeAuth.wonder" name="tribeAuth" value="32" {% if item.tribeAuth.tribeAuth.wonder %}checked="checked"{% endif %}>Kann Stammeswunder erwirken
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" id="see_online" name="see_online" value="64" {% if item.tribeAuth.see_online %}checked="checked"{% endif %}>Kann die letzte Online Zeit sehen
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" id="manage_chat" name="manage_chat" value="128" {% if item.tribeAuth.manage_chat %}checked="checked"{% endif %}>Darf die Chat Rechte verwalten
                    </label>
                    <div class="controls">
                      <input type="hidden" name="action" value="{{ tribe_action_auth }}" />
                      <input type="hidden" name="player_id" value="{{ item.playerID }}" />
                      <button class="btn" type="button" id="tribeMemberAuthSubmit" name="tribeMemberAuthSubmit">Absenden</button>
                    </div>
                    </form>
                </td>
              </tr>
              {% endif %}
            {% endfor %}
            {% set bgID = 0 %}
          </tbody>
        </table>
      </div>
      {% endif %}
{#/* Verwaltung / Chat */ #}
      {% if is_auth.manage_chat or is_auth.isLeader %}
      <div class="tab-pane" id="tribe_chat">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span4 nospace">
              <input type="text" placeholder="Raumname 1">
              <select multiple="multiple">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="span4 nospace">
              <input type="text" placeholder="Raumname 2">
              <select multiple="multiple">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="span4 nospace">
              <input type="text" placeholder="Raumname 3">
              <select multiple="multiple">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
{#/* Regierung / Beziehungen */ #}
      <div class="tab-pane" id="tribe_relationship">
        {% if relations_info or relations %}
          <table class="table table-striped table-condensed">
            <thead>
            <tr>
              <th>Stamm</th>
              <th>Beziehungen</th>
              <th>Sonstiges</th>
            </tr>
            </thead>
            <tbody>
              {% for item in relations_info %}
                <tr>
                  <td>{{ item.tag }}</td>
                  <td>
                    Eigene: <span class="bold">{{ item.relation }}</span><br />
                    Ihre: <span class="bold">{{ item.their_relation }}</span><br />
                    Bis: <span class="bold">{{ item.duration }}</span>
                  </td>
                  <td class="text-right" style="padding-right: 4px;">
                    {% if item.war %}
                      Knüppelpunkte: Unsere: {{ item.fame_own }}. Ihre: {{ item.fame_target }}<br />
                      {% if percent_estimated %}Kriegsanteil: {{ item.percent_actual }}&nbsp;%<br />{% endif %}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              {% for item in relations %}
                <tr>
                  <td>{{ item.tag }}</td>
                  <td>
                    Ihre: <span class="bold">{{ item.their_relation }}</span><br />
                    {% if item.duration %}Bis: <span class="bold">{{ item.duration }}</span>{% endif %}
                  </td>
                  <td class="text-right">
                    {% if item.war %}
                      Knüppelpunkte: Unsere: {{ item.fame_own }}. Ihre: {{ item.fame_target }}<br />
                      Kriegsanteil: {{ item.percent_actual }}&nbsp;% ({{ item.percent_estimated }}&nbsp;% benötigt)<br />
                    {% endif %}
                    {% if is_auth.change_relation or is_auth.isLeader %}
                    <form id="formTribeChangeRelation" action="main.php?modus={{ tribe_link }}" method="post">
                      <input type="hidden" name="targetTribe" value="{{ item.tag }}" /><input type="hidden" name="action" value="{{ tribe_action_relation }}" />
                      <div class="input-append">
                        <select name="relationID">
                          {% for item2 in relations_list %}<option value="{{ item2.relationID }}" {% if item2.relationID == item.relation_type %}selected="selected"{% endif %}>{{ item2.name }}</option>{% endfor %}
                        </select>
                        <button class="btn" type="button" id="changeRelation" name="changeRelation">Go</button>
                      {% if item.isForcePossible %}
                        <button class="btn" type="button" id="forceSurrender" name="forceSurrender">Kapitulation erzwingen</button>
                      {% endif %}
                      </div>
                    </form>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="space text-center">Dein Stamm führt zur Zeit keine Beziehungen.</div>
        {% endif %}
      </div>
{#/* Regierung / Neue Beziehung */ #}
      {% if is_auth.change_relation or is_auth.isLeader %}
      <div class="tab-pane space" id="tribe_newrelationship">
        <form id="formTribeRelation" class="form-horizontal" action="main.php?modus={{ tribe_link }}" method="post">
          <div class="control-group">
            <label class="control-label tribe-label" for="targetTribe">Stammestag</label>
            <div class="controls tribe">
              <input class="autocomplete" type="text" name="targetTribe" id="targetTribe" placeholder="Stammestag" data-source="tribe" required>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label tribe-label" for="relationID">Beziehung</label>
            <div class="controls tribe">
              <select name="relationID" id="relationID" style="height: 25px; padding: 0;">
                {% for item in relations_list %}<option value="{{ item.relationID }}">{{ item.name }}</option>{% endfor %}
              </select>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input type="hidden" name="action" value="{{ tribe_action_relation }}" />
              <button class="btn" type="button" id="tribeNewRelationSubmit" name="tribeNewRelationSubmit">Absenden</button>
            </div>
          </div>
        </form>
      </div>
      {% endif %}
{#/* Regierung / Stammesregierung */ #}
      <div class="tab-pane space" id="tribe_goverment">
        {% if government_select %}
        <form id="formTribeGoverment" class="form-horizontal" action="main.php?modus={{ tribe_link }}#tribe_goverment" method="post">
          <div class="control-group">
            <label class="control-label tribe-label" for="governmentID">Regierungsform</label>
            <div class="controls tribe">
              <select name="governmentID" id="governmentID">
                 {% for item in government_select %}<option value="{{ item.value }}" {{ item.selected|raw }}>{{ item.name }}</option>{% endfor %}
              </select>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input type="hidden" name="action" value="{{ tribe_action_goverment }}" />
              <button class="btn" type="button" id="formTribeGovermentSubmit" name="formTribeGovermentSubmit">Absenden</button>
            </div>
          </div>
        </form>
        {% else %}
          <div class="space text-center">
            <h3 style="margin: 0;">Regierungsform</h3>
            <div style="padding-top: 10px">{{ government_data.name }} {% if government_data.duration %}bis mindestens {{ government_data.duration }}{% endif %}</div>
          </div>
        {% endif %}
      </div>
{#/* Regierung / Anführer wählen */ #}
      <div class="tab-pane" id="tribe_leader" style="padding: 5px;">
        {% if goverment_choice_list %}
          <div class="space text-center">
            <h4>{{ goverment_choice_name }}</h4>
            <p>{{ goverment_choice_description|raw }}</p>
          </div>
          <hr>
          <form id="formTribeLeader" class="form-inline" action="main.php?modus={{ tribe_link }}#tribe_leader" method="post">
            Anführer:
            <div class="input-append">
              <select name="chooseLeaderID" id="chooseLeader_id">
                {% for item in goverment_choice_list %}<option value="{{ item.playerID }}" {{ item.selected|raw }}>{{ item.name }}</option>{% endfor %}
              </select>
              <button class="btn" type="button" id="formChoiceLeaderSubmit" name="formChoiceLeaderSubmit">Wählen</button>
            </div>
            <input type="hidden" name="action" value="{{ tribe_action_choose_leader }}" />
          </form>
          <hr>
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th class="text-left">Spieler</th>
                <th>Stimmen</th>
              </tr>
            </thead>
            <tbody>
              {% for item in goverment_votes_list %}
                <tr>
                  <td class="text-left">{{ item.name }}</td>
                  <td>{{ item.votes }}</td>
                </tr>
              {% else %}
                <tr class="bg0"><td class="last text-center" colspan="2">Bisher hat noch keine einen Anführer gewählt.</td></tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="space text-center">
            <h3 style="margin: 0;">{{ goverment_choice_name }}</h3>
            {{ goverment_choice_description|raw }}
            <div class="info" style="margin: 10px 10px 0;">{{ goverment_choice_message }}</div>
          </div>
        {% endif %}
      </div>
{#/* Nachrichten / Aktuelle Nachrichten */ #}
      <div class="tab-pane" id="tribe_message">
        {% for item in tribe_messages %}
          <div class="alert-info text-left" style="padding: 5px;">
            <h5>{{ item.time }}&nbsp;&nbsp;{{ item.subject }}</h5>
            <p>{{ item.message|raw }}</p>
          </div>
          {% if not loop.last %}<hr>{% endif %}
        {% else %}
          <p class="text-center">Zur Zeit gibt es keine Stammesnachrichten.</p>
        {% endfor %}
      </div>
{#/* Nachrichten / Neue Nachricht */ #}
      {% if is_auth.msg_tribe or is_auth.msg_public or is_auth.isLeader %}
      <div class="tab-pane" style="padding: 5px;" id="tribe_newmessage">
        <form id="formTribeMessage" action="main.php?modus={{ tribe_link }}" method="post">
          <div class="control-group">
            <label class="control-label tribe-label" for="inputMessage">Nachricht</label>
            <div class="controls tribe">
              <textarea class="input-block-level" id="inputMessage" name="messageText" style="height: 125px;" rows="3"></textarea>
            </div>
          </div>
          <div class="control-group">
            <div class="controls tribe">
              <input type="hidden" name="action" value="{{ tribe_action_message }}" />
              <button class="btn" type="button" id="tribemsg" name="tribemsg">Stammesnachricht</button>
              <button class="btn" type="button" id="ingame" name="ingame">Private Nachricht</button>
            </div>
          </div>
        </form>
      </div>
      {% endif %}
{#/* Wunder / Lager */ #}
      <div class="tab-pane" id="tribe_store">
        <div class="notice text-center space_margin">
          Hier können Einzahlungen ins Stammeslager getätigt werden. <br />
          Die Rohstoffe werden für Stammeswunder benötigt.<br />
          Es kann alle {{ donationInterval }} Stunden EINE Einzahlung von JEDER Rohstoffart vorgenommen werden.<br />
        </div>
        <form id="formTribeStore" action="main.php?modus={{ tribe_link }}#tribe_store" method="post">
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Rohstoff</th>
                <th>Vorhanden</th>
                {% if showTribeStorageDonations %}
                  <th>Einzahlungsmenge</th>
                  <th>Maximale Menge pro Einzahlung</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for resource in tribeStorageValues %}
                <tr>
                  <td><img src="{{ gfx }}/resources/{{ resource.dbFieldName }}_icon.gif" class="noborder" width="15" height="15" alt="{{ resource.name }}" title="{{ resource.name }}" /></td>
                  <td>{{ resource.name }}</td>
                  <td>{{ resource.value }}</td>
                  {% if resource.donatePossible %}
                    <td><input id="resource_{{ resource.resourceID }}_input" name="value[{{ resource.resourceID }}]" type="number" pattern="\d*" size="10" max="{{ resource.maxTribeDonation }}"></td>
                    <td><div id="resource_{{ resource.resourceID }}" class="load_max change_mouseover">{{ resource.maxTribeDonation }}</div></td>
                  {% else %}
                    <td colspan="2">Nächste Einlagerung: {{ resource.lastDonate }}</td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if showTribeStorageDonations %}
            <div class="control-group">
              <div class="controls tribe">
                <input type="hidden" name="action" value="{{ tribe_action_donate }}" />
                <button class="btn" type="button" id="formTribeStoreSubmit" name="formTribeStoreSubmit">Einzahlen</button>
              </div>
            </div>
          {% endif %}
        </form>
      </div>
{#/* Wunder / Einzahlungen */ #}
      <div class="tab-pane" id="tribe_donation">
        {% if donations %}
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>Spieler</th>
                {% for item in tribeStorageValues %}
                <th><img src="{{ gfx }}/resources/{{ item.dbFieldName }}_icon.gif" class="noborder" width="15" height="15" alt="{{ item.name }}" title="{{ item.name }}" /></th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for donation in donations %}
              <tr>
                {% for item in donation %}
                <td>{{ item }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="space text-center">Bisher hat noch kein Spieler etwas ins Lager eingezahlt.</div>
        {% endif %}
      </div>
{#/* Wunder / Wunder */ #}
      {% if is_auth.isLeader or is_auth.wonder %}
      <div class="tab-pane" id="tribe_wonder">
        {% if wonders %}
          <table class="table table-condensed">
            <tbody>
              {% for item in wonders %}
              {% set bgID = (bgID+1)%2 %}
                <tr class="bg{{ bgID }} object-row">
                  <td><a class="object-detail-link" data-id="wonder_{{ item.wonder_id }}" href="main.php?modus={{ wonder_detail_link }}&amp;wonderID={{ item.wonder_id }}&amp;caveID={{ item.cave_id }}"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png"  class="noborder" width="16" height="16" alt="Plus" title="Plus" /></a></td>
                  <td>
                    <dl>
                      <dt><a class="object-detail-link" data-id="wonder_{{ item.wonder_id }}" href="main.php?modus={{ wonder_detail_link }}&amp;wonderID={{ item.wonder_id }}&amp;caveID={{ item.cave_id }}"><span class="bold">{{ item.name }}</span></a></dt>
                      <dd>{% include "boxCost.tmpl" %} bei {{ tribe_members_count }} Mitgliedern</dd>
                    </dl>
                  </td>
                  <td class="text-right" style="width: 150px;">
                    {% if item.build_link %}
                      <form id="tribeWonderForm" action="main.php?modus={{ tribe_link }}" method="post">
                        <div class="pull-right">
                          <div class="pull-left" style="width: 105px;">
                            <ul class="clean">
                              <li class="text-center">Zielstamm:</li>
                              <li><input class="autocomplete input-small" type="text" name="CaveName" id="CaveName_{{ item.wonder_id }}" size="10" maxlength="32"  data-source="tribe"></li>
                            </ul>
                          </div>
                          <div class="pull-left" style="width: 25px;">
                            <input type="hidden" name="action" value="{{ tribe_action_wonder }}" />
                            <input type="hidden" name="wonderID" value="{{ item.wonder_id }}" />
                            <input type="hidden" name="caveID" value="{{ cave_id }}" />
                            <input type="image" src="{{ gfx }}/de_DE/t_uga/flash.png" width="25" value="Beten" alt="Beten" title="Beten" />
                          </div>
                        </div>
                      </form>
                    {% else %}
                      <span class="text-right"><img src="{{ gfx }}/de_DE/t_uga/flash_false.png" class="noborder" width="20" height="20" alt="{message}" title="{{ item.no_build_msg }}" /></span>
                    {% endif %}
                  </td>
                </tr>
                <tr class="bg{{ bgID }} hide"><td colspan="4" id="wonder_{{ item.wonder_id }}_details"></td></tr>
              {% endfor %}
              {% set bgID = 0 %}
            </tbody>
          </table>
        {% else %}
          <div class="space text-center">Euer Glaube reicht bisher leider nicht aus um ein Wunder erbitten zu können.</div>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}