{#
/* unitBuilder.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Einheiten{% endblock %}
{% block content %}

<script type="text/javascript">
  function build_max_units(unitID){
   var amount;
   amount = document.getElementById("unit_" + unitID + "");
   if (amount.value == ""){
   amount.value = {{ max_build_units }};
   }
   else{
   amount.value = "";
   }
  }
</script>

{% if quene_show %}
  <div class="notice">
    <ul>
      <li>Momentan im Gange: Ausbildung von {{ quene_quantity }} {{ quene_name }}(n) (fertig: {{ quene_finish }})</li>
      <li><a href="main.php?modus={{ unit_link }}&amp;action=cancelOrder&amp;id={{ quene_event_id }}&amp;caveID={{ cave_id }}">Abbrechen</a></li>
    </ul>
  </div>
{% endif %}

{% if cancelOrder_box %}{% include "boxConfirmation.tmpl" %}{% endif %}

{% if status_msg %}<div class="{{ status_msg.type }}">{{ status_msg.message|raw }}</div>{% endif %}

<div class="ua-box">
  <div class="ua-box-header">Einheiten</div>
  <div class="ua-box-content">
    <div id="unitBuilder" class="jquery_tabs nav1">
      {% for category in units %}
        <h4>{{ category.name }}</h4>
        <div class="tabbody">
          {% if category.items %}
            <table>
              <tbody>
                {% for item in category.items %}
                {% set bgID = (bgID+1)%2 %}
                  <tr class="bg{{ bgID }} object-row">
                    <td class="ua-td-open"><a class="object-detail-link" href="main.php?modus={{ unit_detail_link }}&amp;unitID={{ item.unit_id }}&amp;caveID={{ item.cave_id }}"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png"  class="noborder" width="16" height="16" alt="Plus" title="Plus" /></a></td>
                    <td class="ua-td-smallicon"><img src="{{ gfx }}/units/{{ item.dbFieldName }}_small.gif" class="noborder" width="20" height="30" alt="" title="{{ item.name }}" /></td>
                    <td>
                      <dl>
                        <dt><a class="object-detail-link" href="main.php?modus={{ unit_detail_link }}&amp;unitID={{ item.unit_id }}&amp;caveID={{ item.cave_id }}"><span class="bold">{{ item.name }}</span></a></dt>
                        <dd>{% include "boxCost.tmpl" %}</dd>
                      </dl>
                    </td>
                    <td class="ua-td-time"><img src="{{ gfx }}/de_DE/t_uga/clock.gif" class="noborder" width="15" height="15" alt="Dauer:" />{{ item.time }}</td>
                    <td class="ua-td-count">Bestand: {{ item.stock }}</td>
                    <td class="ua-td-input">
                      {% if item.build_link %}
                        <div class="ym-gl text-right" style="width: 120px"><form method="post" action="main.php?modus={{unit_link }}&amp;caveID={{ cave_id }}">
                          <input type="hidden" name="action" value="build" />
                          <input type="hidden" name="unitID" value="{{ item.unit_id }}" />
                          Anzahl: <input id="unit_{{ item.unit_id }}" ondblclick="build_max_units({{ item.unit_id }})" type="text" pattern="\d*" name="quantity" size="2" maxlength="2" />
                          <input type="image" src="{{ gfx }}/de_DE/t_uga/arrow_up.png" value="Ausbilden" alt="Ausbilden" title="Ausbilden" />
                        </form></div>

                        <div class="ym-gr text-right" style="width: 30px"><form method="post" action="main.php?modus={{unit_link }}&amp;caveID={{ cave_id }}">
                          <input type="hidden" name="action" value="build" />
                          <input type="hidden" name="unitID" value="{{ item.unit_id }}" />
                          <input type="hidden" name="quantity" value="-1" />
                          <input type="image" src="{{ gfx }}/de_DE/t_uga/arrow_up_max.png" value="Ausbilden" alt="Baut die maximale Anzahl Einheiten" title="Baut die maximale Anzahl Einheiten" />
                        </form></div>
                      {% else %}
                        {{ item.no_build_msg }}
                      {% endif %}                    
                    </td>
                  </tr>
                  <tr class="bg{{ bgID }} detail-row" id="unit_{{ item.unit_id }}" style="display: none;"><td colspan="6" class="object-details"></td></tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <div class="space text-center">Zur Zeit kannst du leider von dieser Kategorie noch keine Einheiten bauen.</div>
          {% endif %}
          {% set bgID = 0 %}
        </div>
      {% else %}
        <div class="space text-center">Zur Zeit kannst du leider noch keine Einheiten bauen.</div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="success"><a href="{{ rules_path }}?modus=misc&amp;miscID=1" class="new-window">Übersicht zu allen Einheiten</a></div>

<div class="ua-box">
  <div class="ua-box-header">Einheiten, die noch nicht gebaut werden können</div>
  <div id="unit_unqualified" class="ua-box-content box_toggle change_mouseover space text-center">Einheiten einblenden</div>
  <div id="unit_unqualified_content" class="ua-box-content" style="display: none;">
    <div id="unitBuilderUnqualified" class="jquery_tabs nav1">
      {% for category in units_unqualified %}
        <h4>{{ category.name }}</h4>
        <div class="tabbody">
          {% if category.items %}
            <table>
              <tbody>
                {% for item in category.items %}
                {% set bgID = (bgID+1)%2 %}
                  <tr class="bg{{ bgID }} object-row">
                    <td class="ua-td-open"><a class="object-detail-link" href="main.php?modus={{ unit_detail_link }}&amp;unitID={{ item.unit_id }}&amp;caveID={{ item.cave_id }}"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png"  class="noborder" width="16" height="16" alt="Plus" title="Plus" /></a></td>
                    <td class="ua-td-smallicon"><img src="{{ gfx }}/units/{{ item.dbFieldName }}_small.gif" class="noborder" width="20" height="30" alt="" title="{{ item.name }}" /></td>
                    <td>
                      <dl>
                        <dt><a class="object-detail-link" href="main.php?modus={{ unit_detail_link }}&amp;unitID={{ item.unit_id }}&amp;caveID={{ item.cave_id }}"><span class="bold">{{ item.name }}</span></a></dt>
                        <dd>{{ item.dependencies }}</dd>
                      </dl>
                    </td>
                  </tr>
                  <tr class="bg{{ bgID }} detail-row" id="unit_{{ item.unit_id }}" style="display: none;">
                    <td colspan="3" class="object-details"></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <div class="space text-center">Aus dieser Kategorie kannst du bereits schon alle Einheiten bauen.</div>
          {% endif %}
          {% set bgID = 0 %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}