{#
/* unitMovement.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2013 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */
#}
{% extends "base.tmpl" %}
{% block title %}Bewegungen{% endblock %}
{% block content %}

{% if status_msg %}<div class="alert alert-block alert-{{ status_msg.type }}"><p>{{ status_msg.message|raw }}</p></div>{% endif %}

<div class="ua-box">
  <div class="ua-box-header">Einheiten Bewegen</div>
  <div class="ua-box-content">
    <form id="formUnitMovement" class="form-horizontal" action="main.php?modus={{ unit_movement_link }}" method="post">
      <div id="movementData" class="hide">{{ movement_data|raw }}</div>
      <div id="unitData" class="hide">{{ unit_list_json|raw }}</div>
      <div id="resouceData" class="hide">{{ resource_json|raw }}</div>

      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th colspan="5">&nbsp;</th>
            <th class="text-center" colspan="3">Schadensarten</th>
          </tr>
          <tr>
            <th class="move-name">Einheit</th>
            <th class="move-unit">Anzahl</th>
            <th class="move-max text-center">Max</th>
            <th class="text-center">Größe</th>
            <th class="text-center">Tempo</th>
            <th class="text-center">Gebäude</th>
            <th class="text-center">Getümmel</th>
            <th class="text-center">Fernkampf</th>
          </tr>
        </thead>
        <tbody>
          {% for item in unit_list %}
            <tr>
              <td class="move-name">
                <a class="popup-detail" href="main.php?modus={{ unit_detail_link }}&amp;unitID={{ item.unit_id }}">{{ item.name }}</a><br/>
                {% for resources in item.encumbrance %}{% if resources.load > 0 %}<img class="tooltip-show" rel="tooltip" data-placement="top" data-original-title="Maximale Traglast: {{ resources.load }}" width="18" height="18" src="{{ gfx }}/resources/{{ resources.dbFieldName }}_icon.gif" alt="{{ resources.name }}"/>{% endif %}{% endfor %}
              </td>
              <td class="move-unit"><input class="input-unit dblclickmax change-movement" type="number" id="unit_{{ item.unit_id }}" value="{{ item.value }}" name="unit[{{ item.unit_id }}]" pattern="\d*" min="0" max="{{ item.max_unit_count }}" maxlength="6" data-max="{{ item.max_unit_count }}" data-max-id="unit_{{ item.unit_id }}"></td>
              <td class="move-max text-center"><span class="change_mouseover clickmax update-movement" data-max="{{ item.max_unit_count }}" data-max-id="unit_{{ item.unit_id }}">{{ item.max_unit_count }}</span></td>
              <td class="text-center">{{ item.size }}</td>
              <td class="text-center">{{ item.speed_factor }}</td>
              <td class="text-center">{{ item.arealAttack }}</td>
              <td class="text-center">{{ item.attackRate }}</td>
              <td class="text-center">{{ item.rangeAttack }}</td>
            </tr>
          {% else %}
            <tr><td class="text-center" colspan="8">Derzeit besitzt du keine Einheiten.</td></tr>
          {% endfor %}
          <tr>
            <td><b>Alle mitnehmen</b></td>
            <td class="text-center"><input type="checkbox" id="selctAllUnits"></td>
            <td class="text-center" id="countAll">0</td>
            <td class="text-center" id="sizeAll">0</td>
            <td class="text-center" id="speedFactorAll">0</td>
            <td class="text-center" id="arealAttackAll">0</td>
            <td class="text-center" id="attackRateAll">0</td>
            <td class="text-center" id="rangeAttackAll">0</td>
          </tr>
        </tbody>
      </table>
      <hr>
      {% set countHead = 0 %}{% set countBody = 0 %}{% set countBody2 = 0 %}
      {% set rows = resource|length/5 %}
      {% for i in range(1, rows|ceil) %}
        {% if resource[countHead].dbFieldName %}
          <table class="table table-condensed">
            <thead>
              <tr>
              {% for j in range(1, 5) %}
                <th class="text-center"><img width="20" height="20" src="{{ gfx }}/resources/{{ resource[countHead].dbFieldName }}_icon.gif" alt="{{ resource[countHead].name }}" title="{{ resource[countHead].name }}" /></th>
                {% set countHead = countHead + 1 %}
              {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr class="bg0">
              {% for j in range(1, 5) %}
                <td class="text-center"><input class="input-resource nospace dblclickmax change-movement" type="number" id="resource_{{ resource[countBody].resource_id }}" value="" name="resource[{{ resource[countBody].resource_id }}]" pattern="\d*" maxlength="6" data-max="0" data-max-id="resource_{{ resource[countBody].resource_id }}"></td>
                {% set countBody = countBody + 1 %}
              {% endfor %}
              </tr>
              <tr class="bg0">
              {% for j in range(1, 5) %}
                <td class="text-center"><div class="change_mouseover clickmax update-movement" id="resource_{{ resource[countBody2].resource_id }}_max" data-max="0" data-max-id="resource_{{ resource[countBody2].resource_id }}">0</div></td>
                {% set countBody2 = countBody2 + 1 %}
              {% endfor %}
              </tr>
            </tbody>
          </table>
        {% endif %}
      {% endfor %}
      <hr>
      <div class="row" style="width: 621px; margin: 0 auto;">
        <div class="span2" style="margin-left: 0; padding-left: 5px;">
          <h5>Bewegungsart:</h5>
          <label class="radio change-movement" for="movementID"><input type="radio" name="movementID" value="0" id="movementID" checked><em>Auswählen</em></label>
          {% for item in selectable_movements %}<label class="radio change-movement" for="movementID{{ item.id }}"><input type="radio" name="movementID" value="{{ item.id }}" id="movementID{{ item.id }}">{{ item.description }}</label>{% endfor %}
          {% if hero %}<p class="nospace"><label class="checkbox"><input type="checkbox">Held mitnehmen?</label></p>{% endif %}
          {% if artefact %}
            <h5>Artefakt:</h5>
            <label class="radio" for="myartefacts"><input type="radio" name="myartefacts" value="-1" id="myartefacts" checked><em>Auswählen</em></label>
            {% for item in artefact %}<label class="radio" for="myartefacts{{ item.artefactID }}"><input type="radio" name="myartefacts" value="{{ item.artefactID }}" id="myartefacts{{ item.artefactID }}">{{ item.name }}</label>{% endfor %}
          {% endif %}
        </div>
        <div class="span3" style="width: 266px; margin-left: 0;">
          <h5 class="text-center">Daten:</h5>
          <p class="nospace">Bewegungsdauer:<span style="padding-left: 5px;" id="duration">- Min</span></p>
          <p class="nospace">Nahrungsverbrauch:<span style="padding-left: 5px;" id="food">- Nahrung</span></p>
          <p>Bewegungsgeschwindigkeit:<span style="padding-left: 5px;" id="speed">0</span></p>

          {% if hero %}
            <p class="nospace">Erfahrung Held:<span style="padding-left: 5px;" id="heroExp">{{ hero.exp }}</span></p>
            <p class="nospace">Lebenspunkte Held:<span style="padding-left: 5px;" id="heroHeal">{{ hero.healPoints }}</span></p>
          {% endif %}
        </div>
        <div class="span2 pull-right text-right" style="width: 205px; margin-left: 0; padding-right: 5px;">
          <h5 class="text-center">Ziel:</h5>
          <div class="control-group">
            <div class="input-append">
              <input class="input-move-xy change-movement" type="number" pattern="\d*" name="targetXCoord" id="targetXCoord" placeholder="X" value="{{ target_x_coord }}" maxlength="2">
              <input class="input-move-xy change-movement" type="number" style="margin-left: 20px; "pattern="\d*" name="targetYCoord" id="targetYCoord" placeholder="Y" value="{{ target_y_coord }}" maxlength="2">
            </div>
          </div>
          <div class="control-group">
            <input class="autocomplete input-move-cave change-movement" type="text" name="targetCaveName" id="targetCaveName" placeholder="Höhlenname" value="{{ target_cave_name }}" size="10" maxlength="32" data-source="caves" />
          </div>
          {% if bookmarks_cave %}
            <div class="control-group">
              <select class="input-move-select move-select-bookmark" name="targetCaveID" id="targetCaveID" size="1">
                <option value="-1" selected="selected">Bitte wählen</option>
                {% for item in bookmarks_cave %}<option value="{{ item.caveID }}" data-xCoord="{{ item.xCoord }}" data-yCoord="{{ item.yCoord }}" data-caveName="{{ item.name }}">{{ item.name }} ({{ item.xCoord }}|{{ item.yCoord }}) {{ item.playerName }}</option>{% endfor %}
              </select>
            </div>
          {% endif %}
        </div>
      </div>
      <hr>
      <div class="text-right" style="width: 100%">
        <button class="text-right" style="margin: 0 5px 5px 0" type="button" id="moveit" name="moveit" class="btn">und los geht's. UGH?</button>
      </div>

<!--
      <div class="ym-grid" style="padding-top: 5px;">
        <div class="ym-g33 ym-gl">
          <ul class="movement left">
            {% if artefact %}
              <li style="height: 10px;">&nbsp;</li>
              <li class="bold">Artefakt:</li>
              <li>
                {% for item in artefact %}
                  <div class="ym-fbox-check">
                    <input type="radio" name="myartefacts" value="{{ item.artefactID }}" id="myartefacts{{ item.artefactID }}"  />
                    <label for="myartefacts{{ item.artefactID }}">{{ item.name }}</label>
                  </div>
                {% endfor %}
                <div class="ym-fbox-check">
                  <input type="radio" name="myartefacts" value="-1" id="myartefactsnone" checked="checked"  />
                  <label for="myartefactsnone">keines</label>
                </div>
              </li>
            {% endif %}
          </ul>
        </div>
-->
      {% for item in params %}<input type="hidden" name="{{ item.name }}" value="{{ item.value }}" />{% endfor %}
    </form>
  </div>
</div>

<div id="export-dialog"></div>
{% if ownMovement %}
<div class="ua-box">
  <div class="ua-box-header">laufende Bewegungen eigener Verbände</div>
  <div class="ua-box-content">
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <tr>
          <th style="width: 105px;">Bewegungsart</th>
          <th style="width: 160px;">Zeitraum</th>
          <th>Zielhöhle</th>
          <th>Einh./Ress.</th>
          <th style="width: 30px;">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for item in ownMovement %}
          <tr>
            <td style="width: 105px;">
              <p class="nospace">{{ item.movement_id_description }}</p>
              <p class="nospace">
                <a class="export-link" href="export.php?modus=movement&amp;movementID={{ item.event_id }}&amp;format=xml"><img src="{{ gfx }}/de_DE/t_uga/icon_export_xml.png" class="noborder" width="20" height="20" alt="Export als XML"  title="Export als XML"/></a>
                <a class="export-link" href="export.php?modus=movement&amp;movementID={{ item.event_id }}&amp;format=irc"><img src="{{ gfx }}/de_DE/t_uga/icon_export_irc.png" class="noborder" width="20" height="20" alt="Export als IRC" title="Export für IRC" /></a>
                <a class="export-link" href="export.php?modus=movement&amp;movementID={{ item.event_id }}&amp;format=bb"><img src="{{ gfx }}/de_DE/t_uga/icon_export_text.png" class="noborder" width="20" height="20" alt="Export als Text" title="Export als Text" /></a>
              </p>
            </td>
            <td style="width: 160px;">
              <p class="nospace">Start: {{ item.event_start_date }}</p>
              <p class="nospace">Ende: {{ item.event_end_date }}</p>
            </td>
            <td>
              <p class="nospace">{{ item.target_player_name }} - {{ item.target_player_tribe }}</p>
              <p class="nospace">aus {{ item.target_cave_name }} ({{ item.target_xCoord }}|{{ item.target_yCoord }})</p>
            </td>
            <td>
              {% for item_unit in item.units %}
                <p class="nospace"><span class="text-small" style="white-space: nowrap;"><span class="bold">{{ item_unit.name }}:</span> {{ item_unit.value }}</span></p>
              {% endfor %}

              {% if item.resources %}
                <p class="nospace" style="height: 5px;">&nbsp;</p>
                {% for item_resource in item.resources %}
                  <p class="nospace"><span class="text-small" style="white-space: nowrap;"><span class="bold">{{ item_resource.name }}:</span>{{ item_resource.value }}</span></p>
                {% endfor %}
              {% endif %}
              {% if item.artefact %}
                <p class="nospace" style="height: 5px;">&nbsp;</p>
                <p class="nospace"><span class="text-small" style="white-space: nowrap;">&nbsp;{{ item.artefact.name }}</span></p>
              {% endif %}
            </td>
            <td class="text-right" style="width: 30px; vertical-align: middle;">
            {% if item.cancel %}
              <form id="formUnitMovingCancel{{ item.cancel.eventID }}" action="main.php?modus={{ unit_movement_link }}" method="post">
                <input type="hidden" name="eventID" value="{{ item.cancel.eventID }}" />
                <input type="hidden" name="action" value="cancel" />
                <button class="abort" type="button" id="unitMovingCancelSubmit{{ item.cancel.eventID }}" name="unitMovingCancelSubmit{{ item.cancel.eventID }}" title="Einheiten umkehren"></button>
              </form>
            {% else %}
              &nbsp;
            {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% if oppMovement %}
<div class="ua-box">
  <div class="ua-box-header">ankommende Verbände</div>
  <div class="ua-box-content">
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <tr>
          <th style="width: 105px;">Bewegungsart</th>
          <th style="width: 160px;">Zeitraum</th>
          <th>Herkunft</th>
          <th>Einh./Ress.</th>
        </tr>
      </thead>
      <tbody>
        {% for item in oppMovement %}
          <tr>
            <td style="width: 105px;">
              <p class="nospace">{{ item.movement_id_description }}</p>
              <p class="nospace">
                <a class="export-link" href="export.php?modus=movement&amp;movementID={{ item.event_id }}&amp;format=xml"><img src="{{ gfx }}/de_DE/t_uga/icon_export_xml.png" class="noborder" width="20" height="20" alt="Export als XML"  title="Export als XML"/></a>
                <a class="export-link" href="export.php?modus=movement&amp;movementID={{ item.event_id }}&amp;format=irc"><img src="{{ gfx }}/de_DE/t_uga/icon_export_irc.png" class="noborder" width="20" height="20" alt="Export als IRC" title="Export für IRC" /></a>
                <a class="export-link" href="export.php?modus=movement&amp;movementID={{ item.event_id }}&amp;format=bb"><img src="{{ gfx }}/de_DE/t_uga/icon_export_text.png" class="noborder" width="20" height="20" alt="Export als Text" title="Export als Text" /></a>
              </p>
            </td>
            <td style="width: 160px;">
              <p class="nospace">Start: {{ item.event_start_date }}</p>
              <p class="nospace">Ende: {{ item.event_end_date }}</p>
            </td>
            <td>
              <p class="nospace">{{ item.target_player_name }} - {{ item.target_player_tribe }}</p>
              <p class="nospace">aus {{ item.target_cave_name }} ({{ item.target_xCoord }}|{{ item.target_yCoord }})</p>
            </td>
            <td>
              {% for item_unit in item.units %}
                <p class="nospace"><span class="text-small" style="white-space: nowrap;"><span class="bold">{{ item_unit.name }}:</span> {{ item_unit.value }}</span></p>
              {% endfor %}

              {% if item.resources %}
                <p class="nospace" style="height: 5px;">&nbsp;</p>
                {% for item_resource in item.resources %}
                  <p class="nospace"><span class="text-small" style="white-space: nowrap;"><span class="bold">{{ item_resource.name }}:</span>{{ item_resource.value }}</span></p>
                {% endfor %}
              {% endif %}
              {% if item.artefact %}
                <p class="nospace" style="height: 5px;">&nbsp;</p>
                <p class="nospace"><span class="text-small" style="white-space: nowrap;">&nbsp;{{ item.artefact.name }}</span></p>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% endblock %}