{#
/* unitDetailAjax.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2013 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% spaceless %}

{% if status_msg %}<div class="alert alert-block alert-{{ status_msg.type }} text-center nospace"><p>{{ status_msg.message|raw }}</p></div>{% else %}
<div class="row-fluid">
  <div class="span12">
    <img class="pull-left" src="{{ gfx }}/units/{{ dbFieldName }}_large.gif" alt="{{ name }}" title="{{ name }}" width="250" />
    {{ description|raw }}
    
    <p style="padding-top: 10px;"><span class="bold">Kosten:</span></p>
    <p>
      {% for resource in resouce_cost %}
        <img src="{{gfx}}/resources/{{resource.dbFieldName}}_icon.gif" style="width:15px; height:15px;" alt="{{resource.name}}" title="{{resource.name}}" />{{resource.value}} &nbsp;
      {% endfor %}
      {% for unit in unit_cost %}
        <br />
        {{ unit.name }}: {{ unit.value }}
      {% endfor %}
      {% for building in buiding_cost %}
        <br />
        {{ building.name }}: {{ building.value }}
      {% endfor %}
      {% for defense in defense_cost %}
        <br />
        {{ defense.name }}: {{ defense.value }}
      {% endfor %}
    </p>
    <p style="padding-top: 10px;"><img src="{{ gfx }}/de_DE/t_uga/clock.gif" class="noborder" width="15" height="15" alt="Dauer:" /> {{ duration }}</p>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    {% if dependencies %}
      <b>Abhängigkeiten:</b>
      {% for groups in dependencies %}
        <ul class="unstyled">
          <span class="bold">{{ groups.name }}:</span>
          <ul>
            {% for dependency in groups.dep %}
              <li>{{ dependency.name }} {{ dependency.level|raw }}</li>
            {% endfor %}
          </ul>
        </ul>
      {% endfor %}
    {% endif %}
  </div>
  <div class="span4">
    <table>
      <thead>
        <tr><th colspan="2">Eigenschaften:</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>Fernangriffsschaden</td>
          <td>{{ rangeAttack }}</td>
        </tr>
        <tr>
          <td>Gebäudeschaden</td>
          <td>{{ arealAttack }}</td>
        </tr>
        <tr>
          <td>Getümmelschaden</td>
          <td>{{ attackRate }}</td>
        </tr>
        <tr>
          <td>Fernkampf-Widerstand</td>
          <td>{{ rd_Resist }}</td>
        </tr>
        <tr>
          <td>Nahkampf-Widerstand</td>
          <td>{{ defenseRate }}</td>
        </tr>              <tr>
          <td>Größe</td>
          <td>{{ size }}</td>
        </tr>
        <tr>
          <td>Reiseproviant</td>
          <td>{{fuelFactor}}x<img src="{{gfx}}/resources/{{fuelName}}_icon.gif" style="width:15px; height:15px; border:none;" alt="Nahrung" /></td>
        </tr>
        <tr>
          <td>Geschwindigkeit</td>
          <td>{{ wayCost }}</td>
        </tr>
        {% if INVISIBLE %}
        <tr>
          <td class="bold" colspan="2">{{ INVISIBLE.text }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="span4">
    <table>
      <thead>
        <tr><th colspan="2">Spionagefertigkeiten:</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>Spionageklasse</td>
          <td>{{ spyValue }}</td>
        </tr>
        <tr>
          <td>Spionagefertigkeit</td>
          <td>{{ spyChance }}</td>
        </tr>
        <tr>
          <td>Gegenspionagefertigkeit</td>
          <td>{{ antiSpyChance }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endspaceless %}
