{#
/* unitMovement.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Bewegungen{% endblock %}
{% block content %}

<script type="text/javascript">
// <![CDATA[
var uamoves = new Array();
var units = new Array();
{% for item in unit_list %}units[{{ item.unit_id }}] = {maxWarriorAnzahl:{{ item.max_warrior_count }}, foodCost:{{ item.food_cost }}, speedFactor:{{ item.speed_factor }}, resourceLoad:[{{ item.resource_load }}], hitPoints:{{ item.hitPoints }}};{% endfor %}
var domcomp = document.childNodes ? true : false;
function getMovementID(){
  var r = document.getElementById("unitMoving").movementID;
  for (var i=0; i<r.length; i++) if (!r[i].checked) continue; else return r[i].value;
  return null;
}

function TimeString(duration)
{
  var time = duration * 60;
  var hours = Math.floor(time/3600);
  var minutes = Math.floor((time%3600)/60);
  if(!hours) return minutes+" Min";
  var text = duration + " Min ("+hours+" Std";
  if (minutes) text = text + " "+((minutes<10)?"0":"")+minutes+" Min";
  text = text + ")";
  return text;
}


function dur() {

  var MINUTESPERCAVE = {{ speed }};
  var FOODPERCAVE    = {{ movement_cost_constant }};
  
  /* Using torus edge condition */
  var xCoord = {{ dim_x }} - Math.abs(Math.abs(parseInt(document.getElementById("unitMoving").targetXCoord.value ) - {{ currentX }}) - {{ dim_x }});
  var yCoord = {{ dim_y }} - Math.abs(Math.abs(parseInt(document.getElementById("unitMoving").targetYCoord.value ) - {{ currentY }}) - {{ dim_y }});

  var movementID = parseInt(getMovementID());
  if (isNaN(movementID) || typeof(uamoves[movementID]) == 'undefined') return;

  var i, amount;

  var maxSpeedFactor = 0;
  for (i = 0; i < units.length; ++i){
    amount = document.getElementById("unit_" + i + "");
    if (!amount) continue;
    else amount = amount.value;
    if (amount != "" && Number(amount) > 0)
      maxSpeedFactor = Math.max(maxSpeedFactor, units[i]['speedFactor']);
  }
  var distance = Math.ceil(Math.sqrt(xCoord*xCoord + yCoord*yCoord));  
  // Entfernung x Dauer pro Höhle x größter Geschwindigkeitsfaktor x Bewegungsfaktor
  var duration = Math.ceil(Math.sqrt(xCoord*xCoord + yCoord*yCoord) * MINUTESPERCAVE * maxSpeedFactor * uamoves[movementID]['speedfactor']);

  var movementspeed =  maxSpeedFactor * uamoves[movementID]['speedfactor'];
  if (isNaN(maxSpeedFactor)){
    if (domcomp) document.getElementById("movementspeed").innerHTML = "-";
    else document.getElementById("movementspeed").value = "-";
  } else {
    if (domcomp) document.getElementById("movementspeed").innerHTML = movementspeed;
    else document.getElementById("movementspeed").value = movementspeed ;
  }
  if (isNaN(duration)){
    if (domcomp) document.getElementById("duration").innerHTML = "- Min";
    else document.getElementById("duration").value = "- Min";
  } else {
    if (domcomp) document.getElementById("duration").innerHTML = TimeString(duration);
    else document.getElementById("duration").value =  TimeString(duration); 
  }

  var unitRations = 0;
  for (i = 0; i < units.length; ++i) {
    amount = document.getElementById("unit_" + i + "");
    if (!amount) continue;
    else amount = amount.value;
    if (amount != "" && Number(amount) > 0)
      unitRations += amount * units[i]['foodCost'];
  }
  var tmpdist = 0;
  var i = 0;
  if(distance > 15){
    distance = distance - 15;
    tmpdist = 15;
    if(Math.floor(distance/5)<11)
      tmpdist += (distance % 5) * (1-0.1*Math.floor(distance/5));

    for(i = 1; i <= Math.floor( distance / 5) && i < 11; i++) {
      tmpdist += 5*(1-0.1*(i-1));
    }
  }else{
      tmpdist = distance;
  }

  // Dauer x Rationen x Größe einer Ration x Bewegungsfaktor
//  var food = Math.ceil(duration * unitRations * FOODPERCAVE * uamoves[movementID]['foodfactor']);
  var food = Math.ceil(MINUTESPERCAVE * maxSpeedFactor * uamoves[movementID]['speedfactor']* tmpdist *
                       unitRations * FOODPERCAVE * uamoves[movementID]['foodfactor']);


  if (isNaN(food)){
    if (domcomp) document.getElementById("food").innerHTML = "- Nahrung";
    else document.getElementById("food").value = "- Nahrung";
  } else {
    if (domcomp) document.getElementById("food").innerHTML = food + " Nahrung";
    else document.getElementById("food").value = food + " Nahrung";
  }
}

function getMaxLoad(){
  var i, j, amount;
  var maxLoad;
  for (i = 0; i < {{ resource_types }}; ++i){
    maxLoad = 0;
    for (j = 0; j < units.length; ++j){
      if (typeof(units[j]) == "undefined") continue;
      amount = document.getElementById("unit_" + j + "");
      if (!amount) continue;
      else amount = amount.value;
      if (amount != "" && Number(amount) > 0)
        maxLoad += amount * units[j]['resourceLoad'][i];
    }
    if (domcomp) document.getElementById("resource" + i).innerHTML = maxLoad;
    else document.getElementById("resource" + i).value = maxLoad;
  } 
}

{% if hero %}
function getArmySize(){
  var i, amount;
  var armySize = 0;
  for (i = 0; i < units.length; ++i){
    if (typeof(units[i]) == "undefined") continue;
    amount = document.getElementById("unit_"+ i + "");
    if (!amount) continue;
    else amount = amount.value;
    if (amount != "" && Number(amount) > 0)
      armySize += amount*units[i]['hitPoints'];
  }
  if (domcomp) document.getElementById("armySize").innerHTML = "Größe Armee: "+armySize;
  else document.getElementById("armySize").value = "Größe Armee: "+armySize;
}
{% endif %}

function checkall(){
  var i, amount;
  var allchecked = document.getElementById("all")
  for (i = 0; i < units.length; ++i){
    amount = document.getElementById("unit_" + i + "");
    if (!amount) continue;
    if (allchecked.checked) amount.value = units[i]['maxWarriorAnzahl'];
    else amount.value = "";
  }
  dur();getMaxLoad();{% if hero %}getArmySize();{% endif %}
}

function markAll(unitID){
  var amount;
  amount = document.getElementById("unit_" + unitID + "");
  if (amount.value == "")
    amount.value = units[unitID]['maxWarriorAnzahl'];
  else
    amount.value = "";
  dur();getMaxLoad();{% if hero %}getArmySize();{% endif %}
}

function loadMaxRes(resNr, resMax){
  var value = domcomp
              ? document.getElementById("resource" + resNr).innerHTML
              : document.getElementById("resource" + resNr).value;
  if (isNaN(value))
    return;
  var amount = document.getElementById("rohstoff_" + resNr + "");
  amount.value = (amount.value == "") ? Math.min(value, resMax) : "";
}

var caveBookmarks = new Array();

function disable_to(){
  var r = document.getElementById("unitMoving").targetCaveID;
  var flag = false;
  for (var i = 0; i < r.length; i++)
    if (r[i].selected && r[i].value != -1){
      flag = true; break;
    }
  document.getElementById("unitMoving").targetXCoord.disabled =
    document.getElementById("unitMoving").targetYCoord.disabled =
    document.getElementById("unitMoving").targetCaveName.disabled = flag;
  if (flag){
    document.getElementById("unitMoving").targetXCoord.value = caveBookmarks[r[i].value][0];
    document.getElementById("unitMoving").targetYCoord.value = caveBookmarks[r[i].value][1];
    document.getElementById("unitMoving").targetCaveName.value = caveBookmarks[r[i].value][2];
  } else {
    document.getElementById("unitMoving").targetXCoord.value =
      document.getElementById("unitMoving").targetYCoord.value =
      document.getElementById("unitMoving").targetCaveName.value = '';
  }
  dur();
}
// ]]>
</script>

<script type="text/javascript">
// <![CDATA[
wmtt = null;
document.onmousemove = updateWMTT;
function updateWMTT(e) {
  if (wmtt != null && wmtt.style.display == 'block') {
    x = (e.pageX ? e.pageX : window.event.x) + wmtt.offsetParent.scrollLeft - wmtt.offsetParent.offsetLeft;
    y = (e.pageY ? e.pageY : window.event.y) + wmtt.offsetParent.scrollTop - wmtt.offsetParent.offsetTop;
    wmtt.style.left = (x + 20) + "px";
    wmtt.style.top   = (y + 20) + "px";
  }
}
function showWMTT(id) {
  wmtt = document.getElementById(id);
  wmtt.style.display = "block";
}
function hideWMTT() {
  wmtt.style.display = "none";
}
// ]]>
</script>

{% if status_msg %}<div class="{{ status_msg.type }}">{{ status_msg.message|raw }}</div>{% endif %}

<div class="ua-box">
  <div class="ua-box-header">Einheiten Bewegen</div>
  <div class="ua-box-content">
    <form class="ym-form" id="unitMoving" style="padding-left: 4px; padding-right: 4px;" method="post" action="main.php?modus={{ unit_movement_link }}">
      <table>
        <thead>
        <tr>
          <td colspan="3">&nbsp;</td>
          <td colspan="10" class="text-center bold">Transportkapazität</td>
        </tr>
        <tr>
          <td class="bold" style="width: 155px">Einheit</td>
          <td class="bold" style="width: 55px">Menge</td>
          <td class="bold" style="width: 55px">Max</td>
          {% for item in resource %}<td><img width="20" height="20" src="{{ gfx }}/resources/{{ item.dbFieldName }}_icon.gif" alt="{{ item.name }}" title="{{ item.name }}" /></td>{% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in unit_list %}
        {% set bgID = (bgID+1)%2 %}
        <tr class="bg{{ bgID }}">
          <td><a href="main.php?modus={{ unit_detail_link }}&amp;unitID={{ item.unit_id }}">{{ item.name }}</a></td>
          <td><input id="unit_{{ item.warrior_id }}" style="width: 90%" name="unit[{{ item.warrior_id }}]" type="text" size="6" maxlength="6" ondblclick="markAll({{ item.warrior_id }})" onfocus="dur();getMaxLoad();{% if hero %}getArmySize();{% endif %}" onclick="dur();getMaxLoad();{% if hero %}getArmySize();{% endif %}" onchange="dur();getMaxLoad();{% if hero %}getArmySize();{% endif %}" onkeyup="dur();getMaxLoad();{% if hero %}getArmySize();{% endif %}" /></td>
          <td>{{ item.max_warrior_count }}</td>
          {% for item2 in item.encumbrance %}<td style="width:30px;" align="center">{{ item2.load }}</td>{% endfor %}
        </tr>
        {% endfor %}
        <tr>
        <td><label for="all">Alle Auswählen</label></td>
          <td><input name="all" id="all" type="checkbox" value="check all" onclick="checkall();" /></td>
          <td>&nbsp;</td>
          {% for item in resource %}<td style="width:30px;" align="center"><div id="resource{{ item.resource_id }}">0</div></td>{% endfor %}
        </tr>
        </tbody>
      </table>

      <div class="ym-grid" style="padding-top: 5px;">
        <div class="ym-g33 ym-gl">
          <ul class="movement left">
            <li class="bold"><a class="new-window" href="{{ rules_path }}?modus=misc&amp;miscID=3">Ressourcen:</a></li>
            {% for item in resource %}
            <li>
              <div class="ym-grid">
              <div class="ym-gl" style="width: 22px;"><label for="rohstoff_{{ item.resource_id }}"><img width="20" height="20" src="{{ gfx }}/resources/{{ item.dbFieldName }}_icon.gif" alt="{{ item.name }}" title="{{ item.name }}" /></label></div>
              <div class="ym-gl" style="width: 50px;"><input style="width: 50px;" id="rohstoff_{{ item.resource_id }}" name="rohstoff[{{ item.resource_id }}]" type="text" size="6" maxlength="6" ondblclick="loadMaxRes({{ item.resource_id }}, {{ item.current_amount }});" /></div>
              <div class="ym-gl left" style="width: 75px; padding-left: 3px;"><label for="rohstoff_{{ item.resource_id }}">({{ item.current_amount }})</label></div>
              </div>
            </li>
            {% endfor %}
            {% if artefact %}
              <li style="height: 10px;">&nbsp;</li>
              <li class="bold">Artefakt:</li>
              <li>
                {% for item in artefact %}
                  <div class="ym-fbox-check">
                    <input type="radio" name="myartefacts" value="{{ item.artefactID }}" id="myartefacts{{ item.artefactID }}"  />
                    <label for="myartefacts{{ item.artefactID }}">{{ item.name }}</label>
                  </div>
                {% endfor %}
                <div class="ym-fbox-check">
                  <input type="radio" name="myartefacts" value="-1" id="myartefactsnone" checked="checked"  />
                  <label for="myartefactsnone">keines</label>
                </div>
              </li>
            {% endif %}
          </ul>
        </div>
        <div class="ym-g33 ym-gl">
          <ul class="clean_list">
            <li>
              <ul class="movement">
                <li>Bewegungsart:</li>
                <li>
                  <div class="ym-fbox-check">
                    <input type="radio" name="movementID" value="0" id="movementID0" checked="checked" onfocus="dur();" onclick="dur();" onchange="dur();" onkeydown="dur();" onkeyup="dur();" />
                    <label for="movementID0"><em>Wähle eine Bewegung</em></label>
                  </div>
                </li>
                {% for item in selectable_movements %}
                  <li>
                    <div class="ym-fbox-check">
                      <input type="radio" name="movementID" value="{{ item.id }}" id="movementID{{ item.id }}" onfocus="dur();" onclick="dur();" onchange="dur();" onkeydown="dur();" onkeyup="dur();" />
                      <label for="movementID{{ item.id }}">{{ item.description }}<script type="text/javascript">uamoves[{{ item.id }}] = {speedfactor:{{ item.speedfactor }}, foodfactor:{{ item.foodfactor }}};</script></label>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </li>
            <li class="border_top" style="height: 10px;">&nbsp;</li>
            <li>Bewegungsdauer:<br /><div style="padding-left: 5px;" id="duration">- Min</div></li>
            <li>Nahrungsverbrauch:<br /><div style="padding-left: 5px;" id="food">- Nahrung</div></li>
            <li>Bewegungsgeschwindigkeit:<br /><div style="padding-left: 5px;" id="movementspeed">0</div>
            </li>
          </ul>
        </div>
        <div class="ym-g33 ym-gl">
          <ul>
            {% if hero %}
              <li class="bold">Held</li>
              <li>
                <div class="ym-fbox-check">
                  <input type="checkbox" name="moveHero" id="moveHero" value="true" />
                  <label for="moveHero">mitnehmen?</label>
                </div>
              </li>
              <li><div id="armySize">Größe Armee: 0</div></li>
              <li>Erfahrung Held: {{ hero.exp }}</li>
              <li>Lebenspunkte Held: {{ hero.healPoints }}</li>
            {% endif %}
            <li style="height: 10px;">&nbsp;</li>
            <li class="bold">Ziel</li>
            <li>
              <div class="ym-fbox-text">
                <label for="targetXCoord">x:</label>
                <input type="text" name="targetXCoord" id="targetXCoord" value="{{ target_x_coord }}" size="4" maxlength="4" onfocus="dur();" onclick="dur();" onchange="dur();" onkeydown="dur();" onkeyup="dur();" />
              </div>
            </li>
            <li>
              <div class="ym-fbox-text">
                <label for="targetYCoord">y:</label>
                <input type="text" name="targetYCoord" id="targetYCoord" value="{{ target_y_coord }}" size="4" maxlength="4" onfocus="dur();" onclick="dur();" onchange="dur();" onkeydown="dur();" onkeyup="dur();" />
              </div>
            </li>
            <li>
              <div class="ym-fbox-text">
                <label for="targetCaveName">Höhlenname:</label>
                <input type="text" name="targetCaveName" id="targetCaveName" value="{{ target_cave_name }}" size="4" maxlength="50" onfocus="dur();" onclick="dur();" onchange="dur();" onkeydown="dur();" onkeyup="dur();" />
              </div>
            </li>
            {% if bookmarks_cave %}
            <li>
              <div class="ym-fbox-select">
                <label for="bookmarks_cave"><a href="main.php?modus={{ cave_bookmarks_link }}&amp;task=Show">Höhlenliste:</a></label>
                <select name="targetCaveID" id="targetCaveID" size="1" onchange="disable_to(); return true;">
                  <option value="-1" selected="selected">Bitte wählen</option>
                  {% for item in bookmarks_cave %}<option value="{{ item.caveID }}">{{ item.name }} ({{ item.xCoord }}|{{ item.yCoord }}) {{ item.playerName }}</option>{% endfor %}
                </select>
              </div>
            </li>
            <li>
              <script type="text/javascript">
              // <![CDATA[
                {% for item in bookmarks_cave %}caveBookmarks[{{ item.caveID }}] = [{{ item.xCoord }},{{ item.yCoord }},"{{ item.raw_name }}"];{% endfor %}
              // ]]>
              </script>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>

      <div class="ym-fbox-button text-right">
        {% for item in params %}<input type="hidden" name="{{ item.name }}" value="{{ item.value }}" />{% endfor %}
        <input type="submit" class="ym-button" value="und los geht's. UGH?" id="submit" name="submit"/>
      </div>
    </form>
  </div>
</div>

<div id="export-dialog"></div>
{% if ownMovement %}
<div class="ua-box">
  <div class="ua-box-header">laufende Bewegungen eigener Verbände</div>
  <div class="ua-box-content">
    <table>
      <thead>
        <tr>
          <th>&nbsp;</td>
          <th style="min-width:120px">Bewegungsart</th>
          <th style="min-width:200px">Zeitraum</th>
          <th style="min-width:200px">Zielhöhle</th>
          <th style="width:200px">Einh./Ress.</th>
          <th>&nbsp;</th> 
        </tr>
      </thead>
      <tbody>
        {% for item in ownMovement %}
        {% set bgID = (bgID+1)%2 %}
          <tr class="bg{bgID}">
            <td>&nbsp;</td>
            <td>
              <ul>
                <li>{{ item.movement_id_description }}</li>
                <li>
                  <a class="export-link" href="export.php?modus=movement&amp;movementID={{ item.event_id }}&amp;format=xml"><img src="{{ gfx }}/de_DE/t_uga/icon_export_xml.png" class="noborder" width="20" height="20" alt="Export als XML"  title="Export als XML"/></a>
                  <a class="export-link" href="export.php?modus=movement&amp;movementID={{ item.event_id }}&amp;format=irc"><img src="{{ gfx }}/de_DE/t_uga/icon_export_irc.png" class="noborder" width="20" height="20" alt="Export als IRC" title="Export für IRC" /></a>
                  <a class="export-link" href="export.php?modus=movement&amp;movementID={{ item.event_id }}&amp;format=bb"><img src="{{ gfx }}/de_DE/t_uga/icon_export_text.png" class="noborder" width="20" height="20" alt="Export als Text" title="Export als Text" /></a>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li>Startzeitpunkt: {{ item.event_start_date }}</li>
                <li>Endzeitpunkt: {{ item.event_end_date }}</li>
              </ul>
            </td>
            <td>
              <ul class="clean_list">
                <li>{{ item.target_player_name }} - {{ item.target_player_tribe }}</li>
                <li>aus {{ item.target_cave_name }} ({{ item.target_xCoord }}|{{ item.target_yCoord }})</li>
              </ul>
            </td>
            <td>
              <ul class="clean_list">
                {% if item.units %}
                  {% for item_unit in item.units %}
                    <li><span class="text-small" style="white-space: nowrap;"><span class="bold">{{ item_unit.name }}:</span> {{ item_unit.value }}</span></li>
                  {% endfor %}
                {% endif %}
                <li>&nbsp;</li>
                {% if item.resources %}
                  {% for item_resource in item.resources %}
                    <li><span class="text-small" style="white-space: nowrap;"><span class="bold">{{ item_resource.name }}:</span>{{ item_resource.value }}</span></li>
                  {% endfor %}
                {% endif %}
                {% if item.artefact %}
                  <li><span class="text-small" style="white-space: nowrap;">&nbsp;{{ item.artefact.name }}</span></li>
                {% endif %}
                {% if item.hero %}
                    <li><span class="text-small" style="white-space: nowrap;">{{ item.hero }}</span></li>
                {% endif %}
              </ul>
            </td>
            <td class="text-right" style="vertical-align: middle;">
            {% if item.CANCEL %}
            <form id="unitMovingCancel" action="main.php?modus={{ unit_movement_link }}" method="post">
              <input type="hidden" name="eventID" value="{{ item.CANCEL.eventID }}" />
              <input type="hidden" name="action" value="cancel" />
              <input type="image" src="{{ gfx }}/de_DE/t_uga/abort.png" name="submit" alt="Einheiten umkehren" />
            </form>
            {% endif %}
            &nbsp;</td>
          </tr>
        {% endfor %}
        {% set bgID = 0 %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% if oppMovement %}
<div class="ua-box">
  <div class="ua-box-header">ankommende Verbände</div>
  <div class="ua-box-content">
    <table>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th style="min-width:120px">Bewegungsart</th>
          <th style="min-width:200px">Zeitraum</th>
          <th style="min-width:200px">Herkunft</th>
          <th style="width:200px">Einh./Ress.</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for item in oppMovement %}
        {% set bgID = (bgID+1)%2 %}
          <tr class="bg{bgID}">
            <td>&nbsp;</td> 
            <td>
              <ul>
                <li>{{ item.movement_id_description }}</li>
                <li>
                  <a class="export-link" href="export.php?modus=movement&amp;movementID={{ item.event_id }}&amp;format=xml"><img src="{{ gfx }}/de_DE/t_uga/icon_export_xml.png" class="noborder" width="20" height="20" alt="Export als XML"  title="Export als XML"/></a>
                  <a class="export-link" href="export.php?modus=movement&amp;movementID={{ item.event_id }}&amp;format=irc"><img src="{{ gfx }}/de_DE/t_uga/icon_export_irc.png" class="noborder" width="20" height="20" alt="Export als IRC" title="Export für IRC" /></a>
                  <a class="export-link" href="export.php?modus=movement&amp;movementID={{ item.event_id }}&amp;format=bb"><img src="{{ gfx }}/de_DE/t_uga/icon_export_text.png" class="noborder" width="20" height="20" alt="Export als Text" title="Export als Text" /></a>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li>Startzeitpunkt: {{ item.event_start_date }}</li>
                <li>Endzeitpunkt: {{ item.event_end_date }}</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>{{ item.source_player_name }} - {{ item.source_player_tribe }}</li>
                <li>aus {{ item.source_cave_name }} ({{ item.source_xCoord }}|{{ item.source_yCoord }})</li>
              </ul>
            </td>
            <td>
              <ul>
              {% if item.units %}
                {% for item_unit in item.units %}
                  <li><span class="text-small" style="white-space: nowrap;"><span class="bold">{{ item_unit.name }}:</span> {{ item_unit.value }}</span></li>
                {% endfor %}
              {% endif %}
              <li>&nbsp;</li>
              {% if item.resources %}
                {% for item_resource in item.resources %}
                  <li><span class="text-small" style="white-space: nowrap;"><span class="bold">{{ item_resource.name }}:</span>{{ item_resource.value }}</span></li>
                {% endfor %}
              {% endif %}
              {% if item.artefact %}
                <li><span class="text-small" style="white-space: nowrap;">&nbsp;{{ item.artefact.name }}</span></li>
              {% endif %}
              </ul>
            </td>
            <td>&nbsp;</td> 
          </tr>
        {% endfor %}
        {% set bgID = 0 %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% endblock %}