{% spaceless %}
{% include 'pageHeader.tmpl' %}

<script type="text/javascript">
// <![CDATA[
var uamoves = new Array();
var units = new Array();
<tmpl:UNITPROPS>units[{unitID}] = {maxWarriorAnzahl:{maxWarriorAnzahl}, foodCost:{foodCost}, speedFactor:{speedFactor}, resourceLoad:[{resourceLoad}]};</tmpl:UNITPROPS>
var domcomp = document.childNodes ? true : false;
function getMovementID(){
  var r = document.getElementById("unitMoving").movementID;
  for (var i=0; i<r.length; i++) if (!r[i].checked) continue; else return r[i].value;
  return null;
}

function TimeString(duration)
{
  var time = duration * 60;
  var hours = Math.floor(time/3600);
  var minutes = Math.floor((time%3600)/60);
  if(!hours) return minutes+" Min";
  var text = duration + " Min ("+hours+" Std";
  if (minutes) text = text + " "+((minutes<10)?"0":"")+minutes+" Min";
  text = text + ")";
  return text;
}


function dur() {

  var MINUTESPERCAVE = {speed};
  var FOODPERCAVE    = {movementcostconstant};
  
  /* Using torus edge condition */
  var xCoord = {dim_x} -
               Math.abs(Math.abs(parseInt(document.getElementById("unitMoving").targetXCoord.value ) -
               {currentX}) - {dim_x});
  var yCoord = {dim_y} -
               Math.abs(Math.abs(parseInt(document.getElementById("unitMoving").targetYCoord.value ) -
               {currentY}) - {dim_y});

  var movementID = parseInt(getMovementID());
  if (isNaN(movementID) || typeof(uamoves[movementID]) == 'undefined') return;

  var i, amount;

  var maxSpeedFactor = 0;
  for (i = 0; i < units.length; ++i){
    amount = document.getElementById("unit_" + i + "");
    if (!amount) continue;
    else amount = amount.value;
    if (amount != "" && Number(amount) > 0)
      maxSpeedFactor = Math.max(maxSpeedFactor, units[i]['speedFactor']);
  }
  var distance = Math.ceil(Math.sqrt(xCoord*xCoord + yCoord*yCoord));  
  // Entfernung x Dauer pro Höhle x größter Geschwindigkeitsfaktor x Bewegungsfaktor
  var duration = Math.ceil(Math.sqrt(xCoord*xCoord + yCoord*yCoord) *
                 MINUTESPERCAVE * maxSpeedFactor * uamoves[movementID]['speedfactor']);
  
  
  var movementspeed =  maxSpeedFactor * uamoves[movementID]['speedfactor'];
  if (isNaN(maxSpeedFactor)){
    if (domcomp) document.getElementById("movementspeed").innerHTML = "-";
    else document.getElementById("movementspeed").value = "-";
  } else {
    if (domcomp) document.getElementById("movementspeed").innerHTML = movementspeed;
    else document.getElementById("movementspeed").value = movementspeed ;
  }
  if (isNaN(duration)){
    if (domcomp) document.getElementById("duration").innerHTML = "- Min";
    else document.getElementById("duration").value = "- Min";
  } else {
    if (domcomp) document.getElementById("duration").innerHTML = TimeString(duration);
    else document.getElementById("duration").value =  TimeString(duration); 
  }

  var unitRations = 0;
  for (i = 0; i < units.length; ++i) {
    amount = document.getElementById("unit_" + i + "");
    if (!amount) continue;
    else amount = amount.value;
    if (amount != "" && Number(amount) > 0)
      unitRations += amount * units[i]['foodCost'];
  }
  var tmpdist = 0;
  var i = 0;
  if(distance > 15){
    distance = distance - 15;
    tmpdist = 15;
    if(Math.floor(distance/5)<11)
      tmpdist += (distance % 5) * (1-0.1*Math.floor(distance/5));

    for(i = 1; i <= Math.floor( distance / 5) && i < 11; i++) {
      tmpdist += 5*(1-0.1*(i-1));
    }
  }else{
      tmpdist = distance;
  }

  // Dauer x Rationen x Größe einer Ration x Bewegungsfaktor
//  var food = Math.ceil(duration * unitRations * FOODPERCAVE * uamoves[movementID]['foodfactor']);
  var food = Math.ceil(MINUTESPERCAVE * maxSpeedFactor * uamoves[movementID]['speedfactor']* tmpdist *
                       unitRations * FOODPERCAVE * uamoves[movementID]['foodfactor']);


  if (isNaN(food)){
    if (domcomp) document.getElementById("food").innerHTML = "- Nahrung";
    else document.getElementById("food").value = "- Nahrung";
  } else {
    if (domcomp) document.getElementById("food").innerHTML = food + " Nahrung";
    else document.getElementById("food").value = food + " Nahrung";
  }
}

function getMaxLoad(){
  var i, j, amount;
  var maxLoad;
  for (i = 0; i < {resourceTypes}; ++i){
    maxLoad = 0;
    for (j = 0; j < units.length; ++j){
      if (typeof(units[j]) == "undefined") continue;
      amount = document.getElementById("unit_" + j + "");
      if (!amount) continue;
      else amount = amount.value;
      if (amount != "" && Number(amount) > 0)
        maxLoad += amount * units[j]['resourceLoad'][i];
    }
    if (domcomp) document.getElementById("resource" + i).innerHTML = maxLoad;
    else document.getElementById("resource" + i).value = maxLoad;
  } 
}

function checkall(){
  var i, amount;
  var allchecked = document.getElementById("all")
  for (i = 0; i < units.length; ++i){
    amount = document.getElementById("unit_" + i + "");
    if (!amount) continue;
    if (allchecked.checked) amount.value = units[i]['maxWarriorAnzahl'];
    else amount.value = "";
  }
  dur();getMaxLoad();
}

function markAll(unitID){
  var amount;
  amount = document.getElementById("unit_" + unitID + "");
  if (amount.value == "")
    amount.value = units[unitID]['maxWarriorAnzahl'];
  else
    amount.value = "";
  dur();getMaxLoad();  
}

function loadMaxRes(resNr, resMax){
  var value = domcomp
              ? document.getElementById("resource" + resNr).innerHTML
              : document.getElementById("resource" + resNr).value;
  if (isNaN(value))
    return;
  var amount = document.getElementById("rohstoff_" + resNr + "");
  amount.value = (amount.value == "") ? Math.min(value, resMax) : "";
}

var caveBookmarks = new Array();

function disable_to(){
  var r = document.getElementById("unitMoving").targetCaveID;
  var flag = false;
  for (var i = 0; i < r.length; i++)
    if (r[i].selected && r[i].value != -1){
      flag = true; break;
    }
  document.getElementById("unitMoving").targetXCoord.disabled =
    document.getElementById("unitMoving").targetYCoord.disabled =
    document.getElementById("unitMoving").targetCaveName.disabled = flag;
  if (flag){
    document.getElementById("unitMoving").targetXCoord.value = caveBookmarks[r[i].value][0];
    document.getElementById("unitMoving").targetYCoord.value = caveBookmarks[r[i].value][1];
    document.getElementById("unitMoving").targetCaveName.value = caveBookmarks[r[i].value][2];
  } else {
    document.getElementById("unitMoving").targetXCoord.value =
      document.getElementById("unitMoving").targetYCoord.value =
      document.getElementById("unitMoving").targetCaveName.value = '';
  }
  dur();
}
// ]]>
</script>

<script type="text/javascript">
// <![CDATA[
wmtt = null;
document.onmousemove = updateWMTT;
function updateWMTT(e) {
  if (wmtt != null && wmtt.style.display == 'block') {
    x = (e.pageX ? e.pageX : window.event.x) + wmtt.offsetParent.scrollLeft - wmtt.offsetParent.offsetLeft;
    y = (e.pageY ? e.pageY : window.event.y) + wmtt.offsetParent.scrollTop - wmtt.offsetParent.offsetTop;
    wmtt.style.left = (x + 20) + "px";
    wmtt.style.top   = (y + 20) + "px";
  }
}
function showWMTT(id) {
  wmtt = document.getElementById(id);
  wmtt.style.display = "block";
}
function hideWMTT() {
  wmtt.style.display = "none";
}
// ]]>
</script>

{% if status_msg %}<div class="{{ status_msg.type }}">{{ status_msg.message }}</div>{% endif %}

<form id="unitMoving" action="main.php" method="post">
  <div class="box">
    <div class="box-header">
      <strong>Bewegung</strong>
    </div>
    <div class="box-content success inner nohover">
    <table class="table">
      <tr >
      <td>
      <table class="table">
      <tr>
        <td colspan="4">&nbsp;</td>
        <td colspan="10" align="center" style="width:305px;"><strong>Transportkapazit&auml;t</strong></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="bg2 nohover" style="width:200px;"><strong>Einheit</strong></td>
        <td class="bg2 nohover" style="width:75px;"><strong>Menge</strong></td>
        <td class="bg2 nohover" style="width:50px;"><strong>Max</strong></td>
        <tmpl:RESOURCE><td  class="bg2 nohover" style="width:30px;" align="center"><img width="20" height="20" src="%gfx%/resources/{dbFieldName}_icon.gif" alt="{name}" title="{name}" /></td></tmpl:RESOURCE>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tmpl:SELECTWARRIOR>
      <tr class="bg{bgID}">
        <td>&nbsp;</td>
        <td><a href="main.php?modus={modus}&amp;unitID={unitID}">{name}</a></td>
        <td><input id="unit_{warriorID}" name="unit[{warriorID}]" type="text" size="6" maxlength="6" ondblclick="markAll({warriorID})" onfocus="dur();getMaxLoad();" onclick="dur();getMaxLoad();" onchange="dur();getMaxLoad();" onkeyup="dur();getMaxLoad();" /></td>
        <td>{maxWarriorAnzahl}</td>
        <tmpl:ENCUMBRANCE><td style="width:30px;" align="center">{load}</td></tmpl:ENCUMBRANCE>
        <td>&nbsp;</td>
      </tr>
      </tmpl:SELECTWARRIOR>
      <tr>
        <td>&nbsp;</td>
        <td><label for="all">Alle Ausw&auml;hlen</label></td>
        <td><input name="all" id="all" type="checkbox" value="check all" onclick="checkall();" /></td>
        <td>&nbsp;</td>
        <tmpl:TOTAL><td style="width:30px;" align="center"><div id="resource{resourceID}">0</div></td></tmpl:TOTAL>
        <td>&nbsp;</td>
      </tr>
      </table>
      </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
      <td>
      <table class="table">
      <tr>
      <td>&nbsp;</td>
      <td style="width:190px;" valign="top">
        <ul class="clean_list" style="padding-left: 3px;">
          <li class="bold"><a href="{rules_path}?modus=misc&amp;miscID=3" onclick="window.open(this.href); return false;"><strong>Ressourcen mitnehmen:</strong></a></li>
          <tmpl:RESOURCE_LUGGAGE>
          <li>
            <div style="width: 22px; float: left;"><label for="rohstoff_{resourceID}"><img width="20" height="20" src="%gfx%/resources/{dbFieldName}_icon.gif" alt="{name}" title="{name}" /></label></div>
            <div style="width: 75px; float: left;"><input id="rohstoff_{resourceID}" name="rohstoff[{resourceID}]" type="text" size="6" maxlength="6" ondblclick="loadMaxRes({resourceID}, {currentAmount});" /></div>
            <div style="width: 86px; float: left;"><label for="rohstoff_{resourceID}">({currentAmount})</label></div>
            <div style="clear: both;"></div>
          </li>
          </tmpl:RESOURCE_LUGGAGE>
          <tmpl:ARTEFACTS>
            <li class="bold">Ein Artefakt mitnehmen:</li>
            <li>
              <tmpl:ARTEFACT><input type="radio" name="myartefacts" id="myartefacts{artefactID}" value="{artefactID}"><label>{name}</label><br></tmpl:ARTEFACT>
              <input name="myartefacts" id="myartefactsnone" type="radio" value="-1" checked><label for="myartefactsnone">keines</label>
            </li>
          </tmpl:ARTEFACTS>
        </ul>
      </td>
      <td style="width:300px;" valign="top">
        <ul class="clean_list">
          <li>
            <ul class="clean_list" style="padding-left: 3px;">
              <li><strong>Bewegungsart:</strong></li>
              <li>
                <div style="width: 25px; height: 22px; float: left;"><input type="radio" name="movementID" id="movementID0" value="0" checked="checked" /></div>
                <div style="width: 227px; height: 22px; float: left;"><label for="movementID0"><em>W&auml;hle eine Bewegung</em></label></div>
                <div style="clear: both;"></div>
              </li>
              <tmpl:SELECTACTION>
              <li>
                <div style="width: 25px; height: 22px; float: left;"><input type="radio" name="movementID" id="movementID{id}" value="{id}" onfocus="dur();" onclick="dur();" onchange="dur();" onkeydown="dur();" onkeyup="dur();" /></div>
                <div style="width: 227px; height: 22px; float: left;"><label for="movementID{id}">{description}<script type="text/javascript">uamoves[{id}] = {speedfactor:{speedfactor}, foodfactor:{foodfactor}};</script></label></div>
                <div style="clear: both;"></div>
              </li>
              </tmpl:SELECTACTION>
            </ul>
          </li>
          
          <li class="border_top" style="height: 10px;">&nbsp;</li>
          <li>
            <div style="width: 105px; height: 25px; float: left;">Bewegungsdauer:</div>
            <div style="width: 150px; height: 25px; float: left;" id="duration">- Min</div>
            <div style="clear: both;"></div>
          </li>
          <li>
            <div style="width: 120px; height: 25px; float: left;">Nahrungsverbrauch:</div>
            <div style="width: 132px; height: 25px; float: left;" id="food">- Nahrung</div>
            <div style="clear: both;"></div>
          </li>
          <li>
            <div style="width: 162px; height: 25px; float: left;">Bewegungsgeschwindigkeit:</div>
            <div style="width: 85px; height: 25px; float: left;" id="movementspeed">0</div>
            <div style="clear: both;"></div>
          </li>
        </ul>
      </td>
      <td valign="top" style="width:250px;">
        <ul class="clean_list">
          <li>
            <ul class="clean_list" style="padding-left: 3px;">
              <li><strong>Ziel:</strong></li>
              <li>
                <div style="width: 80px; height: 25px; float: left;"><label for="targetXCoord">x:</label></div>
                <div style="width: 167px; height: 25px; float: left;"><input name="targetXCoord" id="targetXCoord" value="{targetXCoord}" type="text" size="4" maxlength="4" onfocus="dur();" onclick="dur();" onchange="dur();" onkeydown="dur();" onkeyup="dur();" /></div>
                <div style="clear: both;"></div>
              </li>
              <li>
                <div style="width: 80px; height: 25px; float: left;"><label for="targetXCoord">y:</label></div>
                <div style="width: 167px; height: 25px; float: left;"><input name="targetYCoord" id="targetYCoord" value="{targetYCoord}" type="text" size="4" maxlength="4" onfocus="dur();" onclick="dur();" onchange="dur();" onkeydown="dur();" onkeyup="dur();" /></div>
                <div style="clear: both;"></div>
              </li>
              <li>
                <div style="width: 80px; height: 25px; float: left;"><label for="targetXCoord">Höhlenname:</label></div>
                <div style="width: 167px; height: 25px; float: left;"><input name="targetCaveName" id="targetCaveName" value="{targetCaveName}" type="text" size="20" maxlength="50" /></div>
                <div style="clear: both;"></div>
              </li>
              <tmpl:CAVEBOOKMARKS>{iterate}
              <li>
                <div style="width: 80px; height: 25px; float: left;"><a href="?modus=CaveBookmarks&amp;task=Show">Höhlenliste:</a></div>
                <div style="width: 167px; height: 25px; float: left;">
                  <select name="targetCaveID" id="targetCaveID" onchange="disable_to(); return true;" style="width: 170px;">
                    <option value="-1">Bitte wählen</option>
                    <tmpl:CAVEBOOKMARK><option value="{caveID}">{name} ({xCoord}|{yCoord}) {playerName}</option></tmpl:CAVEBOOKMARK>
                  </select>
                </div>
                <div style="clear: both;"></div>
              </li>
              <li>
                <script type="text/javascript">
                  // <![CDATA[
                  <tmpl:CAVEBOOKMARKJS>caveBookmarks[{caveID}] = [{xCoord},{yCoord},"{raw_name}"];</tmpl:CAVEBOOKMARKJS>
                  // ]]>
                </script>
              </li>
              </tmpl:CAVEBOOKMARKS>
            </ul>
          </li>
        </ul>
      
      <div style="float: left;">
        <tmpl:PARAMS><input type="hidden" name="{name}" value="{value}" /></tmpl:PARAMS>
        <input type="submit" value="und los geht's. UGH?" />
      </div>
      </td>
      <td>&nbsp;</td>
      </tr>
      </table>
      </td>
    </tr>
  </table>
  <br />
  </div>
  </div>
</form>
<br />

<tmpl:MOVEMENT>
<div class="box">
<div class="box-header">laufende Bewegungen eigener Verb&auml;nde</div>
<div class="box-content success inner nohover">
 <table class="table" rules="rows">
  <tr class="bg2 nohover">
    <td class="bg2 nohover">&nbsp;</td>
    <td class="bg2 nohover" style="min-width:120px"><strong>Bewegungsart</strong></td>
    <td class="bg2 nohover" style="min-width:200px"><strong>Zeitraum</strong></td>
    <td class="bg2 nohover" style="min-width:200px"><strong>Zielh&ouml;hle</strong></td>
    <td class="bg2 nohover" style="width:200px"><strong>Einh./Ress.</strong></td>
    <td class="bg2 nohover">&nbsp;</td>    
  </tr>
  <tmpl:MOVE>
  <tr valign="top" class="bg{bgID}">
    <td>&nbsp;</td>
    <td>
      <ul class="clean_list">
        <li>{movementID_description}</li>
        <li>&nbsp;</li>
        <li>
          <a href="export.php?modus=movement&amp;movementID={eventID}&amp;format=xml" onclick="return popitup(this.href)"><img src="%gfx%/de_DE/t_uga/icon_export_xml.png" class="noborder" width="20" height="20" alt="Export als XML"  title="Export als XML"/></a>
          <a href="export.php?modus=movement&amp;movementID={eventID}&amp;format=irc" onclick="return popitup(this.href)"><img src="%gfx%/de_DE/t_uga/icon_export_irc.png" class="noborder" width="20" height="20" alt="Export als IRC" title="Export f&uuml;r IRC" /></a>
          <a href="export.php?modus=movement&amp;movementID={eventID}&amp;format=bb" onclick="return popitup(this.href)"><img src="%gfx%/de_DE/t_uga/icon_export_text.png" class="noborder" width="20" height="20" alt="Export als Text" title="Export als Text" /></a>
        </li>
      </ul>
    </td>
    <td>
      <ul class="clean_list">
        <li>Startzeitpunkt: {event_start_date}</li>
        <li>Endzeitpunkt: {event_end_date}</li>
      </ul>
    </td>
    <td>
      <ul class="clean_list">
        <li>{target_player_name} - {target_player_tribe}</li>
        <li>aus {target_cave_name} ({target_xCoord}|{target_yCoord})</li>
      </ul>
    </td>
    <td>
        <ul class="clean_list">
          <tmpl:UNITS>
          <li>
            <div style="float: left; font-size: x-small; white-space:nowrap;"><strong>{name}:</strong>{value}&nbsp;<br /></div>
          </li>		  
          </tmpl:UNITS>          
          <li>
            <br />
          </li>           
          <tmpl:RESOURCES>
          <li>
            <div style="float: left; font-size: x-small; white-space:nowrap;"><strong>{name}:</strong>{value}&nbsp;<br /></div>
          </li>		   
          </tmpl:RESOURCES>          
                     
          <tmpl:ARTEFACT>		  
                      
          <li>
            <div style="valign: top; float: left; font-size: x-small; white-space:nowrap;"><br /><img title="{name}" src="images/artefacts/{resref}.gif" width="30" height="30" alt="{name}">&nbsp;{name}</div>
          </li>
          </tmpl:ARTEFACT>
        </ul>
    </td>
    <td style="text-align:right; vertical-align:middle;"><tmpl:CANCEL><a href="main.php?modus={modus}&amp;eventID={eventID}"><img src="%gfx%/de_DE/t_uga/abort.png" class="noborder" width="20" height="20" alt="Einheiten umkehren" title="Einheiten umkehren" /></a>&nbsp;</tmpl:CANCEL></td>
  </tr>
  </tmpl:MOVE>
</table>
  <br />
</div>
</div>
</tmpl:MOVEMENT>

<br />

<tmpl:OPPMOVEMENT>
<div class="box">
<div class="box-header">ankommende Verb&auml;nde</div>
<div class="box-content success inner nohover">
 <table class="table" rules="rows">
  <tr class="bg2 nohover">
    <td class="bg2 nohover">&nbsp;</td>
    <td class="bg2 nohover" style="min-width:120px"><strong>Bewegungsart</strong></td>
    <td class="bg2 nohover" style="min-width:200px"><strong>Zeitraum</strong></td>
    <td class="bg2 nohover" style="min-width:200px"><strong>Herkunft</strong></td>
    <td class="bg2 nohover" style="width:200px"><strong>Einh./Ress.</strong></td>
    <td class="bg2 nohover">&nbsp;</td>    
  </tr>
  <tmpl:MOVE>
  <tr valign="top" class="bg{bgID}">
    <td>&nbsp;</td> 
    <td>
      <ul class="clean_list">
        <li>{movementID_description}</li>
        <li>&nbsp;</li>
        <li>
          <a href="export.php?modus=movement&amp;movementID={eventID}&amp;format=xml" onclick="return popitup(this.href)"><img src="%gfx%/de_DE/t_uga/icon_export_xml.png" class="noborder" width="20" height="20" alt="Export als XML" title="Export als XML" /></a>
          <a href="export.php?modus=movement&amp;movementID={eventID}&amp;format=irc" onclick="return popitup(this.href)"><img src="%gfx%/de_DE/t_uga/icon_export_irc.png" class="noborder" width="20" height="20" alt="Export als IRC" title="Export als IRC" /></a>
          <a href="export.php?modus=movement&amp;movementID={eventID}&amp;format=bb" onclick="return popitup(this.href)"><img src="%gfx%/de_DE/t_uga/icon_export_text.png" class="noborder" width="20" height="20" alt="Export als Text" title="Export als Text" /></a>
        </li>
      </ul>
    </td>
    <td>
      <ul class="clean_list">
        <li>Startzeitpunkt: {event_start_date}</li>
        <li>Endzeitpunkt: {event_end_date}</li>
      </ul>
    </td>
    <td>
      <ul class="clean_list">
        <li>{source_player_name} - {source_player_tribe}</li>
        <li>aus {source_cave_name} ({source_xCoord}|{source_yCoord})</li>
      </ul>
    </td>
    <td>
        <ul class="clean_list">
          <tmpl:UNITS>
          <li>
            <div style="float: left; font-size: x-small; white-space:nowrap;"><strong>{name}:</strong>{value}&nbsp;<br /></div>
          </li>		  
          </tmpl:UNITS>          
          <li>
            <br />
          </li>           
          <tmpl:RESOURCES>
          <li>
            <div style="float: left; font-size: x-small; white-space:nowrap;"><strong>{name}:</strong>{value}&nbsp;<br /></div>
          </li>		   
          </tmpl:RESOURCES>          
                     
          <tmpl:ARTEFACT>		  
                      
          <li>
            <div style="valign: top; float: left; font-size: x-small; white-space:nowrap;"><br /><img title="{name}" src="images/artefacts/{resref}.gif" width="30" height="30" alt="{name}">&nbsp;{name}</div>
          </li>
          </tmpl:ARTEFACT>
        </ul>
    </td>
    <td>&nbsp;</td> 
  </tr>
  </tmpl:MOVE>
  </table>
  <br />
</div>
</div>
</tmpl:OPPMOVEMENT>

{% include 'pageFooter.tmpl' %}
{% endspaceless %}