{#
/* unitDetail.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Einheiten Details{% endblock %}
{% block content %}

<div class="ua-box">
  <div class="ua-box-header">{{ name }}</div>
  <div class="ua-box-content">

    <div style="padding: 10px;">
      <img class="float-left" src="{{ gfx }}/units/{{ dbFieldName }}_large.gif" alt="{{ name }}" title="{{ name }}" width="250" />
      {{ description|raw }}

      <p style="padding-top: 10px;"><span class="bold">Kosten:</span></p>
      <p>
        {% for resource in resouce_cost %}
          <img src="{{gfx}}/resources/{{resource.dbFieldName}}_icon.gif" style="width:15px; height:15px;" alt="{{resource.name}}" title="{{resource.name}}" />{{resource.value}} &nbsp;
        {% endfor %}
        {% for unit in unit_cost %}
          <br />
          {{unit.name}}: {{unit.value}}
        {% endfor %}
        {% for building in buiding_cost %}
          <br />
          {{building.name}}: {{building.value}}
        {% endfor %}
        {% for defense in defense_cost %}
          <br />
          {{defense.name}}: {{defense.value}}
        {% endfor %}
      </p>
      <p style="padding-top: 10px;"><img src="{{ gfx }}/de_DE/t_uga/clock.gif" class="noborder" width="15" height="15" alt="Dauer:" /> {{ duration }}</p>
    </div>

    <div style="padding-top: 10px;" class="ym-grid">
      <div class="ym-g684-4 ym-gl">
        <div class="ym-gbox">
          {% if dependencies %}
            <span class="bold">Abhängigkeiten:</span>
            {% for groups in dependencies %}
              <dl style="padding-left: 5px">
                <span class="bold">{{ groups.name}}:</span>
                <dt>
                  {% for dependency in groups.dep %}
                    <dd style="padding-left: 10px">{{ dependency.name }} {{ dependency.level|raw }}</dd>
                  {% endfor %}
                </dt>
              </dl>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="ym-g684-4 ym-gl">
        <div class="ym-gbox">
          <table>
            <thead>
              <tr><th colspan="2">Eigenschaften:</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Fernangriffsschaden</td>
                <td>{{ rangeAttack }}</td>
              </tr>
              <tr>
                <td>Gebäudeschaden</td>
                <td>{{ arealAttack }}</td>
              </tr>
              <tr>
                <td>Getümmelschaden</td>
                <td>{{ attackRate }}</td>
              </tr>
              <tr>
                <td>Fernkampf-Widerstand</td>
                <td>{{ rd_Resist }}</td>
              </tr>
              <tr>
                <td>Nahkampf-Widerstand</td>
                <td>{{ defenseRate }}</td>
              </tr>              <tr>
                <td>Größe</td>
                <td>{{ size }}</td>
              </tr>
              <tr>
                <td>Reiseproviant</td>
                <td>{{fuelFactor}}x<img src="{{gfx}}/resources/{{fuelName}}_icon.gif" style="width:15px; height:15px; border:none;" alt="Nahrung" /></td>
              </tr>
              <tr>
                <td>Geschwindigkeit</td>
                <td>{{ wayCost }}</td>
              </tr>
              {% if INVISIBLE %}
              <tr>
                <td class="bold" colspan="2">{{ INVISIBLE.text }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="ym-g684-4 ym-gl">
        <div class="ym-gbox">
          <table>
            <thead>
              <tr><th colspan="2">Spionagefertigkeiten:</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Spionageklasse</td>
                <td>{{ spyValue }}</td>
              </tr>
              <tr>
                <td>Spionagefertigkeit</td>
                <td>{{ spyChance }}</td>
              </tr>
              <tr>
                <td>Gegenspionagefertigkeit</td>
                <td>{{ antiSpyChance }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="success"><a href="{{rules_path}}?modus=misc&amp;miscID=1" onclick="window.open(this.href); return false;">weitere Informationen zu allen Einheiten</a></div>

{% endblock %}
