{#
/* wonder.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Wunder{% endblock %}
{% block content %}

{% if status_msg %}<div class="{{ status_msg.type }}">{{ status_msg.message|raw }}</div>{% endif %}

<div class="ua-box">
  <div class="ua-box-header">Wunder</div>
  <div class="ua-box-content">
    <div id="wonder" class="jquery_tabs nav1">
      {% for category in wonders %}
        <h4>{{ category.name }}</h4>
        <div class="tabbody">
          {% if category.items %}
            <table>
              <tbody>
                {% for item in category.items %}
                {% set bgID = (bgID+1)%2 %}
                  <tr class="bg{{ bgID }} object-row">
                    <td class="ua-td-open"><a class="object-detail-link" href="main.php?modus={{ wonder_detail_link }}&amp;wonderID={{ item.wonder_id }}&amp;caveID={{ item.cave_id }}"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png"  class="noborder" width="16" height="16" alt="Plus" title="Plus" /></a></td>
                    <td>
                      <dl>
                        <dt><a class="object-detail-link" href="main.php?modus={{ wonder_detail_link }}&amp;wonderID={{ item.wonder_id }}&amp;caveID={{ item.cave_id }}"><span class="bold">{{ item.name }}</span></a></dt>
                        <dd>{% include "boxCost.tmpl" %}</dd>
                      </dl>
                    </td>
                    <td class="right">
                      {% if item.build_link %}
                      <form action="main.php?modus={{ wonder_link }}" method="post">
                        <div id="wonder">
                          <input type="hidden" name="action" value="wonder" />
                          <input type="hidden" name="wonderID" value="{{ item.wonder_id }}" />
                          <input type="hidden" name="caveID" value="{{ cave_id }}" />
                          <ul>
                            <li style="float: right; width: 22px;"><input type="image" src="{{ gfx }}/de_DE/t_uga/flash.png" value="Beten" alt="Beten" title="Beten" /></li>
                            <li style="float: right; text-align: left;">
                              <ul class="clean_list" style="width: 125px;">
                                <li>Name der Zielhöhle:</li>
                                <li><input type="text" name="CaveName" size="10" maxlength="32" /></li>
                              </ul>
                            </li>
                            <li style="float: right; text-align: left;">
                              <ul class="clean_list" style="width: 155px;">
                                <li>Koordinaten der Zielhöhle:</li>
                                <li>
                                  X:<input type="text" name="xCoord" size="3" maxlength="6" />
                                  Y:<input type="text" name="yCoord" size="3" maxlength="6" /> 
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </form>
                      {% else %}
                        <span style="text-align: right;"><img src="{{ gfx }}/de_DE/t_uga/flash_false.png" class="noborder" width="20" height="20" alt="{message}" title="{{ item.no_build_msg }}" /></span>
                      {% endif %}
                    </td>
                  </tr>
                  <tr class="detail-row" style="display: none">
                    <td class="object-details" colspan="3">
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <div class="space text-center">Zur Zeit kannst du leider von dieser Kategorie noch keine Einheiten bauen.</div>
          {% endif %}
          {% set bgID = 0 %}
        </div>
      {% else %}
        <div class="space text-center">Dein Glaube reicht bisher leider nicht aus um ein Wunder erbitten zu können.</div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="success"><a href="{{ rules_path }}?modus=misc&amp;miscID=4" class="new-window">Übersicht zu allen Wundern</a></div>

{% if wonders_unqualified %}
<div class="ua-box">
  <div class="ua-box-header">Wunder, die noch nicht erbeten werden können.</div>
  <div id="wonder_unqualified" class="ua-box-content box_toggle change_mouseover space text-center">Wunder einblenden</div>
  <div id="wonder_unqualified_content" class="ua-box-content" style="display: none;">
    <div id="wonderUnqualified" class="jquery_tabs nav1">
      {% for category in wonders_unqualified %}
        <h4>{{ category.name }}</h4>
        <div class="tabbody">
          {% if category.items %}
            <table>
              <tbody>
                {% for item in category.items %}
                {% set bgID = (bgID+1)%2 %}
                  <tr class="bg{{ bgID }} object-row">
                    <td class="ua-td-open"><a class="object-detail-link" href="main.php?modus={{ wonder_detail_link }}&amp;wonderID={{ item.wonder_id }}&amp;caveID={{ item.cave_id }}"><img src="{{ gfx }}/de_DE/t_uga/icon_open.png"  class="noborder" width="16" height="16" alt="Plus" title="Plus" /></a></td>
                    <td>
                      <dl>
                        <dt><a class="object-detail-link" href="main.php?modus={{ wonder_detail_link }}&amp;wonderID={{ item.wonder_id }}&amp;caveID={{ caveID }}"><span class="bold">{{ item.name }}</span></a></dt>
                        <dd class="td_won_dd_3">{{ item.dependencies }}</dd>
                      </dl>
                    </td>
                  </tr>
                  <tr class="bg{{ bgID }} detail-row" id="wonder_{{ item.science_id }}" style="display: none;">
                    <td colspan="3" class="object-details">
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <div class="space text-center">Aus dieser Kategorie kannst du bereits alle Wunder erbitten.</div>
          {% endif %}
          {% set bgID = 0 %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% endblock %}