{#
/* wonderDetail.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger <unger.dave@gmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Wunder Details{% endblock %}
{% block content %}

{% if status_msg %}<div class="alert alert-block alert-{{ status_msg.type }}"><p>{{ status_msg.message|raw }}</p></div>{% else %}
<div class="ua-box">
  <div class="ua-box-header">{{ name }}</div>
  <div class="ua-box-content">

    <div style="padding: 10px;">
      {{ description|raw }}
      <p style="padding-top: 10px;">
        <span class="bold">Kosten:</span>
        {% for resource in resource_cost %}
          <img src="{{gfx}}/resources/{{resource.dbFieldName}}_icon.gif" style="width:15px; height:15px; border:none;" alt="{{resource.name}}" title="{{resource.name}}" />
          {{resource.value}} &nbsp;
        {% endfor %}
        {% for unit in unit_cost %}
          {{name}}: {{value}} &nbsp;
        {% endfor %}
      </p>
    </div>

    <div style="padding-top: 10px;" class="ym-grid">
      <div class="ym-g684-4 ym-gl">
        <div class="ym-gbox">
          {% if dependencies %}
            <span class="bold">Abhängigkeiten:</span>
            {% for groups in dependencies %}
              <dl style="padding-left: 5px">
                <span class="bold">{{ groups.name }}:</span>
                <dt>
                  {% for dependency in groups.dep %}
                    <dd style="padding-left: 10px">{{ dependency.name }} {{ dependency.level|raw }}</dd>
                  {% endfor %}
                </dt>
              </dl>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="ym-g684-5 ym-gl">
        <div class="ym-gbox">
          <table>
            <thead>
              <tr><th colspan="2">Eigenschaften</th></tr>
            </thead>
            <tbody>
              <tr><td>Erfolgswahrscheinlichkeit:</td><td>{{ chance }}</td></tr>
              {% if not tribe_wonder %}<tr><td>Mögliche Ziele:</td><td>{{ target|raw }}</td></tr>{% endif %}
              {% if delay %}<tr><td>Cooldown:</td><td>{{ delay }}</td></tr>{% endif %}
              <tr><td>Art:</td><td>{{ offensiveness }}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% if tribe_wonder and targets_possible %}
    <div class="ym-grid" style="padding-top: 10px;">
      <div class="ym-gl">
        <div class="ym-gbox">
          <table>
            <thead>
              <tr><th>Ziel</th><th>Bedingung</th></tr>
            </thead>
            <tbody>
              {% for targets in targets_possible %}
                <tr>
                  <td>{% if targets.type == 'own' %}Eigener{% else %}Fremder{% endif %}</td>
                  <td>{% for item in targets.msg %}{{ item }}<br />{% endfor %}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="success"><a href="{{ rules_path }}?modus=misc&miscID=4" class="new-window">weitere Informationen zu allen Wundern</a></div>
{% endif %}

{% endblock %}