{#
/* wonderDetail.tmpl -
 * Copyright (c) 2003 OGP Team
 * Copyright (c) 2011 Sascha Lange <salange@uos.de>
 * Copyright (c) 2011-2012 David Unger
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version. 
 */
#}
{% extends "base.tmpl" %}
{% block title %}Wunder Details{% endblock %}
{% block content %}

<div class="box">
  <div class="box-header"><strong>{{name}}</strong></div>
  <div class="box-content success inner nohover">
  <table class="table nohover" >
   <tr>    
    <td >{{description|raw}}</td>
   </tr>
   <tr><td>&nbsp;</td></tr>
  <tr>
    <td>
      <strong>Eigenschaften:</strong>
      <table>
        <tr>
          <td>
            <i>Erfolgswahrscheinlichkeit:</i> {{chance}}<br />
            <i>M&ouml;gliche Ziele:</i> {{target|raw}}<br />
            <i>Art:</i> {{offensiveness}}
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Kosten:</strong>
      <table>
        <tr>
          <td>
            {% for resource in RESOURCECOST %}
              <img src="{{gfx}}/resources/{{resource.dbFieldName}}_icon.gif" style="width:15px; height:15px; border:none;" alt="{{resource.name}}" title="{{resource.name}}" />
              {{resource.value}} &nbsp;
            {% endfor %}
            {% for unit in UNITCOST %}
              {{name}}: {{value}} &nbsp;
            {% endfor %}
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Abhängigkeiten:</strong>
      <table>
        <tr>
          <td>
            <table>
            {% for group in DEPGROUP %}
                <tr>
                  <td>Das Wunder hängt von folgenden {{group.name}} ab:</td>              
                </tr>
                <tr>
                      <td><em>Name</em></td>
                      <td><em>Stufe</em></td>                    
                </tr>
              {% for dependency in group.DEP %}
                  <tr>
                    <td>{{dependency.name}}</td>
                    <td>{{dependency.level|raw}}</td>                 
                  </tr>
              {% endfor %}
            {% endfor %}
            </table>
          </td>
        </tr>
      </table>
    </td>    
  </tr>
 </table>
</div>
</div>
<br />
<div class="success"><a href="{{rules_path}}?modus=misc&miscID=4" onclick="window.open(this.href); return false;">weitere Informationen zu allen Wundern</a></div>

{% endblock %}
